@charset "UTF-8";
/* CSS Document */
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color: #333; }

@font-face {
    font-family: sacomfont;
    src: url("../fonts/sacomfont.eot");
    src: url(../fonts/sacomfont.eot?#iefix) format("embedded-opentype"), url(.../fonts/sacomfont.woff) format("woff"),
    url(../fonts/sacomfont.ttf) format("truetype"), 
    url(../fonts/sacomfont.svg#sacomfont) format("svg");
    font-weight: 400;
    font-style: normal;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.colorFuente {color: #0072CA;}
.colorBco {color: #FFFFFF}
.colorAmarillo {color: #FFD100 !important;}
.colorRojo {color: #EE1D24 !important;}
.colorNaranja {color: #F6882F !important;}
.colorAzul {color: #00B7D2 !important;}
.colorAzulO {color: #0382C5 !important;}
.colorVerde {color: #39B54B !important;}
.colorMorado {color: #292262 !important;}
.colorFusia {color: #E10589 !important;}
.colorGris {color: #CCCCCC !important;}
.colorFuente {background-color: #0072CA;}
.colorBgBack {background-color: #0072CA;}
.colorBgBco {background-color: #FFFFFF}
.colorBgAmarillo {background-color: #FFD100 !important;}
.colorBgRojo {background-color: #EE1D24 !important;}
.colorBgNaranja {background-color: #f6882f !important;}
.colorBgAzul {background-color: #00B7D2 !important;}
.colorBgAzulO {background-color: #0072CA !important;}
.colorBgVerde {background-color: #39B54B !important;}
.colorBgMorado {background-color: #292262 !important;}
.colorBgFusia {background-color: #E10589 !important;}
.colorBgGris {background-color: #f5f5f5 !important;}
.headerBg {background-color: rgba(255, 255, 255, 0.6) !important;}
.shadow {
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

a {
    color: #333 !important;
}
a:hover {
    color: #001E34 !important;
    text-decoration: none;
}

.linkBco a {
    color: #FFFFFF !important;
}
.linkBco a:hover {
    color: #333333 !important;
    text-decoration: none;
}
.form-control {
    background-color: #F5F5F5;
    border-radius: 0;
    border:0;
}
.input-group-text {
    background-color: #F5F5F5;
    border-radius: 0;
}
.colorize {

    background : #2f365d url("../images/bg-content.jpg") no-repeat center center;
    background-size: cover;
    background-blend-mode: soft-light;
}

.colorize img {
    filter: hue-rotate(180deg) brightness(.7);

}


.btn-outline-secondary {
    color: #0382C5;
    background-color: transparent;
    background-image: none;
    border-color: #0382C5;
}
.btn-outline-secondary:hover {
    color: white;
    background-color: #0382C5;
    background-image: none;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
	border-radius: 100px;
}
.marginCenter {margin:0 auto;}
.marginTop { margin-top:4em;}

@media (min-width: 576px) {
.mainBanner {
    padding: 1rem 2rem;
}
}
.mainBanner {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url("../images/bg-home.jpg");
	
	/*margin: 0 !important;*/
}
.mt-6{margin-top: 7em;}

.contRel {
    height: 200px;
    color: aliceblue;
    
}

/* Titulos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.titulosGrandes {
	font-size: 3em;
}
.titulosMedianos {
	font-size:1.6em;
}
.textSmall{font-size: 1.1rem;}
.textMedium{font-size: 1.8rem;}
.textLarge{font-size: 2.6rem;}

/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.textoSombra {
	text-shadow: 1px 1px 2px black;
	color: white !important;
}
.textoCentrado {
	text-align: center !important;
}
.textoSmall {
	font-size: 12px !important;
}
.textoIzq {
	text-align: left !important;
}
.textDer {
	text-align: right !important;
}
.wheather {
	font-size: 32px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .6rem;
  font-weight: 300; }
h1 { font-size: 2.0rem; line-height: 1.2;  }
h2 { font-size: 2.0rem; line-height: 1.25; }
h3 { font-size: 1.4rem; line-height: 2.3rem; }
h4 { font-size: .8rem; line-height: 1.35; }
h5 { font-size: .5rem; line-height: 1.5;  }

/*Menu*/
.menu .header {
  background-color:  rgba(255, 255, 255, 1);
  padding: auto; }

.menu .header .container .navbar .navbar-toggler {
  background: #049AC5; }

.menu .header .container .navbar .navbar-collapse ul li a {
  color: #0382C5; }

.menu .header .container .navbar .navbar-collapse ul li a:hover {
  color: navy;
  border: black; }

/*Navbar*/
.navbar {
 position: fixed;
  top: 0;
  left: 0;
/*      height: 100px;*/
  width: 100%;
height: 3.6em;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
/*fin navbar animada
.navbar.color-change {
  height: 50px; }*/
.navbar img { height:43px !important;}


/*Sección Buscador*/
.clima {
  margin-top: 2.7rem;
  color: white; }

.clima .fas {
  font-size: 3rem; }

.clima .grados {
  font-size: 2rem; }

.jumbotron {
  background-image: url(../images/bg-home.jpg);
  /* background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed !important; */
	
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	margin: 0 !important;
	
	
}
.jumbotron .container .categories {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center; }

.jumbotron .container .categories a > .category-card {
/*  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
  width: 6rem;
  height: 5em;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
	background-color: white;
  text-decoration: none;*/
    padding: 30px;
    border-radius: 5px;
    margin: 16px auto;
    font-size: 1.2rem;
    width: 8rem;
    height: 7em;
    background-color: white;
    text-decoration: none;
}

.jumbotron .container .categories a .category-card:hover {
  border: #2C81FA solid 3px;
  background-color: white;
  color: #2C81FA; }

.jumbotron .container .categories a:hover {
  text-decoration: none; }

.jumbotron .container .categories .category-card .fas {
  font-size: 2.5rem; }

.jumbotron .container .categories .category-card p {
  margin-bottom: 0;
  margin-top: 5px; }



/*blog*/
.blog {
  background-image: url(../images/bg-blog.jpg);
 background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 !important;
  color: #3C3D41;
  padding: 1rem; }

.blog h2 {
  color: white; }

.blog .cardsBlog {
  margin-top: .5rem;
  margin-bottom: .5rem; }

.blog .cardsBlog h5 {
  font-size: 1rem;
  color: black; }

.blog .cardsBlog p {
  font-size: .8rem;
  color: black; }

.blog .cardsBlog h5:hover p:hover {
  text-decoration: none; }

.blog .container .card img {
  max-height: 10rem;
  object-fit: cover; }

/*.blog .container .badge {
  width: 40%; }*/

.blog .container .card .card-body {
  max-height: 11rem; }
/*/blog*/



/*Contacto*/
.contacto {
  background-color: #056ECC;
  padding: .8rem;
	color:white;
	font-size:1.5rem;
	}

/*footer*/
.footer h5 {
  color: #3C3D41;
  font-size: .9rem;
	font-weight:bold; }
	
	.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 0px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #39B54B;
}
input:focus + .slider {
	box-shadow: 0 0 1px #39B54B;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.positionArrow {
	background-color: white !important;
	height: 38px;
	border: none;
}
.catBlog {
	position: absolute;
}
.recent {
	border: none;
	width: 15rem;
}
.navbar-collapse { background-color:white; width:100%;}
.buttonChat {
	margin-bottom: 1em;
	height: 27px;
	line-height: 28px;
	border-radius: 25px;
	border-color: #292262 !important;
	color: #292262;
    padding: 0 2em;
    background-color: white;
    min-width: 3vw;
    cursor:pointer;
}
.buttonChat:hover {
	border-color: #5E50D2 !important;
	color: #5E50D2;
}
.openBadge{
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 12px;
    color: #ffffff;
    background-color: #6dc446;
    text-align: center;
}
.openBadge::after {
  content: "\f017";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-weight: 900;
  height: 16px;
  line-height: 16px;
  text-rendering: auto;
  width: 16px;
    padding-left: 5px;
    color:#ffffff;
  -webkit-font-smoothing: antialiased;
}

.closedBadge{
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 12px;
    color: #ffffff;
    background-color: #ce5c5d;
    text-align: center;
}
.closedBadge::after {
  content: "\f017";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-weight: 900;
  height: 16px;
  line-height: 16px;
  text-rendering: auto;
  width: 16px;
    padding-left: 5px;
    color:#ffffff;
  -webkit-font-smoothing: antialiased;
}
.googleBadge{
   border-radius: 15px;
    padding: 5px 13px;
    font-size: 12px;
    color: #ffffff;
    background-color: #8a91de;
    text-align: center;
}
.pinBadge {
    border-radius: 15px;
    padding: 5px 13px;
    font-size: 12px;
    color: #FFEB3B;
    background-color: #000000;
    text-align: center;
}
.googleBadge{
   border-radius: 15px;
    padding: 5px 13px;
    font-size: 12px;
    color: #ffffff;
    background-color: #8a91de;
    text-align: center;
}
.locationBadge{
   border-radius: 15px;
    font-size: 12px;
    color: #787878;
    text-align: center;
}
.bookmarkBadge{
   border-radius: 15px;
    padding: 5px 15px;
    font-size: 12px;
    color: #787878;
    text-align: center;
}
.circuloGris {
    background-color: rgb(218, 217, 217);
    border-radius: 50%;
    height: 23px;
    width: 23px;
    text-align: center;
    padding: 6px;
}
.no-border {
    border: none;
}

.buscadorPpal {
    height: 1.2em;
    border: none;
    border-left: 1px solid #D0D0D0 ;
}
/*.form-control{    font-size: 2.3rem;}
.form-control-lg {    font-size: 1rem;}
*/

.flecha {
        vertical-align: text-top;
}
/**/
.btn-info {
    color: #fff;
    background-color: #0076ff;
    border: none;

}
.btn {
  
    border-radius: 1.25rem;
}


.fTb {
    height: 100%;
    border-radius: 0;
}

@media (min-width: 576px) {
.col-sm-2 {
    -ms-flex: 0 0 17.666667%;
    flex: 0 0 17.666667%;
    max-width: 17.666667%;
}
.col-sm-3 {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;

}

}
/*
@media (max-widht:576px){##typefield {display: inline-block;} */


@media (max-width: 767px) {
.filtrarText {
  background-color: #41506e;
    color:#ffffff;
    margin-bottom: 10px;
}

.filtrarText::before {
  content: "\f0b0";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-weight: 900;
  height: 16px;
  line-height: 16px;
  text-rendering: auto;
  width: 16px;
    color:#ffffff;
  -webkit-font-smoothing: antialiased;
}
    
}

hr {
    margin-top: 0;
}
.iconosListado {
    max-width: 100px;
}
.titulosListado {
  
        font-size: 20px;
    font-weight: 400;
}
.catListado{
    font-size: .9rem;
    color: rgba(0,114,202,1.00);
}
.loMejorBlog{
    font-size: 1.1 rem;
    font-weight: bold;
}
.esqRed {
    border-radius: 12px;
    border: 1px solid #eaeaea;
}
.borderBottom {border-bottom: 1px solid #eaeaea;}

/* Paginación responsiva*/
.pagination {
    display: table;
    width: 100%;
}
.pager li, .pagination>li {
    display: inline;
    display: table-cell;
}
.pagination>li>a,
.pagination>li>span {
    width: 100%;
    text-align: center;
}


.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.cuadro {
    height: 45px;
  width: 45px;
  display: inline-block;
    line-height: 50px;
    text-align: center; 
}
.topSpace { padding-top: 6em;}
.shadow {
    box-shadow: 0 .1rem .5rem rgba(0,0,0,0.2)!important;
}
.circulodiv {
	position: relative;
	width: 35px;
	padding-bottom: 35px;
	background: #f8f9fa66;
	border-radius: 50%;
}
.circulodiv span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #16a085;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: #2980b9;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #1abc9c;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

.flexContainer {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: center;
}
.Home_column_Top {
 width: 33.33%;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    margin-right: 20px;
-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.30);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.30);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.30);border: 1px solid grey; margin: 1em;  

}

.flexContainer1{
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: center;
}
.Home_column_Top1 {
    width: 25%;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
 -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.30);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.30);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.30);border: 1px solid grey; margin: 1em;  
}



/*footer*/
body, html {
    height: 100%
}
li, ul, ul.list {
    list-style: none
}
a:hover, ul.list li a:hover {
    cursor: pointer
}
*, :after, :before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0;
    display: table;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
footer {
    display: block
}
[hidden] {
    display: none
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none
}
a:active, a:hover {
    outline-width: 0
}
b {
    font-weight: bolder
}
.columns {
    box-sizing: border-box
}
[type=reset], [type=submit], html [type=button] {
    -webkit-appearance: button
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
border-style:none;
padding:0
}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
outline:ButtonText dotted 1px
}
[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
height:auto
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
::-webkit-input-placeholder {
color:inherit;
opacity:.54
}
::-webkit-file-upload-button {
-webkit-appearance:button;
font:inherit
}
[class*=" icon-"]:before, [class^=icon-]:before, [data-icon]:before {
    font-family: sacomfont!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.columns {
    width: 100%;
    float: left
}

@media (min-width:780px) {
.columns {
    margin-left: 4%
}
.columns:first-child {
    margin-left: 0
}
.three.columns {
    width: 22%
}
}
.row:after {
    content: "";
    display: table;
    clear: both
}
@font-face {
    font-family: sacomfont;
    src: url(../Fonts/sacomfont.eot);
    src: url(../Fonts/sacomfont.eot?#iefix) format("embedded-opentype"), url(../Fonts/sacomfont.woff) format("woff"), url(../Fonts/sacomfont.ttf) format("truetype"), url(../Fonts/sacomfont.svg#sacomfont) format("svg");
    font-weight: 400;
    font-style: normal
}
[data-icon]:before {
    content: attr(data-icon)
}
.icon-otros:before {
    content: "\23"
}
.icon-viajes:before {
    content: "\27"
}
.icon-web:before {
    content: "\2c"
}
.bar1, .bar2, .bar3 {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: #000;
    transition: all .3s ease-in-out
}
@keyframes blink {
0%, 100% {
opacity:1
}
50% {
opacity:0
}
}
@-webkit-keyframes blink {
0%, 100% {
opacity:1
}
50% {
opacity:0
}
}
@-moz-keyframes blink {
0%, 100% {
opacity:1
}
50% {
opacity:0
}
}
.src-icon {
    display: inline-block;
    margin-right: 30px;
    color: #fd0!important;
    font-size: 3.5em!important
}
ul.list, ul.list li a, ul.list li a:visited {
    color: #1693e4
}
li, ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    padding-left: 0
}
ul.list {
    font-size: 1em
}
ul.list li a {
    display: block;
    padding: 5px 0;
    font-weight: 300
}
ul.list li a:hover {
    font-weight: 400
}
.app, .app p {
    display: block
}
.app {
    width: 100%;
    text-align: center;
    background: #fd0;
    padding: 50px 20px
}
.app p {
    width: 100%;
    text-align: center;
    font-weight: 300;
    max-width: 340px;
    margin: 20px auto 0;
    font-size: 1.3em
}
.footer {
    background: #fff;
    color: #303030;
    padding: 40px 20px 20px;
    display: table-row;
    height: 1px
}
li.f-title, ul.f-list li a {
    color: #303030;
    display: block;
    width: 100%
}
.infoot {
    max-width: 1020px;
    margin: 0 auto;
    padding: 30px 20px 20px
}
ul.f-list li a {
    padding: 5px;
    font-size: .85em;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    font-weight: 300
}
li.f-title {
        border-bottom: 1px solid #aaa;
 /*  font-weight: 500;
    padding-bottom: 10px;

    font-size: .8em */
}

li.titSm h3 {

    font-weight: 500;
    padding-bottom: 10px;
    font-size: 1em
}
li.f-title h3 {

        font-weight: 500;
    padding-bottom: 10px;
    font-size: .8em;
    margin-bottom: 0;
    pointer-events: none;
}
ul.f-list li a:hover {
    color: #fd0
}
@-webkit-keyframes pulse-ring {
0% {
-webkit-transform:scale(.33);
transform:scale(.33)
}
100%, 80% {
opacity:0
}
}
@keyframes pulse-ring {
0% {
-webkit-transform:scale(.33);
transform:scale(.33)
}
100%, 80% {
opacity:0
}
}
@-webkit-keyframes pulse-dot {
0%, 100% {
-webkit-transform:scale(.8);
transform:scale(.8)
}
50% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
@keyframes pulse-dot {
0%, 100% {
-webkit-transform:scale(.8);
transform:scale(.8)
}
50% {
-webkit-transform:scale(1);
transform:scale(1)
}
}

@media only screen and (max-width:960px) {
ul.list {
    font-size: .9em
}
}

@media only screen and (max-width:780px) {
li.f-title:hover {
    cursor: pointer
}
li.f-title::after {
    position: relative;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    float: right;
    content: "+"
}
li.f-title.active::after {
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg)
}
ul.f-list {
    margin-bottom: 15px
}
li.f-title {
    padding-top: 10px
}
.footer {
    padding-top: 30px
}
}

@media only screen and (max-width:680px) {
.src-icon {
    font-size: 3em!important;
    margin-right: 20px
}
}

@media only screen and (max-width:480px) {
.src-icon {
    margin-right: 20px;
    font-size: 2.5em!important
}
.app p {
    font-size: 1.1em
}
}

@media only screen and (max-width:420px) {
ul.list {
    font-size: .8em
}
}

@media only screen and (max-width:360px) {
.src-icon {
    font-size: 2em!important
}
ul.list {
    font-size: .75em;
    font-weight: 400
}
}

.imagenProducto img {
    width: 100%;
    max-width: 100px;
    max-height: 100px
}
.producto {
    height: 10rem;
}
.tituloProducto {
    font-size: 14px;
    font-weight: bold;
}
.origenProducto {
    font-size: 14px;
    font-weight: bold;
    color: #ADADAD;
}
.badgesA span {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.list-group-item {

    padding: .25rem 1.25rem;
    border: none;
}
    .flexContainer {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: center;
}
.cuadroCentrado {
    width: 200px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
}
.carousel-item {
    background-color: #FFFFFF;
    
}
.icon-llegar:before {
    content: "\0032";
}
[class*=" icon-"]:before, [class^=icon-]:before, [data-icon]:before {
    font-family: sacomfont !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn-map {
    background: #eff1f0;
    width: 140px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: .85em;
    text-align: left;
    padding: 10px 0 12px 10px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    height: 45px;
    border: 0;
    outline: 0;
    margin: 10px auto 0;
}
.btn-map span {
    margin-right: 10px;
    font-size: 1.4em;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    position: relative;
    top: 2px;
}