@charset "UTF-8";
/* CSS Document */

html {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: raleway, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.logo {
	background-color: #E2E3E4;
	padding-left: 50px;
}
#introBackground {
	position: absolute;
	background-image: url(../images/fondo_inicio.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #999;
	width: 100%;
	height: 100%;
	z-index: -2;
}
.intro {
	text-align: center;
}
.trans {
	position: relative;
	background-color: rgba(255,255,255,0.36);
	width: 100%;
	top: 30%;
}
.ingresar{
	position: relative;
	width: 100%;
	top: 30%;
	text-align:right;
	padding-right:3em;
	font-size:40px;
	font-weight:900;
	color:white;
}
.ingresar a {
	color:white;
	text-decoration:none;
	}
	.ingresar a:hover {
	color:#9A005B;
	text-decoration:none;
	}
.intro h1 {
	font-size: 6vw;
	color: #9A005B;
	text-shadow: 5px 5px 15px rgba(119,119,119,0.65);
}
.intro h2 {
	font-size: 4vw;
	color: #006DBF;
	text-shadow: 5px 5px 15px rgba(119,119,119,0.65);
}
.sombra {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.header {
	position: relative;
	text-transform: uppercase;
	font-size:16px;
}
/*search*/

.header .search-container {
  float: right;
}
.header input[type=text] {
  padding: 5px;
  margin-top: 8px;
  font-size: 13px;
  border: none;
}
.header .search-container button {
  float: right;
  padding: 5px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 13px;
  border: none;
  cursor: pointer;
}
.header .search-container button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px) {
  .header .search-container {
    float: none;
  }
  .header a, .header input[type=text], .header .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .header input[type=text] {
    border: 1px solid #ccc;  
  }
}

/*search 2*/
.container {
	width:100%;
	position:relative;
	background-color: #F1F2F3;
	top:-13px;
	padding:0 3em 0 3em;
	overflow:auto; 
	z-index:2;
}
.containerAds {
	margin: auto;
	background-color: #B2B3B4;
	height:auto;
	width:100%;
	position:relative;
	top:-13px;
	padding:1em 3em 3em 3em;
}
.main {
	width: 90%;
	text-align: center;
	height: 800px;
	padding-top: 25px;
	margin: auto;
	background-color: #FFF;
}
.mainData {
	width: 80%;
	text-align: center;
	padding-top: 25px;
	margin: auto;
	background-color: #FFF;
}
footer {
	width: 100%;
	display: block;
	line-height: 45px;
	bottom:15px;
	position: relative;
	color: #FDDD00;
	background: #3a3a3c;
	font-size: 1em;
	font-weight: bold;
	padding: 6px 16px 0 16px;
	text-align: center;
	margin: auto;
	z-index: 5;
}
.footer a{
	text-decoration:none;
	color:#FDDD00;
	}
.footer a:hover{
	color: #E7AA00;
	text-decoration:none;
	}
ul.topMenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0070C8;
}
.topMenu li {
	float: left;
}
.topMenu li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
}
.topMenu li a:hover, .dropdown:hover .dropbtn {
	background-color: #0059A1;
}
.topMenu li.dropdown {
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color:#A2A2A2;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.right {
	float: right;
}
.left {
	float: left;
}

/*Carrousel*/

* {box-sizing:border-box}

.slideshow-container {
  position: relative;
  margin: auto;
}

.Slides {
    display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: red;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/*
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FDDD00;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
*/
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FDDD00;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
	 position: relative;
  bottom: 68px;
}
.active, .dot:hover {
  background-color: #AB3488;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* breadcrump */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
		background-color:white;
		box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2);
}

ul.breadcrumb li {
    display: inline;
    font-size: 12px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
		padding:0;
		margin-left:5em;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
		background-color:transparent;
}

/* columns*/

.column {
    float: left;
    width: 33.33%;
		text-align:center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix:{overflow: auto;clear: both;}
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/*Cards*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
		background-color:white;
		margin:1em;
		padding-top:1em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContent {
    padding: 2px 16px;
		min-height:250px;
}
.textCenter{text-align:center}
.textLeft{text-align:left}

ul.cardList {
    padding: 5px 3em;
		list-style-type: circle;
		background-color:transparent;	
}

ul.cardList li {
    font-size: 16px;
}
ul.cardList { 
   list-style-type: square; 
   list-style-position: inside; 
}
ul.cardList li a {
    color: #444;
    text-decoration: none;
		cursor:pointer;
		
}

ul.cardList li a:hover {
    color: #01447e;
    text-decoration: underline;
		background-color:transparent;
}