html,
body {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.42857;
    color: #333;
}

#wrapper {
    margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
	 max-width: 960px;
  /* max-width: 960px;
 max-width: 1024px;*/
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.row {
    padding-bottom: 10px;
}
@media all {
   div.saltopagina{
      display: none;
   }
}
   
@media print{
   div.saltopagina{ 
      display:block; 
      page-break-before:always;
   }
}
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }
/* For devices larger than 550px */
@media (min-width: 550px) {

  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.logo {
    padding: 15px;
    text-align: right;
}

.center {
    border: solid 1px #eff1f0;
    display: block;
    float: left;
    padding: 20px;
    width: 93%;
    margin-bottom: 40px;
}

.left {
    display: block;
    float: left;
    padding-top: 20px;
    padding-left: 35px;
    width: 45%;
    margin-left: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(239, 241, 240);
    border-image: initial;
}

h1 {
    font-size: 24px;
    font-weight: lighter;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.ratingstars {
    width: 100%;
    display: block;
    margin-bottom: 0;
    color: gray;
    font-size: 1.5em
}

.logo-link {
    margin: 0 auto;
    border: 1px solid #bdc3c7;
    margin-bottom: 10px;
    display: block;
    width: 124px;
    background-size: 120px 60px;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo-link,
a.llama-gratis {
    display: block;
    margin: 0 auto 10px;
}


/****** Cuadritos *******/
@media (max-width: 550px) {
	.pm-stat {
		
		 width:100% !important;
}
}

.pm-stat {
    color: #878787;
    border: 1px solid #eff1f0;
    margin: 10px;
    text-align: center;
		 float:left;
		 width:25%;
}
.wa {
		 width:23% !important;
}
.ws {
		 width:13% !important;
}

.pm-stat .visual {
    display: block;
    font-size: 3em;
}

.pm-stat .number {
    font-size: 18px;
    font-weight: 400;
}

.pm-stat .desc {
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
    margin-bottom: 5px;
}

.details {
    padding-right: 10px;
    padding-left: 10px;
    left: 0
}

.col-lg-2 {
    width: 30%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.col-md-4 {
    width: 22%;
    margin-left: 10px;
}

.col-xs-6 {
    float: left;
    position: relative;
    min-height: 1px;
}


/** tablas super pagina - maxiclic - marketing results **/

table {
    font-weight: lighter;
    text-align: center;
    border-collapse: collapse;
}

thead {
    border: 1px gray;
}

th {
    text-align: center;
    height: 30px;
    background-color: #e3e5e8;
}

tr {
    height: 30px;
    line-height: 10px;
}

.super-page {
    border: solid 1px white;
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
    width: 30%;
}

.c {
    border-right: solid 1px gray;
}

.break {
    page-break-after: always;
}


/**/

.tabla-listado {
    border: solid 1px white;
    width: 100%;
}

.k {
    padding: 5px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
    height: 65px;
}

.k span,
.n span {
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 15px;
}

span.clics {
    font-weight: bold;
}

.negocio {
    font-size: 24px;
    font-weight: 300;
}

.llama-gratis,
.oferta {
    color: gray;
    margin-top: 10px;
    padding-bottom: 1px;
    padding-top: 10px;
    border-radius: 3px;
    border: solid 1px #bdc3c7;
    text-align: center;
    font-weight: 400;
}

.n {
    border: solid 1px #eff1f0;
    padding: 20px;
    text-align: left;
}

.comentarios {
    border: solid 1px white;
    text-align: left;
    font-weight: 200;
    width: 100%
}

.nombre-comentario {
    font-size: bold;
    font-size: 18px;
    height: 10px;
    padding-top: 20px;
}

.texto-comentario {
    font-size: bold;
    font-size: 12px;
    line-height: normal;
    height: 10px;
    border-bottom: solid 1px gray;
    padding: 50px;
}


/**/
.trafico,
.formas-pago-pedido,
.pedidos-periodo {
    border: solid 1px gray;
    width: 100%;
		 white-space: nowrap;
		 
}
.trafico tbody td{ text-align:center;}
.trafico thead th { text-align:center;}
.k {
    border-bottom: solid 1px gray;
    padding: 15px;
    font-size: 14px;
    text-align: left;
    height: 10px;
}

td.u {
    border-bottom: solid 1px gray;
    padding: 15px;
    font-size: 14px;
    text-align: left;
    height: 10px;
    width: 20%;
}


/**/

table.fecha-visitas,
table.visitas-dia,
table.pedidos-dia {
    border: solid 1px gray;
    padding: 10px;
    width: 90%;
    margin-bottom: 20px;
}

td.visitas-dia,
td.pedidos-dia {
    text-align: center;
    height: 20px;
    width: auto;
    padding: 15px;
    font-size: 14px;
}

.titulo {
    background-color: #e3e5e8;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: solid 1px gray;
    border-right: solid 1px gray;
}


/**/

@font-face {
    font-family: sacomfont;
    src: url(../fonts/sacomfont.eot);
    src: url(../fonts/sacomfont.eot?#iefix) format("embedded-opentype"), url(../fonts/sacomfont.woff) format("woff"), url(../fonts/Fonts/sacomfont.ttf) format("truetype"), url(../fonts/sacomfont.svg#sacomfont) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" fa-"]:not(.fa-stack),
[class*=" glyphicon-"],
[class*=" icon-"],
[class^=fa-]:not(.fa-stack),
[class^=glyphicon-],
[class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased
}

.icon-facturacion:before {
    content: "\51";
}

.icon-pedido:before {
    content: "\7b";
}
.icon-listado:before {
    content: "\0058";
}
.icon-vistas:before {
    content: "\0057";
}

.icon-visitas:before {
    content: "\e05a";
}

.icon-tiempo:before {
    content: "\e054";
}
.icon-tablets:before {
    content: "\e04e";
}
.icon-equipos-escritorio:before {
    content: "\4e";
}
.icon-smartphone:before {
    content: "\e045";
}
.icon-sms:before {
    content: "\e047";
}
.icon-ctr:before {
    content: "\48";
}
.icon-smartphone-2:before {
    content: "\e046";
}

.icon-formularios:before {
    content: "\52";
}
.icon-inversion-periodo:before {
    content: "\30";
}
.icon-clics:before {
    content: "\42";
}
.icon-costo-clic:before {
    content: "\46";
}
.icon-costo-impresion:before {
    content: "\47";
}

[data-icon]:before {
    content: attr(data-icon)
}

.icon-user:before {
    content: "\e027"
}

[class*=" fa-"]:not(.fa-stack),
[class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased
}

li [class*=" fa-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center
}

[class*=" icon-"]:before,
[class^=icon-]:before,
[data-icon]:before {
    font-family: sacomfont!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.4.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'), url(../fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-comment-o:before {
    content: "\f0e5";
}

.star35:before {
    font-family: sacomfont
}

.star35:before {
    content: "\e03a \e03a \e03a \e03b \e03c"
}
.fa-calendar:before {
    content: "\f073";
}