@charset "UTF-8";
/* CSS Document */

html {
	height: 100%;
	}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: raleway, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(141deg, #E2FFFE 0%, #B4DEFC 51%, #CFFFFE 75%);
	background-repeat: no-repeat;
	background-attachment:fixed;
}
.header {
	height: 100px;
	color: #5c1b88;
	background: #FFF;
	font-weight: 100;
	font-size: 1em;
	/*position: fixed;*/
	text-align: center;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	padding: 2px;
}
a:link {
	color: #E6E6E6;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #E6E6E6;
}
a:hover {
	text-decoration: none;
	color: #E6E6E6;
}
a:active {
	text-decoration: none;
	color: #E6E6E6;
	}
.logo {
	width: 25%;
	float: left;
	margin: auto;
}
/*Nav*/
.topnav {
	overflow: hidden;
	z-index: 1;
}
.topnav a {
	float: left;
	display: block;
	color: #58585A;
	text-align: center;
	padding: 35px 10px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
.active {
	background-color: #4CAF50;
	color: white;
}
.topnav .icon {
	display: none;
}

@media screen and (min-width: 900px) {
.left {
	width: 33%;
	float: left;
	display: block;
	vertical-align: top;
	margin: auto;
	text-align: center;
	line-height: 45px;
}
}

@media screen and (max-width: 900px) {
.topnav a:not(:first-child) {
	display: none;
}
.topnav a.icon {
	float: right;
	display: block;
}
}

@media screen and (max-width: 900px) {
.topnav.responsive {
	position: relative;
}
.topnav.responsive a.icon {
	position: absolute;
	right: 0;
	top: 0;
}
.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
	background-color: #229abc;
	color: #fff;
}
}
/* /Nav*/
.container {
	width: 75%;
	margin: auto;
}
footer {
	width: 100%;
	display: block;
	line-height: 15px;
	bottom: 0%;
	position: fixed;
	color: #FFF;
	background: #3a3a3c;
	font-size: 1em;
	font-weight: 100;
	padding: 6px 16px 0 16px;
	text-align: center;
	margin: auto;
}
.main {
	width: 90%;
	text-align: center;
	height: 800px;
	padding-top: 25px;
	margin: auto;
	background-color: transparent;
}
input[type=text] {
	width: 70%;
	border: 2px solid #A9A9A9;
	height: 2.5em;
	color: #58585A;
	padding: 2px 15px;
	margin: 8px 0;
	font-family: raleway, sans-serif;
	font-size: 19px;
	font-weight: 100;
	border-radius: 10px;
}
input[type=tel] {
	width: 70%;
	border: 2px solid #A9A9A9;
	height: 2.5em;
	color: #58585A;
	padding: 2px 15px;
	margin: 2px 0;
	font-family: raleway, sans-serif;
	font-size: 19px;
	font-weight: 100;
	border-radius: 10px;
}
input[type=email] {
	width: 70%;
	border: 2px solid #A9A9A9;
	height: 2.5em;
	color: #58585A;
	padding: 2px 15px;
	margin: 8px 0;
	font-family: raleway, sans-serif;
	font-size: 19px;
	font-weight: 100;
	border-radius: 10px;
}
input[type=submit] {
	background-color: #0056C0;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-family: raleway, sans-serif;
	font-size: 21px;
	font-weight: 100;
	-webkit-appearance:none;
	-moz-appearance:none;

}
/* form*/

input, textarea {
  border: 1px solid #333;
  padding: 3px 5px;
}
input[aria-invalid="true"], textarea[aria-invalid="true"] {
  border: 1px solid #f00;
  box-shadow: 0 0 4px 0 #f00;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
input[type=checkbox] {
	transform: scale(1.5);
}
.alert {
	color: red;
	font-weight: 400;
	padding: 6px 16px 0 16px;
	text-align: center;
}
.smallText {
	font-size: small;
	color: #666;
	font-weight: 400;
	padding: 16px 16px 0 16px;
	text-align: center;
}
#grad1 {
	width: 100%;
	background: linear-gradient(141deg, #F1FFFE 0%, #E0FCFF 51%, #F2FEFF 75%);
}
