<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Tu pago no pudo procesarse</title>
</head>

<body style="max-width: 600px; min-width:320px; margin:auto; padding:0px; font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 20px;color: #5D5D5D; ">
<table style="width: 600; max-width: 800px; min-width: 320px; table-layout: fixed; margin: auto; padding: 0px; border-collapse: collapse; line-height:25px;" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
				<td width="100%"><div style="margin: 0; text-align: center; "><img src="images/logo.jpg" style="width:100%; max-width: 600px; " alt=" SECCIÓN AMARILLA" /></div></td>
		</tr>
		

		<tr>
				<td><div style= "line-height: 22px; text-align: left; padding-left: 9%; padding-right: 9%; padding-top: 0px;  width: 82%; border: 0px;" align="center"><br>
								<p>Te informamos que el pago de tu sitio ADN no se ha podido generar con los datos habituales.</p>
								<p>Esto puede deberse a alguna diferencia en tus datos de pago, te invitamos actualizarlos para continuar disfrutando de tu Sitio Web, o bien ponerte en contacto con tu entidad financiera si tus datos son correctos.</p>

						</div></td>
		</tr>
		<tr>
			
		</tr>
	<tr>
				<td><table width="40%" align="center" style=" background-color:#009cde ; margin-bottom: 20px; box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2); border-radius: 10px;">
								<tr>
										<td style="font-family:Open sans, Arial, Sans-serif; font-size: 16px; vertical-align: top; text-align: center;" valign="top" align="center"><a href="https://contrata.aceleradordigitaldenegocios.com.mx/iniciar-sesion" target="_blank" alt="link" style="display: inline-block; color: #FFFFFF; cursor: pointer; text-decoration: none; font-size: 1em;  margin: 0; padding: .5em;">¡Quiero actualizar mis datos!</a></td>
								</tr>
						</table></td>
		</tr>
			
		
		<tr>
				<td width="100%" align="center"><div style="width: 82%; border: solid .25px #979393; align:center; margin-top: 10px;"></div></td>
		</tr>
		<tr><td><div style="margin:auto; text-align:center;">
		<table width="80%" border="0" cellspacing="5" cellpadding="5" style="text-align:center;  margin: 0 auto;" >
				<tbody>
						
						<tr>
								<td align="left"><img src="images/ico-06.png" height="40" alt=""></td>
								<td width="5%" align="right"><a href="https://www.facebook.com/seccionmexico/" target="_blank"><img src="images/ico-07.png" height="38" alt="facebook"></a></td>
								<td width="5%" align="right"><a href="https://twitter.com/seccionamarilla" target="_blank"><img src="images/ico-08.png" height="38" alt="twitter"></a></td>
								<td width="5%" align="right"><a href="https://www.linkedin.com/company/441930/admin/updates/" target="_blank"><img src="images/ico-09.png" height="38" alt="linkedin"></a></td>
								<td width="5%" align="right"><a href="https://www.youtube.com/user/seccionamarilla" target="_blank"><img src="images/ico-10.png" height="38" alt="youtube"></a></td>
						</tr>
				</tbody>
		</table>
</div></td></tr>
		<tr><td><div style="text-align: center; padding-left: 9%; padding-right: 9%; padding-bottom: 1px; width: 82%; border: 0px;" align="left">
								<p>Cualquier duda te ayudamos con gusto en nuestro Centro de Atención a Clientes</p>
								<div style="color: #5D5D5D; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; text-align: center; padding-left: 17%; padding-right: 17%;  padding-bottom: 0px; width: 66%; border: 0px; float: center;" align="right">
										<p style="text-align: center;"><span style="font-weight:bold; font-size: 20px; color: #009cde;"> 01 800 202 72 72 </span></p>
								</div>
						</div></td></tr>
		
<tr>		<td><div style="text-align: center; padding-top: 10px; padding-bottom: 10px; padding-left: 9%; padding-right: 9%; margin: 5%;  width: 72%; border: 0px; background:#e6e7e8;">
								<p><img src="images/ico-11.png" alt="Seccion Amarilla"></p>
								<div style="color: #5D5D5D; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; text-align: center; padding-left: 12%; padding-right: 12%;  padding-bottom: 0px; width: 80%; border: 0px; float: center;">
										<p>La Agencia de Marketing Digital más grande de México</p>
								</div>
						</div></td></tr>
	
		
				
</table>

<!--códigos dinámicos, [AdvertiserID] y [dd-mm-aaaa]. ajustar-->
<img src="http://www.google-analytics.com/collect?v=1&tid=UA-77299938-7&cid={{advertiserID}}&t=event&ec=email&ea=open&el={{Año-Mes-Día}}&cs=newsletter&cn=16-1er inteto fallido&cc=tu-pago-no-pudo-procesarse" />																				
</body>
</html>
