@charset "UTF-8";
/* CSS Document */

html {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.footer {
	width: 98%;
	display: block;
	line-height: 15px;
	/*bottom: 0%;
	position: fixed;*/
	padding: 6px 16px 0 16px;
	text-align: center;
	margin: auto;
}
.container {
	padding-top: 5em;
	width: 60%;
	max-width: 700px;
	margin: auto;
	/*background-color: #F9F9F9;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);*/
	word-wrap: break-word;
	padding: 16px;
}
.formContent {
	width: 100%;
}
/*checkbox*/
	

a:link {
	color: #E6E6E6;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #E6E6E6;
}
a:hover {
	text-decoration: none;
	color: #E6E6E6;
}
a:active {
	text-decoration: none;
	color: #E6E6E6;
}
.textJustified {
	text-align: justify;
}
.textCenter {
	text-align: center;
}
.logo {
	width:100%;
	float: left;
	margin: auto;
}

@media screen and (min-width: 900px) {
.left {
	width: 33%;
	float: left;
	display: block;
	vertical-align: top;
	margin: auto;
	text-align: center;
	line-height: 45px;
}
}

@media screen and (max-width: 900px) {
.container {
	width: 94%;
	margin: auto;
	margin-bottom: 48px;
	word-wrap: break-word;
	padding: 16px;
	float: left;
	position: relative;
}
}

@media screen and (max-width: 600px) {

.footer {
	width: 94vw;
}
}
.alert {
	color: red;
}
input[type=text] {
	width: 90%;
	height: 1.5em;
	border: hidden;
	border-bottom: 1px solid #ffd100;
	color: #58585A;
	padding: 2px 15px;
	margin: 8px 0;
	font-size: 19px;
	background-color: #EDEDED;
}
input[type=submit] {
	background-color: #FF0000;
	border: none;
	color: white;
	padding: 10px;
	text-decoration: none;
	margin: 2px 2px;
	cursor: pointer;
	font-size: 1em;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 10px;
}
input[type=submit]:hover {
	background-color: #8E0204;
}
#errors {
	background-color: red;
}
.partes {
	color: white;
	background-color: #4B0082;
	padding: 1em;
	font-weight: 400;
	font-size: 1.5em;
}
.u-cf {
	content: "";
	display: table;
	clear: both;
}
th {
	border-bottom: 2px solid #ddd;
	border-top: 2px solid #ddd;
}
.underline {
	text-decoration: none;
	border-bottom: 2px solid black;
}
