/* Variables Inicio*/
/* Variables Fin*/
/* Querys Inicio*/
/* Querys Fin*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Montserrat", sans-serif;
}

* button :hover {
  cursor: pointer;
}

body {
  background-color: #ddd;
}

.posicion {
  position: absolute;
  top: 25%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 40% 20%;
          transform-origin: 40% 20%;
}

.posicion .text-t {
  color: red;
  font-weight: 700;
}

.posicion .text-t strong {
  font-weight: 700;
  color: black;
}

.posicion .text-t span::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a3a3a3;
}

@media only screen and (max-width: 599px) {
  .posicion {
    position: relative;
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .posicion {
    position: relative;
    display: none;
  }
}

.header .icono {
  color: red;
  font-size: 24px;
}

.header .icono-in {
  position: initial;
  color: red;
  font-size: 24px;
}

nav {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.37);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.37);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

nav .navbar-brand img {
  margin: 0 auto 0 70px;
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 599px) {
  nav .navbar-brand img {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  nav .navbar-brand img {
    margin: 0 auto;
  }
}

nav .menu {
  margin: 0 auto;
}

nav .menu .active {
  font-weight: 700;
  color: red;
}

nav .menu ul li a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navbar-nav {
  margin: 0 auto;
}

nav .nav-item {
  margin-right: 30px;
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
  color: #313131;
}

.banner {
  max-width: 1364;
  background-color: #efefef;
  width: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row column;
          flex-flow: row column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .row {
  margin-top: 12%;
}

.banner h1 {
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 1px;
}

.banner p {
  font-size: 0.8em;
}

.banner .izquierdo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 5%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.banner .izquierdo span {
  color: red;
}

@media only screen and (max-width: 599px) {
  .banner .izquierdo {
    text-align: center;
  }
}

.banner .derecho {
  position: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media only screen and (max-width: 599px) {
  .banner .derecho {
    margin-left: 15%;
  }
}

.banner .btn-outline-dark:hover {
  background-color: #d63031;
  color: white;
}

.active {
  color: red;
}

.active :hover {
  color: green;
}

.submenuSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submenuSlide ul {
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submenuSlide ul a {
  color: #252525;
}

.submenuSlide ul li:nth-child(2) {
  font-weight: bold;
}

.submenuSlide ul li:nth-child(2) a {
  color: black;
}

.slide {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.slide ::-webkit-scrollbar {
  display: none;
}

.slide .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  height: 100%;
  min-width: 190px;
  margin: 0 15px 0 15px;
  padding: 0px 0px;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.slide .card h2 {
  font-size: 1.2em;
}

.slide .card .card-title {
  font-weight: bold;
}

.slide .card .card-title :hover {
  color: red;
}

.slide .card .card-text span {
  margin-left: 1rem;
  color: #dd2c00;
  text-decoration: line-through;
}

@media only screen and (max-width: 599px) {
  .slide .card {
    width: 250px;
  }
}

.catalogo {
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  max-width: 228px;
  min-width: 228px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalogo h3 {
  padding: 0;
  font-weight: 700;
  color: white;
  margin-bottom: 0;
}

.catalogo--modulos {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

.catalogo--modulos .row {
  height: 100%;
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos .row {
    margin: 0;
  }
}

.catalogo--modulos div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  height: 230px;
  margin: 10px;
}

.catalogo--modulos div p {
  font-weight: 700;
}

.catalogo--modulos div h4 {
  line-height: 0.9em;
  font-size: 1em;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div {
    height: 230px;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div {
    height: 230px;
    width: 100%;
    margin: 0px;
    padding: 5px;
  }
}

.catalogo--modulos div .catauno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d4c9ed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.catalogo--modulos div .catauno .iz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: flex;
  position: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.catalogo--modulos div .catauno .iz img {
  position: inherit;
  z-index: 1;
  height: 220px;
  width: auto;
  padding-top: 0px;
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .catauno .iz img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.catalogo--modulos div .catauno .der {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: 3;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10%;
  width: 50%;
}

.catalogo--modulos div .catauno .der p {
  padding-top: 5px;
  font-weight: normal;
  line-height: 0.9em;
}

.catalogo--modulos div .catauno .der h4 {
  font-size: 1.4em;
  font-weight: 700;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .catauno .der {
    padding: 2%;
    position: inherit;
  }
  .catalogo--modulos div .catauno .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .catauno .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .catauno .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .catauno .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

.catalogo--modulos div .catados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAF9F5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.catalogo--modulos div .catados .iz {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: inherit;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: 50%;
}

.catalogo--modulos div .catados .iz img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  height: 220px;
  width: auto;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .catados .iz img {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .catados .iz img {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.catalogo--modulos div .catados .der {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: 3;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10%;
  width: 50%;
}

.catalogo--modulos div .catados .der p {
  padding-top: 5px;
  font-weight: normal;
  line-height: 0.9em;
}

.catalogo--modulos div .catados .der h4 {
  font-size: 1.4em;
  font-weight: 700;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .catados .der {
    padding: 2%;
    position: inherit;
  }
  .catalogo--modulos div .catados .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .catados .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .catados .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .catados .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

.catalogo--modulos div .catatres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #a7ff43;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.catalogo--modulos div .catatres .iz {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalogo--modulos div .catatres .iz img {
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .catatres .iz img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .catatres .iz img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.catalogo--modulos div .catatres .der {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: 3;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10%;
}

.catalogo--modulos div .catatres .der p {
  padding-top: 5px;
  font-weight: normal;
  line-height: 0.9em;
}

.catalogo--modulos div .catatres .der h4 {
  font-size: 1.4em;
  font-weight: 700;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .catatres .der {
    padding: 2%;
    position: inherit;
  }
  .catalogo--modulos div .catatres .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .catatres .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .catatres .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .catatres .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

.catalogo--modulos div .catacuatro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #24baff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.catalogo--modulos div .catacuatro .iz {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.catalogo--modulos div .catacuatro .iz img {
  z-index: 1;
  height: auto;
  width: auto;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .catacuatro .iz img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .catacuatro .iz img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.catalogo--modulos div .catacuatro .der {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: 3;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10%;
  width: 50%;
}

.catalogo--modulos div .catacuatro .der p {
  padding-top: 5px;
  font-weight: normal;
  line-height: 0.9em;
}

.catalogo--modulos div .catacuatro .der h4 {
  font-size: 1.4em;
  font-weight: 700;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .catacuatro .der {
    padding: 2%;
    position: inherit;
  }
  .catalogo--modulos div .catacuatro .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .catacuatro .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .catacuatro .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .catacuatro .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

.catalogo--modulos div .catacinco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffb62d;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.catalogo--modulos div .catacinco .iz {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalogo--modulos div .catacinco .iz img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  height: auto;
  width: auto;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .catacinco .iz img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .catacinco .iz img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.catalogo--modulos div .catacinco .der {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: 3;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10%;
  width: 50%;
}

.catalogo--modulos div .catacinco .der p {
  padding-top: 5px;
  font-weight: normal;
  line-height: 0.9em;
}

.catalogo--modulos div .catacinco .der h4 {
  font-size: 1.4em;
  font-weight: 700;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .catacinco .der {
    padding: 2%;
    position: inherit;
  }
  .catalogo--modulos div .catacinco .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .catacinco .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .catacinco .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .catacinco .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

.catalogo--modulos div .cataseis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #dc9ff8;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.catalogo--modulos div .cataseis .iz {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: inherit;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

.catalogo--modulos div .cataseis .iz img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  height: 220px;
  width: auto;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .cataseis .iz img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .cataseis .iz img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.catalogo--modulos div .cataseis .der {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: 3;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10%;
  width: 50%;
}

.catalogo--modulos div .cataseis .der p {
  padding-top: 5px;
  font-weight: normal;
  line-height: 0.9em;
}

.catalogo--modulos div .cataseis .der h4 {
  font-size: 1.4em;
  font-weight: 700;
}

@media only screen and (max-width: 599px) {
  .catalogo--modulos div .cataseis .der {
    padding: 2%;
    position: inherit;
  }
  .catalogo--modulos div .cataseis .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .cataseis .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  .catalogo--modulos div .cataseis .der p {
    line-height: 0.9em;
    font-size: 1em;
  }
  .catalogo--modulos div .cataseis .der h4 {
    font-size: 1.2em;
    font-weight: 700;
  }
}

.slide2 {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.slide2 ::-webkit-scrollbar {
  display: none;
}

.slide2 .card {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  height: 100%;
  min-width: 190px;
  margin: 0 15px 0 15px;
  padding: 0px 0px;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.slide2 .card h5 {
  font-size: 1.2em;
}

.slide2 .card .card-title {
  font-weight: bold;
}

.slide2 .card .card-title :hover {
  color: red;
}

.slide2 .card .card-text {
  color: #d63031;
  font-weight: bold;
}

.slide2 .card .card-text span {
  font-weight: lighter;
  margin-left: 1rem;
  color: #0066ff;
  text-decoration: line-through;
}

.slide2 .card .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide2 .card .iconos a {
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 599px) {
  .slide2 .card {
    width: 250px;
  }
}

.slide2 .iconos-action {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #d63031;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide2 .iconos-action i {
  margin-top: 10px;
  font-size: 19px;
}

.banner--suscripcion {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../assets/img/bannersuc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #07070725;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner--suscripcion .sucripcion-contenedor {
  padding: 100px 8% 30px 8%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.banner--suscripcion .sucripcion-contenedor .form-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner--suscripcion .sucripcion-contenedor h6 {
  color: white;
  opacity: 1;
  font-size: 2em;
  font-weight: bold;
}

.banner--suscripcion .sucripcion-contenedor p {
  color: #dddddd;
  margin-bottom: 0px;
}

.banner--suscripcion .sucripcion-contenedor input {
  text-align: center;
  min-width: 200px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.banner--suscripcion .sucripcion-contenedor small {
  color: white;
  margin-bottom: 15px;
}

.blogs {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-bottom: 60px;
}

.blogs .titulob {
  font-size: 1.9em;
}

.blogs .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogs .card-title {
  padding: 0.8em;
  background-color: white;
  height: auto;
  border-radius: 0 0 6px 6px;
}

.blogs img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.blogs a {
  color: black;
  font-weight: bold;
}

.blogs a::after {
  content: " +";
}

.banner-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px;
  background-color: #0081c6;
  color: white;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-final .contenedorB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.banner-final .contenedorB .izz {
  text-align: right;
  padding: 20px;
}

.banner-final .contenedorB .izz h6 {
  font-size: 3.6em;
}

.banner-final .contenedorB .izz p {
  clear: both;
  font-weight: 700;
  font-size: 1.4em;
}

@media only screen and (max-width: 599px) {
  .banner-final .contenedorB .izz {
    text-align: center;
  }
}

.banner-final .contenedorB .der {
  height: auto;
}

.footer {
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: black;
  color: white;
  padding: 40px;
}

.footer h6 {
  font-size: 1em;
}

.footer .row {
  padding: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer ul {
  list-style: none;
}

.footer .nombre {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  padding: 40px;
}

.footer .nombre h6 {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */