/* Variables Inicio*/
$Rojomarca: red;
$GrisBg: #efefef;
/* Variables Fin*/
/* Querys Inicio*/
@mixin phone {
  @media only screen and (max-width: 599px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
/* Querys Fin*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Montserrat", sans-serif;

  button {
    :hover {
      cursor: pointer;
    }
  }
}
body {
  background-color: #ddd;
}

// .jumbo{
//   background-color: rgba(0, 255, 13, 0.356);
// }
// .SuperSlider{
//   background-color: rgb(255, 255, 255);
// }
// .sudoCat{
//   background-color: blue;
// }
// .singleslide{
//   background-color: white;
// }

// .suscolor{
//   background-color: black;
// }
// .sblogs{
//   background-color: chartreuse;
// }

// .adsdiv{
//   background-color: cornflowerblue;
  
// }




.posicion {
  position: absolute;
  top: 25%;
  transform: rotate(-90deg);
  transform-origin: 40% 20%;
  .text-t {
    color: rgb(255, 0, 0);
    font-weight: 700;
    strong {
      font-weight: 700;
      color: black;
    }
    span::after {
      content: "";
      display: inline-block;
      width: 30px;
      height: 2px;
      align-items: center;
      background-color: rgb(163, 163, 163);
    }
  }
  @include phone {
    position: relative;
    display: none;
  }

  @include tablet {
    position: relative;
    display: none;
  }
}
.header {
  .icono {
    color: $Rojomarca;
    font-size: 24px;
  }
  .icono-in {
    position: initial;
    color: $Rojomarca;
    font-size: 24px;
  }
}
nav {
  width: auto;
  display: flex;

  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.37);
  transition: ease 0.3s;

  .navbar-brand img {
    margin: 0 auto 0 70px;
    height: 40px;
    width: 40px;

    @include phone {
      margin: 0 auto;
    }
    @include tablet {
      margin: 0 auto;
    }
  }
  .menu {
    margin: 0 auto;
    .active {
      font-weight: 700;
      color: red;
    }

    ul li a {
      justify-content: space-between;
    }
  }
  .navbar-nav {
    margin: 0 auto;
  }
  .nav-item {
    margin-right: 30px;
    font-weight: 400;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(49, 49, 49);
}
.banner {
  max-width: 1364;
  background-color: $GrisBg;

  width: auto;
  box-sizing: content-box;
  display: flex;
  flex-flow: row column;

  justify-content: space-between;
  .row {
    margin-top: 12%;
  }
  h1 {
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 1px;
  }
  p {
    font-size: 0.8em;
  }

  .izquierdo {
    justify-content: center;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    padding: 5%;
    flex-grow: 2;
    span {
      color: $Rojomarca;
    }
    @include phone {
      text-align: center;
    }
  }
  // .banner .izquierdo button{

  //   :hover{
  //     background-color: red;
  //     color: black;
  //     font-weight: bold;
  //     cursor: pointer;
  //   }
  // }
  .derecho {
    position: inherit;
    display: flex;
    padding: 0px;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    flex-grow: 2;
    @include phone {
      margin-left: 15%;
    }
  }
  .btn-outline-dark:hover {
    background-color: #d63031;
    color: white;
  }
}
.active {
  color: $Rojomarca;
  :hover {
    color: green;
  }
}
.submenuSlide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  ul {
    padding-top: 20px;
    justify-content: center;
    a {
      color: rgb(37, 37, 37);
    }

    li:nth-child(2) {
      font-weight: bold;
      a {
       
        color: rgb(0, 0, 0);
       
      }
    }
  }
}

.slide {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }

  .card {
    align-items: center;
    display: inline-block;
    height: 100%;
    min-width: 190px;
    margin: 0 15px 0 15px;
    padding: 0px 0px;

    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    h2 {
      font-size: 1.2em;
    }
    .card-title {
      font-weight: bold;
      :hover {
        color: red;
      }
    }
    .card-text span {
      margin-left: 1rem;
      color: rgb(221, 44, 0);
      text-decoration: line-through;
    }

    @include phone {
      width: 250px;
    }
  }
}

.catalogo {
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  max-width: 228px;
  min-width: 228px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 13px;
  align-items: center;
  justify-content: center;

  h3 {
    padding: 0;
    font-weight: 700;
    color: white;
    margin-bottom: 0;
  }
}

.catalogo--modulos {
  box-sizing: border-box;
  max-width: 100%;

  .row {
    height: 100%;
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;

    @include phone {
      margin: 0;
    }
  }
  div {
    box-sizing: border-box;
    display: flex;
    border-radius: 4px;
    height: 230px;
    margin: 10px;

    p {
      font-weight: 700;
    }

    h4 {
      line-height: 0.9em;
      font-size: 1em;
    }

    @include phone {
      height: 230px;
      width: 100%;
      margin: 0px;
      padding: 0px;
    }
    @include tablet {
      height: 230px;
      width: 100%;
      margin: 0px;
      padding: 5px;
    }

    .catauno {
      display: flex;
      justify-content: space-between;
      background-color: #d4c9ed;
      flex-flow: row wrap;

      .iz {
        display: flex;
        flex: 1;
        display: flex;
        position: inherit;
        justify-content: flex-end;
        align-content: flex-end;
        
        img {
         
          position: inherit;
          z-index: 1;
          height: 220px;
          width: auto;
          padding-top: 0px;
          
        
          @include phone {
           
            
          }
          @include tablet {
            
            flex-flow: column;
            justify-content: flex-end;
          }
        }
      }

      .der {
        flex: 1;
        position: relative;
        z-index: 3;
        text-align: right;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 10%;
        width: 50%;
        p {
          padding-top: 5px;
          font-weight: normal;
          line-height: 0.9em;
            
          
        }

        h4 {
          font-size: 1.4em;
          font-weight: 700;
        }

        @include phone {
          padding: 2%;
          position: inherit;

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
        @include tablet{
          
          

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
      }
    }

    .catados {
      display: flex;
      justify-content: space-between;
      background-color: #FAF9F5;
      flex-flow: row wrap;

      .iz {
        flex: 1;
        display: flex;
        position: inherit;
        justify-content: flex-start;
        align-content: flex-end;
        width: 50%;
        img {
          justify-content: center;
          position: relative;
          z-index: 1;
          height: 220px;
          width: auto;
          @include phone {
            height: 100%;
            flex-flow: column;
            justify-content: flex-end;
          }
          @include tablet() {
            height: 100%;
            flex-flow: column;
            justify-content: flex-end;
          }
        }
      }

      .der {
        flex: 1;
        position: relative;
        z-index: 3;
        text-align: left;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10%;
        width: 50%;
        p {
          padding-top: 5px;
          font-weight: normal;
          line-height: 0.9em;
            
          
        }

        h4 {
          font-size: 1.4em;
          font-weight: 700;
        }

        @include phone {
          padding: 2%;
          position: inherit;

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
        @include tablet{
          
          

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
      }
    }
    .catatres {
      display: flex;
      justify-content: space-between;
      background-color: #a7ff43;
      flex-flow: row wrap;

      .iz {
        flex: 1;
        display: flex;
      
        justify-content: center;
        align-content: center;
         align-items: center;
        
      
        img {
          
          
        
          height: auto;
          width: 100%;
          

          @include phone {
           
            flex-flow: column;
            
          }
          @include tablet() {
          
            flex-flow: column;
            
          }
        }
      }

      .der {
        flex: 1;
        position: relative;
        z-index: 3;
        text-align: right;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 10%;
      
        p {
          padding-top: 5px;
          font-weight: normal;
          line-height: 0.9em;
            
          
        }

        h4 {
          font-size: 1.4em;
          font-weight: 700;
        }

        @include phone {
          padding: 2%;
          position: inherit;

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
        @include tablet{
          
          

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
      }
    }
    .catacuatro {
      display: flex;
      justify-content: space-between;
      background-color: #24baff;
      flex-flow: row wrap;

      .iz {
        flex: 1;
        display: flex;
        position: inherit;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 50%;
        img {
          
          z-index: 1;
         height: auto;
         width: auto;
          @include phone {
            
            flex-flow: column;
            
          }
          @include tablet() {
            
            flex-flow: column;
           
          }
        }
      }

      .der {
        flex: 1;
        position: relative;
        z-index: 3;
        text-align: left;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10%;
        width: 50%;
        p {
          padding-top: 5px;
          font-weight: normal;
          line-height: 0.9em;
            
          
        }

        h4 {
          font-size: 1.4em;
          font-weight: 700;
        }

        @include phone {
          padding: 2%;
          position: inherit;

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
        @include tablet{
          
          

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
      }
    }
    .catacinco {
      display: flex;
      justify-content: space-between;
      background-color: #ffb62d;
      flex-flow: row wrap;

      .iz {
        flex: 1;
        display: flex;
        
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        
        img {
          justify-content: center;
          position: relative;
          z-index: 1;
          height: auto;
          width: auto;
          @include phone {
           
            flex-flow: column;
           
          }
          @include tablet() {
           
            flex-flow: column;
     
          }
        }
      }

      .der {
        flex: 1;
        position: relative;
        z-index: 3;
        text-align: right;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 10%;
        width: 50%;
        p {
          padding-top: 5px;
          font-weight: normal;
          line-height: 0.9em;
            
          
        }

        h4 {
          font-size: 1.4em;
          font-weight: 700;
        }

        @include phone {
          padding: 2%;
          position: inherit;

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
        @include tablet{
          
          

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
      }
    }
    .cataseis {
      display: flex;
      justify-content: space-between;
      background-color: #dc9ff8;
      flex-flow: row wrap;

      .iz {
        flex: 1;
        display: flex;
        position: inherit;
        justify-content: flex-start;
        align-content: flex-end;
        align-content: center;
        
        img {
          justify-content: center;
          position: relative;
          z-index: 1;
          height: 220px;
          width: auto;
          @include phone {
            
            flex-flow: column;
            justify-content: flex-end;
          }
          @include tablet() {
          
            flex-flow: column;
            justify-content: flex-end;
          }
        }
      }

      .der {
        flex: 1;
        position: relative;
        z-index: 3;
        text-align: left;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        padding-right: 10%;
        width: 50%;
        p {
          padding-top: 5px;
          font-weight: normal;
          line-height: 0.9em;
            
          
        }

        h4 {
          font-size: 1.4em;
          font-weight: 700;
        }

        @include phone {
          padding: 2%;
          position: inherit;

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
        @include tablet{
          
          

          p {
            line-height: 0.9em;
            font-size: 1em;
            
          }

          h4 {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
      }
    }
 


    
      
    }
    
  }


.slide2 {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }
  // div:nth-child(1){
  //   :hover{
  //     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  //   }
  // }

  .card {
    text-align: center;
    align-items: center;
    display: inline-block;
    height: 100%;
    min-width: 190px;
    margin: 0 15px 0 15px;
    padding: 0px 0px;

    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    h5 {
      font-size: 1.2em;
    }
    .card-title {
      font-weight: bold;
      :hover {
        color: red;
      }
    }
    .card-text {
      color: #d63031;
      font-weight: bold;
    }
    .card-text span {
      font-weight: lighter;
      margin-left: 1rem;
      color: rgb(0, 102, 255);
      text-decoration: line-through;
    }

    .iconos {
      display: flex;
      box-sizing: content-box;
      align-items: center;
      text-align: center;
      justify-content: center;
      a {
        margin-right: auto;
        margin-left: auto;
      }
    }

    @include phone {
      width: 250px;
    }
  }

  .iconos-action {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    color: #d63031;
    display: flex;

    i {
      margin-top: 10px;
      font-size: 19px;
    }
  }
}

.banner--suscripcion {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../assets/img/bannersuc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #07070725;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  .sucripcion-contenedor {
    padding: 100px 8% 30px 8%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    flex: 1;
    
.form-group{
  align-items: center;




}
    h6 {
      color: rgb(255, 255, 255);
      opacity: 1;
      font-size: 2em;
      font-weight: bold;
    }

    p {
      color: rgb(221, 221, 221);
      margin-bottom: 0px;
    }
    input{
      text-align: center;
      min-width: 200px;
      width: 60%;
      margin-right: auto;
      margin-left: auto;

    }
    small{
color: white;
margin-bottom: 15px;
    }
    
  }
}

.blogs {

  box-sizing: content-box;
  margin-bottom: 60px;
.titulob{
  font-size: 1.9em;
}
  .row {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
  .card-title{
    padding: 0.8em;
    background-color: white;
    height: auto;
    border-radius: 0 0 6px 6px;
  }

  img {
    justify-content: center;
    
    align-items: center;
    background-size: cover;
  }
  a {
    color: black;
    font-weight: bold;
  }
  a::after {
    content: " +";
  }
}

.banner-final {
  display: flex;
  flex-flow: column;
  padding: 20px;
  background-color: #0081c6;
  color: white;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  .contenedorB {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    .izz {
      text-align: right;
      padding: 20px;
      h6{
        font-size: 3.6em;
      }
      p {
        clear: both;
        font-weight: 700;
        font-size: 1.4em;
      }
      @include phone{

        text-align: center;

      }
    }
    .der{
      
      height: auto;
    }
  }
}

.footer {
  height: 100%;
  align-content: center;

  background-color: black;
  color: white;
  padding: 40px;
  h6 {
    font-size: 1em;
  }
  .row {
    padding: 30px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
  }
  ul {
    list-style: none;
  }

  .nombre {
    text-align: center;
    align-content: center;
    width: 100%;
    padding: 40px;
    h6 {
      text-align: center;
    }
  }
}
