/* form */
.searchForm{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  flex-wrap:wrap;
}
.searchForm p{
color: #3d4c59;
/* font-family: "Cabin"; */
font-size: 24px;
font-weight: 500;
}
.searchForm div{
  margin-bottom:30px;
}
.searchForm button{
  border-radius: 0.35em;
  font-size: 1em;
  background-color: #3fa2f7;
  border:none;
  box-shadow: none;
  line-height: 1.7;
  margin-bottom:10px;
  padding: 0.6rem 2rem;
}
.searchForm button:hover{
  background-color: #fc7753;
  border:none;
  box-shadow: none;
}
.searchForm input{
  padding-left:10px;
  height: 62px;
  border: 1px solid rgba(134, 147, 171, 0.3);
  min-width: 350px;
  margin-bottom:0;
  /* font-family: "Cabin"; */
  font-size: 16px;
}
.searchForm input::palcehoder{
  color: #8693ab;
/* font-family: "Cabin"; */
font-size: 16px;
}
@media(max-width:767px){
  .searchForm input{
    min-width: 250px;
  }
}
@media (max-width: 450px){
.searchForm {
    justify-content: center;
}
}


/* form */

body {
    font-family: 'Open Sans', sans-serif;
    color: #525252
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden
}

.form-box-container form {
    padding: 25px
}

.form-box-container h1 {
    font-size: 36px
}

@media (max-width: 640px) {
    .form-box-container h1 {
        font-size: 26px
    }
    .form-box-container {
        margin-top: 0
    }
    .form-box-container form {
        padding: 5px
    }
    .form-subtabs-container label:first-child {
        margin-right: 0
    }
}

@media (max-width: 500px) {
    .form-box-container form {
        margin: 5px
    }
    .form-box-container {
        margin-top: 0
    }
    .form-subtabs-container label:first-child {
        margin-right: 0
    }
    .form-control.medium-view {
        padding: 3px 4px;
        width: 50px
    }
}

@media (min-width: 1200px) {
    .form-box-header h1 {
        border-bottom: 1px solid white;
        padding-bottom: 15px;
        margin-bottom: 15px;
        width: 100%
    }
    .form-subtabs-container {
        margin-top: 10px
    }
    .form-control.medium-view {
        width: 70px
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    .form-subtabs-container {
        margin-top: 10px
    }
    .form-box-header h1 {
        border-bottom: 1px solid white;
        padding-bottom: 15px;
        margin-bottom: 15px;
        width: 100%
    }
    .form-control.medium-view {
        width: 70px
    }
}

@media (max-width: 640px) {
    .form-box-header h1 {
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: 100%
    }
    .form-control.medium-view {
        padding: 3px 4px;
        width: 50px
    }
}

@media (max-width: 768px) {
    .form-subtabs-container label:first-child {
        margin-right: 0
    }
    .form-control.medium-view {
        padding: 3px 4px
    }
}

@media (min-width: 960px) {
    .form-control.medium-view {
        width: 70px
    }
}

@media (max-width: 960px) {
    .form-control.medium-view {
        padding: 3px 4px;
        width: 50px
    }
}

.form-subtabs-container label:first-child {
    margin-right: 20px
}

.form-subtabs-container>label {
    margin-bottom: 15px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 100%;
    padding-top: 0;
    padding-bottom: 0
}

.form-subtabs-container>label>input,
.form-subtabs-container>label>span {
    display: inline-block;
    vertical-align: middle
}

.form-subtabs-container>label>input {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    font-size: 18px
}

.form-box-content .form-subtabs-heading {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px
}

.enviaya-input.form-control {
    border: 1px solid white;
    font-size: 16px;
    height: 56px
}

.enviaya-input.form-control:focus::-webkit-input-placeholder {
    color: transparent
}

.enviaya-input.form-control:focus::-moz-placeholder {
    color: transparent
}

.enviaya-input.form-control:focus:-moz-placeholder {
    color: transparent
}

.enviaya-input.form-control:focus:-ms-input-placeholder {
    color: transparent
}

.type-input-container {
    border-radius: 4px;
    position: relative
}

.typeahead {
    background-color: #fff
}

.enviaya-input,
.tt-hint,
.twitter-typeahead,
.intl-tel-input {
    width: 100% !important
}

.form-box-container {
    border-radius: 12px;
    border: 1px solid #FFF;
    -webkit-box-shadow: 0 0 4px 0 #cecccc;
    box-shadow: 0 0 4px 0 #cecccc;
    width: 100%;
    display: inline-block
}

.form-box-container hr {
    height: 1px;
    border: none;
    display: block;
    border-bottom: solid 1px #ddd
}

.form-box-container h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 100%;
    margin-top: 0;
    color: #ffffff;
    display: inline-block
}

.form-box-container label {
    color: black
}

.form-element.indicator.ml30 {
    margin-left: 30px
}

.form-element.indicator {
    display: inline-block;
    vertical-align: top;
    width: auto
}

.form-element.indicator label {
    margin-right: 0
}

.form-element.actions {
    display: block;
    text-align: left;
    margin-top: 10px;
}

.form-element {
    color: black
}

.form-element.helper {
    margin-right: 15px
}

.selection .form-input-element {
    width: auto;
    display: inline-block
}

.selection label {
    width: 100%
}

.form-control.medium-view {
    border: 1px solid white;
    font-size: 16px;
    height: 56px
}

.measure-selection {
    width: 75px
}

.measure-selection {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px
}

.switch-measure-selection {
    width: auto;
    text-align: left;
    margin-top: -20px;
    display: block;
    vertical-align: top;
    float: right
}

.switch-measure-selection .link-selection {
    display: none
}

.switch-measure-selection .link-selection.current {
    display: inline-block
}

.switch-measure-selection .link-selection {
    display: none
}

.link-selection {
    font-family: OpenSansBold;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #454749;
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle
}

.form-element.indicator.ml30 {
    margin-left: 30px
}

.form-element.indicator {
    display: inline-block;
    vertical-align: top;
    width: auto
}

.form-element.indicator label {
    margin-right: 0
}

.form-input-element {
    position: relative
}

.indicator input.small-view {
    width: 50px;
    max-width: 50px
}

.indicator .form-input-element input {
    display: inline-block;
    vertical-align: top;
    border-radius: 4px
}

.form-input-element input {
    border-radius: 4px
}

.enviaya-input.form-control {
    border: 1px solid white;
    font-size: 16px;
    height: 56px
}

.field-value,
.math-symbol {
    color: white;
    top: 18px;
    position: relative
}

.exp-for-mobile {
    color: white
}

.actions .exp-for-mobile {
    vertical-align: middle;
    font-size: 12px;
    padding-right: 10px;
    margin-top: -4px;
    display: none
}

.actions span.clone-volume-data,
.actions span.remove-volume-data {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    background-color: transparent;
  text-decoration:underline;
}

.actions span.remove-volume-data {
    display: none
}

.actions span.clone-volume-data,
.actions span.remove-volume-data {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    background-color: transparent
}

.form-box-footer {
    margin-top: 10px;
    padding-top: 10px
}

.insurance-div {
    display: block;
    margin-left:5px;
    margin-top: 10px;
}

.insurance-div label {
    font-size: 18px;
    position: relative
}

.checked-param {
    margin-left: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle
}

.ins-block {
    display: block
}

.ins-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.ins-input {
    margin-right: 15px;
    border-radius: 4px;
    height: 56px;
    width: 130px
}

.ins-currency-select {
    display: none
}

#insurance-currency-label {
    color: white;
    top: 20px;
    position: relative
}

#insurance-info-link {
    font-size: 14px;
    top: 18px;
    font-style: italic;
    cursor: pointer;
    color: white;
    position: relative
}

.vol-info-tooltips {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 15px
}

.twitter-typeahead {
    padding-left: 46px
}

.change-unit-text {
    color: black
}

.volume-data .form-element {
    margin-right: 10px;
}

.remove-volume-data .glyphicon {
    top: 6px
}

.fa-spin-custom,
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
    color: #005e98
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

input.typeahead.flag-input-from.enviaya-input.form-control.tt-hint:not(#quote_from) {
    display: none
}

input.typeahead.flag-input-to.enviaya-input.form-control.tt-hint:not(#quote_to) {
    display: none
}


/*!
 * qTip2 - Pretty powerful tooltips - v2.0.1
 * http://qtip2.com
 *
 * Copyright (c) 2012 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Mon Dec 31 2012 02:55 GMT+0000
 * Plugins: svg ajax tips modal viewport imagemap ie6
 * Styles: basic css3
 */

 .qtip,
 .qtip {
     position: absolute;
     left: -28000px;
     top: -28000px;
     display: none;
     max-width: 380px;
     min-width: 50px;
     font-size: 10px;
     line-height: 11px;
     direction: ltr
 }
 
 .qtip-content {
     position: relative;
     padding: 10px;
     overflow: hidden;
     text-align: left;
     word-wrap: break-word;
     font-size: 12px;
     font-family: inherit
 }
 
 .qtip-content li {
     list-style: none;
     line-height: 14px;
     color: #FFF;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35)
 }
 
 .qtip-content ul {
     margin: 0
 }
 
 .qtip-titlebar {
     position: relative;
     padding: 5px 35px 5px 10px;
     overflow: hidden;
     border-width: 0 0 1px;
     font-weight: bold
 }
 
 .qtip-titlebar+.qtip-content {
     border-top-width: 0 !important
 }
 
 .qtip-close {
     position: absolute;
     right: -9px;
     top: -9px;
     cursor: pointer;
     outline: medium none;
     border-width: 1px;
     border-style: solid;
     border-color: transparent
 }
 
 .qtip-titlebar .qtip-close {
     right: 4px;
     top: 50%;
     margin-top: -9px
 }
 
 * html .qtip-titlebar .qtip-close {
     top: 16px
 }
 
 .qtip-titlebar .ui-icon,
 .qtip-icon .ui-icon {
     display: block;
     text-indent: -1000em;
     direction: ltr;
     vertical-align: middle
 }
 
 .qtip-icon,
 .qtip-icon .ui-icon {
     border-radius: 3px;
     text-decoration: none
 }
 
 .qtip-icon .ui-icon {
     width: 18px;
     height: 14px;
     text-align: center;
     text-indent: 0;
     font: normal bold 10px/13px Tahoma, sans-serif;
     color: inherit;
     background: transparent none no-repeat -100em -100em
 }
 
 .qtip-default {
     border-width: 1px;
     border-style: solid;
     border-color: #F1D031;
     background-color: #FFFFA3;
     color: #555
 }
 
 .qtip-default .qtip-titlebar {
     background-color: #FFEF93
 }
 
 .qtip-default .qtip-icon {
     border-color: #CCC;
     background: #F1F1F1;
     color: #777
 }
 
 .qtip-default .qtip-titlebar .qtip-close {
     border-color: #AAA;
     color: #111
 }
 
 
 /*! Light tooltip style */
 
 .qtip-light {
     background-color: white;
     border-color: #E2E2E2;
     color: #454545
 }
 
 .qtip-light .qtip-titlebar {
     background-color: #f1f1f1
 }
 
 
 /*! Dark tooltip style */
 
 .qtip-dark {
     background-color: #505050;
     border-color: #303030;
     color: #f3f3f3
 }
 
 .qtip-dark .qtip-titlebar {
     background-color: #404040
 }
 
 .qtip-dark .qtip-icon {
     border-color: #444
 }
 
 .qtip-dark .qtip-titlebar .ui-state-hover {
     border-color: #303030
 }
 
 
 /*! Cream tooltip style */
 
 .qtip-cream {
     background-color: #FBF7AA;
     border-color: #F9E98E;
     color: #A27D35
 }
 
 .qtip-cream .qtip-titlebar {
     background-color: #F0DE7D
 }
 
 .qtip-cream .qtip-close .qtip-icon {
     background-position: -82px 0
 }
 
 
 /*! Error Red tooltip style */
 
 .qtip-error-red {
     background-color: #F2DEDE;
     border-color: #953B39;
     color: #B94A48
 }
 
 .qtip-error-red .qtip-titlebar {
     background-color: #F2DEDE
 }
 
 .qtip-error-red .qtip-close .qtip-icon {
     background-position: -102px 0
 }
 
 .qtip-error-red .qtip-icon {
     border-color: #953B39
 }
 
 .qtip-error-red .qtip-titlebar .ui-state-hover {
     border-color: #953B39
 }
 
 .qtip-error-red .qtip-content {
     position: relative;
     padding: 7px 12px;
     overflow: hidden;
     text-align: left;
     word-wrap: break-word
 }
 
 .qtip-error-red .qtip-content li {
     list-style: none;
     line-height: 14px;
     font-size: 12px;
     color: #953B39;
     text-shadow: none
 }
 
 .qtip-error-red .qtip-content ul {
     margin: 0
 }
 
 
 /*! Red tooltip style */
 
 .qtip-red {
     background-color: #ffd4d1;
     border-color: #ff4e4c;
     color: #900707
 }
 
 .qtip-red .qtip-titlebar {
     background-color: #F06D65
 }
 
 .qtip-red .qtip-close .qtip-icon {
     background-position: -102px 0
 }
 
 .qtip-red .qtip-icon {
     border-color: #D95252
 }
 
 .qtip-red .qtip-titlebar .ui-state-hover {
     border-color: #D95252
 }
 
 
 /*! Green tooltip style */
 
 .qtip-green {
     background-color: #CAED9E;
     border-color: #90D93F;
     color: #3F6219
 }
 
 .qtip-green .qtip-titlebar {
     background-color: #B0DE78
 }
 
 .qtip-green .qtip-close .qtip-icon {
     background-position: -42px 0
 }
 
 
 /*! Blue tooltip style */
 
 .qtip-blue {
     background-color: #E5F6FE;
     border-color: #ADD9ED;
     color: #5E99BD
 }
 
 .qtip-blue .qtip-titlebar {
     background-color: #D0E9F5
 }
 
 .qtip-blue .qtip-close .qtip-icon {
     background-position: -2px 0
 }
 
 .qtip-shadow {
     -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
     box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15)
 }
 
 .qtip-rounded,
 .qtip-tipsy,
 .qtip-bootstrap {
     border-radius: 5px
 }
 
 .qtip-youtube {
     border-radius: 2px;
     -webkit-box-shadow: 0 0 3px #333;
     box-shadow: 0 0 3px #333;
     color: white;
     border-width: 0;
     background: #4A4A4A;
     background-image: -o-linear-gradient(top, #4A4A4A 0, #000 100%)
 }
 
 .qtip-youtube .qtip-titlebar {
     background-color: #4A4A4A;
     background-color: transparent
 }
 
 .qtip-youtube .qtip-content {
     padding: .75em;
     font: 12px arial, sans-serif;
     filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);
     -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);"
 }
 
 .qtip-youtube .qtip-icon {
     border-color: #222
 }
 
 .qtip-youtube .qtip-titlebar .ui-state-hover {
     border-color: #303030
 }
 
 .qtip-jtools {
     background: #232323;
     background: rgba(0, 0, 0, 0.7);
     background-image: -o-linear-gradient(top, #717171, #232323);
     border: 2px solid #ddd;
     border: 2px solid #f1f1f1;
     border-radius: 2px;
     -webkit-box-shadow: 0 0 12px #333;
     box-shadow: 0 0 12px #333
 }
 
 .qtip-jtools .qtip-titlebar {
     background-color: transparent;
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A);
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)"
 }
 
 .qtip-jtools .qtip-content {
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323);
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)"
 }
 
 .qtip-jtools .qtip-titlebar,
 .qtip-jtools .qtip-content {
     background: transparent;
     color: white;
     border: 0 dashed transparent
 }
 
 .qtip-jtools .qtip-icon {
     border-color: #555
 }
 
 .qtip-jtools .qtip-titlebar .ui-state-hover {
     border-color: #333
 }
 
 .qtip-cluetip {
     -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
     box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
     background-color: #D9D9C2;
     color: #111;
     border: 0 dashed transparent
 }
 
 .qtip-cluetip .qtip-titlebar {
     background-color: #87876A;
     color: white;
     border: 0 dashed transparent
 }
 
 .qtip-cluetip .qtip-icon {
     border-color: #808064
 }
 
 .qtip-cluetip .qtip-titlebar .ui-state-hover {
     border-color: #696952;
     color: #696952
 }
 
 .qtip-tipsy {
     background: black;
     background: rgba(0, 0, 0, 0.87);
     color: white;
     border: 0 solid transparent;
     font-size: 11px;
     font-family: 'Lucida Grande', sans-serif;
     font-weight: bold;
     line-height: 16px;
     text-shadow: 0 1px black
 }
 
 .qtip-tipsy .qtip-titlebar {
     padding: 6px 35px 0 10;
     background-color: transparent
 }
 
 .qtip-tipsy .qtip-content {
     padding: 6px 10
 }
 
 .qtip-tipsy .qtip-icon {
     border-color: #222;
     text-shadow: none
 }
 
 .qtip-tipsy .qtip-titlebar .ui-state-hover {
     border-color: #303030
 }
 
 .qtip-tipped {
     border: 3px solid #959FA9;
     border-radius: 3px;
     background-color: #F9F9F9;
     color: #454545;
     font-weight: normal;
     font-family: serif
 }
 
 .qtip-tipped .qtip-titlebar {
     border-bottom-width: 0;
     color: white;
     background: #3A79B8;
     background-image: -o-linear-gradient(top, #3A79B8, #2E629D);
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D);
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)"
 }
 
 .qtip-tipped .qtip-icon {
     border: 2px solid #285589;
     background: #285589
 }
 
 .qtip-tipped .qtip-icon .ui-icon {
     background-color: #FBFBFB;
     color: #555
 }
 
 .qtip-bootstrap {
     font-size: 14px;
     line-height: 20px;
     color: #333333;
     padding: 1px;
     background-color: #ffffff;
     border: 1px solid #ccc;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 6px;
     -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     background-clip: padding-box
 }
 
 .qtip-bootstrap .qtip-titlebar {
     padding: 8px 14px;
     margin: 0;
     font-size: 14px;
     font-weight: normal;
     line-height: 18px;
     background-color: #f7f7f7;
     border-bottom: 1px solid #ebebeb;
     border-radius: 5px 5px 0 0
 }
 
 .qtip-bootstrap .qtip-titlebar .qtip-close {
     right: 11px;
     top: 45%;
     border-style: none
 }
 
 .qtip-bootstrap .qtip-content {
     padding: 9px 14px
 }
 
 .qtip-bootstrap .qtip-icon {
     background: transparent
 }
 
 .qtip-bootstrap .qtip-icon .ui-icon {
     width: auto;
     height: auto;
     float: right;
     font-size: 20px;
     font-weight: bold;
     line-height: 18px;
     color: #000000;
     text-shadow: 0 1px 0 #ffffff;
     opacity: 0.2;
     filter: alpha(opacity=20)
 }
 
 .qtip-bootstrap .qtip-icon .ui-icon:hover {
     color: #000000;
     text-decoration: none;
     cursor: pointer;
     opacity: 0.4;
     filter: alpha(opacity=40)
 }
 
 .qtip:not(.ie9haxors) div.qtip-content,
 .qtip:not(.ie9haxors) div.qtip-titlebar {
     -webkit-filter: none;
     filter: none;
     -ms-filter: none
 }
 
 .qtip .qtip-tip {
     margin: 0 auto;
     overflow: hidden;
     z-index: 10
 }
 
 .qtip .qtip-tip,
 .qtip .qtip-tip .qtip-vml {
     position: absolute;
     color: #123456;
     background: transparent;
     border: 0 dashed transparent
 }
 
 .qtip .qtip-tip canvas {
     top: 0;
     left: 0
 }
 
 .qtip .qtip-tip .qtip-vml {
     behavior: url(#default#VML);
     display: inline-block;
     visibility: visible
 }
 
 #qtip-overlay {
     position: fixed;
     left: -10000em;
     top: -10000em
 }
 
 #qtip-overlay.blurs {
     cursor: pointer
 }
 
 #qtip-overlay div {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: black;
     opacity: 0.7;
     filter: alpha(opacity=70);
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
 }
 
 .qtipmodal-ie6fix {
     position: absolute !important
 }

 /* form helpers */

 .bfh-flag-AD,.bfh-flag-AE,.bfh-flag-AF,.bfh-flag-AG,.bfh-flag-AI,.bfh-flag-AL,.bfh-flag-AM,.bfh-flag-AN,.bfh-flag-AO,.bfh-flag-AQ,.bfh-flag-AR,.bfh-flag-AS,.bfh-flag-AT,.bfh-flag-AU,.bfh-flag-AW,.bfh-flag-AX,.bfh-flag-AZ,.bfh-flag-BA,.bfh-flag-BB,.bfh-flag-BD,.bfh-flag-BE,.bfh-flag-BG,.bfh-flag-BH,.bfh-flag-BI,.bfh-flag-BJ,.bfh-flag-BL,.bfh-flag-BM,.bfh-flag-BN,.bfh-flag-BO,.bfh-flag-BR,.bfh-flag-BS,.bfh-flag-BT,.bfh-flag-BW,.bfh-flag-BY,.bfh-flag-BZ,.bfh-flag-CA,.bfh-flag-CD,.bfh-flag-CF,.bfh-flag-CG,.bfh-flag-CH,.bfh-flag-CI,.bfh-flag-CL,.bfh-flag-CM,.bfh-flag-CN,.bfh-flag-CO,.bfh-flag-CR,.bfh-flag-CV,.bfh-flag-CY,.bfh-flag-CZ,.bfh-flag-DJ,.bfh-flag-DK,.bfh-flag-DM,.bfh-flag-DO,.bfh-flag-DZ,.bfh-flag-EC,.bfh-flag-EE,.bfh-flag-EG,.bfh-flag-EH,.bfh-flag-ER,.bfh-flag-ES,.bfh-flag-ET,.bfh-flag-EU,.bfh-flag-FI,.bfh-flag-FJ,.bfh-flag-FK,.bfh-flag-FM,.bfh-flag-FO,.bfh-flag-FR,.bfh-flag-FX,.bfh-flag-GF,.bfh-flag-GP,.bfh-flag-MQ,.bfh-flag-NC,.bfh-flag-PF,.bfh-flag-PM,.bfh-flag-RE,.bfh-flag-TF,.bfh-flag-WF,.bfh-flag-GA,.bfh-flag-GB,.bfh-flag-GD,.bfh-flag-GE,.bfh-flag-GG,.bfh-flag-GH,.bfh-flag-GL,.bfh-flag-GM,.bfh-flag-GN,.bfh-flag-GQ,.bfh-flag-GR,.bfh-flag-GS,.bfh-flag-GT,.bfh-flag-GU,.bfh-flag-GW,.bfh-flag-GY,.bfh-flag-HK,.bfh-flag-HN,.bfh-flag-HR,.bfh-flag-HT,.bfh-flag-HU,.bfh-flag-ID,.bfh-flag-IE,.bfh-flag-IL,.bfh-flag-IM,.bfh-flag-IN,.bfh-flag-IQ,.bfh-flag-IS,.bfh-flag-IT,.bfh-flag-JE,.bfh-flag-JM,.bfh-flag-JO,.bfh-flag-JP,.bfh-flag-KE,.bfh-flag-KG,.bfh-flag-KH,.bfh-flag-KI,.bfh-flag-KM,.bfh-flag-KN,.bfh-flag-KP,.bfh-flag-KR,.bfh-flag-KV,.bfh-flag-KW,.bfh-flag-KY,.bfh-flag-LA,.bfh-flag-LC,.bfh-flag-LK,.bfh-flag-LR,.bfh-flag-LS,.bfh-flag-LT,.bfh-flag-LU,.bfh-flag-LV,.bfh-flag-LY,.bfh-flag-MA,.bfh-flag-ME,.bfh-flag-MG,.bfh-flag-MH,.bfh-flag-ML,.bfh-flag-MM,.bfh-flag-MP,.bfh-flag-MR,.bfh-flag-MS,.bfh-flag-MT,.bfh-flag-MU,.bfh-flag-MV,.bfh-flag-MW,.bfh-flag-MZ,.bfh-flag-NA,.bfh-flag-NE,.bfh-flag-NF,.bfh-flag-NG,.bfh-flag-NI,.bfh-flag-NL,.bfh-flag-NO,.bfh-flag-NP,.bfh-flag-NR,.bfh-flag-NZ,.bfh-flag-OM,.bfh-flag-PA,.bfh-flag-PE,.bfh-flag-PG,.bfh-flag-PH,.bfh-flag-PK,.bfh-flag-PL,.bfh-flag-PN,.bfh-flag-PS,.bfh-flag-PT,.bfh-flag-PW,.bfh-flag-PY,.bfh-flag-QA,.bfh-flag-RS,.bfh-flag-RU,.bfh-flag-RW,.bfh-flag-SA,.bfh-flag-SB,.bfh-flag-SC,.bfh-flag-SD,.bfh-flag-SE,.bfh-flag-SG,.bfh-flag-SH,.bfh-flag-SI,.bfh-flag-SK,.bfh-flag-SM,.bfh-flag-SN,.bfh-flag-SO,.bfh-flag-SR,.bfh-flag-SS,.bfh-flag-ST,.bfh-flag-SV,.bfh-flag-SY,.bfh-flag-SZ,.bfh-flag-TC,.bfh-flag-TD,.bfh-flag-TG,.bfh-flag-TH,.bfh-flag-TJ,.bfh-flag-TM,.bfh-flag-TN,.bfh-flag-TP,.bfh-flag-TR,.bfh-flag-TT,.bfh-flag-TV,.bfh-flag-TW,.bfh-flag-TZ,.bfh-flag-UA,.bfh-flag-UG,.bfh-flag-US,.bfh-flag-UY,.bfh-flag-UZ,.bfh-flag-VC,.bfh-flag-VE,.bfh-flag-VG,.bfh-flag-VI,.bfh-flag-VN,.bfh-flag-VU,.bfh-flag-WS,.bfh-flag-YE,.bfh-flag-ZA,.bfh-flag-ZM,.bfh-flag-BF,.bfh-flag-CU,.bfh-flag-DE,.bfh-flag-IR,.bfh-flag-KZ,.bfh-flag-LB,.bfh-flag-LI,.bfh-flag-MC,.bfh-flag-MD,.bfh-flag-MK,.bfh-flag-MN,.bfh-flag-MO,.bfh-flag-MX,.bfh-flag-MY,.bfh-flag-PR,.bfh-flag-RO,.bfh-flag-SL,.bfh-flag-TO,.bfh-flag-VA,.bfh-flag-ZW{width:16px;height:14px;background:url("/assets/bootstrap-formhelpers-countries.flags-ad74d091c61d79f1e68a382fcc2db11cd8e8c0cb130db1cbdda15d8539e25a77.png") no-repeat}.bfh-flag-AD:empty,.bfh-flag-AE:empty,.bfh-flag-AF:empty,.bfh-flag-AG:empty,.bfh-flag-AI:empty,.bfh-flag-AL:empty,.bfh-flag-AM:empty,.bfh-flag-AN:empty,.bfh-flag-AO:empty,.bfh-flag-AQ:empty,.bfh-flag-AR:empty,.bfh-flag-AS:empty,.bfh-flag-AT:empty,.bfh-flag-AU:empty,.bfh-flag-AW:empty,.bfh-flag-AX:empty,.bfh-flag-AZ:empty,.bfh-flag-BA:empty,.bfh-flag-BB:empty,.bfh-flag-BD:empty,.bfh-flag-BE:empty,.bfh-flag-BG:empty,.bfh-flag-BH:empty,.bfh-flag-BI:empty,.bfh-flag-BJ:empty,.bfh-flag-BL:empty,.bfh-flag-BM:empty,.bfh-flag-BN:empty,.bfh-flag-BO:empty,.bfh-flag-BR:empty,.bfh-flag-BS:empty,.bfh-flag-BT:empty,.bfh-flag-BW:empty,.bfh-flag-BY:empty,.bfh-flag-BZ:empty,.bfh-flag-CA:empty,.bfh-flag-CD:empty,.bfh-flag-CF:empty,.bfh-flag-CG:empty,.bfh-flag-CH:empty,.bfh-flag-CI:empty,.bfh-flag-CL:empty,.bfh-flag-CM:empty,.bfh-flag-CN:empty,.bfh-flag-CO:empty,.bfh-flag-CR:empty,.bfh-flag-CV:empty,.bfh-flag-CY:empty,.bfh-flag-CZ:empty,.bfh-flag-DJ:empty,.bfh-flag-DK:empty,.bfh-flag-DM:empty,.bfh-flag-DO:empty,.bfh-flag-DZ:empty,.bfh-flag-EC:empty,.bfh-flag-EE:empty,.bfh-flag-EG:empty,.bfh-flag-EH:empty,.bfh-flag-ER:empty,.bfh-flag-ES:empty,.bfh-flag-ET:empty,.bfh-flag-EU:empty,.bfh-flag-FI:empty,.bfh-flag-FJ:empty,.bfh-flag-FK:empty,.bfh-flag-FM:empty,.bfh-flag-FO:empty,.bfh-flag-FR:empty,.bfh-flag-FX:empty,.bfh-flag-GF:empty,.bfh-flag-GP:empty,.bfh-flag-MQ:empty,.bfh-flag-NC:empty,.bfh-flag-PF:empty,.bfh-flag-PM:empty,.bfh-flag-RE:empty,.bfh-flag-TF:empty,.bfh-flag-WF:empty,.bfh-flag-GA:empty,.bfh-flag-GB:empty,.bfh-flag-GD:empty,.bfh-flag-GE:empty,.bfh-flag-GG:empty,.bfh-flag-GH:empty,.bfh-flag-GL:empty,.bfh-flag-GM:empty,.bfh-flag-GN:empty,.bfh-flag-GQ:empty,.bfh-flag-GR:empty,.bfh-flag-GS:empty,.bfh-flag-GT:empty,.bfh-flag-GU:empty,.bfh-flag-GW:empty,.bfh-flag-GY:empty,.bfh-flag-HK:empty,.bfh-flag-HN:empty,.bfh-flag-HR:empty,.bfh-flag-HT:empty,.bfh-flag-HU:empty,.bfh-flag-ID:empty,.bfh-flag-IE:empty,.bfh-flag-IL:empty,.bfh-flag-IM:empty,.bfh-flag-IN:empty,.bfh-flag-IQ:empty,.bfh-flag-IS:empty,.bfh-flag-IT:empty,.bfh-flag-JE:empty,.bfh-flag-JM:empty,.bfh-flag-JO:empty,.bfh-flag-JP:empty,.bfh-flag-KE:empty,.bfh-flag-KG:empty,.bfh-flag-KH:empty,.bfh-flag-KI:empty,.bfh-flag-KM:empty,.bfh-flag-KN:empty,.bfh-flag-KP:empty,.bfh-flag-KR:empty,.bfh-flag-KV:empty,.bfh-flag-KW:empty,.bfh-flag-KY:empty,.bfh-flag-LA:empty,.bfh-flag-LC:empty,.bfh-flag-LK:empty,.bfh-flag-LR:empty,.bfh-flag-LS:empty,.bfh-flag-LT:empty,.bfh-flag-LU:empty,.bfh-flag-LV:empty,.bfh-flag-LY:empty,.bfh-flag-MA:empty,.bfh-flag-ME:empty,.bfh-flag-MG:empty,.bfh-flag-MH:empty,.bfh-flag-ML:empty,.bfh-flag-MM:empty,.bfh-flag-MP:empty,.bfh-flag-MR:empty,.bfh-flag-MS:empty,.bfh-flag-MT:empty,.bfh-flag-MU:empty,.bfh-flag-MV:empty,.bfh-flag-MW:empty,.bfh-flag-MZ:empty,.bfh-flag-NA:empty,.bfh-flag-NE:empty,.bfh-flag-NF:empty,.bfh-flag-NG:empty,.bfh-flag-NI:empty,.bfh-flag-NL:empty,.bfh-flag-NO:empty,.bfh-flag-NP:empty,.bfh-flag-NR:empty,.bfh-flag-NZ:empty,.bfh-flag-OM:empty,.bfh-flag-PA:empty,.bfh-flag-PE:empty,.bfh-flag-PG:empty,.bfh-flag-PH:empty,.bfh-flag-PK:empty,.bfh-flag-PL:empty,.bfh-flag-PN:empty,.bfh-flag-PS:empty,.bfh-flag-PT:empty,.bfh-flag-PW:empty,.bfh-flag-PY:empty,.bfh-flag-QA:empty,.bfh-flag-RS:empty,.bfh-flag-RU:empty,.bfh-flag-RW:empty,.bfh-flag-SA:empty,.bfh-flag-SB:empty,.bfh-flag-SC:empty,.bfh-flag-SD:empty,.bfh-flag-SE:empty,.bfh-flag-SG:empty,.bfh-flag-SH:empty,.bfh-flag-SI:empty,.bfh-flag-SK:empty,.bfh-flag-SM:empty,.bfh-flag-SN:empty,.bfh-flag-SO:empty,.bfh-flag-SR:empty,.bfh-flag-SS:empty,.bfh-flag-ST:empty,.bfh-flag-SV:empty,.bfh-flag-SY:empty,.bfh-flag-SZ:empty,.bfh-flag-TC:empty,.bfh-flag-TD:empty,.bfh-flag-TG:empty,.bfh-flag-TH:empty,.bfh-flag-TJ:empty,.bfh-flag-TM:empty,.bfh-flag-TN:empty,.bfh-flag-TP:empty,.bfh-flag-TR:empty,.bfh-flag-TT:empty,.bfh-flag-TV:empty,.bfh-flag-TW:empty,.bfh-flag-TZ:empty,.bfh-flag-UA:empty,.bfh-flag-UG:empty,.bfh-flag-US:empty,.bfh-flag-UY:empty,.bfh-flag-UZ:empty,.bfh-flag-VC:empty,.bfh-flag-VE:empty,.bfh-flag-VG:empty,.bfh-flag-VI:empty,.bfh-flag-VN:empty,.bfh-flag-VU:empty,.bfh-flag-WS:empty,.bfh-flag-YE:empty,.bfh-flag-ZA:empty,.bfh-flag-ZM:empty,.bfh-flag-BF:empty,.bfh-flag-CU:empty,.bfh-flag-DE:empty,.bfh-flag-IR:empty,.bfh-flag-KZ:empty,.bfh-flag-LB:empty,.bfh-flag-LI:empty,.bfh-flag-MC:empty,.bfh-flag-MD:empty,.bfh-flag-MK:empty,.bfh-flag-MN:empty,.bfh-flag-MO:empty,.bfh-flag-MX:empty,.bfh-flag-MY:empty,.bfh-flag-PR:empty,.bfh-flag-RO:empty,.bfh-flag-SL:empty,.bfh-flag-TO:empty,.bfh-flag-VA:empty,.bfh-flag-ZW:empty{width:16px}.bfh-flag-AD,.bfh-flag-AE,.bfh-flag-AF,.bfh-flag-AG,.bfh-flag-AI,.bfh-flag-AL,.bfh-flag-AM,.bfh-flag-AN,.bfh-flag-AO,.bfh-flag-AQ,.bfh-flag-AR,.bfh-flag-AS,.bfh-flag-AT,.bfh-flag-AU,.bfh-flag-AW,.bfh-flag-AX,.bfh-flag-AZ,.bfh-flag-BA,.bfh-flag-BB,.bfh-flag-BD,.bfh-flag-BE,.bfh-flag-BG,.bfh-flag-BH,.bfh-flag-BI,.bfh-flag-BJ,.bfh-flag-BL,.bfh-flag-BM,.bfh-flag-BN,.bfh-flag-BO,.bfh-flag-BR,.bfh-flag-BS,.bfh-flag-BT,.bfh-flag-BW,.bfh-flag-BY,.bfh-flag-BZ,.bfh-flag-CA,.bfh-flag-CD,.bfh-flag-CF,.bfh-flag-CG,.bfh-flag-CH,.bfh-flag-CI,.bfh-flag-CL,.bfh-flag-CM,.bfh-flag-CN,.bfh-flag-CO,.bfh-flag-CR,.bfh-flag-CV,.bfh-flag-CY,.bfh-flag-CZ,.bfh-flag-DJ,.bfh-flag-DK,.bfh-flag-DM,.bfh-flag-DO,.bfh-flag-DZ,.bfh-flag-EC,.bfh-flag-EE,.bfh-flag-EG,.bfh-flag-EH,.bfh-flag-ER,.bfh-flag-ES,.bfh-flag-ET,.bfh-flag-EU,.bfh-flag-FI,.bfh-flag-FJ,.bfh-flag-FK,.bfh-flag-FM,.bfh-flag-FO,.bfh-flag-FR,.bfh-flag-FX,.bfh-flag-GF,.bfh-flag-GP,.bfh-flag-MQ,.bfh-flag-NC,.bfh-flag-PF,.bfh-flag-PM,.bfh-flag-RE,.bfh-flag-TF,.bfh-flag-WF,.bfh-flag-GA,.bfh-flag-GB,.bfh-flag-GD,.bfh-flag-GE,.bfh-flag-GG,.bfh-flag-GH,.bfh-flag-GL,.bfh-flag-GM,.bfh-flag-GN,.bfh-flag-GQ,.bfh-flag-GR,.bfh-flag-GS,.bfh-flag-GT,.bfh-flag-GU,.bfh-flag-GW,.bfh-flag-GY,.bfh-flag-HK,.bfh-flag-HN,.bfh-flag-HR,.bfh-flag-HT,.bfh-flag-HU,.bfh-flag-ID,.bfh-flag-IE,.bfh-flag-IL,.bfh-flag-IM,.bfh-flag-IN,.bfh-flag-IQ,.bfh-flag-IS,.bfh-flag-IT,.bfh-flag-JE,.bfh-flag-JM,.bfh-flag-JO,.bfh-flag-JP,.bfh-flag-KE,.bfh-flag-KG,.bfh-flag-KH,.bfh-flag-KI,.bfh-flag-KM,.bfh-flag-KN,.bfh-flag-KP,.bfh-flag-KR,.bfh-flag-KV,.bfh-flag-KW,.bfh-flag-KY,.bfh-flag-LA,.bfh-flag-LC,.bfh-flag-LK,.bfh-flag-LR,.bfh-flag-LS,.bfh-flag-LT,.bfh-flag-LU,.bfh-flag-LV,.bfh-flag-LY,.bfh-flag-MA,.bfh-flag-ME,.bfh-flag-MG,.bfh-flag-MH,.bfh-flag-ML,.bfh-flag-MM,.bfh-flag-MP,.bfh-flag-MR,.bfh-flag-MS,.bfh-flag-MT,.bfh-flag-MU,.bfh-flag-MV,.bfh-flag-MW,.bfh-flag-MZ,.bfh-flag-NA,.bfh-flag-NE,.bfh-flag-NF,.bfh-flag-NG,.bfh-flag-NI,.bfh-flag-NL,.bfh-flag-NO,.bfh-flag-NP,.bfh-flag-NR,.bfh-flag-NZ,.bfh-flag-OM,.bfh-flag-PA,.bfh-flag-PE,.bfh-flag-PG,.bfh-flag-PH,.bfh-flag-PK,.bfh-flag-PL,.bfh-flag-PN,.bfh-flag-PS,.bfh-flag-PT,.bfh-flag-PW,.bfh-flag-PY,.bfh-flag-QA,.bfh-flag-RS,.bfh-flag-RU,.bfh-flag-RW,.bfh-flag-SA,.bfh-flag-SB,.bfh-flag-SC,.bfh-flag-SD,.bfh-flag-SE,.bfh-flag-SG,.bfh-flag-SH,.bfh-flag-SI,.bfh-flag-SK,.bfh-flag-SM,.bfh-flag-SN,.bfh-flag-SO,.bfh-flag-SR,.bfh-flag-SS,.bfh-flag-ST,.bfh-flag-SV,.bfh-flag-SY,.bfh-flag-SZ,.bfh-flag-TC,.bfh-flag-TD,.bfh-flag-TG,.bfh-flag-TH,.bfh-flag-TJ,.bfh-flag-TM,.bfh-flag-TN,.bfh-flag-TP,.bfh-flag-TR,.bfh-flag-TT,.bfh-flag-TV,.bfh-flag-TW,.bfh-flag-TZ,.bfh-flag-UA,.bfh-flag-UG,.bfh-flag-US,.bfh-flag-UY,.bfh-flag-UZ,.bfh-flag-VC,.bfh-flag-VE,.bfh-flag-VG,.bfh-flag-VI,.bfh-flag-VN,.bfh-flag-VU,.bfh-flag-WS,.bfh-flag-YE,.bfh-flag-ZA,.bfh-flag-ZM,.bfh-flag-BF,.bfh-flag-CU,.bfh-flag-DE,.bfh-flag-IR,.bfh-flag-KZ,.bfh-flag-LB,.bfh-flag-LI,.bfh-flag-MC,.bfh-flag-MD,.bfh-flag-MK,.bfh-flag-MN,.bfh-flag-MO,.bfh-flag-MX,.bfh-flag-MY,.bfh-flag-PR,.bfh-flag-RO,.bfh-flag-SL,.bfh-flag-TO,.bfh-flag-VA,.bfh-flag-ZW,.bfh-flag-EUR,.bfh-flag-XCD{margin-right:25px}.bfh-flag-AD{background-position:-1921px 0}.bfh-flag-AE{background-position:-1904px 0}.bfh-flag-AF{background-position:-3689px 0}.bfh-flag-AG{background-position:-34px 0}.bfh-flag-AI{background-position:-51px 0}.bfh-flag-AL{background-position:-68px 0}.bfh-flag-AM{background-position:-85px 0}.bfh-flag-AN{background-position:-102px 0}.bfh-flag-AO{background-position:-119px 0}.bfh-flag-AQ{background-position:-136px 0}.bfh-flag-AR{background-position:-153px 0}.bfh-flag-AS{background-position:-170px 0}.bfh-flag-AT{background-position:-187px 0}.bfh-flag-AU{background-position:-204px 0}.bfh-flag-AW{background-position:-221px 0}.bfh-flag-AX{background-position:-238px 0}.bfh-flag-AZ{background-position:-255px 0}.bfh-flag-BA{background-position:-272px 0}.bfh-flag-BB{background-position:-289px 0}.bfh-flag-BD{background-position:-306px 0}.bfh-flag-BE{background-position:-323px 0}.bfh-flag-BG{background-position:-340px 0}.bfh-flag-BH{background-position:-357px 0}.bfh-flag-BI{background-position:-374px 0}.bfh-flag-BJ{background-position:-391px 0}.bfh-flag-BL{background-position:-408px 0}.bfh-flag-BM{background-position:-425px 0}.bfh-flag-BN{background-position:-442px 0}.bfh-flag-BO{background-position:-459px 0}.bfh-flag-BR{background-position:-476px 0}.bfh-flag-BS{background-position:-493px 0}.bfh-flag-BT{background-position:-510px 0}.bfh-flag-BW{background-position:-527px 0}.bfh-flag-BY{background-position:-544px 0}.bfh-flag-BZ{background-position:-561px 0}.bfh-flag-CA{background-position:-578px 0}.bfh-flag-CD{background-position:-595px 0}.bfh-flag-CF{background-position:-612px 0}.bfh-flag-CG{background-position:-629px 0}.bfh-flag-CH{background-position:-646px 0}.bfh-flag-CI{background-position:-663px 0}.bfh-flag-CL{background-position:-680px 0}.bfh-flag-CM{background-position:-697px 0}.bfh-flag-CN{background-position:-714px 0}.bfh-flag-CO{background-position:-731px 0}.bfh-flag-CR{background-position:-748px 0}.bfh-flag-CV{background-position:-765px 0}.bfh-flag-CY{background-position:-782px 0}.bfh-flag-CZ{background-position:-799px 0}.bfh-flag-DJ{background-position:-816px 0}.bfh-flag-DK{background-position:-833px 0}.bfh-flag-DM{background-position:-850px 0}.bfh-flag-DO{background-position:-867px 0}.bfh-flag-DZ{background-position:-884px 0}.bfh-flag-EC{background-position:-901px 0}.bfh-flag-EE{background-position:-918px 0}.bfh-flag-EG{background-position:-935px 0}.bfh-flag-EH{background-position:-952px 0}.bfh-flag-ER{background-position:-969px 0}.bfh-flag-ES{background-position:-986px 0}.bfh-flag-ET{background-position:-1003px 0}.bfh-flag-EU{background-position:-1020px 0}.bfh-flag-FI{background-position:-1037px 0}.bfh-flag-FJ{background-position:-1054px 0}.bfh-flag-FK{background-position:-1071px 0}.bfh-flag-FM{background-position:-1088px 0}.bfh-flag-FO{background-position:-1105px 0}.bfh-flag-FR,.bfh-flag-FX,.bfh-flag-GF,.bfh-flag-GP,.bfh-flag-MQ,.bfh-flag-NC,.bfh-flag-PF,.bfh-flag-PM,.bfh-flag-RE,.bfh-flag-TF,.bfh-flag-WF{background-position:-1122px 0}.bfh-flag-GA{background-position:-1139px 0}.bfh-flag-GB{background-position:-1156px 0}.bfh-flag-GD{background-position:-1173px 0}.bfh-flag-GE{background-position:-1190px 0}.bfh-flag-GG{background-position:-1207px 0}.bfh-flag-GH{background-position:-1224px 0}.bfh-flag-GL{background-position:-1241px 0}.bfh-flag-GM{background-position:-1258px 0}.bfh-flag-GN{background-position:-1275px 0}.bfh-flag-GQ{background-position:-1292px 0}.bfh-flag-GR{background-position:-1309px 0}.bfh-flag-GS{background-position:-1326px 0}.bfh-flag-GT{background-position:-1343px 0}.bfh-flag-GU{background-position:-1360px 0}.bfh-flag-GW{background-position:-1377px 0}.bfh-flag-GY{background-position:-1394px 0}.bfh-flag-HK{background-position:-1411px 0}.bfh-flag-HN{background-position:-1428px 0}.bfh-flag-HR{background-position:-1445px 0}.bfh-flag-HT{background-position:-1462px 0}.bfh-flag-HU{background-position:-1479px 0}.bfh-flag-ID{background-position:-1496px 0}.bfh-flag-IE{background-position:-1513px 0}.bfh-flag-IL{background-position:-1530px 0}.bfh-flag-IM{background-position:-1547px 0}.bfh-flag-IN{background-position:-1564px 0}.bfh-flag-IQ{background-position:-1581px 0}.bfh-flag-IS{background-position:-1598px 0}.bfh-flag-IT{background-position:-1615px 0}.bfh-flag-JE{background-position:-1632px 0}.bfh-flag-JM{background-position:-1649px 0}.bfh-flag-JO{background-position:-1666px 0}.bfh-flag-JP{background-position:-1683px 0}.bfh-flag-KE{background-position:-1700px 0}.bfh-flag-KG{background-position:-1717px 0}.bfh-flag-KH{background-position:-1734px 0}.bfh-flag-KI{background-position:-1751px 0}.bfh-flag-KM{background-position:-1768px 0}.bfh-flag-KN{background-position:-1785px 0}.bfh-flag-KP{background-position:-1802px 0}.bfh-flag-KR{background-position:-1819px 0}.bfh-flag-KV{background-position:-1836px 0}.bfh-flag-KW{background-position:-1853px 0}.bfh-flag-KY{background-position:-1870px 0}.bfh-flag-LA{background-position:-1887px 0}.bfh-flag-LC{background-position:0 0}.bfh-flag-LK{background-position:-17px 0}.bfh-flag-LR{background-position:-1938px 0}.bfh-flag-LS{background-position:-1955px 0}.bfh-flag-LT{background-position:-1972px 0}.bfh-flag-LU{background-position:-1989px 0}.bfh-flag-LV{background-position:-2006px 0}.bfh-flag-LY{background-position:-2023px 0}.bfh-flag-MA{background-position:-2040px 0}.bfh-flag-ME{background-position:-2057px 0}.bfh-flag-MG{background-position:-2074px 0}.bfh-flag-MH{background-position:-2091px 0}.bfh-flag-ML{background-position:-2108px 0}.bfh-flag-MM{background-position:-2125px 0}.bfh-flag-MP{background-position:-2142px 0}.bfh-flag-MR{background-position:-2159px 0}.bfh-flag-MS{background-position:-2176px 0}.bfh-flag-MT{background-position:-2193px 0}.bfh-flag-MU{background-position:-2210px 0}.bfh-flag-MV{background-position:-2227px 0}.bfh-flag-MW{background-position:-2244px 0}.bfh-flag-MZ{background-position:-2261px 0}.bfh-flag-NA{background-position:-2278px 0}.bfh-flag-NE{background-position:-2295px 0}.bfh-flag-NF{background-position:-2312px 0}.bfh-flag-NG{background-position:-2329px 0}.bfh-flag-NI{background-position:-2346px 0}.bfh-flag-NL{background-position:-2363px 0}.bfh-flag-NO{background-position:-2380px 0}.bfh-flag-NP{background-position:-2397px 0}.bfh-flag-NR{background-position:-2414px 0}.bfh-flag-NZ{background-position:-2431px 0}.bfh-flag-OM{background-position:-2448px 0}.bfh-flag-PA{background-position:-2465px 0}.bfh-flag-PE{background-position:-2482px 0}.bfh-flag-PG{background-position:-2499px 0}.bfh-flag-PH{background-position:-2516px 0}.bfh-flag-PK{background-position:-2533px 0}.bfh-flag-PL{background-position:-2550px 0}.bfh-flag-PN{background-position:-2567px 0}.bfh-flag-PS{background-position:-2584px 0}.bfh-flag-PT{background-position:-2601px 0}.bfh-flag-PW{background-position:-2618px 0}.bfh-flag-PY{background-position:-2635px 0}.bfh-flag-QA{background-position:-2652px 0}.bfh-flag-RS{background-position:-2669px 0}.bfh-flag-RU{background-position:-2686px 0}.bfh-flag-RW{background-position:-2703px 0}.bfh-flag-SA{background-position:-2720px 0}.bfh-flag-SB{background-position:-2737px 0}.bfh-flag-SC{background-position:-2754px 0}.bfh-flag-SD{background-position:-2771px 0}.bfh-flag-SE{background-position:-2788px 0}.bfh-flag-SG{background-position:-2805px 0}.bfh-flag-SH{background-position:-2822px 0}.bfh-flag-SI{background-position:-2839px 0}.bfh-flag-SK{background-position:-2856px 0}.bfh-flag-SM{background-position:-2873px 0}.bfh-flag-SN{background-position:-2890px 0}.bfh-flag-SO{background-position:-2907px 0}.bfh-flag-SR{background-position:-2924px 0}.bfh-flag-SS{background-position:-2941px 0}.bfh-flag-ST{background-position:-2958px 0}.bfh-flag-SV{background-position:-2975px 0}.bfh-flag-SY{background-position:-2992px 0}.bfh-flag-SZ{background-position:-3009px 0}.bfh-flag-TC{background-position:-3026px 0}.bfh-flag-TD{background-position:-3043px 0}.bfh-flag-TG{background-position:-3060px 0}.bfh-flag-TH{background-position:-3077px 0}.bfh-flag-TJ{background-position:-3094px 0}.bfh-flag-TM{background-position:-3111px 0}.bfh-flag-TN{background-position:-3128px 0}.bfh-flag-TP{background-position:-3145px 0}.bfh-flag-TR{background-position:-3162px 0}.bfh-flag-TT{background-position:-3179px 0}.bfh-flag-TV{background-position:-3196px 0}.bfh-flag-TW{background-position:-3213px 0}.bfh-flag-TZ{background-position:-3230px 0}.bfh-flag-UA{background-position:-3247px 0}.bfh-flag-UG{background-position:-3264px 0}.bfh-flag-US{background-position:-3281px 0}.bfh-flag-UY{background-position:-3298px 0}.bfh-flag-UZ{background-position:-3315px 0}.bfh-flag-VC{background-position:-3332px 0}.bfh-flag-VE{background-position:-3349px 0}.bfh-flag-VG{background-position:-3366px 0}.bfh-flag-VI{background-position:-3383px 0}.bfh-flag-VN{background-position:-3400px 0}.bfh-flag-VU{background-position:-3417px 0}.bfh-flag-WS{background-position:-3434px 0}.bfh-flag-YE{background-position:-3451px 0}.bfh-flag-ZA{background-position:-3468px 0}.bfh-flag-ZM{background-position:-3485px 0}.bfh-flag-BF{background-position:-3502px 0}.bfh-flag-CU{background-position:-3519px 0}.bfh-flag-DE{background-position:-3536px 0}.bfh-flag-IR{background-position:-3553px 0}.bfh-flag-KZ{background-position:-3570px 0}.bfh-flag-LB{background-position:-3587px 0}.bfh-flag-LI{background-position:-3604px 0}.bfh-flag-MC{background-position:-3621px 0}.bfh-flag-MD{background-position:-3638px 0}.bfh-flag-MK{background-position:-3655px 0}.bfh-flag-MN{background-position:-3672px 0}.bfh-flag-MO{background-position:-3706px 0}.bfh-flag-MX{background-position:-3723px 0}.bfh-flag-MY{background-position:-3740px 0}.bfh-flag-PR{background-position:-3757px 0}.bfh-flag-RO{background-position:-3774px 0}.bfh-flag-SL{background-position:-3791px 0}.bfh-flag-TO{background-position:-3808px 0}.bfh-flag-VA{background-position:-3825px 0}.bfh-flag-ZW{background-position:-3842px 0}.bfh-flag-EUR{background:url(../img/eu.png) no-repeat}.bfh-flag-XCD{background:url(../img/xcd.png) no-repeat}.bfh-flag-AUD,.bfh-flag-CHF,.bfh-flag-DKK,.bfh-flag-EUR,.bfh-flag-XAF,.bfh-flag-XCD,.bfh-flag-XOF,.bfh-flag-XPF,.bfh-flag-ZAR{width:16px;height:14px;background:url(../img/bootstrap-formhelpers-currencies.flags.png) no-repeat}.bfh-flag-AUD:empty,.bfh-flag-CHF:empty,.bfh-flag-DKK:empty,.bfh-flag-EUR:empty,.bfh-flag-XAF:empty,.bfh-flag-XCD:empty,.bfh-flag-XOF:empty,.bfh-flag-XPF:empty,.bfh-flag-ZAR:empty{width:16px}.bfh-flag-AUD,.bfh-flag-CHF,.bfh-flag-DKK,.bfh-flag-EUR,.bfh-flag-XAF,.bfh-flag-XCD,.bfh-flag-XOF,.bfh-flag-XPF,.bfh-flag-ZAR{margin-right:5px}.bfh-flag-AUD{background-position:-32px 0}.bfh-flag-CHF{background-position:-224px 0}.bfh-flag-DKK{background-position:-64px -16px}.bfh-flag-EUR{background-position:-96px -16px}.bfh-flag-XAF{background-position:-160px -80px}.bfh-flag-XCD{background-position:-176px -80px}.bfh-flag-XOF{background-position:-192px -80px}.bfh-flag-XPF{background-position:-208px -80px}.bfh-flag-ZAR{background-position:-224px -80px}.bfh-selectbox{position:relative}.bfh-selectbox .bfh-selectbox-toggle{display:inline-block;padding:6px 24px 6px 12px;text-decoration:none}.bfh-selectbox .bfh-selectbox-toggle:focus{outline:0}.bfh-selectbox .bfh-selectbox-toggle .bfh-selectbox-option{display:inline-block;float:left;width:100%;height:20px;overflow:hidden;text-overflow:ellipsis}.bfh-selectbox .bfh-selectbox-toggle .selectbox-caret{float:right;margin-top:8px;margin-right:-16px;margin-left:-10px}.bfh-selectbox .bfh-selectbox-options{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:90px;padding:5px 0;margin:-1px 0 0;font-size:14px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175);background-clip:padding-box}.bfh-selectbox .bfh-selectbox-options.pull-right{right:0;left:auto}.bfh-selectbox .bfh-selectbox-options .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}.bfh-selectbox .bfh-selectbox-options .bfh-selectbox-filter-container{width:100%;padding:5px}.bfh-selectbox .bfh-selectbox-options ul{max-width:500px;max-height:200px;padding:0;overflow-x:hidden;overflow-y:auto;list-style:none}.bfh-selectbox .bfh-selectbox-options ul li>a{display:block;width:100%;min-height:26px;padding:10px;overflow-x:hidden;clear:both;font-weight:normal;line-height:1.428571429;color:#333;text-overflow:ellipsis;white-space:nowrap}.bfh-selectbox .bfh-selectbox-options ul li>a:hover,.bfh-selectbox .bfh-selectbox-options ul li>a:focus{color:#262626;text-decoration:none;background-color:#f5f5f5}.bfh-selectbox .bfh-selectbox-options ul .bfh-selectbox-options-header{display:block;padding:3px 20px;font-size:12px;line-height:1.428571429;color:#999}.bfh-selectbox .bfh-selectbox-options ul .disabled>a{color:#999}.bfh-selectbox .bfh-selectbox-options ul .disabled>a:hover,.bfh-selectbox .bfh-selectbox-options ul .disabled>a:focus{color:#999;text-decoration:none;cursor:not-allowed;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}.bfh-selectbox.open>.bfh-selectbox-options{display:block}.bfh-selectbox.open a{outline:0}.pull-right>.bfh-selectbox-options{right:0;left:auto}.bfh-selectbox-up .caret,.navbar-fixed-bottom .bfh-selectbox .caret{border-top:0 dotted;border-bottom:4px solid #000;content:""}.bfh-selectbox-up .bfh-selectbox-options,.navbar-fixed-bottom .bfh-selectbox .bfh-selectbox-options{top:auto;bottom:100%;margin-bottom:1px}@media (min-width: 768px){.navbar-right .bfh-selectbox-options{right:0;left:auto}}.bfh-googlefonts .bfh-selectbox-options a{width:230px;height:30px;text-indent:-9999px;background-image:url(../img/bootstrap-formhelpers-googlefonts.png)}.bfh-googlefonts .bfh-selectbox-options a:focus{background-color:transparent;background-repeat:no-repeat;outline:0;-webkit-filter:none;filter:none}.bfh-googlefonts .bfh-selectbox-options .active>a,.bfh-googlefonts .bfh-selectbox-options .active>a:hover{background-color:transparent;background-image:url(../img/bootstrap-formhelpers-googlefonts.png);background-repeat:no-repeat;outline:0;-webkit-filter:none;filter:none}.bfh-datepicker-calendar{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:296px}.bfh-datepicker-calendar>table.calendar{width:376px;background:#fff}.bfh-datepicker-calendar>table.calendar .months-header>th{font-size:12px;text-align:center}.bfh-datepicker-calendar>table.calendar .months-header>th.month>span{display:inline-block;width:100px}.bfh-datepicker-calendar>table.calendar .months-header>th.year>span{display:inline-block;width:50px}.bfh-datepicker-calendar>table.calendar .days-header>th{width:30px;font-size:11px;line-height:12px;text-align:center}.bfh-datepicker-calendar>table.calendar>tbody>tr>td{width:30px;font-size:11px;line-height:12px;text-align:center}.bfh-datepicker-calendar>table.calendar>tbody>tr>td.today{color:#fff;background-color:#428bca}.bfh-datepicker-calendar>table.calendar>tbody>tr>td.off{color:#999}.bfh-datepicker-calendar>table.calendar>tbody>tr>td:not(.off):hover{color:#262626;cursor:pointer;background-color:#f5f5f5}.bfh-datepicker{position:relative}.bfh-datepicker-toggle{*margin-bottom:-3px}.bfh-datepicker-toggle>input[readonly]{cursor:inherit;background-color:inherit}.open>.bfh-datepicker-calendar{display:block}.bfh-timepicker-popover{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:100px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175);background-clip:padding-box}.bfh-timepicker-popover>table{width:180px;margin:0}.bfh-timepicker-popover>table>tbody>tr>td{text-align:center;border:0}.bfh-timepicker-popover>table>tbody>tr>td.separator{font-size:20px;font-weight:bold;line-height:28px}.bfh-timepicker-popover>table>tbody>tr>td>div>input{width:42px !important;text-align:center}.bfh-timepicker{position:relative}.bfh-timepicker-toggle{*margin-bottom:-3px}.bfh-timepicker-toggle>input[readonly]{cursor:inherit;background-color:inherit}.open>.bfh-timepicker-popover{display:block}.bfh-slider{height:20px;margin-top:8px;margin-bottom:23px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none}.bfh-slider>.bfh-slider-handle{position:absolute;width:20px;height:34px;margin-top:-7px;cursor:col-resize;background:#efefef;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px}.bfh-slider>.bfh-slider-handle>.bfh-slider-value{position:absolute;width:48px;height:20px;margin-top:5px;margin-left:-15px;line-height:20px;text-align:center;cursor:col-resize;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px}.bfh-slider>.bfh-slider-handle>.bfh-slider-value .disabled{color:#999}.bfh-slider.disabled .bfh-slider-value{color:#999}.bfh-colorpicker-popover{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:100px;padding:20px;cursor:default;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175);background-clip:padding-box}.bfh-colorpicker-popover>canvas{width:384px;height:256px}.bfh-colorpicker{position:relative}.bfh-colorpicker-toggle{*margin-bottom:-3px}.bfh-colorpicker-toggle>input[readonly]{cursor:inherit;background-color:inherit}.bfh-colorpicker-toggle .bfh-colorpicker-icon{display:block;width:16px;height:16px}.open>.bfh-colorpicker-popover{display:block}.input-group>.bfh-number{border-right:0}.input-group>.bfh-number-btn:hover{background-color:#ccc}

 /* tyoehead */

 .twitter-typeahead .tt-hint{height:34px;font-size:14px;background-color:#fff;border-bottom-color:#ccc;border-bottom-left-radius:4px;border-bottom-right-radius:4px;border-bottom-style:solid;border-bottom-width:1px;border-image-outset:0px;border-image-repeat:stretch;border-image-slice:100%;border-image-source:none;border-image-width:1;border-left-color:#ccc;border-left-style:solid;border-left-width:1px;border-right-color:#ccc;border-right-style:solid;border-right-width:1px;border-top-color:#ccc;border-top-left-radius:4px;border-top-right-radius:4px;border-top-style:solid;border-top-width:1px;-webkit-box-shadow:rgba(0,0,0,0.0745098) 0px 1px 1px 0px inset;box-shadow:rgba(0,0,0,0.0745098) 0px 1px 1px 0px inset;color:#555;cursor:auto;width:350px}.twitter-typeahead .enviaya-input{-webkit-appearance:none;-webkit-box-shadow:rgba(0,0,0,0.0745098) 0 1px 1px 0 inset;-webkit-rtl-ordering:logical;-webkit-transition-delay:0s,0s;-webkit-transition-duration:.2s,.2s;-webkit-transition-property:border,box-shadow;-webkit-transition-timing-function:linear,linear;-webkit-user-select:text;-webkit-writing-mode:horizontal-tb;border-color:#ccc;border-radius:4px;border-style:solid;border-width:1px;border-image-outset:0;border-image-repeat:stretch;border-image-slice:100%;border-image-source:none;border-image-width:1;box-shadow:rgba(0,0,0,0.0745098) 0 1px 1px 0 inset;color:#555;cursor:auto;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;height:34px;letter-spacing:normal;line-height:20px;margin:0 0 10px;padding:4px 6px;text-align:start;text-indent:0;text-shadow:none;text-transform:none;transition-delay:0s,0s;transition-duration:.2s,.2s;-webkit-transition-property:border,-webkit-box-shadow;transition-property:border,-webkit-box-shadow;transition-property:border,box-shadow;transition-property:border,box-shadow,-webkit-box-shadow;transition-timing-function:linear,linear;vertical-align:middle;word-spacing:0;-webkit-writing-mode:lr-tb;-ms-writing-mode:lr-tb;writing-mode:lr-tb;background:#FFF !important}.tt-suggestion{white-space:nowrap;display:block;padding:3px 20px;line-height:16px}.tt-suggestion:hover{color:#fff;background-color:#0081c2;cursor:pointer}.tt-highlight{color:#0072A4}.scrollable-dropdown-menu .tt-menu{min-width:100%;max-height:250px;overflow-y:auto}.tt-dropdown-menu,.tt-menu{font-family:'Open Sans', arial, sans-serif;font-size:15px;margin-top:2px;padding:5px 0;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);background-clip:padding-box}

 /* intelInput */

 .intl-tel-input {
    position: relative;
    display: inline-block
}

.intl-tel-input * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.intl-tel-input .hide {
    display: none
}

.intl-tel-input .v-hide {
    visibility: hidden
}

.intl-tel-input input,
.intl-tel-input input[type=text],
.intl-tel-input input[type=tel] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0
}

.intl-tel-input .flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px
}

.intl-tel-input .selected-flag {
    z-index: 1;
    position: relative;
    width: 36px;
    height: 100%;
    padding: 0 0 0 8px
}

.intl-tel-input .selected-flag .iti-flag {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto
}

.intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555
}

.intl-tel-input .selected-flag .iti-arrow.up {
    border-top: none;
    border-bottom: 4px solid #555
}

.intl-tel-input .country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll
}

.intl-tel-input .country-list.dropup {
    bottom: 100%;
    margin-bottom: -1px
}

.intl-tel-input .country-list .flag-box {
    display: inline-block;
    width: 20px
}

@media (max-width: 500px) {
    .intl-tel-input .country-list {
        white-space: normal
    }
}

.intl-tel-input .country-list .divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC
}

.intl-tel-input .country-list .country {
    padding: 5px 10px
}

.intl-tel-input .country-list .country .dial-code {
    color: #999
}

.intl-tel-input .country-list .country.highlight {
    background-color: rgba(0, 0, 0, 0.05)
}

.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .dial-code {
    vertical-align: middle
}

.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name {
    margin-right: 6px
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel] {
    padding-right: 6px;
    margin-left: 0
}

.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
    right: auto;
    left: 0
}

.intl-tel-input.allow-dropdown .selected-flag,
.intl-tel-input.separate-dial-code .selected-flag {
    width: 46px
}

.intl-tel-input.allow-dropdown .flag-container:hover {
    cursor: pointer
}

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background-color: rgba(0, 0, 0, 0.05)
}

.intl-tel-input.allow-dropdown input[disabled]+.flag-container:hover,
.intl-tel-input.allow-dropdown input[readonly]+.flag-container:hover {
    cursor: default
}

.intl-tel-input.allow-dropdown input[disabled]+.flag-container:hover .selected-flag,
.intl-tel-input.allow-dropdown input[readonly]+.flag-container:hover .selected-flag {
    background-color: transparent
}

.intl-tel-input.separate-dial-code .selected-flag {
    background-color: rgba(0, 0, 0, 0.05);
    display: table
}

.intl-tel-input.separate-dial-code .selected-dial-code {
    display: table-cell;
    vertical-align: middle;
    padding-left: 28px
}

.intl-tel-input.separate-dial-code.iti-sdc-2 input,
.intl-tel-input.separate-dial-code.iti-sdc-2 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-2 input[type=tel] {
    padding-left: 66px
}

.intl-tel-input.separate-dial-code.iti-sdc-2 .selected-flag {
    width: 60px
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=tel] {
    padding-left: 76px
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 .selected-flag {
    width: 70px
}

.intl-tel-input.separate-dial-code.iti-sdc-3 input,
.intl-tel-input.separate-dial-code.iti-sdc-3 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-3 input[type=tel] {
    padding-left: 74px
}

.intl-tel-input.separate-dial-code.iti-sdc-3 .selected-flag {
    width: 68px
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel] {
    padding-left: 84px
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
    width: 78px
}

.intl-tel-input.separate-dial-code.iti-sdc-4 input,
.intl-tel-input.separate-dial-code.iti-sdc-4 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-4 input[type=tel] {
    padding-left: 82px
}

.intl-tel-input.separate-dial-code.iti-sdc-4 .selected-flag {
    width: 76px
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=tel] {
    padding-left: 92px
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag {
    width: 86px
}

.intl-tel-input.separate-dial-code.iti-sdc-5 input,
.intl-tel-input.separate-dial-code.iti-sdc-5 input[type=text],
.intl-tel-input.separate-dial-code.iti-sdc-5 input[type=tel] {
    padding-left: 90px
}

.intl-tel-input.separate-dial-code.iti-sdc-5 .selected-flag {
    width: 84px
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=text],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=tel] {
    padding-left: 100px
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 .selected-flag {
    width: 94px
}

.intl-tel-input.iti-container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px
}

.intl-tel-input.iti-container:hover {
    cursor: pointer
}

.iti-mobile .intl-tel-input.iti-container {
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    position: fixed
}

.iti-mobile .intl-tel-input .country-list {
    max-height: 100%;
    width: 100%
}

.iti-mobile .intl-tel-input .country-list .country {
    padding: 10px 10px;
    line-height: 1.5em
}

.iti-flag {
    width: 20px
}

.iti-flag.be {
    width: 18px
}

.iti-flag.ch {
    width: 15px
}

.iti-flag.mc {
    width: 19px
}

.iti-flag.ne {
    width: 18px
}

.iti-flag.np {
    width: 13px
}

.iti-flag.va {
    width: 15px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-size: 5630px 15px
    }
}

.iti-flag.ac {
    height: 10px;
    background-position: 0px 0px
}

.iti-flag.ad {
    height: 14px;
    background-position: -22px 0px
}

.iti-flag.ae {
    height: 10px;
    background-position: -44px 0px
}

.iti-flag.af {
    height: 14px;
    background-position: -66px 0px
}

.iti-flag.ag {
    height: 14px;
    background-position: -88px 0px
}

.iti-flag.ai {
    height: 10px;
    background-position: -110px 0px
}

.iti-flag.al {
    height: 15px;
    background-position: -132px 0px
}

.iti-flag.am {
    height: 10px;
    background-position: -154px 0px
}

.iti-flag.ao {
    height: 14px;
    background-position: -176px 0px
}

.iti-flag.aq {
    height: 14px;
    background-position: -198px 0px
}

.iti-flag.ar {
    height: 13px;
    background-position: -220px 0px
}

.iti-flag.as {
    height: 10px;
    background-position: -242px 0px
}

.iti-flag.at {
    height: 14px;
    background-position: -264px 0px
}

.iti-flag.au {
    height: 10px;
    background-position: -286px 0px
}

.iti-flag.aw {
    height: 14px;
    background-position: -308px 0px
}

.iti-flag.ax {
    height: 13px;
    background-position: -330px 0px
}

.iti-flag.az {
    height: 10px;
    background-position: -352px 0px
}

.iti-flag.ba {
    height: 10px;
    background-position: -374px 0px
}

.iti-flag.bb {
    height: 14px;
    background-position: -396px 0px
}

.iti-flag.bd {
    height: 12px;
    background-position: -418px 0px
}

.iti-flag.be {
    height: 15px;
    background-position: -440px 0px
}

.iti-flag.bf {
    height: 14px;
    background-position: -460px 0px
}

.iti-flag.bg {
    height: 12px;
    background-position: -482px 0px
}

.iti-flag.bh {
    height: 12px;
    background-position: -504px 0px
}

.iti-flag.bi {
    height: 12px;
    background-position: -526px 0px
}

.iti-flag.bj {
    height: 14px;
    background-position: -548px 0px
}

.iti-flag.bl {
    height: 14px;
    background-position: -570px 0px
}

.iti-flag.bm {
    height: 10px;
    background-position: -592px 0px
}

.iti-flag.bn {
    height: 10px;
    background-position: -614px 0px
}

.iti-flag.bo {
    height: 14px;
    background-position: -636px 0px
}

.iti-flag.bq {
    height: 14px;
    background-position: -658px 0px
}

.iti-flag.br {
    height: 14px;
    background-position: -680px 0px
}

.iti-flag.bs {
    height: 10px;
    background-position: -702px 0px
}

.iti-flag.bt {
    height: 14px;
    background-position: -724px 0px
}

.iti-flag.bv {
    height: 15px;
    background-position: -746px 0px
}

.iti-flag.bw {
    height: 14px;
    background-position: -768px 0px
}

.iti-flag.by {
    height: 10px;
    background-position: -790px 0px
}

.iti-flag.bz {
    height: 14px;
    background-position: -812px 0px
}

.iti-flag.ca {
    height: 10px;
    background-position: -834px 0px
}

.iti-flag.cc {
    height: 10px;
    background-position: -856px 0px
}

.iti-flag.cd {
    height: 15px;
    background-position: -878px 0px
}

.iti-flag.cf {
    height: 14px;
    background-position: -900px 0px
}

.iti-flag.cg {
    height: 14px;
    background-position: -922px 0px
}

.iti-flag.ch {
    height: 15px;
    background-position: -944px 0px
}

.iti-flag.ci {
    height: 14px;
    background-position: -961px 0px
}

.iti-flag.ck {
    height: 10px;
    background-position: -983px 0px
}

.iti-flag.cl {
    height: 14px;
    background-position: -1005px 0px
}

.iti-flag.cm {
    height: 14px;
    background-position: -1027px 0px
}

.iti-flag.cn {
    height: 14px;
    background-position: -1049px 0px
}

.iti-flag.co {
    height: 14px;
    background-position: -1071px 0px
}

.iti-flag.cp {
    height: 14px;
    background-position: -1093px 0px
}

.iti-flag.cr {
    height: 12px;
    background-position: -1115px 0px
}

.iti-flag.cu {
    height: 10px;
    background-position: -1137px 0px
}

.iti-flag.cv {
    height: 12px;
    background-position: -1159px 0px
}

.iti-flag.cw {
    height: 14px;
    background-position: -1181px 0px
}

.iti-flag.cx {
    height: 10px;
    background-position: -1203px 0px
}

.iti-flag.cy {
    height: 13px;
    background-position: -1225px 0px
}

.iti-flag.cz {
    height: 14px;
    background-position: -1247px 0px
}

.iti-flag.de {
    height: 12px;
    background-position: -1269px 0px
}

.iti-flag.dg {
    height: 10px;
    background-position: -1291px 0px
}

.iti-flag.dj {
    height: 14px;
    background-position: -1313px 0px
}

.iti-flag.dk {
    height: 15px;
    background-position: -1335px 0px
}

.iti-flag.dm {
    height: 10px;
    background-position: -1357px 0px
}

.iti-flag.do {
    height: 13px;
    background-position: -1379px 0px
}

.iti-flag.dz {
    height: 14px;
    background-position: -1401px 0px
}

.iti-flag.ea {
    height: 14px;
    background-position: -1423px 0px
}

.iti-flag.ec {
    height: 14px;
    background-position: -1445px 0px
}

.iti-flag.ee {
    height: 13px;
    background-position: -1467px 0px
}

.iti-flag.eg {
    height: 14px;
    background-position: -1489px 0px
}

.iti-flag.eh {
    height: 10px;
    background-position: -1511px 0px
}

.iti-flag.er {
    height: 10px;
    background-position: -1533px 0px
}

.iti-flag.es {
    height: 14px;
    background-position: -1555px 0px
}

.iti-flag.et {
    height: 10px;
    background-position: -1577px 0px
}

.iti-flag.eu {
    height: 14px;
    background-position: -1599px 0px
}

.iti-flag.fi {
    height: 12px;
    background-position: -1621px 0px
}

.iti-flag.fj {
    height: 10px;
    background-position: -1643px 0px
}

.iti-flag.fk {
    height: 10px;
    background-position: -1665px 0px
}

.iti-flag.fm {
    height: 11px;
    background-position: -1687px 0px
}

.iti-flag.fo {
    height: 15px;
    background-position: -1709px 0px
}

.iti-flag.fr {
    height: 14px;
    background-position: -1731px 0px
}

.iti-flag.ga {
    height: 15px;
    background-position: -1753px 0px
}

.iti-flag.gb {
    height: 10px;
    background-position: -1775px 0px
}

.iti-flag.gd {
    height: 12px;
    background-position: -1797px 0px
}

.iti-flag.ge {
    height: 14px;
    background-position: -1819px 0px
}

.iti-flag.gf {
    height: 14px;
    background-position: -1841px 0px
}

.iti-flag.gg {
    height: 14px;
    background-position: -1863px 0px
}

.iti-flag.gh {
    height: 14px;
    background-position: -1885px 0px
}

.iti-flag.gi {
    height: 10px;
    background-position: -1907px 0px
}

.iti-flag.gl {
    height: 14px;
    background-position: -1929px 0px
}

.iti-flag.gm {
    height: 14px;
    background-position: -1951px 0px
}

.iti-flag.gn {
    height: 14px;
    background-position: -1973px 0px
}

.iti-flag.gp {
    height: 14px;
    background-position: -1995px 0px
}

.iti-flag.gq {
    height: 14px;
    background-position: -2017px 0px
}

.iti-flag.gr {
    height: 14px;
    background-position: -2039px 0px
}

.iti-flag.gs {
    height: 10px;
    background-position: -2061px 0px
}

.iti-flag.gt {
    height: 13px;
    background-position: -2083px 0px
}

.iti-flag.gu {
    height: 11px;
    background-position: -2105px 0px
}

.iti-flag.gw {
    height: 10px;
    background-position: -2127px 0px
}

.iti-flag.gy {
    height: 12px;
    background-position: -2149px 0px
}

.iti-flag.hk {
    height: 14px;
    background-position: -2171px 0px
}

.iti-flag.hm {
    height: 10px;
    background-position: -2193px 0px
}

.iti-flag.hn {
    height: 10px;
    background-position: -2215px 0px
}

.iti-flag.hr {
    height: 10px;
    background-position: -2237px 0px
}

.iti-flag.ht {
    height: 12px;
    background-position: -2259px 0px
}

.iti-flag.hu {
    height: 10px;
    background-position: -2281px 0px
}

.iti-flag.ic {
    height: 14px;
    background-position: -2303px 0px
}

.iti-flag.id {
    height: 14px;
    background-position: -2325px 0px
}

.iti-flag.ie {
    height: 10px;
    background-position: -2347px 0px
}

.iti-flag.il {
    height: 15px;
    background-position: -2369px 0px
}

.iti-flag.im {
    height: 10px;
    background-position: -2391px 0px
}

.iti-flag.in {
    height: 14px;
    background-position: -2413px 0px
}

.iti-flag.io {
    height: 10px;
    background-position: -2435px 0px
}

.iti-flag.iq {
    height: 14px;
    background-position: -2457px 0px
}

.iti-flag.ir {
    height: 12px;
    background-position: -2479px 0px
}

.iti-flag.is {
    height: 15px;
    background-position: -2501px 0px
}

.iti-flag.it {
    height: 14px;
    background-position: -2523px 0px
}

.iti-flag.je {
    height: 12px;
    background-position: -2545px 0px
}

.iti-flag.jm {
    height: 10px;
    background-position: -2567px 0px
}

.iti-flag.jo {
    height: 10px;
    background-position: -2589px 0px
}

.iti-flag.jp {
    height: 14px;
    background-position: -2611px 0px
}

.iti-flag.ke {
    height: 14px;
    background-position: -2633px 0px
}

.iti-flag.kg {
    height: 12px;
    background-position: -2655px 0px
}

.iti-flag.kh {
    height: 13px;
    background-position: -2677px 0px
}

.iti-flag.ki {
    height: 10px;
    background-position: -2699px 0px
}

.iti-flag.km {
    height: 12px;
    background-position: -2721px 0px
}

.iti-flag.kn {
    height: 14px;
    background-position: -2743px 0px
}

.iti-flag.kp {
    height: 10px;
    background-position: -2765px 0px
}

.iti-flag.kr {
    height: 14px;
    background-position: -2787px 0px
}

.iti-flag.kw {
    height: 10px;
    background-position: -2809px 0px
}

.iti-flag.ky {
    height: 10px;
    background-position: -2831px 0px
}

.iti-flag.kz {
    height: 10px;
    background-position: -2853px 0px
}

.iti-flag.la {
    height: 14px;
    background-position: -2875px 0px
}

.iti-flag.lb {
    height: 14px;
    background-position: -2897px 0px
}

.iti-flag.lc {
    height: 10px;
    background-position: -2919px 0px
}

.iti-flag.li {
    height: 12px;
    background-position: -2941px 0px
}

.iti-flag.lk {
    height: 10px;
    background-position: -2963px 0px
}

.iti-flag.lr {
    height: 11px;
    background-position: -2985px 0px
}

.iti-flag.ls {
    height: 14px;
    background-position: -3007px 0px
}

.iti-flag.lt {
    height: 12px;
    background-position: -3029px 0px
}

.iti-flag.lu {
    height: 12px;
    background-position: -3051px 0px
}

.iti-flag.lv {
    height: 10px;
    background-position: -3073px 0px
}

.iti-flag.ly {
    height: 10px;
    background-position: -3095px 0px
}

.iti-flag.ma {
    height: 14px;
    background-position: -3117px 0px
}

.iti-flag.mc {
    height: 15px;
    background-position: -3139px 0px
}

.iti-flag.md {
    height: 10px;
    background-position: -3160px 0px
}

.iti-flag.me {
    height: 10px;
    background-position: -3182px 0px
}

.iti-flag.mf {
    height: 14px;
    background-position: -3204px 0px
}

.iti-flag.mg {
    height: 14px;
    background-position: -3226px 0px
}

.iti-flag.mh {
    height: 11px;
    background-position: -3248px 0px
}

.iti-flag.mk {
    height: 10px;
    background-position: -3270px 0px
}

.iti-flag.ml {
    height: 14px;
    background-position: -3292px 0px
}

.iti-flag.mm {
    height: 14px;
    background-position: -3314px 0px
}

.iti-flag.mn {
    height: 10px;
    background-position: -3336px 0px
}

.iti-flag.mo {
    height: 14px;
    background-position: -3358px 0px
}

.iti-flag.mp {
    height: 10px;
    background-position: -3380px 0px
}

.iti-flag.mq {
    height: 14px;
    background-position: -3402px 0px
}

.iti-flag.mr {
    height: 14px;
    background-position: -3424px 0px
}

.iti-flag.ms {
    height: 10px;
    background-position: -3446px 0px
}

.iti-flag.mt {
    height: 14px;
    background-position: -3468px 0px
}

.iti-flag.mu {
    height: 14px;
    background-position: -3490px 0px
}

.iti-flag.mv {
    height: 14px;
    background-position: -3512px 0px
}

.iti-flag.mw {
    height: 14px;
    background-position: -3534px 0px
}

.iti-flag.mx {
    height: 12px;
    background-position: -3556px 0px
}

.iti-flag.my {
    height: 10px;
    background-position: -3578px 0px
}

.iti-flag.mz {
    height: 14px;
    background-position: -3600px 0px
}

.iti-flag.na {
    height: 14px;
    background-position: -3622px 0px
}

.iti-flag.nc {
    height: 10px;
    background-position: -3644px 0px
}

.iti-flag.ne {
    height: 15px;
    background-position: -3666px 0px
}

.iti-flag.nf {
    height: 10px;
    background-position: -3686px 0px
}

.iti-flag.ng {
    height: 10px;
    background-position: -3708px 0px
}

.iti-flag.ni {
    height: 12px;
    background-position: -3730px 0px
}

.iti-flag.nl {
    height: 14px;
    background-position: -3752px 0px
}

.iti-flag.no {
    height: 15px;
    background-position: -3774px 0px
}

.iti-flag.np {
    height: 15px;
    background-position: -3796px 0px
}

.iti-flag.nr {
    height: 10px;
    background-position: -3811px 0px
}

.iti-flag.nu {
    height: 10px;
    background-position: -3833px 0px
}

.iti-flag.nz {
    height: 10px;
    background-position: -3855px 0px
}

.iti-flag.om {
    height: 10px;
    background-position: -3877px 0px
}

.iti-flag.pa {
    height: 14px;
    background-position: -3899px 0px
}

.iti-flag.pe {
    height: 14px;
    background-position: -3921px 0px
}

.iti-flag.pf {
    height: 14px;
    background-position: -3943px 0px
}

.iti-flag.pg {
    height: 15px;
    background-position: -3965px 0px
}

.iti-flag.ph {
    height: 10px;
    background-position: -3987px 0px
}

.iti-flag.pk {
    height: 14px;
    background-position: -4009px 0px
}

.iti-flag.pl {
    height: 13px;
    background-position: -4031px 0px
}

.iti-flag.pm {
    height: 14px;
    background-position: -4053px 0px
}

.iti-flag.pn {
    height: 10px;
    background-position: -4075px 0px
}

.iti-flag.pr {
    height: 14px;
    background-position: -4097px 0px
}

.iti-flag.ps {
    height: 10px;
    background-position: -4119px 0px
}

.iti-flag.pt {
    height: 14px;
    background-position: -4141px 0px
}

.iti-flag.pw {
    height: 13px;
    background-position: -4163px 0px
}

.iti-flag.py {
    height: 11px;
    background-position: -4185px 0px
}

.iti-flag.qa {
    height: 8px;
    background-position: -4207px 0px
}

.iti-flag.re {
    height: 14px;
    background-position: -4229px 0px
}

.iti-flag.ro {
    height: 14px;
    background-position: -4251px 0px
}

.iti-flag.rs {
    height: 14px;
    background-position: -4273px 0px
}

.iti-flag.ru {
    height: 14px;
    background-position: -4295px 0px
}

.iti-flag.rw {
    height: 14px;
    background-position: -4317px 0px
}

.iti-flag.sa {
    height: 14px;
    background-position: -4339px 0px
}

.iti-flag.sb {
    height: 10px;
    background-position: -4361px 0px
}

.iti-flag.sc {
    height: 10px;
    background-position: -4383px 0px
}

.iti-flag.sd {
    height: 10px;
    background-position: -4405px 0px
}

.iti-flag.se {
    height: 13px;
    background-position: -4427px 0px
}

.iti-flag.sg {
    height: 14px;
    background-position: -4449px 0px
}

.iti-flag.sh {
    height: 10px;
    background-position: -4471px 0px
}

.iti-flag.si {
    height: 10px;
    background-position: -4493px 0px
}

.iti-flag.sj {
    height: 15px;
    background-position: -4515px 0px
}

.iti-flag.sk {
    height: 14px;
    background-position: -4537px 0px
}

.iti-flag.sl {
    height: 14px;
    background-position: -4559px 0px
}

.iti-flag.sm {
    height: 15px;
    background-position: -4581px 0px
}

.iti-flag.sn {
    height: 14px;
    background-position: -4603px 0px
}

.iti-flag.so {
    height: 14px;
    background-position: -4625px 0px
}

.iti-flag.sr {
    height: 14px;
    background-position: -4647px 0px
}

.iti-flag.ss {
    height: 10px;
    background-position: -4669px 0px
}

.iti-flag.st {
    height: 10px;
    background-position: -4691px 0px
}

.iti-flag.sv {
    height: 12px;
    background-position: -4713px 0px
}

.iti-flag.sx {
    height: 14px;
    background-position: -4735px 0px
}

.iti-flag.sy {
    height: 14px;
    background-position: -4757px 0px
}

.iti-flag.sz {
    height: 14px;
    background-position: -4779px 0px
}

.iti-flag.ta {
    height: 10px;
    background-position: -4801px 0px
}

.iti-flag.tc {
    height: 10px;
    background-position: -4823px 0px
}

.iti-flag.td {
    height: 14px;
    background-position: -4845px 0px
}

.iti-flag.tf {
    height: 14px;
    background-position: -4867px 0px
}

.iti-flag.tg {
    height: 13px;
    background-position: -4889px 0px
}

.iti-flag.th {
    height: 14px;
    background-position: -4911px 0px
}

.iti-flag.tj {
    height: 10px;
    background-position: -4933px 0px
}

.iti-flag.tk {
    height: 10px;
    background-position: -4955px 0px
}

.iti-flag.tl {
    height: 10px;
    background-position: -4977px 0px
}

.iti-flag.tm {
    height: 14px;
    background-position: -4999px 0px
}

.iti-flag.tn {
    height: 14px;
    background-position: -5021px 0px
}

.iti-flag.to {
    height: 10px;
    background-position: -5043px 0px
}

.iti-flag.tr {
    height: 14px;
    background-position: -5065px 0px
}

.iti-flag.tt {
    height: 12px;
    background-position: -5087px 0px
}

.iti-flag.tv {
    height: 10px;
    background-position: -5109px 0px
}

.iti-flag.tw {
    height: 14px;
    background-position: -5131px 0px
}

.iti-flag.tz {
    height: 14px;
    background-position: -5153px 0px
}

.iti-flag.ua {
    height: 14px;
    background-position: -5175px 0px
}

.iti-flag.ug {
    height: 14px;
    background-position: -5197px 0px
}

.iti-flag.um {
    height: 11px;
    background-position: -5219px 0px
}

.iti-flag.us {
    height: 11px;
    background-position: -5241px 0px
}

.iti-flag.uy {
    height: 14px;
    background-position: -5263px 0px
}

.iti-flag.uz {
    height: 10px;
    background-position: -5285px 0px
}

.iti-flag.va {
    height: 15px;
    background-position: -5307px 0px
}

.iti-flag.vc {
    height: 14px;
    background-position: -5324px 0px
}

.iti-flag.ve {
    height: 14px;
    background-position: -5346px 0px
}

.iti-flag.vg {
    height: 10px;
    background-position: -5368px 0px
}

.iti-flag.vi {
    height: 14px;
    background-position: -5390px 0px
}

.iti-flag.vn {
    height: 14px;
    background-position: -5412px 0px
}

.iti-flag.vu {
    height: 12px;
    background-position: -5434px 0px
}

.iti-flag.wf {
    height: 14px;
    background-position: -5456px 0px
}

.iti-flag.ws {
    height: 10px;
    background-position: -5478px 0px
}

.iti-flag.xk {
    height: 15px;
    background-position: -5500px 0px
}

.iti-flag.ye {
    height: 14px;
    background-position: -5522px 0px
}

.iti-flag.yt {
    height: 14px;
    background-position: -5544px 0px
}

.iti-flag.za {
    height: 14px;
    background-position: -5566px 0px
}

.iti-flag.zm {
    height: 14px;
    background-position: -5588px 0px
}

.iti-flag.zw {
    height: 10px;
    background-position: -5610px 0px
}

.iti-flag {
    width: 20px;
    height: 15px;
    -webkit-box-shadow: 0px 0px 1px 0px #888;
    box-shadow: 0px 0px 1px 0px #888;
    background-image: url("../images/mainflags.png");
    background-repeat: no-repeat;
    background-color: #DBDBDB;
    background-position: 20px 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-image: url("../images/flags@2x.png")
    }
}

.iti-flag.np {
    background-color: transparent
}

/* Mike customize */

/* .form-box-content, .insurance-div{
    display: none;
} */
.x-root{
  flex-direction: column;
}
.form-box-header{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap:wrap;
}
.quote-shipment-button{
      border-radius: 0.35em;
    font-size: 1em;
    background-color: #fc7753;
    border: none;
    box-shadow: none;
    line-height: 1.7;
    margin-bottom: 30px;
    padding: 0.6rem 2rem;
    color:#fff;
}
.quote-shipment-button:hover{
        border-radius: 0.35em;
    font-size: 1em;
    background-color: #FE5200;
    border: none;
    box-shadow: none;
    padding: 0.6rem 2rem;
     margin-bottom: 30px;
}
#quote-form label{
  color: #3d4c59;
    /* font-family: "Cabin"; */
    font-size: 24px;
    font-weight: 500;
    display:block;
}
#quote-form .input-group-lg input{
  min-width: 260px;
}
.twitter-typeahead .enviaya-input{
  box-shadow:none;
}

.scrollable-dropdown-menu{
      border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      border: 1px solid rgba(134,147,171,0.3);
      background-color: #fff;
}
.type-input-container {
    margin-bottom: 25px;
}
@media(max-width:768px){
#quote-form .input-group-lg input{
  min-width: 200px;
}
}
/* customize form */
#documento, #paquete{
  display:none;
}
.form-subtabs-container{
  display:flex;
  flex-wrap:wrap;
}
.form-subtabs-container label{
  font-size:16px!important;
}
.form-box-content{
    align-self: center;
    margin-top: 20px;
}
.button-wrap{
  align-self: flex-end;
}
.showTab{
  display:block!important;
  position: absolute;
  margin-top: 40px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.46);
  padding: 10px;
  border-radius: 5px;
  z-index:1;
  background:#fff;
}
.enviaya-input.form-control.small-view{
  height: 56px;
}

input[type="radio"]{
  margin: 0!important;
}
@media(max-width:1260px){
  .showTab{
    right:10%
  }
}
@media(max-width:900px){
  .showTab{
    position:relative;
    box-shadow:none;
    padding:0;
    right:auto;
    padding: 0 15px;
    margin-top: -5px;
  }
}
@media(max-width:768px){
  .form-box-header{
    display:block;
  }
  .volume-data .form-element {
    margin-right: 0px;
}
  @media(max-width:600px){
    .showTab{
      padding: 0;
    }
  }
}
.form-element.helper p{
  font-size: 13px;
  margin:0;
}
.hidden-xs.field-value{
  display:none;
}
.remove-volume-data span{
  text-decoration:none;
}
.placement-indicator .actions{
  display:none;
}
.actions span.clone-volume-data{
  padding-bottom:10px;
}
.input-group.input-group-lg{
  display:flex;
  align-items:center;
  min-height:50px;
  flex-wrap: nowrap;
}
.input-group-addon{
  min-width: 25px;
}
input[type="text"]:focus{
  box-shadow:none;
}
#origin-search-label, #destination-search-label, .form-subtabs-container > label input + span{
  color:#fff!important;
}
.remove-volume-data .fa-minus{
    vertical-align: super;
}