body, html {
        height: 100%;
        font-family: century-gothic, sans-serif;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        line-height: 1.6;
}
body {

        padding-top: 3rem;
}
.jumbotron {
        padding: 1rem 2rem;
}
@media (min-width: 1200px) {
        .searchcontainer {
                max-width: 1140px;
        }
}
/*

/* Stackoverflow preview fix, please ignore */
.navbar-nav {
        flex-direction: row;
}
.nav-link {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
}
/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
        left: auto !important;
        right: 0px;
}
.center-cropped {
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        /* background-size: cover;*/
        min-height: 25em;
}
.textShadow {
        text-shadow: 2px 2px 8px black;
}
.videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
}
.videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 86%;
}
.dropdown-menu.alto {
        min-width: 400px;
}
.dropdown-menu.altoDos {
        min-width: 100%;
}
.noButton {
        background-color: transparent;
        color: gray;
        border: none;
}
.iconos img {
        height: 45px;
}
.cuadroChat:not([disabled]) {
        box-shadow: none;
        background-color: #ff6600 !important;
        color: #fff;
        fill: #fff;
        letter-spacing: .4;
        padding: 1rem 1rem;
        border-radius: 999rem;
        bottom: 0;
}
.chatButton a:hover {
        text-decoration: none;
}
.iti-flag {
        width: 20px;
        height: 15px;
        -webkit-box-shadow: 0px 0px 1px 0px #888;
        box-shadow: 0px 0px 1px 0px #888;
        background-image: url("images/f1.png");
        background-repeat: no-repeat;
        background-color: #DBDBDB; /*  background-position: 20px 0;*/
}
.contact-options .cont-p {
        display: inline-block;
        color: #005e98;
        font-size: 14px;
        margin: 0 5px;
}
.listas ul li {
        display: inline-block;
}
.busquedaM {
        border: 0;
        padding: 0;
}
.modal-full {
        min-width: 100%;
        margin: 0;
}
.modal-full .modal-content {
        min-height: 100vh;
}
.grow {
        transition: all .2s ease-in-out;
}
.grow:hover {
        transform: scale(1.1);
}
#mapCanvas {
        /*  */ height: 50vh;
        width: 100%;
}
@media (min-width: 576px) {
        .modal-dialog {
                max-width: 60vw;
                margin: 1.75rem auto;
                height: 60vh;
        }
}
.modal-header-n {
        padding: 1rem;
        border-bottom: 1px solid #e9ecef;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
}
.tab-content {
        position: absolute;
        top: 64%;
        left: 0;
        min-width: 460px;
        padding: 15px 0 0;
        z-index: 10;
}
.tab-content .tab-pane {
        background: #fff;
        padding: 15px;
        z-index: 3;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.sinlinea {
        border: none !important;
}
.documento, .paquete {
        color: #212529;
}
.tab-pane.paquete:before {
        left: 185px;
}
.tab-pane:before {
        position: absolute;
        bottom: 87%;
        left: 58px;
        content: '';
        border-style: solid;
        border-width: 0 7.5px 10px 7.5px;
        border-color: transparent transparent #fff transparent;
}
/**/
.measure-selection {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
}
.measure-selection {
        width: 75px;
}
.measure-selection {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
}
.measure-selection {
        width: 75px;
}
/**/
.indicator .form-input-element input {
        display: inline-block;
        vertical-align: top;
        border-radius: 4px;
}
.indicator .form-input-element input {
        display: inline-block;
        vertical-align: top;
        border-radius: 4px;
}
.form-control.medium-view {
        border: 1px solid #e1e1e5;
        font-size: 14px;
        height: 50px;
}
@media (min-width: 960px) {
        .form-control.medium-view {
                width: 50px;
        }
}
@media (min-width: 1200px) {
        .form-control.medium-view {
                width: 50px;
        }
}
.form-control.medium-view {
        border: 1px solid white;
        font-size: 14px;
        height: 56px;
}
@media (min-width: 960px) {
        .form-control.medium-view {
                width: 50px;
        }
}
@media (min-width: 1200px) {
        .form-control.medium-view {
                width: 50px;
        }
}
.form-input-element input {
        border-radius: 4px;
}
.form-input-element input {
        border-radius: 4px;
}
.form-control {
        display: block;
        width: 100%;
        height: 36px;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.form-element.indicator {
        display: inline-block;
        vertical-align: top;
        width: auto;
}
.form-element {
        display: inline-block;
        vertical-align: top;
        width: auto;
}
.form-input-element {
        width: auto;
        display: inline-block;
}
.form-input-element {
        position: relative;
}
.form-element {
        color: black;
}
.formaInput input {
        font-size: 14px;
        height: 50px;
        width: 50px;
        text-align: center;
        padding: 8px 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
a {
        color: #3E5766 !important;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
}
a:hover {
        color: #7d144d !important;
}
.searchcontainer {
        width: 100%;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto;
        margin-left: auto;
}
@media (min-width:440px) {
        .searchcontainer {
                width: 100%;
                padding-right: 1px !important;
                padding-left: 1px !important;
                margin-right: auto;
                margin-left: auto;
        }
}
.buttonPaketia {
        background-color: #7d144d;
        font-size: 23px;
        font-weight: 600;
        padding: 12px 25px 15px;
        color: #fff;
        text-align: center;
        border: none;
        cursor: pointer;
}
.buttonPaketia:hover {
        background-color: #3B0924;
}
.rastrea button:hover, a:hover {
        cursor: pointer
}
.rastrea, .rastrea-toggle {
        width: 230px;
}
.rastrea {
        display: none;
        padding: 5px 10px
}
.rastrea-toggle img {
        margin-right: 5px;
        position: relative;
        top: -3px
}
.rastrea-toggle span {
        position: relative;
        top: 0px
}
.rastrea input {
        width: calc(100% - 30px);
        float: left;
        display: block;
        font-size: 1em;
        font-weight: 400;
        padding: 4px 10px 9px;
        border: 0;
        border-bottom: 1px solid #000;
        border-radius: 0;
        -webkit-appearance: none
}
.rastrea button {
        width: 30px;
        height: 30px;
        border: 0;
        background: #fff;
        padding: 0
}
.rastrea input::placeholder {
        color: grey;
        font-weight: 300;
}
@media (max-width:920px) {
        .rastrea-toggle {
                width: 100%
        }
        .rastrea-toggle img {
                top: -5px;
                margin-right: 10px
        }
        .rastrea {
                width: 240px;
                margin: 9px auto
        }
        .rastrea input {
                border-bottom: 1px solid #f9a71f;
                background: 0 0;
                color: black;
                padding: 4px 10px 7px
        }
        .rastrea button {
                background: #f9a71f
        }
        .rastrea input::placeholder {
                color: #fff
        }
        header nav ul li.login a:hover, header nav ul li.registro a:hover {
                color: #f9a71f;
                background: 0 0
        }
        .hm {
                display: none;
        }
}
/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.display-small {
        font-size: 1.2em;
}
.display-medium {
        font-size: 1.5em;
}
.display-titles {
        font-size: 2.5rem;
}
.display-tit {
        font-size: 36px;
}
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.colorFuente {
        color: #0072CA;
}
.colorBco {
        color: #FFFFFF
}
.colorAmarillo {
        color: #FFD100 !important;
}
.colorRojo {
        color: #EE1D24 !important;
}
.colorNaranja {
        color: #F6882F !important;
}
.colorAzul {
        color: #00B7D2 !important;
}
.colorAzulO {
        color: #0382C5 !important;
}
.colorVerde {
        color: #39B54B !important;
}
.colorMorado {
        color: #292262 !important;
}
.colorFusia {
        color: #E10589 !important;
}
.colorGris {
        color: #CCCCCC !important;
}
.colorFuente {
        background-color: #0072CA;
}
.colorBgBack {
        background-color: #0072CA;
}
.colorBgBco {
        background-color: #FFFFFF
}
.colorBgAmarillo {
        background-color: #FFD100 !important;
}
.colorBgRojo {
        background-color: #EE1D24 !important;
}
.colorBgNaranja {
        background-color: #f6882f !important;
}
.colorBgAzul {
        background-color: #00B7D2 !important;
}
.colorBgAzulO {
        background-color: #0072CA !important;
}
.colorBgVerde {
        background-color: #39B54B !important;
}
.colorBgMorado {
        background-color: #292262 !important;
}
.colorBgFusia {
        background-color: #E10589 !important;
}
.headerBg {
        background-color: rgba(255, 255, 255, 0.6) !important;
}
/*.colorCuadros{background-color: #77bbc2 !important;}*/
.colorCuadros {
        background-color: #77bbc27a !important;
}
.colorPaketia {
        background-color: #7d144d !important;
}
.colorBgPaketia {
        background-color: #a4d2d82e !important
}
.colorPaketiaFont {
        color: #7d144d !important;
}
.btn-white {
        color: #212529;
        background-color: transparent !important;
        border-color: transparent !important;
}
.carousel-caption {
        position: absolute;
        right: -18%;
        /*    top: 10%;*/
        top: -6%;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
}
.card {
        border: 1px dotted rgba(0, 0, 0, .125);
}
.card-header {
        background-color: rgba(0, 0, 0, .03);
        border-bottom: none;
}
.linea input[type=text] {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
}
.cuadroInfo {
        min-height: 9.5em;
}
.list-group-item {
        padding: .35rem 1.25rem !important;
}
@media (max-width: 767px) {
        ul li {
                display: block !important;
        }
}
.topSpace {
        margin-top: 3.7em;
}
.conocePn {
        min-height: 283px;
}
.btn, a, button {
        outline: 0 !important;
}
.btn-envio {
        background-color: #f9a800;
        color: #ffffff !important;
}
.btn, a, button {
        outline: 0 !important;
}
.btn, a, button {
        outline: 0 !important;
}
.btn-envio {
        background-color: #f9a800;
        color: #ffffff !important;
}
.btn, a, button {
        outline: 0 !important;
}
.credit-container {
        background-color: #ffffff;
        margin: 0 45px 30px 45px;
        margin: 1em auto;
        width: 90%;
}
.payment {
        margin: 24px 42px;
        background-color: #efefef;
        text-align: center;
        padding: 0 25px;
}
.row-item {
        margin-bottom: 15px !important;
}
.credit-actual {
        font-size: 40px;
        padding: 50px 5% 0 5%;
}
.payment-text {
        font-size: 20px;
        line-height: 1.17;
        text-align: center;
        color: #222220;
        padding: 0 5%;
}
/* */ .input-groupa * {
        background: none;
        border: none;
        border-bottom: solid 2px #bcd4de;
        font-size: 40px;
        font-weight: 100;
        text-align: left;
        color: #222220;
        height: 60px;
        padding: 0 20px;
}
.input-group-addon:last-child {
        border-left: 0;
}
    .formLine .input-group * {
    background: none;
    border: none;
    border-bottom: solid 2px #bcd4de;
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    color: #222220;
    height: 60px;
    padding: 0 20px;
}
.payment-label {
        font-size: 14px;
        color: #222220;
        padding: 10px 0 25px 0;
}
.pay-btn {
        padding-top: 15px;
}
.pre-totals {
        padding: 30px;
        border: solid 2px #efefef;
}
.accumulated, .label-blue-envio {
        color: #3E5766 !important;
}
.total-sum {
        color: #7d144d;
}
.total-sum {
        color: #7d144d;
}
.credit-foot {
        font-size: 15px;
}
.pay-btn button, .pay-btn a {
        width: 90%;
        height: 60px;
        padding: 18px 0;
        font-size: 15px;
        border-radius: 0;
}
.errorCredit {
        color: red !important;
}