
html {
  font-size: 62.5%; }
body {
  font-size: 1.6em; 
  line-height: 1.6;
font-family: century-gothic, sans-serif;
font-style: normal;
font-weight: 400;
  color: #333; }
/* Estilo basico solo para prueba borrar */




/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
	 max-width: 1024px;
  /* max-width: 960px;
 max-width: 1024px;*/
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}
.w100 {
    width: 100%
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

/* Fuentes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.titulosGrandes {
    
    font-size: 4.0rem;
/*  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;*/
 line-height: 1.2;  letter-spacing: -.1rem;
    
}

.titulosMedianos{
   font-size: 1.1em;
    font-weight: bold;
    line-height: 1.1em;
}
.titulosPersonal{
    font-size: 1.em;
    font-weight: 500;
}
.Home_column_Top p {
    margin: 10px;
    padding: 0;
}
.Home_column_Top p {
    margin: 0 5px 10px 5px;
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.textCenter {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.colorBco {color: #FFFFFF}
.colorAmarillo {color: #FFD100 !important;}
.colorRojo {color: #EE1D24 !important;}
.colorNaranja {color: #F6882F !important;}
.colorAzul {color: #00B7D2 !important;}
.colorAzulO {color: #0382C5 !important;}
.colorVerde {color: #39B54B !important;}
.colorMorado {color: #292262 !important;}
.colorFusia {color: #E10589 !important;}
.colorGris {color: #CCCCCC !important;}

.colorBgBack {background-color: #0072CA;}
.colorBgBco {background-color: #FFFFFF}
.colorBgAmarillo {background-color: #FFD100 !important;}
.colorBgRojo {background-color: #EE1D24 !important;}
.colorBgNaranja {background-color: #f6882f !important;}
.colorBgAzul {background-color: #00B7D2 !important;}
.colorBgAzulO {background-color: #0072CA !important;}
.colorBgVerde {background-color: #39B54B !important;}
.colorBgMorado {background-color: #292262 !important;}
.colorBgFusia {background-color: #E10589 !important;}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; 
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/*  iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/*menu*/
/*collapsible*/ 
.collapsible {
	/*  background-color: #777;
 	width: 100%;
	*/
	color: white;
	cursor: pointer;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
.bars {
	display: none;
}

@media (max-width: 768px) {
.contentMenu {
	max-height: 0;
}
.bars {
	display: block;
}
}
/*Menu*/

.main-menu {
	position: absolute;
	/* left: -200px; */
	top: 125px;
	/* height: 176em; */
	overflow-y: scroll;
	overflow-x: visible;
	transition: left 0.3s ease, box-shadow 0.3s ease;
	z-index: 999;
	border-bottom: none;
	width: 100%;
}
.main-menu ul {
	list-style: none;
	-moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
	box-shadow: -8px 0 8px rgba(0,0,0,.5);
	background: #1a1a1a;
}
.main-menu a {
	display: block;
	padding: 15px;
	/**/line-height: 1em;
	font-size: 1em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #383838;
}
.main-menu li:first-child a {
	border-top: 1px solid #383838;
/*	margin-top: 1em;*/
}

/*

 Larger screen 
*/
@media (min-width: 769px) {
.main-menu {
	position: relative;
	left: auto;
	top: auto;
	height: auto;
	width: 100%;
    background-color:#04A1C6;
}
.main-menu ul {
	text-align: center;
	margin: 0;
	padding: 2.5em 0 0;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: auto;
	width: auto;
	background: none;
}
.main-menu ul li {
	float: none;
	display: inline-block;
	text-align: center;
	margin-right: 1%;
	list-style: none;
	font-weight: 400;
}

.main-menu a {
	color: #FFFFFF;
	border: 0 !important;
	font-size: 17px;
}
.main-menu a:hover, .main-menu a:focus {
	background: none;
	color: #c00;
	text-decoration: none;
}
}

/* menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hamburguesa {
	display: inline-block;
	cursor: pointer;
}
.bar1, .bar2, .bar3 {
	width: 25px;
	height: 3px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}
.cierra .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
	background-color: #fff;
}
.cierra .bar2 {
	opacity: 0;
}
.cierra .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
	background-color: #fff;
}
header {
	padding-top: 10px;
	display: flex;
	align-items: center;
	overflow: hidden;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
li input[type="submit"] {
	padding: 0 6px;
	font-size: 10px;
}



.iconGde {    
    font-size: xx-large;
}
.iconGde img {
    width: 60px;
}
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.banner img
{
    /*	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);*/
    
    	/* background-size: 100% 100%;*/ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

@media (max-width: 768px) {
.banner img
{
    /*	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);*/
    
    	/* background-size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;*/
    width: 100%; 
       display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    max-width: 400px;
}
}

.u-cf {
    content: "";
    display: table;
    clear: both;
}

/* menu */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 12;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1001;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #D2D2D2;
}
.ex1 {
    margin: auto;
    background: gold;
    width: 200px;
}
.flexContainer {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: center;

}
.relacionadoContainer{
   border-top: 1px #8080807d solid;
    margin-top: 1em;
    padding-top: 2em;
}
.Home_column_Top {
    width: 140px;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
    border: 2px solid #00b7d2;
    border-radius: 20px;
}
.cuadroFlotante {
    border: 1px solid #00b7d2;
    padding: 1.4em;
   /* top: -7em;*/
    background-color: white;
}
.relacionadoBox {
    width: 321px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
}
    #valores 
    {  list-style-type: none;
}
