@charset "UTF-8";
/* CSS Document */

/*---------------------------------------------
NativeScrollRegion styles
----------------------------------------------*/
.customScrollBar::-webkit-scrollbar {
height: 18px;
width: 18px;
}
.customScrollBar::-webkit-scrollbar:disabled {
display:none;
}
.customScrollBar::-webkit-scrollbar-button {
background-color: #fff;
background-repeat: no-repeat;
cursor:pointer;
}
.customScrollBar::-webkit-scrollbar-button:horizontal:increment, .customScrollBar::-webkit-scrollbar-button:horizontal:decrement, .customScrollBar::-webkit-scrollbar-button:horizontal:increment:hover, .customScrollBar::-webkit-scrollbar-button:horizontal:decrement:hover, .customScrollBar::-webkit-scrollbar-button:vertical:increment, .customScrollBar::-webkit-scrollbar-button:vertical:decrement, .customScrollBar::-webkit-scrollbar-button:vertical:increment:hover, .customScrollBar::-webkit-scrollbar-button:vertical:decrement:hover {
background-position:center;
height: 18px;
width: 18px;
}
.customScrollBarLight::-webkit-scrollbar-button {
display: none;
}
.customScrollBar::-webkit-scrollbar-track {
background-color: #fff;
}
.customScrollBarLight::-webkit-scrollbar-track {
background-color: #0072C6;
}
.customScrollBar::-webkit-scrollbar-thumb {
border-radius: 9px;
border: solid 6px #fff;
background-color: #c8c8c8;
}
.customScrollBarLight::-webkit-scrollbar-thumb {
border-color: #0072C6;
background-color: #95B1C1;
}
.customScrollBar::-webkit-scrollbar-thumb:vertical {
min-height:50px;
}
.customScrollBar::-webkit-scrollbar-thumb:horizontal {
min-width:50px;
}
.customScrollBar::-webkit-scrollbar-thumb:hover {
border-radius: 9px;
border: solid 6px #fff;
background-color: #98A3A6;
}
.customScrollBar::-webkit-scrollbar-corner {
background-color: #fff;
}
.nativeScrollInertia {
    -webkit-overflow-scrolling: touch;
}
/*
This rule is stated here, rather than in the stylesheet
generated by CssSpritesGen2, because we want this to be
the default while allowing templates to override to
display as a full block element.
*/
.csimg {
    display: inline-block;
    overflow: hidden;
}
/*-------------------------------------
Firefox button fix (removes extra
button padding)
--------------------------------------*/
button::-moz-focus-inner {
border-width: 0;
padding: 0;
}
/*-------------------------------------
TextBox styles
--------------------------------------*/
.textbox {
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    height: 30px;
    padding: 0px 5px;
}
.tnarrow .textbox, .twide .textbox {
    font-size: 12px;
    background-color: #fff;
    height: 14px;
    padding: 3px 5px;
}
/* Placeholder styles - equivalent to "ms-fcl-nt" */
.textbox::-webkit-input-placeholder {
color: #a6a6a6;
}
.textbox:-moz-placeholder { /* Firefox 18- */
color: #a6a6a6;
}
.textbox::-moz-placeholder {  /* Firefox 19+ */
color: #a6a6a6;
}
.textbox:-ms-input-placeholder {
color: #a6a6a6;
}
/*-------------------------------------
Text area styles
-------------------------------------*/
.textarea {
    padding: 10px;
}
.textarea:hover {
    background-color: transparent;
    border-color: transparent;
}
/*---------------------------------------------
Button styles
----------------------------------------------*/
.o365button {
    background: transparent;
    border-width: 0px;
    padding: 0px;
    cursor: pointer !important;
    font-size: 14px;
}
.o365button:disabled, label.o365button[disabled=true] {
    cursor: default !important;
}
.o365buttonOutlined {
    padding-right: 11px;
    padding-left: 11px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-width: 1px;
    border-style: solid;
}
.o365buttonOutlined .o365buttonLabel {
    display: inline-block;
}
.o365buttonOutlined {
    height: 30px;
}
.twide .o365buttonOutlined, .tnarrow .o365buttonOutlined {
    height: 22px;
}
.o365buttonOutlined .o365buttonLabel {
    height: 22px;
}
/*-------------------------------------
Checkbox styles
--------------------------------------*/
.checkbox {
    border-style: none;
    cursor: pointer;
    vertical-align: middle;
}
/*---------------------------------------------
Popup styles
----------------------------------------------*/
.popupShadow {
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    border: 1px solid #eaeaea;
}
.contextMenuDropShadow {
    box-shadow: 0 0 7px rgba(0,0,0,.4);
    border: 1px solid #eaeaea;
}
.modalBackground {
    background-color: #fff;
    height: 100%;
    width: 100%;
    opacity: 0.65;
    filter: Alpha(opacity=65); /* Internet Explorer */
}
.clearModalBackground {
    /* We use a white background with opacity 0 rather than background-color transparent so that
the browser won't allow the user click/touch to propagate to the control beneath it. */
    background-color: #fff;    /* UX Approved */
    opacity: 0;
    filter: Alpha(opacity=0); /* Internet Explorer */
    height: 100%;
    width: 100%;
}
/*---------------------------------------------
Context Menu styles
----------------------------------------------*/
.contextMenuPopup {
    background-color: #fff;
}
/*---------------------------------------------
Focus Highlight Behavior styles
----------------------------------------------*/
.removeFocusOutline *:focus {
    outline: none;
}
.addFocusOutline button:focus {
    outline: dotted 1px;
}
.addFocusRingOutline button:focus {
    outline: auto 5px -webkit-focus-ring-color;
}
/* transparent defaults */
.border-color-transparent {
    border-color: transparent;
}
/*-------------------------------------
DockPanel styles
--------------------------------------*/
.vResize, .hResize {
    z-index: 1000;
}
.hResize, .hResizeCursor * {
    cursor: row-resize !important;
}
.vResize, .vResizeCursor * {
    cursor: col-resize !important;
}
.vResizing, .hResizing {
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.6;
    border: solid 1px #666;
}
.vResizing {
    border-width: 0px 1px;
}
.hResizing {
    border-width: 1px 0px;
}
.o365buttonRegular {
    height: 40px;
}
.o365buttonOutlined {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    height: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
._fc_2 {
    margin-left: 4px
}
._fc_3, ._fc_4 {
    vertical-align: middle
}
._fc_5 {
    vertical-align: middle;
    margin-left: 10px
}
._fc_6 {
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center
}
._fc_6 {
    font-size: 14px;
    width: 16px;
    height: 15px
}
._fce_2 ._fce_3 {
    background: #666
}
._fce_4 ._fce_3 {
    background: #fff
}
._fce_5 {
    display: inline-block
}
._fce_6 {
    display: none
}
._fce_7 {
    margin: auto 4px auto 4px;
    display: inline-block;
    position: relative;
    top: -8px
}
._fce_8 {
    top: -2px
}
._fce_9>* {
    vertical-align: middle
}
._fce_a {
    height: 100%;
    padding-left: 15px
}
._fce_b {
    height: 100%;
    overflow: hidden;
    direction: inherit
}
._fce_c {
    display: inline;
    height: 100%
}
._fce_d {
    direction: rtl
}
._fce_e {
    display: inline-block;
    margin: 0;
    height: 100%;
    padding-left: 1px;
    direction: inherit;
    position: relative
}
._fce_f {
    float: left
}
._fce_g {
    float: right
}
._fce_h {
    padding: 0 5px 0 10px;
    margin-left: -1px;
    display: inline-block;
    height: 100%
}
._fce_i {
    display: inline-block;
    padding: 0 10px 0 10px;
    margin: 0;
    height: 100%;
    float: left;
    direction: inherit
}
._fce_j {
    display: none
}
._fce_k {
    margin-left: -2px;
    margin-top: 11px
}
._fce_l {
    margin-left: -5px;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 10px;
    height: 100%
}
._fce_m {
    margin-right: 2px
}
._fce_n {
    padding-left: 26px
}
._fce_o ._fce_p {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    margin-right: -2px
}
._fce_o._fce_q ._fce_p {
    -webkit-transform: scaleX(-1) rotate(-45deg);
    -moz-transform: scaleX(-1) rotate(-45deg);
    -o-transform: scaleX(-1) rotate(-45deg);
    -ms-transform: scaleX(-1) rotate(-45deg);
    margin-right: -2px
}
._fce_r {
    vertical-align: baseline
}
._fce_s {
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.4);
    box-shadow: 0 0 7px rgba(0,0,0,.4)
}
._fce_t {
    position: absolute;
    width: 22px
}
._fce_u {
    position: absolute;
    width: 42px;
    margin-top: -3px
}
._fce_v {
    padding-left: 52px
}
._fce_w {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}
._fce_x {
    min-width: 180px;
    outline: 0;
    overflow-y: auto;
    white-space: nowrap
}
._fce_y {
    outline: 0
}
._fce_z {
    position: relative
}
._fce_A {
    position: absolute;
    top: 13px;
    left: 8px
}
._fce_B, ._fce_C {
    text-align: left;
    padding-right: 20px;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    width: 100%
}
._fce_C._fce_D {
    padding-left: 0
}
._fce_B {
    display: block
}
._fce_E ._fce_B {
    padding-left: 20px
}
._fce_F, ._fce_G {
    display: inline-block
}
._fce_H {
    margin-right: 3px;
    vertical-align: middle
}
._fce_I {
    margin-right: 36px
}
._fce_J {
    display: none
}
._fce_K {
    position: absolute;
    right: 8px;
    top: 7px
}
._fce_L {
    text-decoration: none
}
._fce_M {
    width: 100%;
    height: 0;
    margin: -1px 0 0 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
._fce_B, ._fce_C {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 10px
}
._fce_A {
    top: 10px;
    left: 5px
}
._fce_K {
    top: 8px
}
._fce_N {
    overflow-x: hidden;
    max-height: 561px
}
._fce_O {
    max-height: none
}
._fce_P {
    padding-left: 10px;
    padding-top: 5px;
    display: block
}
._fce_Q ._fce_G {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 180px
}
._fce_M {
    margin: 0
}
._fce_S {
    text-align: left;
    padding-right: 20px;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    display: block;
    width: 100%
}
._fce_T {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
._fce_U {
    width: 118px
}
._fce_S {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 10px
}
._fce_V {
    text-align: right;
    left: 0;
    right: 0
}
._fce_W {
    margin: 0 0 0 10px;
    min-width: 80px;
    vertical-align: top
}
._fce_X {
    line-height: 24px;
    display: inline-block;
    width: 100%
}
._fce_Y {
    display: inline
}
._fce_Z {
    padding: 20px
}
._fce_01 {
    margin: 14px 0;
    position: relative
}
._fce_11 {
    float: left
}
._fce_21 {
    padding-top: 10px;
    padding-bottom: 10px
}
._fce_31 {
    margin-top: 10px
}
._fce_Z {
    padding: 25px 30px 20px 30px;
    min-width: 210px;
    max-width: 800px
}
._fce_41 {
    height: 30px;
    padding-right: 10px;
    padding-top: 15px;
    background: #fff;
    text-align: right
}
._fce_61 {
    width: 100%;
    white-space: nowrap;
    overflow: visible;
    text-align: left;
    position: relative;
    border-width: 1px;
    border-style: solid
}
._fce_71 {
    padding-left: 6px;
    overflow: hidden;
    margin-right: 20px
}
._fce_81 {
    position: absolute;
    right: 0;
    width: 10px;
    bottom: 0;
    padding: 0 5px;
    line-height: normal
}
._fce_91 {
    min-width: 150px;
    outline: 0;
    overflow-y: auto
}
._fce_91 div {
    outline: 0
}
._fce_a1 {
    position: relative
}
._fce_b1 {
    display: inline-block;
    margin-left: 3px;
    margin-right: 8px
}
._fce_c1 {
    margin: -3px 1px 0 -1px;
    visibility: hidden
}
._fce_c1._fce_d1 {
    visibility: visible
}
._fce_e1 {
    text-align: left;
    padding-right: 10px;
    display: block;
    width: 100%
}
._fce_f1 ._fce_e1 {
    padding-left: 20px
}
._fce_g1 {
    position: absolute;
    right: 4px;
    top: 3px
}
._fce_61 {
    height: 30px
}
._fce_71 {
    margin-bottom: 1px
}
._fce_81 {
    top: 4px
}
._fce_e1 {
    padding: 0 0 0 5px;
    height: 30px;
    line-height: 30px
}
._fce_h1 {
    overflow-x: hidden;
    max-height: 561px
}
._fce_91 {
    padding: 3px 0 3px 0;
    white-space: nowrap
}
._fce_i1 {
    display: inline-block
}
._fce_l1 {
    padding: 0 15px 0 0;
    cursor: pointer
}
._fce_m1 {
    -webkit-transition-property: color, opacity;
    -webkit-transition-duration: .5s, .5s;
    -moz-transition-property: color, opacity;
    -moz-transition-duration: .5s, .5s;
    -ms-transition-property: color, opacity;
    -ms-transition-duration: .5s, .5s
}
._fce_n1 {
    opacity: 1
}
._fce_o1 {
    opacity: 0
}
._fce_p1 {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: .33s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: .33s;
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -ms-transition-duration: .33s;
    -ms-transition-timing-function: cubic-bezier(0, 0, 0, 1)
}
._fce_q1 {
    position: relative;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none
}
._fce_r1 {
    width: 100%
}
._fce_s1 {
    padding: 4px 0 4px 13px
}
._fce_t1 {
    white-space: normal
}
._fce_l1 {
    padding: 0 20px 0 0
}
._fce_u1 {
    vertical-align: middle
}
._fce_v1 {
    margin: 0;
    vertical-align: middle
}
._fce_v1:before {
    padding: 0!important;
    width: 16px;
    border-width: 1px!important
}
._fce_w1._fce_v1:before {
    padding-top: 1px!important
}
._fce_x1 {
    margin-bottom: 3px
}
._fce_u1 {
    padding-left: 4px;
    vertical-align: middle
}
.wf-size-x16-circle {
    font-size: 10px !important;
    padding: 2px !important;
    border-width: 1px !important;
    width: 16px !important;
    height: 16px !important;
}
.wf-size-x20-circle {
    font-size: 15px !important;
    padding: 1px !important;
    border-width: 2px !important;
    width: 20px !important;
    height: 20px !important;
}
.wf-size-x24-circle {
    font-size: 16px !important;
    padding: 2px !important;
    border-width: 2px !important;
    width: 24px !important;
    height: 24px !important;
}
.wf-size-x32-circle, .tnarrow .wf-size-appBar {
    font-size: 22px !important;
    padding: 3px 2px 2px 2px !important;
    border-width: 2px !important;
    width: 32px !important;
    height: 32px !important;
}
.wf-size-x35-circle, .twide .wf-size-appBar, .mouse .wf-size-appBar {
    font-size: 22px !important;
    padding: 4px 2px 2px 2px !important;
    border-width: 2px !important;
    width: 35px !important;
    height: 35px !important;
}
.tnarrow .ms-icon-size-appBar:before {
    font-size: 18px !important;
    padding: 5px !important;
    border-width: 2px !important;
    width: 32px !important;
    height: 32px !important;
}
.tnarrow .ms-icon-size-appBar.ms-icon-wide-glyph:before {
    padding-left: 2px !important;
    padding-right: 8px !important;
}
.twide .ms-icon-size-appBar:before, .mouse .ms-icon-size-appBar:before {
    font-size: 21px !important;
    padding: 5px !important;
    border-width: 2px !important;
    width: 35px !important;
    height: 35px !important;
}
.twide .ms-icon-size-appBar.ms-icon-wide-glyph:before, .mouse .ms-icon-size-appBar.ms-icon-wide-glyph:before {
    padding-left: 2px !important;
    padding-right: 8px !important;
}
.twide .ms-icon-size-appBar.ms-icon-wide-glyph:before, .mouse .ms-icon-size-appBar.ms-icon-wide-glyph:before {
    padding-left: 1px !important;
    padding-right: 7px !important;
}
.twide .ms-icon-size-appBar.ms-icon-tall-glyph:before, .mouse .ms-icon-size-appBar.ms-icon-tall-glyph:before {
    padding-top: 6px !important;
}
.ie8 .wf-size-x16-circle {
    font-size: 16px !important;
}
.ie8 .wf-size-x24-circle {
    font-size: 24px !important;
}
.ie8 .wf-size-x32-circle {
    font-size: 32px !important;
}
.ie8 .wf-size-x35-circle {
    font-size: 35px !important;
}
.wf-size-x8 {
    font-size: 8px !important;
}
.wf-size-x11 {
    font-size: 11px !important;
}
.ms-icon-font-size-3 {
    font-size: 3px !important;
}
.ms-icon-font-size-11 {
    font-size: 11px !important;
}
.wf-size-x12 {
    font-size: 12px !important;
}
.wf-size-x14 {
    font-size: 14px !important;
}
.ms-icon-font-size-15 {
    font-size: 15px !important;
}
.wf-size-x16 {
    font-size: 16px !important;
}
.wf-size-x17 {
    font-size: 17px !important;
}
.ms-icon-font-size-17 {
    font-size: 17px !important;
}
.wf-size-x18 {
    font-size: 18px !important;
}
.wf-size-x20 {
    font-size: 20px !important;
}
.wf-size-x21 {
    font-size: 21px !important;
}
.ms-icon-font-size-21 {
    font-size: 21px !important;
}
.wf-size-x22 {
    font-size: 22px !important;
}
.wf-size-x24 {
    font-size: 24px !important;
}
.ms-icon-font-size-25 {
    font-size: 25px !important;
}
.wf-size-x26 {
    font-size: 26px !important;
}
.ms-icon-font-size-27 {
    font-size: 27px !important;
}
.wf-size-x28 {
    font-size: 28px !important;
}
.wf-size-x32 {
    font-size: 32px !important;
}
.wf-size-x35 {
    font-size: 35px !important;
}
.wf-size-x40 {
    font-size: 40px !important;
}
.wf-size-x48 {
    font-size: 48px !important;
}
.wf-size-x56 {
    font-size: 56px !important;
}
.wf-size-x64 {
    font-size: 64px !important;
}
.wf-size-x96 {
    font-size: 96px !important;
}
.wf-size-x240 {
    font-size: 240px;
}
.wf-size-swipe:before {
    font-size: 30px !important;
    padding: 3px !important;
    border-width: 2px !important;
    width: 40px !important;
    height: 40px !important;
}
.ms-border-transparent:before {
    border-color: transparent;
}
.ms-icon-font-size-40 {
    font-size: 40px !important;
}
.ms-icon-font-size-50 {
    font-size: 50px !important;
}
.ms-icon-font-size-60 {
    font-size: 60px !important;
}
.ms-icon-font-size-70 {
    font-size: 70px !important;
}
.ms-icon-font-size-80 {
    font-size: 80px !important;
}
.ms-icon-font-size-90 {
    font-size: 90px !important;
}
.ms-icon-font-size-100 {
    font-size: 100px !important;
}
.ms-icon-font-size-160 {
    font-size: 160px !important;
}
.ms-icon-font-size-240 {
    font-size: 240px !important;
}
.ms-icon-modifier-doughboy, .ms-icon-modifier-doughboy:before {
    overflow: hidden;
    box-sizing: border-box;
    display: block;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-16, .ms-icon-modifier-doughboy.ms-icon-font-size-16:before {
    height: 16px;
    width: 16px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-20, .ms-icon-modifier-doughboy.ms-icon-font-size-20:before {
    height: 20px;
    width: 20px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-20, .ms-icon-modifier-doughboy.ms-icon-font-size-22:before {
    height: 22px;
    width: 22px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-24, .ms-icon-modifier-doughboy.ms-icon-font-size-24:before {
    height: 24px;
    width: 24px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-25, .ms-icon-modifier-doughboy.ms-icon-font-size-25:before {
    height: 25px;
    width: 25px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-28, .ms-icon-modifier-doughboy.ms-icon-font-size-28:before {
    height: 28px;
    width: 28px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-30, .ms-icon-modifier-doughboy.ms-icon-font-size-30:before {
    height: 30px;
    width: 30px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-32, .ms-icon-modifier-doughboy.ms-icon-font-size-32:before {
    height: 32px;
    width: 32px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-35, .ms-icon-modifier-doughboy.ms-icon-font-size-35:before {
    height: 35px;
    width: 35px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-40, .ms-icon-modifier-doughboy.ms-icon-font-size-40:before {
    height: 40px;
    width: 40px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-48, .ms-icon-modifier-doughboy.ms-icon-font-size-48:before {
    height: 48px;
    width: 48px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-50, .ms-icon-modifier-doughboy.ms-icon-font-size-50:before {
    height: 50px;
    width: 50px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-64, .ms-icon-modifier-doughboy.ms-icon-font-size-64:before {
    height: 64px;
    width: 64px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-70, .ms-icon-modifier-doughboy.ms-icon-font-size-70:before {
    height: 70px;
    width: 70px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-80, .ms-icon-modifier-doughboy.ms-icon-font-size-80:before {
    height: 80px;
    width: 80px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-96, .ms-icon-modifier-doughboy.ms-icon-font-size-96:before {
    height: 96px;
    width: 96px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-100, .ms-icon-modifier-doughboy.ms-icon-font-size-100:before {
    height: 100px;
    width: 100px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-160, .ms-icon-modifier-doughboy.ms-icon-font-size-160:before {
    height: 160px;
    width: 160px;
}
.ms-icon-modifier-doughboy.ms-icon-font-size-240, .ms-icon-modifier-doughboy.ms-icon-font-size-240:before {
    height: 240px;
    width: 240px;
}
.ms-icon-modifier-changePhotoDoughboy {
    padding-top: .1em;
    font-size: 200px !important;
}
.ms-icon-modifier-addIconStroke {
    text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.ms-icon-modifier-addIconStroke-themeSecondary {
    text-shadow: 1px 1px #2B88D8, -1px -1px 0 #2B88D8, 1px -1px 0 #2B88D8, -1px 1px 0 blue, 1px 1px 0 #2B88D8;
}
.ie.ms-icon-modifier-changePhotoDoughboy {
    padding-top: .16em !important;
}
.ms-icon-modifier-personDoughboy:before {
    padding-top: .09em;
    text-indent: -0.05em;
}
.ie.ms-icon-modifier-personDoughboy:before {
    padding-top: 0.14em;
}
.ms-icon-modifier-placeDoughboy:before {
    padding-top: 0.2em;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-16 {
    font-size: 12px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-20 {
    font-size: 15px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-24 {
    font-size: 17px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-25 {
    font-size: 18px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-28 {
    padding-top: 5px;
    font-size: 14px !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-30 {
    font-size: 23px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-32 {
    font-size: 24px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-35 {
    font-size: 25px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-40 {
    font-size: 28px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-48 {
    font-size: 32px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-50 {
    font-size: 37px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-64 {
    font-size: 45px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-70 {
    font-size: 50px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-80 {
    font-size: 58px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-96 {
    font-size: 72px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-100 {
    font-size: 75px !important;
}
.ms-icon-modifier-placeDoughboy.ms-icon-font-size-160 {
    font-size: 120px !important;
}
.ie.ms-icon-modifier-groupDoughboy:before {
    padding-top: .28em;
}
.ms-icon-modifier-groupDoughboy:before {
    padding-top: .25em;
    text-indent: -.25em;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-16 {
    font-size: 14px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-20 {
    font-size: 17.5px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-24 {
    font-size: 21px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-25 {
    font-size: 22px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-30 {
    font-size: 26px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-32 {
    font-size: 28px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-35 {
    font-size: 30.5px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-40 {
    font-size: 35px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-48 {
    font-size: 42px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-50 {
    font-size: 44px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-64 {
    font-size: 56px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-70 {
    font-size: 61px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-80 {
    font-size: 70px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-96 {
    font-size: 84px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-100 {
    font-size: 87.5px !important;
}
.ms-icon-modifier-groupDoughboy.ms-icon-font-size-160 {
    font-size: 140px !important;
}
.ms-icon-modifier-bookingDoughboy:before {
    padding-top: .13em;
    font-size: .8em;
}
.ie.ms-icon-modifier-bookingDoughboy:before {
    padding-top: .16em !important;
}
.ms-icon-modifier-secondaryCalendarCircularImages {
    padding-top: 7px;
    font-size: 17px !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ms-icon-modifier-txpBusStopIcon {
    font-size: 14px !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ms-icon-modifier-birthdayDoughboy.ms-icon-font-size-50 {
    font-size: 32px !important;
    top: 5px;
    left: 8px;
    position: absolute;
}
.ms-icon-modifier-roomDoughboy.ms-icon-font-size-50 {
    padding-top: 11px;
    font-size: 28px !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ms-icon-modifier-roomDoughboy.ms-icon-font-size-32 {
    padding-top: 6px;
    font-size: 20px !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ms-icon-modifier-roomDoughboy.ms-icon-font-size-30 {
    padding-top: 5px;
    font-size: 20px !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ms-icon-modifier-roomDoughboy.ms-icon-font-size-28 {
    padding-top: 7px;
    font-size: 14px !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ms-icon-modifier-birthdayDoughboy.ms-icon-font-size-96 {
    font-size: 63px !important;
    top: 10px;
    left: 15px;
    position: absolute;
}
.ms-icon-modifier-broadcastDoughboy:before {
}
.ie.ms-icon-modifier-broadcastDoughboy:before {
}
.ms-icon-modifier-broadcastDoughboy.ms-icon-font-size-30 {
    font-size: 30px !important;
}
.ms-icon-modifier-broadcastDoughboy.ms-icon-font-size-32 {
    font-size: 32px !important;
}
.ms-icon-modifier-broadcastDoughboy.ms-icon-font-size-40 {
    font-size: 40px !important;
}
.ms-icon-modifier-broadcastDoughboy.ms-icon-font-size-48 {
    font-size: 48px !important;
}
.ms-icon-modifier-broadcastDoughboy.ms-icon-font-size-50 {
    font-size: 50px !important;
}
.ms-icon-modifier-broadcastDoughboy.ms-icon-font-size-64 {
    font-size: 64px !important;
}
.ms-icon-modifier-broadcastDoughboy.ms-icon-font-size-70 {
    font-size: 70px !important;
}
.ms-icon-modifier-broadcastDoughboy.ms-icon-font-size-80 {
    font-size: 80px !important;
}
.ms-icon-modifier-broadcastDoughboy.ms-icon-font-size-96 {
    font-size: 96px !important;
}
.ms-icon-modifier-broadcastDoughboy.ms-icon-font-size-100 {
    font-size: 100px !important;
}
.o365button {
    background-color: transparent
}
@font-face {
    font-family: 'o365Icons';
    src: url('shelleoticons_4be22dac.eot?#iefix') format('embedded-opentype'), url('shellwofficons_ceb492ec.woff') format('woff'), url('shellttficons_79de49fd.ttf') format('truetype'), url('shellsvgicons_1d76668.svg#web') format('svg');
    font-weight: normal;
    font-style: normal
}
.o365cs-base [class^="ms-Icon--"]:before, .o365cs-base [class*=" ms-Icon--"]:before {
    font-family: "Office365Icons", "o365Icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    width: auto;
    margin-left: 0;
    margin-right: 0
}
.o365cs-base [class^="ms-Icon--"], .o365cs-base [class*=" ms-Icon--"] {
    display: inline-block;
    line-height: 1
}
.ms-icon-font-circle:before {
    border-style: solid;
    border-radius: 1em;
    line-height: 1.15;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: .1em
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.ms-icon-font-circle:before {
    line-height: 1
}
}
.ms-icon-font-size-8 {
    font-size: 8px!important
}
.ms-icon-font-size-11 {
    font-size: 11px!important
}
.ms-icon-font-size-12 {
    font-size: 12px!important
}
.ms-icon-font-size-14 {
    font-size: 14px!important
}
.ms-icon-font-size-15 {
    font-size: 15px!important
}
.ms-icon-font-size-17 {
    font-size: 17px!important
}
.ms-icon-font-size-18 {
    font-size: 18px!important
}
.ms-icon-font-size-20 {
    font-size: 20px!important
}
.ms-icon-font-size-22 {
    font-size: 22px!important
}
.ms-icon-font-size-24 {
    font-size: 24px!important
}
.ms-icon-font-size-25 {
    font-size: 25px!important
}
.ms-icon-font-size-26 {
    font-size: 26px!important
}
.ms-icon-font-size-35 {
    font-size: 35px!important
}
.ms-icon-font-size-64 {
    font-size: 64px!important
}
[data-icon]:before {
    content: attr(data-icon)
}
.ms-Icon--circleFill:before {
    content: '\e001 '
}
.ms-Icon--plus:before {
    content: '\e004 '
}
.ms-Icon--question:before {
    content: '\e006 '
}
.ms-Icon--person:before {
    content: '\e008 '
}
.ms-Icon--person2:before {
    content: '\e307 '
}
.ms-Icon--mail:before {
    content: '\e009 '
}
.ms-Icon--infoCircle:before {
    content: '\e00a '
}
.ms-Icon--alert:before {
    content: '\e00b '
}
.ms-Icon--xCircle:before {
    content: '\e00c '
}
.ms-Icon--bell:before {
    content: '\e010 '
}
.ms-Icon--calendar:before {
    content: '\e011 '
}
.ms-Icon--scheduling:before {
    content: '\e012 '
}
.ms-Icon--event:before {
    content: '\e013 '
}
.ms-Icon--onedrive:before {
    content: '\e016 '
}
.ms-Icon--chat:before {
    content: '\e017 '
}
.ms-Icon--menu:before {
    content: '\e020 '
}
.ms-Icon--favorites:before {
    content: '\e022 '
}
.ms-Icon--phone:before {
    content: '\e023 '
}
.ms-Icon--clock:before {
    content: '\e105 '
}
.ms-Icon--miniatures:before {
    content: '\e02a '
}
.ms-Icon--gear:before {
    content: '\e035 '
}
.ms-Icon--smiley:before {
    content: '\e036 '
}
.ms-Icon--search:before {
    content: '\e039 '
}
.ms-Icon--questionReverse:before {
    content: '\e03a '
}
.ms-Icon--tasks:before {
    content: '\e040 '
}
.ms-Icon--check:before {
    content: '\e041 '
}
.ms-Icon--x:before {
    content: '\e042 '
}
.ms-Icon--ellipsis:before {
    content: '\e045 '
}
.ms-Icon--refresh:before {
    content: '\e034 '
}
.ms-Icon--arrowLeft:before {
    content: '\e049 '
}
.ms-Icon--arrowRight:before {
    content: '\e04a '
}
.ms-Icon--download:before {
    content: '\e04b '
}
.ms-Icon--save:before {
    content: '\e025 '
}
.ms-Icon--pencil:before {
    content: '\e027 '
}
.ms-Icon--caretUp:before {
    content: '\e051 '
}
.ms-Icon--caretDown:before {
    content: '\e052 '
}
.ms-Icon--officeThreshold:before {
    content: '\e055 '
}
.ms-Icon--office365:before {
    content: '\e056 '
}
.ms-Icon--office365Preview:before {
    content: '\e057 '
}
.ms-Icon--apps:before {
    content: '\e060 '
}
.ms-Icon--officeStore:before {
    content: '\e061 '
}
.ms-Icon--windowsStore:before {
    content: '\e37a '
}
.ms-Icon--outlook:before {
    content: '\e062 '
}
.ms-Icon--project:before {
    content: '\e063 '
}
.ms-Icon--yammer:before {
    content: '\e064 '
}
.ms-Icon--dynamicsCrm:before {
    content: '\e065 '
}
.ms-Icon--adminP:before {
    content: '\e137 '
}
.ms-Icon--admin:before {
    content: '\e081 '
}
.ms-Icon--microsoft:before {
    content: '\e083 '
}
.ms-Icon--powerBi:before {
    content: '\e08b '
}
.ms-Icon--newsfeed:before {
    content: '\e08d '
}
.ms-Icon--gallatin:before {
    content: '\e0b3 '
}
.ms-Icon--chevronUp:before {
    content: '\e087 '
}
.ms-Icon--chevronDown:before {
    content: '\e088 '
}
.ms-Icon--chevronLeft:before {
    content: '\e089 '
}
.ms-Icon--chevronRight:before {
    content: '\e08a '
}
.ms-Icon--waffle2:before {
    content: '\e303 '
}
.ms-Icon--tile:before {
    content: '\e070 '
}
.ms-Icon--delve:before {
    content: '\e118 '
}
.ms-Icon--camera:before {
    content: '\e119 '
}
.ms-Icon--people:before {
    content: '\e00e '
}
.ms-Icon--lync:before {
    content: '\e066 '
}
.ms-Icon--sharepoint:before {
    content: '\e072 '
}
.ms-Icon--word:before {
    content: '\e0b9 '
}
.ms-Icon--excel:before {
    content: '\e0b5 '
}
.ms-Icon--powerpoint:before {
    content: '\e0b8 '
}
.ms-Icon--onenote:before {
    content: '\e0b7 '
}
.ms-Icon--socialListening:before {
    content: '\e123 '
}
.ms-Icon--adminA:before {
    content: '\e130 '
}
.ms-Icon--group:before {
    content: '\e155 '
}
.ms-Icon--video:before {
    content: '\e170 '
}
.ms-Icon--skype:before {
    content: '\e199 '
}
.ms-Icon--officeVideo:before {
    content: '\e202 '
}
.ms-Icon--parature:before {
    content: '\e20a '
}
.ms-Icon--thumbUp:before {
    content: '\e044 '
}
.ms-Icon--bing:before {
    content: '\e225 '
}
.ms-Icon--docs:before {
    content: '\e290 '
}
.ms-Icon--msn:before {
    content: '\e241 '
}
.ms-Icon--sway:before {
    content: '\e247 '
}
.ms-Icon--skypeForBusiness:before {
    content: '\e258 '
}
.ms-Icon--checkPeople:before {
    content: '\e259 '
}
.ms-Icon--classroom:before {
    content: '\e276 '
}
.ms-Icon--globe:before {
    content: '\e222 '
}
.ms-Icon--mobile:before {
    content: '\e195 '
}
.ms-Icon--classNotebook:before {
    content: '\e25f '
}
.ms-Icon--fileWord:before {
    content: '\e269 '
}
.ms-Icon--filePowerPoint:before {
    content: '\e26a '
}
.ms-Icon--fileExcel:before {
    content: '\e26b '
}
.ms-Icon--protectionCenter:before {
    content: '\e289 '
}
.ms-Icon--oneNoteEdu:before {
    content: '\e280 '
}
.ms-Icon--nonProfitPortal:before {
    content: '\e37e '
}
.ms-Icon--powerBi3:before {
    content: '\e39d '
}
.ms-Icon--kaizala:before {
    content: '\e407 '
}
.ms-Icon--myAnalytics:before {
    content: '\e409 '
}
.ms-Icon--myAnalytics2:before {
    content: '\e40a '
}
.ms-Icon--powerBi2:before {
    content: '\e281 '
}
.ms-Icon--chevronThinUp:before {
    content: '\e231 '
}
.ms-Icon--chevronThinDown:before {
    content: '\e232 '
}
.ms-Icon--chevronThickDown:before {
    content: '\e236 '
}
.ms-Icon--chevronThickLeft:before {
    content: '\e237 '
}
.ms-Icon--chevronThickRight:before {
    content: '\e238 '
}
.ms-Icon--starburst:before {
    content: '\e29a '
}
.ms-Icon--lightBulb2:before {
    content: '\e313 '
}
.ms-Icon--powerApps:before {
    content: '\e314 '
}
.ms-Icon--skypeCheck:before {
    content: '\e315 '
}
.ms-Icon--skypeClock:before {
    content: '\e316 '
}
.ms-Icon--skypeMinus:before {
    content: '\e317 '
}
.ms-Icon--skypeMeetings:before {
    content: '\e258 '
}
.ms-Icon--bookings:before {
    content: '\e32a '
}
.ms-Icon--dynamicsNAV:before {
    content: '\e32c '
}
.ms-Icon--officeForms:before {
    content: '\e333 '
}
.ms-Icon--skypeMessage:before {
    content: '\e338 '
}
.ms-Icon--flowLight:before {
    content: '\e361 '
}
.ms-Icon--stream:before {
    content: '\e34f '
}
.ms-Icon--skypeTeams:before {
    content: '\e362 '
}
.ms-Icon--teams:before {
    content: '\e379 '
}
.ms-Icon--dynamics365:before {
    content: '\e375 '
}
.ms-Icon--businessCenter:before {
    content: '\e37b '
}
.ms-Icon--minus:before {
    content: '\e005 '
}
.ms-Icon--folder:before {
    content: '\e014 '
}
.ms-Icon--trash:before {
    content: '\e026 '
}
.ms-Icon--reload:before {
    content: '\e19f '
}
.ms-Icon--picture2:before {
    content: '\e358 '
}
.ms-Icon--toDoLogo:before {
    content: '\e418 '
}
.ms-Icon--circlePlus2:before {
    content: '\e403 '
}
.ms-Icon--document:before {
    content: '\e182 '
}
.ms-Icon--visio:before {
    content: '\e201 '
}
.ms-Icon--staffHub:before {
    content: '\e421 '
}
.o365cs * {
    font-family: "SegoeUI-Regular-final", "Segoe UI", "Segoe UI WPC", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: normal;
    font-weight: normal;
    white-space: nowrap
}
.o365cs-segoeRegular {
    font-family: "Segoe UI Regular", "Segoe UI", Segoe, Tahoma, Helvetica, Arial, sans-serif
}
.o365cs button, .o365cs .o365button, .o365cs-flexPane-panel .o365button, .o365cs-flexPane-panel-new .o365button {
    min-width: 0;
    margin: 0
}
.o365cs-display-none {
    display: none!important
}
.o365cs-context-font {
    font-size: 19px
}
.o365cs-h100 {
    height: 100%
}
.o365cs-w100 {
    width: 100%
}
.o365cs-w100-h100 {
    height: 100%;
    width: 100%
}
.o365cs-nav-spinnerContainer {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 11px;
    margin-left: 24px
}
.o365cs-nav-spinner {
    width: 12px;
    height: 12px;
    position: relative;
    padding: 2px;
    overflow: hidden;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(8, end);
    -moz-animation-timing-function: steps(8, end);
    animation-timing-function: steps(8, end);
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    animation-name: rotate
}
.o365cs-nav-spinnerBall {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    position: absolute;
    -webkit-transform-origin: 6px 6px;
    -moz-transform-origin: 6px 6px;
    transform-origin: 6px 6px
}
.o365cs-newALV3-on .o365cs-nav-spinnerBall {
    background-color: #666!important
}
.o365cs-nav-spinnerBall:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}
.o365cs-nav-spinnerBall:nth-child(2) {
    opacity: .8;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0)
}
.o365cs-nav-spinnerBall:nth-child(3) {
    opacity: .6;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.o365cs-nav-spinnerBall:nth-child(4) {
    opacity: .4;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg)
}
.o365cs-nav-spinnerBall:nth-child(5) {
    opacity: .25;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg)
}
.o365cs-nav-spinnerBall:nth-child(6) {
    opacity: .15;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
.o365cs-nav-spinnerBall:nth-child(7) {
    opacity: .075;
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    transform: rotate(-225deg)
}
.o365cs-nav-spinnerBall:nth-child(8) {
    opacity: .05;
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    transform: rotate(-270deg)
}
.o365cs-nav-navMenuLoadingText {
    display: inline-block;
    margin: 10px 10px 20px 10px;
    font-size: 14px
}
.o365cs-newALV3-on .o365cs-nav-navMenuLoadingText {
    color: #666!important
}
.o365cs-nav-appTileDisabled {
    cursor: default!important
}
.o365cs-pickerdownarrow {
    margin-top: 1px;
    font-size: 14px!important
}
.o365cs-checkmarksmall {
    margin: -3px 3px 0 0
}
.o365cs-me-contextMenu {
    width: 374px;
    padding-right: 1px;
    white-space: nowrap
}
.o365cs-me-contextMenu button {
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    height: auto;
    width: 100%
}
.o365cs-me-personaCellInline {
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block
}
.o365cs-me-presenceColor-Unknown {
    background-color: #dedede
}
.o365cs-me-presenceColor-Available {
    background-color: #5dd255
}
.o365cs-me-presenceColor-Away {
    background-color: #ffd200
}
.o365cs-me-presenceColor-Busy {
    background: -webkit-repeating-linear-gradient(135deg, #e57a79, #e57a79 3px, #d00e0d 3px, #d00e0d 6px);
    background: -moz-repeating-linear-gradient(135deg, #e57a79, #e57a79 3px, #d00e0d 3px, #d00e0d 6px);
    background: repeating-linear-gradient(-45deg, #e57a79, #e57a79 3px, #d00e0d 3px, #d00e0d 6px)
}
.o365cs-me-presenceColor-Blocked {
    background: -webkit-gradient(linear, left top, left bottom, from(#dedede), color-stop(48%, #dedede), color-stop(48%, #c72d25), color-stop(52%, #c72d25), color-stop(52%, #dedede), to(#dedede));
    background: -webkit-linear-gradient(top, #dedede 0%, #dedede 48%, #c72d25 48%, #c72d25 52%, #dedede 52%, #dedede 100%);
    background: -moz-linear-gradient(top, #dedede 0%, #dedede 48%, #c72d25 48%, #c72d25 52%, #dedede 52%, #dedede 100%);
    background: linear-gradient(to bottom, #dedede 0%, #dedede 48%, #c72d25 48%, #c72d25 52%, #dedede 52%, #dedede 100%)
}
.o365cs-me-presenceColor-DND {
    background: -webkit-gradient(linear, left top, left bottom, from(#c72d25), color-stop(48%, #c72d25), color-stop(48%, #fff), color-stop(52%, #fff), color-stop(52%, #c72d25), to(#c72d25));
    background: -webkit-linear-gradient(top, #c72d25 0%, #c72d25 48%, #fff 48%, #fff 52%, #c72d25 52%, #c72d25 100%);
    background: -moz-linear-gradient(top, #c72d25 0%, #c72d25 48%, #fff 48%, #fff 52%, #c72d25 52%, #c72d25 100%);
    background: linear-gradient(to bottom, #c72d25 0%, #c72d25 48%, #fff 48%, #fff 52%, #c72d25 52%, #c72d25 100%)
}
.o365cs-me-tile-nophoto>.o365cs-me-presenceOffline5x50 {
    display: table-cell
}
.o365cs-me-personaimg {
    position: absolute;
    left: 0
}
.o365cs-nav-itemDisabled {
    color: #999!important;
    cursor: default!important
}
.o365cs-flexPane-unseenitems {
    position: absolute;
    bottom: 43px;
    left: 22px
}
.o365cs-flexPane-unseenCount {
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 16px!important;
    border-radius: .8em
}
.o365cs-flexPane-unseenCountBorder {
    border: 1px solid
}
.o365cs-flexPane-unseenCountOval {
    width: 26px!important
}
@-moz-keyframes rotate {
from {
-moz-transform:rotate(0);
transform:rotate(0)
}
to {
-moz-transform:rotate(360deg);
transform:rotate(360deg)
}
}
@keyframes rotate {
from {
-webkit-transform:rotate(0);
-moz-transform:rotate(0);
transform:rotate(0)
}
to {
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
transform:rotate(360deg)
}
}
@-webkit-keyframes rotate {
from {
-webkit-transform:rotate(0)
}
to {
-webkit-transform:rotate(360deg)
}
}
.o365cs-base .ms-Icon, .o365cs-base .ms-Icon::before {
    font-family: 'ShellFabricMDL2Icons'
}
.o365cs-base .ms-Icon--GlobalNavButton::before {
    content: "\e700 "
}
.o365cs-base .ms-Icon--More::before {
    content: "\e712 "
}
.o365cs-base .ms-Icon--Settings::before {
    content: "\e713 "
}
.o365cs-base .ms-Icon--People::before {
    content: "\e716 "
}
.o365cs-base .ms-Icon--Search::before {
    content: "\e721 "
}
.o365cs-base .ms-Icon--Forward::before {
    content: "\e72a "
}
.o365cs-base .ms-Icon--Back::before {
    content: "\e72b "
}
.o365cs-base .ms-Icon--ChevronLeft::before {
    content: "\e76b "
}
.o365cs-base .ms-Icon--ChevronRight::before {
    content: "\e76c "
}
.o365cs-base .ms-Icon--Emoji2::before {
    content: "\e76e "
}
.o365cs-base .ms-Icon--Contact::before {
    content: "\e77b "
}
.o365cs-base .ms-Icon--Calendar::before {
    content: "\e787 "
}
.o365cs-base .ms-Icon--News::before {
    content: "\e900 "
}
.o365cs-base .ms-Icon--Download::before {
    content: "\e896 "
}
.o365cs-base .ms-Icon--Help::before {
    content: "\e897 "
}
.o365cs-base .ms-Icon--ChromeClose::before {
    content: "\e8bb "
}
.o365cs-base .ms-Icon--OneDrive::before {
    content: "\e941 "
}
.o365cs-base .ms-Icon--ChevronUpMed::before {
    content: "\e971 "
}
.o365cs-base .ms-Icon--ChevronDownMed::before {
    content: "\e972 "
}
.o365cs-base .ms-Icon--Ringer::before {
    content: "\ea8f "
}
.o365cs-base .ms-Icon--StoreLogo::before {
    content: "\ea96 "
}
.o365cs-base .ms-Icon--CircleFill::before {
    content: "\ea3b "
}
.o365cs-base .ms-Icon--HelpMirrored::before {
    content: "\ea51 "
}
.o365cs-base .ms-Icon--Lightbulb::before {
    content: "\ea80 "
}
.o365cs-base .ms-Icon--BingLogo::before {
    content: "\eb6b "
}
.o365cs-base .ms-Icon--MSNLogo::before {
    content: "\eb6c "
}
.o365cs-base .ms-Icon--OfficeLogo::before {
    content: "\eb6e "
}
.o365cs-base .ms-Icon--SkypeLogo::before {
    content: "\eb6f "
}
.o365cs-base .ms-Icon--PowerBILogo::before {
    content: "\ea1e "
}
.o365cs-base .ms-Icon--YammerLogo::before {
    content: "\ed19 "
}
.o365cs-base .ms-Icon--AdminALogo::before {
    content: "\ed6a "
}
.o365cs-base .ms-Icon--AdminPLogo::before {
    content: "\ed71 "
}
.o365cs-base .ms-Icon--ParatureLogo::before {
    content: "\ed7b "
}
.o365cs-base .ms-Icon--SocialListeningLogo::before {
    content: "\ed7c "
}
.o365cs-base .ms-Icon--Waffle::before {
    content: "\ed89 "
}
.o365cs-base .ms-Icon--BookingsLogo::before {
    content: "\edc7 "
}
.o365cs-base .ms-Icon--DocsLogoInverse::before {
    content: "\edcb "
}
.o365cs-base .ms-Icon--Dynamics365Logo::before {
    content: "\edcc "
}
.o365cs-base .ms-Icon--DynamicSMBLogo::before {
    content: "\edcd "
}
.o365cs-base .ms-Icon--OfficeStoreLogo::before {
    content: "\edcf "
}
.o365cs-base .ms-Icon--PlannerLogo::before {
    content: "\edd1 "
}
.o365cs-base .ms-Icon--OfficeAddinsLogo::before {
    content: "\eec7 "
}
.o365cs-base .ms-Icon--ClassroomLogo::before {
    content: "\ef75 "
}
.o365cs-base .ms-Icon--CaretSolidDown::before {
    content: "\f08e "
}
.o365cs-base .ms-Icon--PowerAppsLogo::before {
    content: "\f091 "
}
.o365cs-base .ms-Icon--SkypeForBusinessLogo::before {
    content: "\f0fc "
}
.o365cs-base .ms-Icon--AnalyticsLogo::before {
    content: "\f1de "
}
.o365cs-base .ms-Icon--WordLogo::before {
    content: "\f1e3 "
}
.o365cs-base .ms-Icon--ExcelLogo::before {
    content: "\f1e5 "
}
.o365cs-base .ms-Icon--OneNoteLogo::before {
    content: "\f1e7 "
}
.o365cs-base .ms-Icon--OutlookLogo::before {
    content: "\f1e9 "
}
.o365cs-base .ms-Icon--PowerPointLogo::before {
    content: "\f1eb "
}
.o365cs-base .ms-Icon--TeamsLogo::before {
    content: "\f27b "
}
.o365cs-base .ms-Icon--SharepointLogo::before {
    content: "\f27e "
}
.o365cs-base .ms-Icon--DelveLogo::before {
    content: "\f280 "
}
.o365cs-base .ms-Icon--OfficeVideoLogo::before {
    content: "\f282 "
}
.o365cs-base .ms-Icon--VisioLogo::before {
    content: "\f2a7 "
}
.o365cs-base .ms-Icon--MoreVertical::before {
    content: "\f2bc "
}
.o365cs-base .ms-Icon--StreamLogo::before {
    content: "\f329 "
}
.o365cs-base .ms-Icon--OfficeFormsLogo::before {
    content: "\f434 "
}
.o365cs-base .ms-Icon--ProjectLogo32::before {
    content: "\f47e "
}
.o365cs-base .ms-Icon--SwayLogo32::before {
    content: "\f482 "
}
.o365cs-base .ms-Icon--ClassNotebookLogo32::before {
    content: "\f486 "
}
.o365cs-base .ms-Icon--StaffNotebookLogo32::before {
    content: "\f48c "
}
.o365cs-base .ms-Icon--KaizalaLogo::before {
    content: "\f492 "
}
.o365cs-base .ms-Icon--TaskLogo::before {
    content: "\f493 "
}
.o365cs-base .ms-Icon--ProtectionCenterLogo32::before {
    content: "\f494 "
}
.o365cs-base .ms-Icon--NonprofitLogo32::before {
    content: "\f495 "
}
.o365cs-base .ms-Icon--GallatinLogo::before {
    content: "\f496 "
}
.o365cs-base .ms-Icon--MicrosoftFlowLogo::before {
    content: "\f4b1 "
}
.o365cs-base .ms-Icon--BusinessCenterLogo::before {
    content: "\f4b2 "
}
.o365cs-base .ms-Icon--ToDoLogoInverse::before {
    content: "\f4bc "
}
.o365cs-base .ms-Icon--M365InvoicingLogo::before {
    content: "\f7c1 "
}
.o365cs-base .ms-Icon--Mail::before {
    content: "\f715 "
}
.o365cs-base .ms-Icon--MicrosoftStaffhubLogo::before {
    content: "\f130 "
}
.o365cs-base .ms-Icon--AddIn::before {
    content: "\f775 "
}
.o365cs-base * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.o365cs-clear {
    clear: both
}
.o365cs-segoeSemibold {
    font-family: "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Segoe, Tahoma, Arial, sans-serif
}
.o365cs-nav-header16 {
    width: 100%;
    height: 50px;
    display: table;
    border-spacing: 0;
    font-size: 0;
    white-space: nowrap;
    line-height: normal
}

@media print {
.o365cs-nav-header16 [class^="ms-Icon--"]:before, .o365cs-nav-header16 [class*=" ms-Icon--"]:before {
    content: ''!important
}
.o365cs-nav-header16 [class^="ms-Icon--"], .o365cs-nav-header16 [class*=" ms-Icon--"] {
    display: none!important
}
}
.o365cs-nav-header16 .o365cs-nav-leftAlign {
    display: table-cell;
    vertical-align: middle
}
.o365cs-navMenuButton {
    -webkit-transition: background-color .65s ease;
    -moz-transition: background-color .65s ease;
    transition: background-color .65s ease
}
.o365cs-newAL-on.o365cs-nav-switcher {
    background-color: rgba(255,255,255,.97);
    border: 1px solid #d6d6d6;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.24);
    box-shadow: 0 0 6px rgba(0,0,0,.24);
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
    position: absolute;
    top: 50px!important;
    left: 0!important;
    right: auto!important;
    margin: 11px 0 0 11px;
    padding: 8px 6px 6px 6px;
    width: auto;
    min-width: 208px;
    max-width: 510px;
    height: auto;
    max-height: -webkit-calc(100vh - 80px)!important;
    max-height: -moz-calc(100vh - 80px)!important;
    max-height: calc(100vh - 80px)!important;
    outline: 0
}
.o365cs-newALV2-on.o365cs-nav-switcher, .o365cs-newALV3-on.o365cs-nav-switcher {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    position: absolute;
    top: 50px!important;
    left: 0!important;
    right: auto!important;
    margin: 0;
    padding: 0;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: calc(100vh - 50px);
    max-height: none!important;
    overflow-y: auto;
    outline: 0
}
.o365cs-newALV3-on.o365cs-nav-switcher {
    -webkit-box-shadow: 0 16px 24px 0 rgba(0,0,0,.1);
    box-shadow: 0 16px 24px 0 rgba(0,0,0,.1);
    top: 0!important;
    height: -webkit-calc(100vh);
    height: -moz-calc(100vh);
    height: calc(100vh)
}
.o365cs-newAL-on.o365cs-nav-launcher {
    padding: 8px 6px 6px 6px;
    max-width: 510px
}
.o365cs-newALV2-on.o365cs-nav-launcher, .o365cs-newALV3-on.o365cs-nav-launcher {
    max-width: 320px
}
.o365cs-newAL-on.o365cs-nav-navMenu {
    background-color: rgba(255,255,255,.97);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 50px!important;
    overflow-y: auto;
    outline: 0
}
.o365cs-newALV2-on.o365cs-nav-navMenu, .o365cs-newALV3-on.o365cs-nav-navMenu {
    border: 0;
    overflow-y: auto;
    outline: 0
}
.o365cs-newALV2-on.o365cs-nav-navMenu {
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 50px!important
}
.o365cs-newALV3-on.o365cs-nav-navMenu {
    -webkit-box-shadow: 0 16px 24px 0 rgba(0,0,0,.1);
    box-shadow: 0 16px 24px 0 rgba(0,0,0,.1);
    top: 0!important;
    height: -webkit-calc(100vh);
    height: -moz-calc(100vh);
    height: calc(100vh);
    overflow: hidden
}

@media(max-width:1023px) {
.o365cs-newAL-on.o365cs-nav-navMenu {
    border-left: 1px solid #d6d6d6;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    left: auto!important;
    right: 0!important;
    padding: 20px 20px 10px 20px;
    width: 306px;
    max-width: none!important;
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: calc(100vh - 50px);
    max-height: none!important
}
.o365cs-newALV2-on.o365cs-nav-navMenu, .o365cs-newALV3-on.o365cs-nav-navMenu {
    border-left: none;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    left: auto!important;
    right: 0!important;
    width: 320px;
    max-width: none!important;
    max-height: none!important
}
.o365cs-newALV2-on.o365cs-nav-navMenu {
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: calc(100vh - 50px)
}
}

@media(min-width:1024px) {
.o365cs-rsp-m-hide {
    display: none!important
}
.o365cs-newAL-on.o365cs-nav-navMenu {
    border: 1px solid #d6d6d6;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.24);
    box-shadow: 0 0 6px rgba(0,0,0,.24);
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
    position: absolute;
    left: 0!important;
    right: auto!important;
    margin: 11px 0 0 11px;
    padding: 8px 6px 6px 6px;
    width: auto;
    min-width: 208px;
    max-width: 510px;
    height: auto;
    max-height: -webkit-calc(100vh - 80px)!important;
    max-height: -moz-calc(100vh - 80px)!important;
    max-height: calc(100vh - 80px)!important
}
.o365cs-newALV2-on.o365cs-nav-navMenu, .o365cs-newALV3-on.o365cs-nav-navMenu {
    border: 0;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    position: absolute;
    left: 0!important;
    right: auto!important;
    margin: 0;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    max-height: none!important
}
.o365cs-newALV2-on.o365cs-nav-navMenu {
    -webkit-box-shadow: none;
    box-shadow: none;
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: calc(100vh - 50px)
}
}

@media(min-width:640px)and (max-width:1023px) {
.o365cs-rsp-tw-hide {
    display: none!important
}
}

@media(min-width:640px)and (max-width:899px) {
.o365cs-rsp-tw-sm-hide {
    display: none!important
}
}

@media(max-width:639px) {
.o365cs-rsp-tn-hide {
    display: none!important
}
.o365cs-rsp-affordance-on .o365cs-rsp-tn-hideIfAffordanceOn {
    display: none!important
}
.o365cs-rsp-affordance-off .o365cs-rsp-tn-hideIfAffordanceOff {
    display: none!important
}
}
.o365cs-newALV2-on .o365cs-nav-navMenuContent {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #333;
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: calc(100vh - 50px)
}
.o365cs-newALV3-on .o365cs-nav-navMenuContent {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    height: -webkit-calc(100vh);
    height: -moz-calc(100vh);
    height: calc(100vh)
}
.o365cs-newALV2-on .o365cs-nav-navMenuContent {
    padding-top: 36px
}
.o365cs-nav-navMenuBeak {
    position: absolute;
    bottom: -8px;
    left: 14px;
    z-index: 2100
}
.o365cs-newALV2-on .o365cs-nav-navMenuBeak, .o365cs-newALV3-on .o365cs-nav-navMenuBeak {
    display: none!important
}
.o365cs-nav-navMenuBeak:before, .o365cs-nav-navMenuBeak:after {
    border: solid transparent;
    content: ' ';
    height: 0;
    position: absolute;
    width: 0
}
.o365cs-nav-navMenuBeak:before {
    border-width: 11px 12.5px;
    border-bottom-color: #d6d6d6;
    top: -18px;
    left: 5px
}
.o365cs-nav-navMenuBeak:after {
    border-width: 10px 11.5px;
    border-bottom-color: #fff;
    top: -16px;
    left: 6px
}
.o365cs-newALV2-on .o365cs-nav-scrollbar, .o365cs-newALV3-on .o365cs-nav-scrollbar {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}
.o365cs-newALV2-on .o365cs-nav-scrollbar:not(:-webkit-any-link), .o365cs-newALV3-on .o365cs-nav-scrollbar:not(:-webkit-any-link) {
    margin-right: 6px
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar {
width:6px
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-button, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-button, .o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-track, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-track, .o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-corner, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-corner {
background-color:transparent
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-button, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-button {
background-repeat:no-repeat;
cursor:pointer
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-button:vertical, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-button:vertical {
background-position:center;
width:18px;
height:18px
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-button:vertical:increment, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-button:vertical:increment {
background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAUUlEQVQ4T6XLMQ6AMAwEwfz/bXRIfOeQCxckK8iKYgqvfCPJLxgNjAZGA6OB0VjCcV55M/8/jkbDMv+VJbSdccHYvsYFo4HRwGhgNDAaGPdl3LNlBnofQ4+bAAAAAElFTkSuQmCC)
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-button:vertical:decrement, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-button:vertical:decrement {
background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAVUlEQVQ4T6XMMQoAIQxEUe9/NrsFrzOSIqDxgzu7xSv8ZGySfsHowOjA6MDowOjAmPozFGpfYQw5vn2CsY5TvQtHoOGq3m+PLzA6MDowOjA6ML6nNgFW+wZ6kTk6FAAAAABJRU5ErkJggg==)
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-button:vertical:increment:hover, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-button:vertical:increment:hover {
background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAUklEQVQ4T6XLsQ2AMAwF0ey/A1swAnt95MIFyQlyoniFT/4jyS8YDYwGRgOjgdFYwnFeeTP/P45GwzL/lSW0nXHB2L7GBaOB0cBoYDQwGhj3Zdx8sf7rjOGQqwAAAABJRU5ErkJggg==)
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-button:vertical:decrement:hover, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-button:vertical:decrement:hover {
background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAVklEQVQ4T6XMwQ3AIAwEQfrvgS5SAn0d8sMSmJXIJY95sPLRJP2C0YHRgdGB0YHRgTH1ZyjUvsIYcnz7BGMdp3oXjkDDVb3fHl9gdGB0YHRgdGB8T20CB+X+675uLU0AAAAASUVORK5CYII=)
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-thumb {
border-radius:9px;
border:none;
background-color:rgba(255,255,255,.85)
}
.o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-thumb {
border-radius:9px;
border:none;
background-color:#ccd3d6
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-thumb:vertical, .o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-thumb:vertical {
min-height:50px
}
.o365cs-newALV2-on .o365cs-nav-scrollbar::-webkit-scrollbar-thumb:hover {
background-color:#fff
}
.o365cs-newALV3-on .o365cs-nav-scrollbar::-webkit-scrollbar-thumb:hover {
background-color:#9db4c4
}
.o365cs-nav-closeButton {
    display: block;
    vertical-align: middle;
    background-clip: content-box!important;
    background-color: transparent!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 0;
    margin: 0 5px 5px 0;
    padding: 5px 0 0 5px!important;
    min-width: 45px;
    height: 45px!important;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    -webkit-transition: background-color .083s linear;
    -moz-transition: background-color .083s linear;
    transition: background-color .083s linear
}
.o365cs-nav-closeButton:hover {
    background-color: #dbdad7!important;
    -webkit-transition: background-color .167s linear;
    -moz-transition: background-color .167s linear;
    transition: background-color .167s linear
}
.o365cs-nav-closeButton:active {
    background-color: #b9b7b5!important
}
.o365cs-nav-navMenuTabs {
    margin-left: 24px;
    height: 47px
}
.o365cs-nav-navMenuTab {
    font-size: 12px!important;
    background-color: transparent!important;
    border-bottom-width: 2px!important;
    border-bottom-style: solid;
    padding: 0 4px 2px 4px!important;
    margin: 0 8px 0 0;
    min-width: 0;
    height: auto
}
.o365cs-nav-navMenuTab:not(.ms-bcl-tt) {
    border-bottom-color: transparent
}
.o365cs-newALV2-on .o365cs-nav-navMenuTabContainer {
    padding-left: 24px;
    height: -webkit-calc(100vh - 160px);
    height: -moz-calc(100vh - 160px);
    height: calc(100vh - 160px)
}
.o365cs-newALV3-on .o365cs-nav-navMenuTabContainer {
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: calc(100vh - 50px)
}
.o365cs-newALV2-on .o365cs-nav-hasAllAppsLink .o365cs-nav-navMenuTabContainer, .o365cs-newALV2-on .o365cs-nav-hasGetMoreAppsLink .o365cs-nav-navMenuTabContainer {
    height: -webkit-calc(100vh - 188px);
    height: -moz-calc(100vh - 188px);
    height: calc(100vh - 188px)
}
.o365cs-newALV2-on .o365cs-nav-hasAllAppsLink.o365cs-nav-hasGetMoreAppsLink .o365cs-nav-navMenuTabContainer {
    height: -webkit-calc(100vh - 216px);
    height: -moz-calc(100vh - 216px);
    height: calc(100vh - 216px)
}
.o365cs-newALV3-on .o365cs-nav-pinnedTab.slideInT {
    -webkit-animation-duration: .25s;
    -moz-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-name: o365cs-nav-pinnedTab-slideInT;
    -moz-animation-name: o365cs-nav-pinnedTab-slideInT;
    animation-name: o365cs-nav-pinnedTab-slideInT;
    -webkit-animation-timing-function: cubic-bezier(.26, 1, .48, 1);
    -moz-animation-timing-function: cubic-bezier(.26, 1, .48, 1);
    animation-timing-function: cubic-bezier(.26, 1, .48, 1)
}
@-webkit-keyframes o365cs-nav-pinnedTab-slideInT {
from {
visibility:hidden;
opacity:0;
margin-left:-30px
}
to {
visibility:visible;
opacity:1;
margin-left:0
}
}
@-moz-keyframes o365cs-nav-pinnedTab-slideInT {
from {
visibility:hidden;
opacity:0;
margin-left:-30px
}
to {
visibility:visible;
opacity:1;
margin-left:0
}
}
@keyframes o365cs-nav-pinnedTab-slideInT {
from {
visibility:hidden;
opacity:0;
margin-left:-30px
}
to {
visibility:visible;
opacity:1;
margin-left:0
}
}
.o365cs-nav-placesLinks {
    position: absolute;
    top: 15px;
    left: 202px
}
.o365cs-nav-placesLink {
    font-size: 14px!important;
    text-decoration: none!important
}
.o365cs-nav-placesLink .owaimg {
    font-size: 12px!important;
    margin-top: -4px;
    margin-left: 12px;
    vertical-align: middle
}
.o365cs-nav-moduleLabel {
    display: block;
    font-size: 22px!important;
    margin: 30px 0 20px 18px;
    letter-spacing: .01px
}
.o365cs-nav-appItem {
    float: left
}
.o365cs-nav-listView {
    padding-left: 0!important
}
.o365cs-nav-listView .o365cs-nav-appItem {
    float: none
}
.o365cs-nav-appItemGroup {
    width: 92px;
    height: 92px
}
.o365cs-nav-appTile {
    display: block;
    text-align: center;
    line-height: normal;
    position: relative;
    text-decoration: none!important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none
}
.o365cs-newAL-on .o365cs-nav-appTile {
    margin: 0 2px 2px 0;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: outline 2.125s ease-in-out, -webkit-transform .125s ease-in-out;
    -moz-transition: outline 2.125s ease-in-out, -moz-transform .125s ease-in-out;
    transition: outline 2.125s ease-in-out, transform .125s ease-in-out
}
.o365cs-newALV2-on .o365cs-nav-appTile {
    margin: 0 4px 4px 0;
    -webkit-transition: outline 2.125s ease-in-out, -webkit-transform .125s ease-in-out;
    -moz-transition: outline 2.125s ease-in-out, -moz-transform .125s ease-in-out;
    transition: outline 2.125s ease-in-out, transform .125s ease-in-out
}
.o365cs-newALV3-on .o365cs-nav-appTile {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 0;
    text-align: left;
    -webkit-transition: border-color .083s linear, -webkit-box-shadow .083s linear;
    -moz-transition: border-color .083s linear, box-shadow .083s linear;
    transition: border-color .083s linear, box-shadow .083s linear
}
.o365cs-newALV3-on .o365cs-nav-appTileHovered, .o365cs-newALV3-on .o365cs-nav-appTileMenuShown {
    border-color: #f4f4f4;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
    -webkit-transition: border-color .167s linear, -webkit-box-shadow .167s linear;
    -moz-transition: border-color .167s linear, box-shadow .167s linear;
    transition: border-color .167s linear, box-shadow .167s linear
}
.o365cs-newALV3-on .o365cs-nav-appTile:active {
    border-color: #f4f4f4;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1)
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTile {
    width: auto;
    height: auto;
    margin: 0;
    padding: 4px 0 4px 24px;
    outline-offset: -1px
}
.o365cs-newALV3-on .o365cs-nav-listView .o365cs-nav-appTile {
    width: 289px;
    margin-left: 8px
}
.o365cs-nav-appTileDisabled, .o365cs-nav-appTileLoading {
    cursor: default!important;
    pointer-events: none
}
.o365cs-nav-appTileBackground {
    width: 100%;
    height: 100%
}
.o365cs-newAL-on .o365cs-nav-appTileBackground {
    margin: 0 2px 2px 0;
    padding: 2px
}
.o365cs-newALV3-on .o365cs-nav-appTileBackground {
    background-color: transparent!important
}
.o365cs-newAL-on .o365cs-nav-appTileHovered .o365cs-nav-appTileBackground, .o365cs-newAL-on .o365cs-nav-appTile:focus .o365cs-nav-appTileBackground, .o365cs-newAL-on .o365cs-nav-appTileMenuShown .o365cs-nav-appTileBackground {
    border: 2px solid rgba(255,255,255,.45);
    padding: 0
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileHovered, .o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTile:focus, .o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileMenuShown {
    background-image: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 3%, rgba(230,230,230,.16) 50%, rgba(255,255,255,0) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(0,0,0,0) 3%, rgba(230,230,230,.16) 50%, rgba(255,255,255,0) 100%);
    background-image: linear-gradient(-90deg, rgba(0,0,0,0) 3%, rgba(230,230,230,.16) 50%, rgba(255,255,255,0) 100%);
    -webkit-box-shadow: none;
    box-shadow: none
}
.o365cs-newALV2-on .o365cs-nav-appTile:not(.o365cs-nav-appTileDisabled):not(.o365cs-nav-appTileHovered):not(:focus):not(.o365cs-nav-appTileMenuShown) .o365cs-nav-appTileBackground {
    background-color: rgba(255,255,255,.09)!important
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileBackground {
    width: 48px;
    height: 48px;
    position: relative
}
.o365cs-newALV3-on .o365cs-nav-appTileDisabled .o365cs-nav-appTileBackground {
    color: #a6a6a6
}
.o365cs-nav-appTileSmall {
    width: 42px;
    height: 42px
}
.o365cs-newAL-on .o365cs-nav-appTileMedium {
    width: 100px;
    height: 100px
}
.o365cs-newALV2-on .o365cs-nav-appTileMedium {
    width: 88px;
    height: 88px
}
.o365cs-newALV3-on .o365cs-nav-appTileMedium {
    width: 145px;
    height: 48px
}
.o365cs-nav-appTileWide {
    width: 180px;
    height: 88px
}
.o365cs-newAL-on .o365cs-nav-appTilePressed, .o365cs-newALV2-on .o365cs-nav-appTilePressed {
    -webkit-transform: scale(.9125);
    -moz-transform: scale(.9125);
    transform: scale(.9125)
}
.o365cs-nav-appTileIcon {
    display: inline-block
}
.o365cs-newALV3-on .o365cs-nav-appTileIcon {
    color: inherit!important
}
.o365cs-nav-appTileSmall .o365cs-nav-appTileIcon {
    font-size: 28px!important;
    margin-top: 7px
}
.o365cs-newAL-on .o365cs-nav-appTileMedium .o365cs-nav-appTileIcon {
    font-size: 36px!important;
    margin-top: 22px;
    height: auto
}
.o365cs-newALV2-on .o365cs-nav-appTileMedium .o365cs-nav-appTileIcon, .o365cs-newALV2-on .o365cs-nav-appTileWide .o365cs-nav-appTileIcon {
    font-size: 36px!important;
    margin-top: 16px;
    height: 36px
}
.o365cs-newALV3-on .o365cs-nav-appTileMedium .o365cs-nav-appTileIcon {
    font-size: 26px!important;
    margin-top: 12px;
    margin-left: 10px;
    -webkit-transition: color .167s linear;
    -moz-transition: color .167s linear;
    transition: color .167s linear
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileIcon {
    font-size: 24px!important;
    margin-top: 10px!important;
    height: 36px
}
.o365cs-nav-appTileImage {
    border: none
}
.o365cs-nav-appTileSmall .o365cs-nav-appTileImage {
    width: 100%;
    height: 100%
}
.o365cs-newALV2-on .o365cs-nav-appTileMedium .o365cs-nav-appTileImage, .o365cs-newALV2-on .o365cs-nav-appTileWide .o365cs-nav-appTileImage {
    width: 36px;
    height: 36px;
    margin-top: 16px;
    vertical-align: top
}
.o365cs-newALV3-on .o365cs-nav-appTileMedium .o365cs-nav-appTileImage {
    width: 28px;
    height: 28px;
    margin-top: 10px;
    margin-left: 8px
}
.o365cs-newALV3-on .o365cs-nav-appTileLoading .o365cs-nav-appTileImage {
    display: inline-block;
    background-color: #f6f6f6;
    border-radius: 1px
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileImage {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    vertical-align: top
}
.o365cs-newAL-on .o365cs-nav-appTileTitle, .o365cs-newALV2-on .o365cs-nav-appTileTitle {
    display: table-cell;
    position: static;
    left: 10px;
    bottom: 4px;
    padding: 1px 5px 0 5px;
    height: 30px;
    vertical-align: middle
}
.o365cs-newALV2-on .o365cs-nav-appTileTitle {
    opacity: .91
}
.o365cs-newALV3-on .o365cs-nav-appTileTitle {
    display: block;
    position: absolute;
    left: 47px;
    top: 15px;
    color: inherit!important;
    -webkit-transition: color .083s linear;
    -moz-transition: color .083s linear;
    transition: color .083s linear
}
.o365cs-newALV2-on .o365cs-nav-appTile:not(.o365cs-nav-appTileDisabled) .o365cs-nav-appTileIcon, .o365cs-newALV2-on .o365cs-nav-appTile:not(.o365cs-nav-appTileDisabled) .o365cs-nav-appTileTitle {
    color: #eaeaea!important
}
.o365cs-newALV3-on .o365cs-nav-appTile:not(.o365cs-nav-appTileDisabled):not(.o365cs-nav-appTileHovered):not(:focus):not(.o365cs-nav-appTileMenuShown) .o365cs-nav-appTileIcon {
    -webkit-transition: color .167s linear;
    -moz-transition: color .167s linear;
    transition: color .167s linear
}
.o365cs-newALV3-on .o365cs-nav-appTile:not(.o365cs-nav-appTileDisabled):not(.o365cs-nav-appTileHovered):not(:focus):not(.o365cs-nav-appTileMenuShown) .o365cs-nav-appTileTitle {
    color: #212121!important;
    -webkit-transition: color .167s linear;
    -moz-transition: color .167s linear;
    transition: color .167s linear
}
.o365cs-nav-appTileSmall .o365cs-nav-appTileTitle {
    display: none
}
.o365cs-newAL-on .o365cs-nav-appTileMedium .o365cs-nav-appTileTitle {
    width: 85px
}
.o365cs-newALV2-on .o365cs-nav-appTileMedium .o365cs-nav-appTileTitle {
    width: 78px
}
.o365cs-newALV3-on .o365cs-nav-appTileMedium .o365cs-nav-appTileTitle {
    width: -webkit-calc(100% - 45px);
    width: -moz-calc(100% - 45px);
    width: calc(100% - 45px)
}
.o365cs-newALV3-on .o365cs-nav-appTileLoading .o365cs-nav-appTileTitle {
    background-color: #f6f6f6;
    width: 56px;
    height: 15px
}
.o365cs-nav-appTileWide .o365cs-nav-appTileTitle {
    width: 170px
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileTitle {
    display: block;
    position: absolute;
    left: 55px;
    width: 180px;
    max-width: 180px!important;
    line-height: 48px!important
}
.o365cs-nav-appTileTitle>span {
    font-family: "SegoeUI-Regular-final", "Segoe UI", "Segoe UI WPC", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: normal
}
.o365cs-newAL-on .o365cs-nav-appTileTitle>span {
    font-family: "SegoeUI-SemiLight-final", "Segoe UI SemiLight", "Segoe UI WPC Semilight", "Segoe UI", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    line-height: 16px;
    max-height: 32px
}
.o365cs-newALV2-on .o365cs-nav-appTileTitle>span {
    line-height: 16px;
    max-height: 32px
}
.o365cs-newALV3-on .o365cs-nav-appTileTitle>span {
    font-size: 14px;
    white-space: nowrap;
    text-align: left;
    letter-spacing: .01px
}
.o365cs-nav-listView .o365cs-nav-appTileTitle>span {
    white-space: nowrap;
    text-align: left
}
.o365cs-newALV3-on .o365cs-nav-appsModuleTiles {
    margin-left: 8px
}
.o365cs-nav-fluentLink {
    background-color: transparent!important;
    min-width: 0;
    height: auto!important;
    text-decoration: none!important
}
.o365cs-nav-fluentLink :not(.owaimg) {
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    -webkit-transition: border-bottom-color .083s linear;
    -moz-transition: border-bottom-color .083s linear;
    transition: border-bottom-color .083s linear
}
.o365cs-nav-fluentLink:hover :not(.owaimg) {
    border-bottom-color: currentColor
}
.o365cs-nav-appsModuleMore {
    display: block;
    position: relative;
    font-size: 14px!important;
    border: 0;
    margin: 12px 0 35px 20px!important;
    padding: 0;
    text-align: left;
    cursor: pointer
}
.o365cs-nav-appsModuleMore .owaimg {
    font-size: 12px!important;
    margin-top: -2px;
    margin-left: 12px;
    vertical-align: middle
}
.o365cs-newALV3-on .o365cs-nav-allView {
    -webkit-animation-duration: .25s;
    -moz-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-name: o365cs-nav-allView-slideInT;
    -moz-animation-name: o365cs-nav-allView-slideInT;
    animation-name: o365cs-nav-allView-slideInT;
    -webkit-animation-timing-function: cubic-bezier(.26, 1, .48, 1);
    -moz-animation-timing-function: cubic-bezier(.26, 1, .48, 1);
    animation-timing-function: cubic-bezier(.26, 1, .48, 1)
}
@-webkit-keyframes o365cs-nav-allView-slideInT {
from {
visibility:hidden;
opacity:0;
margin-left:30px
}
to {
visibility:visible;
opacity:1;
margin-left:0
}
}
@-moz-keyframes o365cs-nav-allView-slideInT {
from {
visibility:hidden;
opacity:0;
margin-left:30px
}
to {
visibility:visible;
opacity:1;
margin-left:0
}
}
@keyframes o365cs-nav-allView-slideInT {
from {
visibility:hidden;
opacity:0;
margin-left:30px
}
to {
visibility:visible;
opacity:1;
margin-left:0
}
}
.o365cs-nav-allViewBackButton {
    font-size: 12px!important;
    border: 0;
    margin: 0 0 14px 18px!important;
    padding: 0;
    cursor: pointer
}
.o365cs-nav-allViewBackButton>span {
    vertical-align: middle
}
.o365cs-nav-allViewBackButton .owaimg {
    font-size: 12px!important;
    margin-top: 2px;
    margin-right: 8px
}
.o365cs-newALV3-on .o365cs-nav-allViewScrollContainer {
    height: -webkit-calc(100% - 102px);
    height: -moz-calc(100% - 102px);
    height: calc(100% - 102px);
    padding-bottom: 10px
}
.o365cs-newALV3-on .o365cs-nav-navMenuGroupLabel {
    display: block;
    font-family: "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Segoe, Tahoma, Arial, sans-serif!important;
    font-size: 16px!important;
    color: #212121!important;
    margin: 10px 0 10px 18px;
    letter-spacing: .01px
}
.o365cs-nav-allViewFooter {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%
}
.o365cs-nav-allViewAppGallery {
    display: block;
    font-size: 12px!important;
    -webkit-box-shadow: 0 -1px 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px!important;
    width: 100%;
    line-height: 54px!important;
    letter-spacing: .01px
}
.o365cs-nav-allViewAppGallery>span {
    vertical-align: middle
}
.o365cs-nav-allViewAppGallery .owaimg {
    font-size: 12px!important;
    margin-top: 2px;
    margin-right: 18px
}
.o365cs-nav-navMenuFooter {
    border-top: 1px solid rgba(255,255,255,.08);
    padding-top: 12px;
    padding-bottom: 13px
}
.o365cs-nav-navMenuFooterLink {
    display: block;
    margin-left: 24px;
    margin-bottom: 5px
}
.o365cs-nav-navMenuFooterLink>a {
    font-family: "SegoeUI-Regular-final", "Segoe UI", "Segoe UI WPC", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none!important
}
.o365cs-nav-header16 .o365cs-nav-topItem {
    display: inline-block;
    vertical-align: top
}
.o365cs-nav-header16 .o365cs-nav-o365Branding {
    padding-right: 20px;
    border-left: 1px solid rgba(255,255,255,.3)
}
.o365cs-nav-header16 .o365cs-nav-bposLogo {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0 20px;
    height: 50px;
    outline-offset: -1px
}
.o365cs-nav-header16.o365cs-newALV3-on .o365cs-nav-bposLogo {
    padding: 0 16px
}
.o365cs-nav-header16 .o365cs-nav-brandingText {
    line-height: 48px;
    display: inline-block;
    font-family: "SegoeUI-SemiLight-final", "Segoe UI SemiLight", "Segoe UI WPC Semilight", "Segoe UI", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 22px;
    -webkit-font-smoothing: antialiased
}
.o365cs-nav-header16.o365cs-newALV3-on .o365cs-nav-brandingText {
    font-size: 17px
}
.o365cs-nav-header16 .o365cs-nav-gallatinLogo {
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
    margin-top: 12px
}
.o365cs-nav-header16 .o365cs-nav-appTitleLine {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 1px;
    background-color: rgba(255,255,255,.4)
}
.o365cs-nav-header16.o365cs-newALV3-on .o365cs-nav-appTitleLine {
    height: 30px
}
.o365cs-nav-headerLogoHidden {
    display: none!important
}
.o365cs-nav-header16 .o365cs-nav-appTitle {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    height: 50px;
    outline-offset: -1px
}
.o365cs-nav-header16.o365cs-newALV3-on .o365cs-nav-appTitle {
    margin-left: 16px
}
.o365cs-nav-header16 .o365cs-nav-tenantBranding {
    display: inline;
    vertical-align: top
}
.o365cs-nav-header16 .o365cs-nav-leftAlign .o365cs-nav-tenantBranding {
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid rgba(255,255,255,.3);
    padding: 0 16px 0 18px;
    height: 50px
}
.o365cs-nav-header16 .o365cs-nav-tenantLogo {
    max-width: 200px;
    max-height: 50px;
    overflow: hidden;
    display: inline-block;
    font-size: 0
}
.o365cs-nav-header16 .o365cs-nav-tenantLogo img {
    max-height: 50px;
    border-style: none!important
}
.o365cs-nav-header16 .o365cs-nav-brandingLeftText, .o365cs-nav-header16 .o365cs-nav-brandingRightText {
    display: inline-block;
    width: auto;
    padding: 0;
    vertical-align: middle;
    font-size: 10px
}
.o365cs-nav-header16 .o365cs-nav-centerAlign {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle
}
.o365cs-nav-header16 .o365cs-nav-rightAlign {
    display: table-cell;
    vertical-align: top;
    text-align: right
}
.o365cs-nav-header16 .o365cs-nav-rightMenus {
    display: table-cell;
    vertical-align: top
}
.o365cs-nav-header16 .o365cs-nav-link {
    display: block;
    font-size: 0;
    margin: 0;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    outline-offset: -1px
}
.o365cs-mfp-doughboy-container {
    position: absolute;
    right: 6px
}
.o365cs-nav-header16 .o365cs-nav-button {
    display: block;
    vertical-align: middle;
    border-width: 0;
    margin: 0;
    padding: 0;
    min-width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    outline-offset: -1px
}
.meflexpane-enabled .o365cs-nav-button {
    min-width: 48px
}

@media(min-width:640px) {
.o365cs-nav-header16 .o365cs-mfp-headerbutton {
    min-width: 177px;
    width: 177px
}
}
.o365cs-mfp-header {
    max-width: 176px;
    display: table
}
.o365cs-mfp-header-displayname {
    text-align: right;
    vertical-align: middle;
    display: table-cell;
    overflow: hidden;
    max-width: 126px;
    width: 126px
}
.o365cs-mfp-header-displayname-wrap {
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap
}
.o365cs-mfp-header-spacer {
    min-width: 3px;
    display: table-cell
}
.o365cs-mfp-header-img {
    display: table-cell
}
.o365cs-mfp-header-img .o365cs-mfp-doughboy, .o365cs-mfp-mebutton {
    margin: 7px 0 0 0
}
.o365cs-mfp-circular-small, .o365cs-mfp-circular-medium, .o365cs-mfp-circular-other {
    border-radius: 50%
}
.o365cs-nav-button .o365cs-mfp-header-img {
    border-left-width: 0!important
}
.o365cs-mfp-header-img-container {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    margin-top: 7px;
    right: 6px;
    top: 0
}
.o365cs-mfp-circular-small {
    width: 36px;
    height: 36px
}
.o365cs-mfp-doughboy {
    font-size: 28px!important;
    position: static;
    background-color: #767676!important;
    line-height: 1.3!important
}
.o365cs-newALV3-on .o365cs-mfp-doughboy {
    font-size: 24px!important;
    line-height: 1.45!important
}
.o365cs-mfp-textboy {
    position: absolute;
    overflow: hidden;
    right: 6px;
    top: 7px;
    border-radius: 50%;
    font-size: 21px;
    text-align: center;
    line-height: 33px;
    color: #fff;
    font-family: "SegoeUI-SemiLight-final", "Segoe UI SemiLight", "Segoe UI WPC Semilight", "Segoe UI", Segoe, Tahoma, Helvetica, Arial, sans-serif
}
.o365cs-mfp-skypeAvailable {
    background-color: #5dd255;
    color: #fff;
    border: 1px solid #fff
}
.o365cs-mfp-skypeOffline, .o365cs-mfp-hidden {
    background-color: #fff;
    border: 1px solid green
}
.o365cs-mfp-skypeBusy {
    background-color: red;
    border: 1px solid #fff
}
.o365cs-mfp-skypeDND {
    background-color: red;
    color: #fff;
    border: 1px solid #fff
}
.o365cs-mfp-skypeAway {
    background-color: #ffd200;
    border: 1px solid #fff;
    color: #fff
}
.o365cs-mfp-skypeUnkown {
    background-color: #fff;
    border: 1px solid green;
    color: green
}
.o365cs-mfp-presenceButton {
    top: 30px;
    right: 5px;
    border-radius: 10px;
    height: 12px;
    width: 12px;
    position: absolute;
    text-align: center;
    font-size: 11px
}
html[dir="rtl"] .o365cs-mfp-presenceButton {
    left: 5px
}
.o365cs-nav-header16 .o365cs-nav-rightAlign .o365cs-nav-button {
    border-left: 1px solid rgba(255,255,255,.3)
}
.o365cs-nav-header16.o365cs-newALV3-on .o365cs-nav-rightAlign .o365cs-nav-button {
    border-left: none
}
.o365cs-nav-header16.o365cs-newDefaultTheme-on .o365cs-nav-button:hover {
    background-color: #dbd9d7!important
}
.o365cs-nav-header16.o365cs-newDefaultTheme-on .o365cs-nav-bposLogo .o365cs-nav-brandingText {
    color: #d83b01;
    font-family: "Segoe UI Bold", "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Segoe, Tahoma, Arial, sans-serif
}
.o365cs-nav-header16 .o365cs-nav-item {
    position: relative;
    -webkit-transition: background-color .467s cubic-bezier(.1, .9, .2, 1) 34ms;
    -moz-transition: background-color .467s cubic-bezier(.1, .9, .2, 1) 34ms;
    transition: background-color .467s cubic-bezier(.1, .9, .2, 1) 34ms
}
.o365cs-nav-contextMenu {
    background-color: #fff;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    min-width: 180px;
    max-width: 375px;
    clip: rect(0, 10000px, 10000px, -10px);
    outline: 0
}
.o365cs-nav-contextMenu .o365cs-contextMenuItem, .o365cs-nav-contextMenu .o365cs-contextMenuInactiveItem {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 30px;
    font: 15px "SegoeUI-Regular-final", "Segoe UI", "Segoe UI WPC", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    text-align: left;
    outline-offset: -1px
}
.o365cs-nav-contextMenu button.o365cs-contextMenuItem, .o365cs-nav-contextMenu button.o365cs-contextMenuInactiveItem {
    width: 100%
}
.o365cs-nav-contextMenu .o365cs-contextMenuInactiveItem {
    cursor: default!important
}
.o365cs-nav-contextMenu .o365cs-contextMenuSeparator {
    border-top-style: solid;
    border-top-width: 1px
}
.o365cs-nav-contextMenu .o365cs-labelledContextMenuSeparator {
    padding: 10px 16px 0 16px;
    font-size: 13px;
    border-top-width: 1px;
    border-top-style: solid
}
.o365cs-me-tile-nophoto {
    border-left: 1px solid rgba(255,255,255,.3)
}
.o365cs-newALV3-on .o365cs-me-tile-nophoto {
    border-left: none
}
.o365cs-me-tile-nophoto-username-container {
    display: table-cell;
    height: 50px;
    padding-left: 5px;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden
}
.o365cs-me-tile-nophoto-down {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle
}
.o365cs-me-tile-nophoto-username {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 5px
}
.o365cs-me-presence5x50 {
    width: 5px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0
}
.o365cs-nav-header16 .o365cs-me-nav-item {
    border-left: none!important;
    z-index: 1;
    min-width: 55px
}
.o365cs-me-tileview-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}
.o365cs-me-tileview {
    width: 55px;
    height: 50px;
    overflow: hidden
}
.o365cs-me-presenceColor-Offline {
    background-color: #b6cfd8
}
.o365cs-me-tileimg {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    line-height: normal;
    top: 0;
    left: 5px
}
.o365cs-me-tileimg-doughboy {
    width: 52px;
    height: 49px;
    font-size: 52px;
    padding: 3px 0 0 2px;
    left: 0;
    position: static
}
.o365cs-newALV3-on .o365cs-me-tileimg-doughboy {
    font-size: 44px!important;
    padding-top: 6px
}
.o365cs-nav-header16 .o365cs-nav-signIn {
    vertical-align: middle;
    font-size: 14px;
    font-family: "SegoeUI-Regular-final", Segoe UI, Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none
}
.o365cs-semiLightFont {
    font-family: "SegoeUI-SemiLight-final", "Segoe UI", Segoe, Tahoma, Helvetica, Arial, sans-serif;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased
}
.o365cs-lightFont {
    font-family: "Segoe UI Light", "Segoe UI", Segoe, Tahoma, Helvetica, Arial, Sans-Serif
}
.o365cs-newAL-on.o365cs-nav-navMenu.slideInT, .o365cs-newALV2-on.o365cs-nav-navMenu.slideInT, .o365cs-newAL-on .o365cs-nav-navMenuBeak.slideInT {
    -webkit-animation-duration: .15s;
    -moz-animation-duration: .15s;
    animation-duration: .15s;
    -webkit-animation-name: slideInTTransformFrames;
    -moz-animation-name: slideInTTransformFrames;
    animation-name: slideInTTransformFrames;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes slideInTTransformFrames {
from {
opacity:0;
-webkit-transform:translate(0, -12px);
transform:translate(0, -12px);
-webkit-animation-timing-function:cubic-bezier(0, 0, 0, 1);
animation-timing-function:cubic-bezier(0, 0, 0, 1)
}
to {
opacity:1;
-webkit-transform:translate(0, 0);
transform:translate(0, 0)
}
}
@-moz-keyframes slideInTTransformFrames {
from {
opacity:0;
-moz-transform:translate(0, -12px);
transform:translate(0, -12px);
-moz-animation-timing-function:cubic-bezier(0, 0, 0, 1);
animation-timing-function:cubic-bezier(0, 0, 0, 1)
}
to {
opacity:1;
-moz-transform:translate(0, 0);
transform:translate(0, 0)
}
}
@keyframes slideInTTransformFrames {
from {
opacity:0;
-webkit-transform:translate(0, -12px);
-moz-transform:translate(0, -12px);
transform:translate(0, -12px);
-webkit-animation-timing-function:cubic-bezier(0, 0, 0, 1);
-moz-animation-timing-function:cubic-bezier(0, 0, 0, 1);
animation-timing-function:cubic-bezier(0, 0, 0, 1)
}
to {
opacity:1;
-webkit-transform:translate(0, 0);
-moz-transform:translate(0, 0);
transform:translate(0, 0)
}
}
.o365cs-newALV3-on.o365cs-nav-navMenu.slideInT {
    -webkit-animation-duration: .25s;
    -moz-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInTTransformFramesV3;
    -moz-animation-name: slideInTTransformFramesV3;
    animation-name: slideInTTransformFramesV3;
    -webkit-animation-timing-function: cubic-bezier(.26, 1, .48, 1);
    -moz-animation-timing-function: cubic-bezier(.26, 1, .48, 1);
    animation-timing-function: cubic-bezier(.26, 1, .48, 1)
}
@-webkit-keyframes slideInTTransformFramesV3 {
from {
opacity:0;
-webkit-transform:scaleX(.93);
transform:scaleX(.93);
height:65vh
}
to {
opacity:1;
-webkit-transform:scaleX(1);
transform:scaleX(1);
height:-webkit-calc(100vh - 8px);
height:calc(100vh - 8px)
}
}
@-moz-keyframes slideInTTransformFramesV3 {
from {
opacity:0;
-moz-transform:scaleX(.93);
transform:scaleX(.93);
height:65vh
}
to {
opacity:1;
-moz-transform:scaleX(1);
transform:scaleX(1);
height:-moz-calc(100vh - 8px);
height:calc(100vh - 8px)
}
}
@keyframes slideInTTransformFramesV3 {
from {
opacity:0;
-webkit-transform:scaleX(.93);
-moz-transform:scaleX(.93);
transform:scaleX(.93);
height:65vh
}
to {
opacity:1;
-webkit-transform:scaleX(1);
-moz-transform:scaleX(1);
transform:scaleX(1);
height:-webkit-calc(100vh - 8px);
height:-moz-calc(100vh - 8px);
height:calc(100vh - 8px)
}
}
.o365cs-newAL-on.o365cs-nav-navMenu.slideOutT, .o365cs-newALV2-on.o365cs-nav-navMenu.slideOutT, .o365cs-newAL-on .o365cs-nav-navMenuBeak.slideOutT {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: slideOutTTransformFrames;
    -moz-animation-name: slideOutTTransformFrames;
    animation-name: slideOutTTransformFrames;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes slideOutTTransformFrames {
from {
opacity:1;
-webkit-transform:translate(0, 0);
transform:translate(0, 0);
-webkit-animation-timing-function:cubic-bezier(.33, 0, .67, 1);
animation-timing-function:cubic-bezier(.33, 0, .67, 1)
}
to {
opacity:0;
-webkit-transform:translate(0, -12px);
transform:translate(0, -12px)
}
}
@-moz-keyframes slideOutTTransformFrames {
from {
opacity:1;
-moz-transform:translate(0, 0);
transform:translate(0, 0);
-moz-animation-timing-function:cubic-bezier(.33, 0, .67, 1);
animation-timing-function:cubic-bezier(.33, 0, .67, 1)
}
to {
opacity:0;
-moz-transform:translate(0, -12px);
transform:translate(0, -12px)
}
}
@keyframes slideOutTTransformFrames {
from {
opacity:1;
-webkit-transform:translate(0, 0);
-moz-transform:translate(0, 0);
transform:translate(0, 0);
-webkit-animation-timing-function:cubic-bezier(.33, 0, .67, 1);
-moz-animation-timing-function:cubic-bezier(.33, 0, .67, 1);
animation-timing-function:cubic-bezier(.33, 0, .67, 1)
}
to {
opacity:0;
-webkit-transform:translate(0, -12px);
-moz-transform:translate(0, -12px);
transform:translate(0, -12px)
}
}
.o365cs-newALV3-on.o365cs-nav-navMenu.slideOutT {
    -webkit-animation-duration: .25s;
    -moz-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideOutTTransformFramesV3;
    -moz-animation-name: slideOutTTransformFramesV3;
    animation-name: slideOutTTransformFramesV3;
    -webkit-animation-timing-function: cubic-bezier(.52, 0, .74, 0);
    -moz-animation-timing-function: cubic-bezier(.52, 0, .74, 0);
    animation-timing-function: cubic-bezier(.52, 0, .74, 0)
}
@-webkit-keyframes slideOutTTransformFramesV3 {
from {
opacity:1;
-webkit-transform:scale(1);
transform:scale(1);
height:-webkit-calc(100vh - 8px);
height:calc(100vh - 8px)
}
to {
opacity:0;
-webkit-transform:scale(.93);
transform:scale(.93);
height:65vh
}
}
@-moz-keyframes slideOutTTransformFramesV3 {
from {
opacity:1;
-moz-transform:scale(1);
transform:scale(1);
height:-moz-calc(100vh - 8px);
height:calc(100vh - 8px)
}
to {
opacity:0;
-moz-transform:scale(.93);
transform:scale(.93);
height:65vh
}
}
@keyframes slideOutTTransformFramesV3 {
from {
opacity:1;
-webkit-transform:scale(1);
-moz-transform:scale(1);
transform:scale(1);
height:-webkit-calc(100vh - 8px);
height:-moz-calc(100vh - 8px);
height:calc(100vh - 8px)
}
to {
opacity:0;
-webkit-transform:scale(.93);
-moz-transform:scale(.93);
transform:scale(.93);
height:65vh
}
}
.wf-o365-placeholder:before {
    content: '\e001 '
}
.wf-o365-outlooklogo:before {
    content: '\e062 '
}
.wf-o365-calendar:before {
    content: '\e011 '
}
.wf-o365-peoplelogo:before {
    content: '\e00e '
}
.wf-o365-yammerlogo:before {
    content: '\e064 '
}
.wf-o365-newsfeed:before {
    content: '\e08d '
}
.wf-o365-cloud:before {
    content: '\e016 '
}
.wf-o365-tasks:before {
    content: '\e040 '
}
.wf-o365-projectlogo:before {
    content: '\e063 '
}
.wf-o365-pulselogo:before {
    content: '\e118 '
}
.wf-o365-powerbilogo:before {
    content: '\e08b '
}
.wf-o365-powerbiv2logo:before {
    content: '\e281 '
}
.wf-o365-crmlogo:before {
    content: '\e065 '
}
.wf-o365-sociallisteninglogo:before {
    content: '\e123 '
}
.wf-o365-videologo:before {
    content: '\e202 '
}
.wf-o365-paraturelogo:before {
    content: '\e20a '
}
.wf-o365-swaylogo:before {
    content: '\e247 '
}
.wf-o365-highlanderlogo:before {
    content: '\e259 '
}
.wf-o365-wordlogo:before {
    content: '\e0b9 '
}
.wf-o365-excellogo:before {
    content: '\e0b5 '
}
.wf-o365-powerpointlogo:before {
    content: '\e0b8 '
}
.wf-o365-onenotelogo:before {
    content: '\e0b7 '
}
.wf-o365-sharepointlogo:before {
    content: '\e072 '
}
.wf-o365-office365adminlogo:before {
    content: '\e130 '
}
.wf-o365-partner:before {
    content: '\e137 '
}
.wf-o365-smiley:before {
    content: '\e036 '
}
.wf-o365-officestorelogo:before {
    content: '\e061 '
}
.wf-o365-windowsstorelogo:before {
    content: '\e37a '
}
.wf-o365-pawlogo:before {
    content: '\e271 '
}
.wf-o365-homeroomlogo:before {
    content: '\e276 '
}
.wf-o365-classnotebooklogo:before {
    content: '\e25f '
}
.wf-o365-compliancecenterlogo:before {
    content: '\e289 '
}
.wf-o365-staffnotebooklogo:before {
    content: '\e280 '
}
.wf-o365-powerappslogo:before {
    content: '\e314 '
}
.wf-o365-collabdblogo:before {
    content: '\e31f '
}
.wf-o365-skypemeetingslogo:before {
    content: '\e258 '
}
.wf-o365-bookingslogo:before {
    content: '\e32a '
}
.wf-o365-dynamicsnavlogo:before {
    content: '\e32c '
}
.wf-o365-officeformslogo:before {
    content: '\e333 '
}
.wf-o365-flowLightlogo:before {
    content: '\e361 '
}
.wf-o365-microsoftstreamlogo:before {
    content: '\e34f '
}
.wf-o365-skypeteamslogo:before {
    content: '\e379 '
}
.wf-o365-dynamics365logo:before {
    content: '\e375 '
}
.wf-o365-businesscenterlogo:before {
    content: '\e37b '
}
.wf-o365-nonprofitportallogo:before {
    content: '\e37e '
}
