@charset "UTF-8";
body {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		font-size:100%;
		font-family:"helvetica";
	}
		.primary_header {
			font-family:"helvetica";
			font-weight:100;
			font-size:16px;
			width: 100%;
			padding-top: 0;
			border-bottom: 1px solid #7F7F7F;
			text-align:center;
	}
	.textoCentrado{
		text-align:center;
		}
	.container {
		width: 97%;
		margin-left: auto;
		margin-right: auto;
		border-bottom-width: 0px;
		padding-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
#logoC {
  width:20%;
	 float:left; 
  margin-right:20px;
}
#logoC img{
	max-width:200px;}
.clearfix{
	overflow: auto;
}
ul{
		font-family:"helvetica";
		color:#414141;
	
	}
.clearfix::after {
    overflow: auto;
		content: "";
    clear: both;
    display: table;
}
p.clear {
    clear: both;
}
.centeredColumn {
	width: 100%;
	padding-bottom: 1px;
	clear: left;
	height:auto;
}
.left_article {
	width: 48%;
	float: left;
	font-family: "helvetica";
	padding-bottom: 15px;
}

 h1 {
	margin-top: 1%;
	color: #414141;
	font-weight: 500;
}
.container .left_article h2 {
	padding-left: 5%;
	margin-top: 5%;
	color: #414141;
	font-weight: 500;
}
.container .left_article h3 {
	padding-left: 5%;
	color: #414141;
	font-weight: 500;
}
.container .left_article p {
	padding-left: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 15px;
	color: #414141;
}
.right_article {
	width: 48%;
	float: left;
	font-family: "helvetica";
	font-weight: 500;
}
.container .right_article h3 {
	padding-left: 5%;
	color: #414141;
	font-weight: 500;
}
.container .right_article p {
	padding-left: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 15px;
	color: #414141;
}
.fullColumn {
	padding-left: 2%;
	width: 94%;
	text-align: justify;
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 15px;
	color: #414141;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	padding-top: 30px;
	/* [disabled]padding-left: 19px;
*/
	padding-bottom: 30px;
	height: 100%;
}
.contacto {
	width: 50%;
	margin:auto;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "helvetica";
	color: #414141;
}

@media screen and (max-width: 600px) {
   #logoC { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:1px solid #414141;    
  }
	.container {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		border-bottom-width: 0px;
		padding-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
	.contactInput {
	width: 100%;
	border:none;
	background-color:#D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}
	
}

@media (max-width: 320px) {
.centeredColumn {
	padding-bottom: 1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		border-bottom-width: 0px;
		padding-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.contactInput {
	width: 100%;
	border:none;
	background-color:#D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}

}

@media (min-width: 321px) and (max-width: 768px) {
.centeredColumn {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 8px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.contactInput {
	width: 100%;
	border:none;
	background-color:#D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}

}

@media (min-width: 769px) and (max-width: 1000px) {
.centeredColumn {
	overflow: auto;
	padding-top: 3px;
	padding-bottom: 6px;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
}
.servicio-container {
    margin: 0 0 0 1em;  
   /* border: 1px solid #333;*/
    overflow: auto;
		width:90%;
}
.servicio-content {
    margin-left: 0px
}
.contactInput {
	width: 80%;
	border:none;
	background-color:#D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}
 input[type=submit] {
	 background-color:#FF7300;
	 color:white;
	 padding:1em;
	 width:15em;
	 border-radius: 50px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}
#map {
height: 400px;
width: 100%;
	}