@charset "UTF-8";
/* CSS Document */

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header { height:90px;}
.button {
	border-radius: 100px;
}
/* form index
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#acceso button,
#acceso input[type="submit"],
#acceso input[type="reset"],
#acceso input[type="button"] {
  height: 58px;
  padding: 0 30px;
  text-align: center;
  font-size: 16px;
	letter-spacing: .2rem;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
	margin-bottom:5px;
 }
	
#acceso input[type="email"],
#acceso input[type="number"],
#acceso input[type="search"],
#acceso input[type="text"],
#acceso input[type="tel"],
#acceso input[type="url"],
#acceso input[type="password"],
#acceso textarea {
  height: 45px;
  background-color: #fff;
  border: 1px solid #D9E3EA;
  box-shadow: none;
  box-sizing: border-box;
	margin-bottom:5px; }
	.intro input[type="email"],
.intro input[type="number"],
.intro input[type="search"],
.intro input[type="submit"],
.intro input[type="text"],
.intro input[type="tel"],
.intro input[type="url"],
.intro input[type="password"],
.intro textarea {
	margin-bottom:0px !important; }
#acceso select {
  height: 45px;
  background-color: #F0F4F7;
  border: 1px solid #D9E3EA;
  box-shadow: none;
  box-sizing: border-box;
	margin-bottom:5px; }
#acceso input,
#acceso textarea,
#acceso select,
#acceso fieldset {
  margin-bottom: 5px; }
.button.button-index,
button.button-index,
input[type="submit"].button-index,
input[type="reset"].button-index,
input[type="button"].button-index {
  color: #FFF;
  background-color: #40BD64;
  border-color: #40BD64;
	width:100% }
.button.button-index:hover,
button.button-index:hover,
input[type="submit"].button-index:hover,
input[type="reset"].button-index:hover,
input[type="button"].button-index:hover,
.button.button-index:focus,
button.button-index:focus,
input[type="submit"].button-index:focus,
input[type="reset"].button-index:focus,
input[type="button"].button-index:focus {
  color: #FFF;
  background-color: #2F8247;
  border-color: #2F8247; }
	
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B2B2B2;
    opacity: 1; /* Firefox */
		font-size:14px;
		font-weight:100;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B2B2B2;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #B2B2B2;
}
	.shadow--6dp {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

/* custom fonts */
.disclaimer {
	font-size:x-small;
	color:#647180;
}
/* Bigger than 550 */
@media (min-width: 550px) {
.centered {
	width: 80%;
	margin: auto;
}
}

/* Bigger than 750 */
@media (min-width: 750px) {

}

/* Bigger than 1000 */
@media (min-width: 1000px) {

}
/* index */
.blueBg {
	background-color: rgba(148,199,238,1.00)
}
.fullP {
	height: 90vh;
}
.introBg {
	background-image: url(../images/background.png)
}
.bigTitle {font-size:48px; text-shadow: 2px 2px 8px #3C3C3C; font-weight:bold;color: black;
}
.shadow--3dp {
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.numberCircle {
	width: 120px;
	line-height: 120px;
	border-radius: 50%;
	text-align: center;
	font-size: 32px;
	border: 2px solid #666;
}
.pasos {
	width: 100%;
	margin: 2px 1px 5px 10%;
}
.progressbar {
	margin: 0;
	padding: 0;
	counter-reset: step;
}
.progressbar li {
	list-style-type: none;
	width: 20%;
	float: left;
	font-size: 12px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: #ccc;
}
.progressbar li:before {
	width: 20px;
	height: 20px;
	content: counter(step);
	counter-increment: step;
	line-height: 20px;
	border: 1px solid #7d7d7d;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
}
.progressbar li:after {
	width: 100%;
	height: 2px;
	content: '';
	position: relative;
	background-color: #7d7d7d;
	top: 15px;
	left: -50%;
	z-index: -1;
}
.progressbar li:first-child:after {
	content: none;
}
.progressbar li.active {
	color: #6D408F;
	border-bottom: 5px solid #6D408F;
	padding-bottom: 0px;
	margin-bottom: -7px;
}
.progressbar li.active:before {
	border-color: #6D408F;
}
.progressbar li.active + li:after {
	background-color: #6D408F;
}/**/
.lateral img {
	width: 100%;
	transform: translate(1vw, 1vw)
}
.lateral h4 {
	padding-left: 2vw;
	font-size: 2.7vw;
}
.lateral h6 {
	padding-left: 2vw;
}
/*uploader*/
.uploadPlace {
	background-color: #F4EEEE;
	border-radius: 10px;
	height: auto;
	padding: 1.5em;
	margin-bottom: 1em;
	text-align: center;
}
.btnGrey {
	background-color: #D8D8D8;
	padding: .5em 8em;
	border-radius: 5px;
	text-decoration: none;
	width: 3em !important;
}
.btn-group button {
	background-color: white;
	border: 1px solid #E9EEF3;
	border-radius: 0px !important;
	color: #59A1DD;
	padding: 10px 24px;
	cursor: pointer;
	float: left;
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}
.btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
}
/* Add a background color on hover */
.btn-group button:hover {
	background-color: #D8D8D8;
}
.btn-Bottom  {
	position:absolute;
	bottom:0px;
}
.btn-group button {
	background-color: white;
	border: 1px solid #E9EEF3;
	border-radius: 0px !important;
	color: #59A1DD;
	padding: 10px 24px;
	cursor: pointer;
	float: left;
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}
.btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
}

.btn-group button:hover {
	background-color: #D8D8D8;
}

input.button-mas {
    background-image:url(../images/mas.png) ; 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;
		border:none !important;
    cursor: pointer;       
    height: 16px;         
    padding-left: 16px;  
    vertical-align: middle; 
}
input.button-trash {
    background-image: url(../images/trash.png); 
    background-color: transparent; 
    background-repeat: no-repeat; 
    background-position: 0px 0px; 
    border: none !important;          
    cursor: pointer;        
    height: 16px;           
    padding-left: 16px;    
    vertical-align: middle; 
}
@media only screen and (max-width: 700px) {
.lateral {
	display:none;
}
}
