html, body {
	font-family: 'PT Serif', serif;
	margin: 0;
	padding: 0;
}
html {
	color: rgba(0,0,0,.87)
}
.mdl-demo .mdl-layout__header-row {
	padding-left: 40px;
}
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar {
	overflow: visible;
}
.mdl-demo .mdl-layout__tab-bar {
	padding: 0;
	padding-left: 16px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
	height: 64px;
	line-height: 64px;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
	background-color: white;
	height: 4px;
}
.mdl-demo main > .mdl-layout__tab-panel {
	padding: 8px;
	padding-top: 48px;
}
.mdl-demo .mdl-card {
	height: auto;
	display: flex;
	flex-direction: column;
}
.mdl-demo .mdl-card > * {
	height: auto;
}
.mdl-demo .mdl-card .mdl-card__supporting-text {
	margin: 40px;
	flex-grow: 1;
	padding: 0;
	color: inherit;
	width: calc(100% - 80px);
}
.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
	margin-top: 0;
	margin-bottom: 20px;
}
.mdl-demo .mdl-card__actions {
	margin: 0;
	padding: 4px 40px;
	color: inherit;
}
.mdl-demo .mdl-card__actions a {
	color: #00BCD4;
	margin: 0;
}
.mdl-demo .mdl-card__actions a:hover, .mdl-demo .mdl-card__actions a:active {
	color: inherit;
	background-color: transparent;
}
.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-demo #add {
	position: absolute;
	right: 40px;
	top: 36px;
	z-index: 999;
}
.mdl-demo .mdl-layout__content section:not(:last-of-type) {
	position: relative;
	margin-bottom: 48px;
}
.mdl-demo section.section--center {
	max-width: 860px;
}
.mdl-demo #features section.section--center {
	max-width: 620px;
}
.mdl-demo section > header {
	display: flex;
	align-items: center;
	justify-content: center;
}
.mdl-demo section > .section__play-btn {
	min-height: 200px;
}
.mdl-demo section > header > .material-icons {
	font-size: 3rem;
}
.mdl-demo section > button {
	position: absolute;
	z-index: 99;
	top: 8px;
	right: 8px;
}
.mdl-demo section .section__text {
	flex-grow: 1;
	flex-shrink: 0;
	padding-top: 8px;
}
.mdl-demo section .section__text h5 {
	font-size: inherit;
	margin: 0;
	margin-bottom: 0.5em;
}
.mdl-demo section .section__text a {
	text-decoration: none;
}
.mdl-demo section .section__circle-container > .section__circle-container__circle {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	margin: 8px 0;
}
.mdl-demo section.section--footer .section__circle--big {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 8px 32px;
}
.mdl-demo section.section--footer {
	padding: 64px 0;
	margin: 0 -8px -8px -8px;
}
.mdl-demo section.section--center .section__text:not(:last-child) {
	border-bottom: 1px solid rgba(0,0,0,.13);
}
.mdl-demo .mdl-layout__tab-panel:not(#overview) {
	background-color: white;
}
.mdl-demo #features section {
	margin-bottom: 72px;
}
.mdl-demo #features h4, #features h5 {
	margin-bottom: 16px;
}
.mdl-demo .toc {
	border-left: 4px solid #C1EEF4;
	margin: 24px;
	padding: 0;
	padding-left: 8px;
	display: flex;
	flex-direction: column;
}
.mdl-demo .toc h4 {
	font-size: 0.9rem;
	margin-top: 0;
}
.mdl-demo .toc a {
	color: #4DD0E1;
	text-decoration: none;
	font-size: 16px;
	line-height: 28px;
	display: block;
}
.mdl-demo .mdl-menu__container {
	z-index: 99;
}

/*2 part*/


::-moz-selection {
background:#b3d4fc;
text-shadow:none
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

@media print {
*, *:before, *:after {
	background: transparent!important;
	color: #000!important;
	box-shadow: none!important
}
a, a:visited {
	text-decoration: underline
}
a[href]:after {
	content: " (" attr(href)")"
}
a[href^="#"]:after {
	content: ""
}
p, h3 {
	orphans: 3;
	widows: 3
}
h3 {
	page-break-after: avoid
}
}
a, .mdl-button, .mdl-card {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(255,255,255,0)
}
html {
	width: 100%;
	height: 100%;
	-ms-touch-action: manipulation;
	touch-action: manipulation
}
body {
	width: 100%;
	min-height: 100%
}
main {
	display: block
}
html, body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px
}
h1, h3, h4, h5, p {
	padding: 0
}
h1 {
	font-size: 56px;
	line-height: 1.35;
	letter-spacing: -.02em;
	margin: 24px 0
}
h1 {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400
}
h3 {
	margin: 24px 0
}
h3 {
	font-size: 34px;
	line-height: 40px
}
h3, h4 {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400
}
h4 {
	font-size: 24px;
	line-height: 32px;
	-moz-osx-font-smoothing: grayscale;
	margin: 24px 0 16px
}
h5 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: .02em
}
h5 {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	margin: 24px 0 16px
}
p {
	font-weight: 400;
	line-height: 24px
}
p {
	font-size: 14px;
	letter-spacing: 0;
	margin: 0 0 16px
}
a {
	color: rgb(100,255,218);
	font-weight: 500
}
ul {
	font-weight: 400;
	letter-spacing: 0
}
ul {
	font-size: 14px;
	line-height: 24px
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	word-wrap: normal;
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased
}
.mdl-color--teal-100 {
	background-color: #b2dfdb !important
}
.mdl-color--grey-100 {
	background-color: #f5f5f5 !important
}
.mdl-color-text--grey-700 {
	color: #616161 !important
}
.mdl-color--white {
	background-color: #fff !important
}
.mdl-color-text--white {
	color: #fff !important
}
.mdl-color--primary {
	background-color: rgb(244,67,54)!important
}
.mdl-color--primary-dark {
	background-color: rgb(211,47,47)!important
}
.mdl-color--accent {
	background-color: rgb(100,255,218)!important
}
.mdl-ripple {
	background: #000;
	border-radius: 50%;
	height: 50px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 50px;
	overflow: hidden
}
.mdl-button {
	background: 0 0;
	border: none;
	border-radius: 2px;
	color: #000;
	position: relative;
	height: 36px;
	margin: 0;
	min-width: 64px;
	padding: 0 16px;
	display: inline-block;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	overflow: hidden;
	will-change: box-shadow;
	transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle
}
.mdl-button::-moz-focus-inner {
border:0
}
.mdl-button:hover {
	background-color: rgba(158,158,158,.2)
}
.mdl-button:focus:not(:active) {
	background-color: rgba(0,0,0,.12)
}
.mdl-button:active {
	background-color: rgba(158,158,158,.4)
}
.mdl-button.mdl-button--colored {
	color: rgb(244,67,54)
}
.mdl-button.mdl-button--colored:focus:not(:active) {
	background-color: rgba(0,0,0,.12)
}
.mdl-button--fab {
	border-radius: 50%;
	font-size: 24px;
	height: 56px;
	margin: auto;
	min-width: 56px;
	width: 56px;
	padding: 0;
	overflow: hidden;
	background: rgba(158,158,158,.2);
	box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
	position: relative;
	line-height: normal
}
.mdl-button--fab .material-icons {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-12px, -12px);
	transform: translate(-12px, -12px);
	line-height: 24px;
	width: 24px
}
.mdl-button--fab .mdl-button__ripple-container {
	border-radius: 50%;
	-webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000)
}
.mdl-button--fab:active {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	background-color: rgba(158,158,158,.4)
}
.mdl-button--fab:focus:not(:active) {
	box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
	background-color: rgba(158,158,158,.4)
}
.mdl-button--fab.mdl-button--colored {
	background: rgb(100,255,218);
	color: rgb(66,66,66)
}
.mdl-button--fab.mdl-button--colored:hover {
	background-color: rgb(100,255,218)
}
.mdl-button--fab.mdl-button--colored:focus:not(:active) {
	background-color: rgb(100,255,218)
}
.mdl-button--fab.mdl-button--colored:active {
	background-color: rgb(100,255,218)
}
.mdl-button--fab.mdl-button--colored .mdl-ripple {
	background: rgb(66,66,66)
}
.mdl-button--icon {
	border-radius: 50%;
	font-size: 24px;
	height: 32px;
	margin-left: 0;
	margin-right: 0;
	min-width: 32px;
	width: 32px;
	padding: 0;
	overflow: hidden;
	color: inherit;
	line-height: normal
}
.mdl-button--icon .material-icons {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-12px, -12px);
	transform: translate(-12px, -12px);
	line-height: 24px;
	width: 24px
}
.mdl-button--icon .mdl-button__ripple-container {
	border-radius: 50%;
	-webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000)
}
.mdl-button__ripple-container {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
	overflow: hidden
}
.mdl-button .material-icons {
	vertical-align: middle
}
.mdl-card {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	min-height: 200px;
	overflow: hidden;
	width: 330px;
	z-index: 1;
	position: relative;
	background: #fff;
	border-radius: 2px;
	box-sizing: border-box
}
.mdl-card__supporting-text {
	color: rgba(0,0,0,.54);
	font-size: 1rem;
	line-height: 18px;
	overflow: hidden;
	padding: 16px;
	width: 90%
}
.mdl-card__actions {
	font-size: 16px;
	line-height: normal;
	width: 100%;
	background-color: transparent;
	padding: 8px;
	box-sizing: border-box
}
.mdl-mega-footer {
	padding: 16px 40px;
	color: #9e9e9e;
	background-color: #424242
}
.mdl-mega-footer--middle-section:after, .mdl-mega-footer--bottom-section:after {
	content: '';
	display: block;
	clear: both
}
.mdl-mega-footer--drop-down-section {
	display: block;
	position: relative
}

@media screen and (min-width:760px) {
.mdl-mega-footer--drop-down-section {
	width: 33%
}
.mdl-mega-footer--drop-down-section:nth-child(1), .mdl-mega-footer--drop-down-section:nth-child(2) {
	float: left
}
.mdl-mega-footer--drop-down-section:nth-child(3) {
	float: right
}
.mdl-mega-footer--drop-down-section:nth-child(3):after {
	clear: right
}
.mdl-mega-footer--drop-down-section:nth-child(4) {
	clear: right;
	float: right
}
.mdl-mega-footer--middle-section:after {
	content: '';
	display: block;
	clear: both
}
.mdl-mega-footer--bottom-section {
	padding-top: 0
}
}

@media screen and (min-width:1024px) {
.mdl-mega-footer--drop-down-section, .mdl-mega-footer--drop-down-section:nth-child(3), .mdl-mega-footer--drop-down-section:nth-child(4) {
	width: 24%;
	float: left
}
}
.mdl-mega-footer--heading-checkbox {
	position: absolute;
	width: 100%;
	height: 55.8px;
	padding: 32px;
	margin: -16px 0 0;
	cursor: pointer;
	z-index: 1;
	opacity: 0
}
.mdl-mega-footer--heading-checkbox+.mdl-mega-footer--heading:after {
	font-family: 'Material Icons';
	content: '\E5CE'
}
.mdl-mega-footer--heading-checkbox:checked~.mdl-mega-footer--link-list, .mdl-mega-footer--heading-checkbox:checked+.mdl-mega-footer--heading+.mdl-mega-footer--link-list {
	display: none
}
.mdl-mega-footer--heading {
	position: relative;
	width: 100%;
	padding-right: 39.8px;
	margin-bottom: 16px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 23.8px;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #e0e0e0
}
.mdl-mega-footer--heading:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 23.8px;
	height: 23.8px;
	background-size: cover
}
.mdl-mega-footer--link-list {
	list-style: none;
	padding: 0;
	margin: 0 0 32px
}
.mdl-mega-footer--link-list:after {
	clear: both;
	display: block;
	content: ''
}
.mdl-mega-footer--link-list li {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 20px
}
.mdl-mega-footer--link-list a {
	color: inherit;
	text-decoration: none;
	white-space: nowrap
}

@media screen and (min-width:760px) {
.mdl-mega-footer--heading-checkbox {
	display: none
}
.mdl-mega-footer--heading-checkbox+.mdl-mega-footer--heading:after {
	content: ''
}
.mdl-mega-footer--heading-checkbox:checked~.mdl-mega-footer--link-list, .mdl-mega-footer--heading-checkbox:checked+.mdl-mega-footer--heading+.mdl-mega-footer--link-list {
	display: block
}
}
.mdl-mega-footer--bottom-section {
	padding-top: 16px;
	margin-bottom: 16px
}
.mdl-logo {
	margin-bottom: 16px;
	color: #fff
}
.mdl-mega-footer--bottom-section .mdl-mega-footer--link-list li {
	float: left;
	margin-bottom: 0;
	margin-right: 16px
}

@media screen and (min-width:760px) {
.mdl-logo {
	float: left;
	margin-bottom: 0;
	margin-right: 16px
}
}
.mdl-menu__container {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	overflow: visible;
	height: 0;
	width: 0;
	visibility: hidden;
	z-index: -1
}
.mdl-menu__outline {
	display: block;
	background: #fff;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 2px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	will-change: transform;
	transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
	transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1), -webkit-transform .3s cubic-bezier(.4, 0, .2, 1);
	z-index: -1
}
.mdl-menu__outline.mdl-menu--bottom-right {
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0
}
.mdl-menu {
	position: absolute;
	list-style: none;
	top: 0;
	left: 0;
	height: auto;
	width: auto;
	min-width: 124px;
	padding: 8px 0;
	margin: 0;
	opacity: 0;
	clip: rect(0 0 0 0);
	z-index: -1
}
.mdl-menu.mdl-menu--bottom-right {
	left: auto;
	right: 0
}
.mdl-menu__item {
	display: block;
	border: none;
	color: rgba(0,0,0,.87);
	background-color: transparent;
	text-align: left;
	margin: 0;
	padding: 0 16px;
	outline-color: #bdbdbd;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	text-decoration: none;
	cursor: pointer;
	height: 48px;
	line-height: 48px;
	white-space: nowrap;
	opacity: 0;
	transition: opacity .2s cubic-bezier(.4, 0, .2, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.mdl-menu__item::-moz-focus-inner {
border:0
}
.mdl-menu__item[disabled] {
	color: #bdbdbd;
	background-color: transparent;
	cursor: auto
}
.mdl-menu__item[disabled]:hover {
	background-color: transparent
}
.mdl-menu__item[disabled]:focus {
	background-color: transparent
}
.mdl-menu__item:hover {
	background-color: #eee
}
.mdl-menu__item:focus {
	outline: none;
	background-color: #eee
}
.mdl-menu__item:active {
	background-color: #e0e0e0
}
@supports (-webkit-appearance:none) {
}
.mdl-layout {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	-webkit-overflow-scrolling: touch
}
.mdl-layout__container {
	position: absolute;
	width: 100%;
	height: 100%
}
.mdl-layout__header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	box-sizing: border-box;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	min-height: 64px;
	max-height: 1000px;
	z-index: 3;
	background-color: rgb(244,67,54);
	color: rgb(255,255,255);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-property: max-height, box-shadow
}

@media screen and (max-width:1024px) {
.mdl-layout__header {
	min-height: 56px
}
}

@media screen and (max-width:1024px) {
.mdl-layout__header {
	display: none
}
.mdl-layout--fixed-header>.mdl-layout__header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}
}
.mdl-layout__header--scroll {
	box-shadow: none
}
.mdl-layout__header-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	box-sizing: border-box;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 64px;
	margin: 0;
	padding: 0 40px 0 80px
}

@media screen and (max-width:1024px) {
.mdl-layout__header-row {
	height: 56px;
	padding: 0 16px 0 72px
}
}
.mdl-layout__header-row>* {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0
}
.mdl-layout__header--scroll .mdl-layout__header-row {
	width: 100%
}
@supports (pointer-events:auto) {
}
.mdl-layout__content {
	-ms-flex: 0 1 auto;
	position: relative;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	z-index: 1;
	-webkit-overflow-scrolling: touch
}
.mdl-layout__container.has-scrolling-header .mdl-layout__content {
	overflow: visible
}

@media screen and (max-width:1024px) {
.mdl-layout__container.has-scrolling-header .mdl-layout__content {
	overflow-y: auto;
	overflow-x: hidden
}
}
.mdl-layout__tab-bar {
	height: 96px;
	margin: 0;
	width: calc(100% - 112px);
	padding: 0 0 0 56px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: rgb(244,67,54);
	overflow-y: hidden;
	overflow-x: scroll
}
.mdl-layout__tab-bar::-webkit-scrollbar {
display:none
}

@media screen and (max-width:1024px) {
.mdl-layout__tab-bar {
	width: calc(100% - 60px);
	padding: 0 0 0 60px
}
}
.mdl-layout__tab {
	margin: 0;
	border: none;
	padding: 0 24px;
	float: left;
	position: relative;
	display: block;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	text-decoration: none;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	color: rgba(255,255,255,.6);
	overflow: hidden
}

@media screen and (max-width:1024px) {
.mdl-layout__tab {
	padding: 0 12px
}
}
.mdl-layout__tab-panel {
	display: block
}
.mdl-slider.is-upgraded:focus:not(:active)::-webkit-slider-thumb {
box-shadow:0 0 0 10px rgba(244,67,54,.26)
}
.mdl-slider.is-upgraded:focus:not(:active)::-moz-range-thumb {
box-shadow:0 0 0 10px rgba(244,67,54,.26)
}
.mdl-slider.is-upgraded:focus:not(:active)::-ms-thumb {
background:radial-gradient(circle closest-side, rgb(244,67,54)0%, rgb(244,67,54)37.5%, rgba(244,67,54,.26)37.5%, rgba(244,67,54,.26)100%);
transform:scale(1)
}
.mdl-slider.is-upgraded.is-lowest-value:focus:not(:active)::-webkit-slider-thumb {
box-shadow:0 0 0 10px rgba(0,0,0,.12);
background:rgba(0,0,0,.12)
}
.mdl-slider.is-upgraded.is-lowest-value:focus:not(:active)::-moz-range-thumb {
box-shadow:0 0 0 10px rgba(0,0,0,.12);
background:rgba(0,0,0,.12)
}
.mdl-slider.is-upgraded.is-lowest-value:focus:not(:active)::-ms-thumb {
background:radial-gradient(circle closest-side, rgba(0,0,0,.12)0%, rgba(0,0,0,.12)25%, rgba(0,0,0,.26)25%, rgba(0,0,0,.26)37.5%, rgba(0,0,0,.12)37.5%, rgba(0,0,0,.12)100%);
transform:scale(1)
}
.mdl-shadow--2dp {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
}
.mdl-shadow--4dp {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2)
}
.mdl-grid {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0 auto;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch
}
.mdl-grid.mdl-grid--no-spacing {
	padding: 0
}
.mdl-cell {
	box-sizing: border-box
}
.mdl-grid.mdl-grid--no-spacing>.mdl-cell {
	margin: 0
}

@media (max-width:479px) {
.mdl-grid {
	padding: 8px
}
.mdl-cell {
	margin: 8px;
	width: calc(100% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell {
	width: 100%
}
.mdl-cell--1-col-phone.mdl-cell--1-col-phone {
	width: calc(25% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--1-col-phone.mdl-cell--1-col-phone {
	width: 25%
}
.mdl-cell--2-col {
	width: calc(50% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--2-col {
	width: 50%
}
.mdl-cell--3-col-phone.mdl-cell--3-col-phone {
	width: calc(75% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--3-col-phone.mdl-cell--3-col-phone {
	width: 75%
}
.mdl-cell--4-col-phone.mdl-cell--4-col-phone {
	width: calc(100% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--4-col-phone.mdl-cell--4-col-phone {
	width: 100%
}
.mdl-cell--12-col {
	width: calc(100% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--12-col {
	width: 100%
}
}

@media (min-width:480px) and (max-width:839px) {
.mdl-grid {
	padding: 8px
}
.mdl-cell {
	margin: 8px;
	width: calc(50% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell {
	width: 50%
}
.mdl-cell--2-col, .mdl-cell--2-col-tablet.mdl-cell--2-col-tablet {
	width: calc(25% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--2-col, .mdl-grid--no-spacing>.mdl-cell--2-col-tablet.mdl-cell--2-col-tablet {
	width: 25%
}
.mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
	width: calc(75% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
	width: 75%
}
.mdl-cell--12-col {
	width: calc(100% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--12-col {
	width: 100%
}
}

@media (min-width:840px) {
.mdl-grid {
	padding: 8px
}
.mdl-cell {
	margin: 8px;
	width: calc(33.3333333333% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell {
	width: 33.3333333333%
}
.mdl-cell--2-col {
	width: calc(16.6666666667% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--2-col {
	width: 16.6666666667%
}
.mdl-cell--3-col-desktop.mdl-cell--3-col-desktop {
	width: calc(25% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--3-col-desktop.mdl-cell--3-col-desktop {
	width: 25%
}
.mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
	width: calc(33.3333333333% - 16px)
}
.mdl-cell--9-col-desktop.mdl-cell--9-col-desktop {
	width: calc(75% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--9-col-desktop.mdl-cell--9-col-desktop {
	width: 75%
}
.mdl-cell--10-col-desktop.mdl-cell--10-col-desktop {
	width: calc(83.3333333333% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--10-col-desktop.mdl-cell--10-col-desktop {
	width: 83.3333333333%
}
.mdl-cell--12-col {
	width: calc(100% - 16px)
}
.mdl-grid--no-spacing>.mdl-cell--12-col {
	width: 100%
}
}
body {
	margin: 0
}
