@import "variables.scss";


/* Banner*/

.banner {
  display: flex;
  height: 40vh;
  background-color: $bannerfondo;
  padding: 30px;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;

  body.darkmode & {
    background-color: $bannerfondodark;
  }
}
