/* Variables Inicio*/
/* Variables de Dark Mode*/
/* Banner*/
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  background-color: #cddc39;
  padding: 30px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.darkmode .banner {
  background-color: orangered;
}
/*# sourceMappingURL=banner.css.map */