@import "variables.scss";


* {
  margin: 0;
  padding: 0;
}
/* Variables Fin*/
/* Querys Inicio*/
@mixin phone {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 880px) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  box-sizing: content-box;
}

@import "menu.scss";
@import "banner.scss";
