/* Variables Inicio*/
/* Variables de Dark Mode*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Variables Fin*/
/* Querys Inicio*/
body {
  background-color: #efefef;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* Navegador */
nav {
  z-index: 3000;
  height: 35px;
  background-color: #00204b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  -webkit-box-shadow: 0px 0px 9px 5px #01002041;
          box-shadow: 0px 0px 9px 5px #01002041;
}

body.darkmode nav {
  background-color: #030303;
  -webkit-box-shadow: 0px 0px 9px 5px #006aeb09;
          box-shadow: 0px 0px 9px 5px #006aeb09;
}

nav .logo {
  width: 20px;
}

nav .logo img {
  height: 42px;
  width: auto;
  margin-left: 30px;
  margin-right: auto;
}

@media only screen and (max-width: 880px) {
  nav .logo img {
    margin-left: auto;
  }
}

nav .hmenu {
  display: none;
  font-size: 30px;
}

@media only screen and (max-width: 320px) {
  nav .hmenu {
    display: inline-block;
  }
}

@media only screen and (max-width: 880px) {
  nav .hmenu {
    display: inline-block;
  }
}

nav .hmenu div {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 25px;
  height: 3px;
  margin: 3px;
  border-radius: 6px;
  background-color: white;
}

nav .hmenu div:nth-child(2) {
  background-color: #ffa822;
}

body.darkmode nav .hmenu div:nth-child(2) {
  background-color: #61daff;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

nav .nav-links li a {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

nav .nav-links a:hover {
  cursor: pointer;
  color: #ffa822;
}

body.darkmode nav .nav-links a:hover {
  color: #61daff;
}

nav .nav-links .submenu {
  position: absolute;
  display: none;
  padding: 7px;
  color: #00204b;
}

nav .nav-links .submenu a {
  background-color: #ffa822;
  color: #00204b;
  width: 100%;
  padding: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-links .submenu a:hover {
  background-color: #00204b;
  color: white;
}

@media only screen and (max-width: 880px) {
  nav .nav-links .submenu {
    position: relative;
    text-align: center;
    width: 100%;
  }
}

nav .nav-links .categorias:hover .submenu {
  display: block;
}

@media only screen and (max-width: 880px) {
  nav .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    height: 90vh;
    padding: 25px 0px 40px 0px;
    background-color: #011524fa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  body.darkmode nav .nav-links {
    background-color: #000c1bec;
  }
  nav .nav-links li {
    opacity: 0;
  }
}

nav .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: inherit;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

nav form input {
  position: absolute;
  left: 0;
  width: 100%;
  height: 31px;
  line-height: 31px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 3px 20px;
  outline: none;
  background-color: white;
  -webkit-appearance: none;
}

nav form input::-webkit-input-placeholder {
  color: #00204b;
}

nav form input:-ms-input-placeholder {
  color: #00204b;
}

nav form input::-ms-input-placeholder {
  color: #00204b;
}

nav form input::placeholder {
  color: #00204b;
}

nav form .fa {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
  width: 45px;
  font-size: 1em;
  position: absolute;
  top: auto;
  right: 0;
  border-radius: 0px 20px 20px 0px;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav form:hover {
  width: 250px;
  cursor: pointer;
  display: block;
}

nav form:hover input {
  display: block;
}

nav form:hover .fa {
  background: #ffa822;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body.darkmode nav form:hover .fa {
  background: #61daff;
  color: black;
}

nav .tienda {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .tienda li a {
  font-size: 1.4em;
}

nav .tienda ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
}

nav .tienda ul li a {
  margin-right: 1em;
  color: white;
  text-decoration: none;
}

nav .tienda ul li a span {
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 0.4em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00204b;
  font-weight: bold;
  background-color: #ffa822;
  padding: 3px;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  border-radius: 100px;
}

body.darkmode nav .tienda ul li a span {
  color: black;
  background-color: #61daff;
}

@media only screen and (max-width: 880px) {
  nav .tienda .mobileu {
    display: none;
    font-size: 1em;
  }
  nav .tienda .mobileb {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes linkMenu {
  from {
    opacity: 0;
    -webkit-transform: translateX(-220px);
            transform: translateX(-220px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes linkMenu {
  from {
    opacity: 0;
    -webkit-transform: translateX(-220px);
            transform: translateX(-220px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/*Icono de hamburgesa*/
.toogle .line1 {
  -webkit-transform: rotate(-45deg) translate(-2.5px, 6px);
          transform: rotate(-45deg) translate(-2.5px, 6px);
  background-color: #ffa822;
}

body.darkmode .toogle .line1 {
  background-color: #61daff;
}

.toogle .line2 {
  opacity: 0;
}

.toogle .line3 {
  -webkit-transform: rotate(45deg) translate(-2.5px, -6px);
          transform: rotate(45deg) translate(-2.5px, -6px);
  background-color: #ffa822;
}

body.darkmode .toogle .line3 {
  background-color: #61daff;
}

/*Contenedor del boton */
.dark {
  position: relative;
}

.dark p {
  display: none;
}

/*Switch para el darkmode*/
.switch {
  background-color: #6b04b9;
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch::after {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  background-color: #dbdbdb;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.424);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.424);
}

.switch.active {
  background-color: orange;
}

.switch.active i {
  color: black;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  height: 26px;
  width: 26px;
  line-height: 26px;
  display: block;
  background: none;
}

.switch i {
  font-size: 0.99em;
  color: white;
}
/*# sourceMappingURL=menu.css.map */