@import "variables.scss";

* {
  margin: 0;
  padding: 0;
}
/* Variables Fin*/
/* Querys Inicio*/
@mixin phone {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 880px) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

body {
  background-color: $GrisBg;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  box-sizing: content-box;
}

/* Navegador */

nav {
  z-index: 3000;
  height: 35px;
  background-color: $primario;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 15px;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  box-shadow: 0px 0px 9px 5px $darkPrimarioalfa;
  body.darkmode & {
    background-color: $darkPrimario;
    box-shadow: 0px 0px 9px 5px $ligthfondoalfa;
  }

  .logo {
    width: 20px;

    img {
      height: 42px;
      width: auto;
      margin-left: 30px;
      margin-right: auto;
      @include tablet {
        margin-left: auto;
      }
    }
  }

  .hmenu {
    display: none;
    font-size: 30px;

    @include phone {
      display: inline-block;
    }

    @include tablet {
      display: inline-block;
    }
  }

  .hmenu div {
    transition: all 0.6s ease;
    width: 25px;
    height: 3px;
    margin: 3px;
    border-radius: 6px;
    background-color: white;

    &:nth-child(2) {
      background-color: $naranja;
      body.darkmode & {
        background-color: $azul;
      }
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 75%;

    li a {
      color: white;
      font-size: 1em;
      text-decoration: none;
    }

    a {
      &:hover {
        cursor: pointer;
        color: $naranja;

        body.darkmode & {
          color: $azul;
        }
      }
    }



    .submenu{
      position: absolute;
      display:none;
      padding: 7px;
      color: $primario;
      a{
        background-color: $naranja;
        color: $primario;
        width: 100%;
        padding: 7px;
        flex-flow: column;
        display: flex;
        &:hover{
          background-color: $primario;
          color: white;
        }
      }

      @include tablet{
        position: relative;
        text-align: center;
        width: 100%;
      }
    }


    .categorias{
      &:hover .submenu{
        display: block;
    
      }
    
    }


    @include tablet {
      position: absolute;
      top: 65px;
      left: 0;
      height: 90vh;

      padding: 25px 0px 40px 0px;
      background-color: $fondo;

      body.darkmode & {
        background-color: $darkfondo;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(-100%);

      li {
        opacity: 0;
      }

      transition: transform 0.5s ease-in;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }

  // aqui comienza el buscador
  form {
    display: flex;
    position: inherit;
    transform: translate(0%, 0%);
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 30px;

    box-sizing: border-box;
    border-radius: 25px;
    align-content: center;
    align-items: center;
    text-align: center;

    input {
      position: absolute;
      left: 0;
      width: 100%;
      height: 31px;
      line-height: 31px;
      outline: 0;
      border: 0;
      display: none;
      font-size: 1em;
      border-radius: 20px;
      padding: 3px 20px;
      outline: none;
      background-color: white;

      -webkit-appearance: none;
      &::placeholder {
        color: $primario;
      }
    }

    .fa {
      box-sizing: border-box;
      padding: 6px;
      width: 45px;
      font-size: 1em;
      position: absolute;
      top: auto;
      right: 0;
      border-radius: 0px 20px 20px 0px;
      color: #ffffff;
      text-align: center;
      font-size: 1.2em;
      transition: all 0.3s ease-in-out;
    }
  }

  form:hover {
    width: 250px;
    cursor: pointer;
    display: block;
  }

  form:hover input {
    display: block;
  }

  form:hover .fa {
    background: $naranja;
    color: black;
    transition: all 0.3s ease-in-out;
    body.darkmode & {
      background: $azul;
      color: black;
    }
  }

  .tienda {
    justify-content: space-between;
    li a {
      font-size: 1.4em;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex: 1;
      text-decoration: none;

      li a {
        margin-right: 1em;
        color: white;
        text-decoration: none;

        span {
          position: fixed;
          justify-content: center;
          align-content: center;
          font-size: 0.4em;
          text-align: center;
          align-items: center;
          color: $primario;
          font-weight: bold;
          background-color: $naranja;
          padding: 3px;
          width: 12px;
          height: 12px;
          margin-left: -6px;
          border-radius: 100px;

          body.darkmode & {
            color: black;
            background-color: $azul;
          }
        }
      }
    }
    @include tablet {
      .mobileu {
        display: none;
        font-size: 1em;
      }
      .mobileb {
        align-content: center;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@keyframes linkMenu {
  from {
    opacity: 0;
    transform: translateX(-220px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*Icono de hamburgesa*/
.toogle .line1 {
  transform: rotate(-45deg) translate(-2.5px, 6px);
  background-color: $naranja;
  body.darkmode & {
    background-color: $azul;
  }
}
.toogle .line2 {
  opacity: 0;
}
.toogle .line3 {
  transform: rotate(45deg) translate(-2.5px, -6px);
  background-color: $naranja;
  body.darkmode & {
    background-color: $azul;
  }
}
/*Contenedor del boton */
.dark {
  position: relative;
  p {
    display: none;
  }
}
/*Switch para el darkmode*/
.switch {
  background-color: rgb(107, 4, 185);
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    background-color: rgb(219, 219, 219);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.424);
  }

  &.active {
    background-color: orange;
    i {
      color: black;
    }

    &::after {
      right: 0;
      left: unset;
    }
  }

  span {
    height: 26px;
    width: 26px;
    line-height: 26px;
    display: block;
    background: none;
  }
  i {
    font-size: 0.99em;
    color: white;
  }
}


