/* Variables Inicio*/
$naranja: #ffa822;
$primario: #00204b;
$fondo: #011524fa;
$secundario: #4472a6;
$GrisBg: #efefef;

/* Variables de Dark Mode*/

$darkPrimario: #030303;
$darkfondo: #000c1bec;
$darkPrimarioalfa: #01002041;
$darkfondoalfa: #00224b1f;

$ligthPrimarioalfa: #6b696933;
$ligthfondoalfa: #006aeb09;
$azul: #61daff;
$bannerfondodark: orangered;
$bannerfondo: #cddc39;
