#pmsc
{
	width: 100%;
	height: 450px;
	
	font-family: 'Exo';
	
	color: #363636;
}

#pmsc *:focus
{
	outline: none;
}

.pmsc-wrapper,
.pmsc-container,
.pmsc-data,
.pmsc-left,
.pmsc-right
{
	width: 100%;
	height: 100%;
}

/**/.pmsc-left,
.pmsc-right
{
	width: 49.5%;
	
	display: inline-block;
	
	vertical-align: top;
}

/*.pmsc-left, .pmsc-right {
    width: 50px;
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
}
*/
.pmsc-left{
  float:left; 

}
.pmsc-right { 
  overflow:hidden;

}

@media (max-width: 800px) {
   .pmsc-left, .pmsc-right { 
    float: none;
    margin-right:0;
    width:100%;
   
  }
    #page28_container28 {
        min-height: 155vh;
        height: auto;
    }
}



.pmsc-filter
{
	width: 96%;
	height: 30px;
	position: relative;
	
	margin: 0 2%;
}

#pmsc-f-i,
#pmsc-f-b
{
	margin: 0;
	padding: 0;
	
	position: absolute;
	top: 0;
	
	border: none;
	
	display: inline-block;
	
	vertical-align: top;
}

#pmsc-f-i
{
	width: 90%;
	height: 29px;
	
	left: 0;
	
	font-family: 'Exo';
	font-size: 16px;
	line-height: 29px;
	
	border: none;
	border-bottom: solid 1px #98012e;
}

#pmsc-f-b
{
	width: calc(10% + 2px);
	height: 30px;
	
	right: -2px;
	
	background-color: #98012e;
	
	color: white;
}

#pmsc-f-b i
{
	font-size: 20px;
	line-height: 29px;
}

.pmsc-left ul
{
	display: block;
	
	margin: 0 2%;
	padding: 0;
	
	width: 96%;
	max-height: calc(100% - 30px);
	
	border: solid 1px #e2e2e2;
	border-top: none;
	
	list-style-type: none;
	
	overflow-x: hidden;
	overflow-y: scroll;
}

.pmsc-left ul li
{
	width: 77%;
	
	margin: 0;
	padding: 8px 20% 14px 3%;
	
	border-bottom: solid 1px #e2e2e2;
	
	position: relative;
	
	cursor: pointer;
}

.pmsc-left ul li.activ,
.pmsc-left ul li:hover
{
	background-color: #ededed;
}

.pmsc-left ul li:last-child
{
	border-bottom: none;
}

.pmsc-title
{
	font-size: 16px;
}

.pmsc-address
{
	font-size: 10px;
	
	padding: 9px 0;
	
	color: #707070;
}

.pmsc-phone
{
	font-size: 12px;
}



.pmsc-phone a i,
.pmsc-phone span i
{
	font-size: 13px;
	
	margin: 0;
	padding: 0;
	
	line-height: 12px;
}

.pmsc-phone span i
{
	font-size: 22px;
	
	margin: 0;
	padding: 0;
	
	line-height: 12px;

	display: inline-block;
}

.pmsc-phone a,
.pmsc-phone span
{
	display: inline-block;
	background-color: #98012e;
	
	vertical-align: middle;
	
	padding: 4px 12px;
	margin: 0 6px 0 0;
	
	color: #fff;
	
	text-decoration: none;
	
	-webkit-box-shadow: -1px 1px 1px 1px rgba(0,0,0,.3);
	-moz-box-shadow: -1px 1px 1px 1px rgba(0,0,0,.3);
	box-shadow: -1px 1px 1px 1px rgba(0,0,0,.3);
}

.pmsc-phone span
{
	/*display: none;*/

	margin: 0;
	
	line-height: 0px;
    padding: 8px 11px;
}
.pmsc-phone a:hover,
.pmsc-phone span:hover
{
	background-color: #e10045;
}
.pmsc-phone a {
    margin-bottom: 1em;
}
.pmsc-loc
{
	position: absolute;
	
	color: #98012e;
	
	right: 7%;
	top: calc(50% - 17px);
}

.pmsc-loc i
{
	font-size: 35px;
	line-height: 35px;
	
	transition: all .1s ease-out;
}

.pmsc-left ul li.activ .pmsc-loc i
{
	font-size: 55px;
	line-height: 55px;
	
	margin: -12px -8px 0 0;
}

#pmsc-map
{
	width: 100%;
	height: 100%;
}