/**Colores**/

.color_bg {background-color: green;}

.color {color: green;}

.color_border_top{border-top:2px solid green;}

.color_border_bottom{border-bottom:2px solid green;}

.color_border_gallery_top{border-top:7px solid green;}

.color_border_gallery_bottom{border-bottom:7px solid green;}

.color_border_left{border-left-color:green;}