

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}


/* Larger than phablet */

@media (min-width: 550px) {
    h1 {
        font-size: 5.0rem;
    }
    h2 {
        font-size: 4.2rem;
    }
    h3 {
        font-size: 3.6rem;
    }
    h4 {
        font-size: 3.0rem;
    }
    h5 {
        font-size: 2.4rem;
    }
    h6 {
        font-size: 1.5rem;
    }

    p {
    margin-top: 0;
    }
}




/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 1rem;
}


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}


/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}



/**TipTap - Master**/
.header_pic {
    height: 340px;
    width: 100%;
}

.header_pic_inner {
    display: table-cell;
    width: 100%;
    height: 400px !important;
    vertical-align: middle !important;
		background-size: cover !important;

}

.header_pic_inner h1 {
    margin-left: 100px;
    padding: 0 30px;
    text-align: right;
    background: rgba(255, 255, 255, .75);
}

.header_pic_inner .bolder {
    display: block;
    font-weight: bold;
}

.article_container_inner {
    padding: 30px 50px 0 50px;
}

.article_container_inner p {
    text-align: justify;
    font-size: 25px;
    margin: 0 0 40px 0;
}

.img_container {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
}

p.parrafo_resaltado_style {
    width: 100%;
    padding: 20px 5%;
    margin-left: -5%;
    color: #fff;
    text-align: center;
    line-height: 27px;
    font-size: 20px;
}

.footer_inner p {
    margin: 0;
    padding: 10px 50px 60px 50px;
    font-size: 18px;
  /*  font-style: italic;*/
  word-break: break-all;
}

.pie_de_foto {
    text-align: right;
    margin: 0 50px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 25px;
    margin-left: 20%;
}

.autor {
    text-align: right;
    margin: 0 50px;
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 20%;
}

p.article_footer {
    font-size: 12px;
    text-align: center; }

blockquote {
    font-size: 12px;
    padding: 10px 10px;
    text-align: center;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }

ul.number_list, ul.bullet_list {
    list-style: none;
  }


ul.number_list span {
    line-height: 0px;
    font-size: 20px;
    font-weight: bold;
  }


ul.bullet_list span {
   font-size: 40px;
    font-weight: bold;


}

ul.bullet_list li,
ul.number_list li {
   line-height: 34px;
   font-size: 15px;
   padding-left: 20px;
}

.article_end_box a {
  color: #0071ba; }

.article_end_box {
    margin: 0 20px;
    background: #f2f2f2; }

.article_end_box_inner {
    padding: 20px; }

.article_end_box_inner ul {
    list-style: none; }

.article_end_box_inner ul li {
    margin-bottom: 20px; }

.article_end_box_inner h4 {
    font-size: 1em;
    font-weight: bold; }

.article_end_box_inner h5 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
    color: #0071ba; }

.article_end_box_inner p {
    margin: 0px;
    text-transform: uppercase; }

.article_end_box a {
    text-decoration: none;
    font-size: 12px; }

.article_end_box .tel {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500 }


.article_end_box a:hover {
    cursor: pointer; }

.footer_container {
    height: 50px; }

.google-maps {
        position: relative;
        padding-bottom: 55%;
        height: 0;
        overflow: hidden;
        margin-bottom: 25px;
        margin-top: 25px;
        border: solid 2px #b2b1b1;
    }
    .article_container_2 hr {
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        border-width: 1px;
        border-style: solid;
        margin-bottom: 30px;
    }
    .article_container_2 .texto_fuente {
        margin-bottom: 5px;
        font-style: italic;
        text-align: right;
        float: right;
        font-size: 12px;
        margin-top: 5px;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
    .direccion_frame {
        padding: 5px 10px;
        text-align: center;
        font-size: 11px;
        margin: 0 12px;
        border: solid 1px #000;
    }

    .direccion_frame_inner {
        position: relative;
    }

    .article_container_2_inner {
        padding: 15px 25px 0px 25px;
    }

    .map_icon {
    position: absolute;
    left: -23px;
    top: 2px;
    width: 25px;
    height: auto;
    }

    .article_container_2_inner p {
        text-align: justify;
        font-size: 15px;
        margin: 0 0 20px 0;
    }
    .article_container_2_inner .parrafo_horario {
        font-style: italic;
        font-size: 12px;
        color: #666666;
        font-weight: lighter;
    }

    .texto_fuente {
    margin-bottom: 0px;
    font-style: italic;
    text-align: right;
    float: right;
    font-size: 16px;
    }

    .texto_fuente a {
        text-decoration: none;
        color: inherit;
    }



@media (max-width:399px) {
.header_pic {
    height: 180px;
    display: table;
}

.header_pic_inner {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.header_pic_inner h1 {
   margin-left: 45px;
    padding: 5px 15px;
    text-align: right;
    background: rgba(255, 255, 255, .75);
    font-size: 25px;
}

.header_pic_inner span {
    display: block;
    font-weight: bold;
}

.article_container_inner {
    padding: 15px 25px 0 25px;
}

.article_container_inner p {
    text-align: justify;
    font-size: 15px;
    margin: 0 0 20px 0;
}

.img_container {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
}

blockquote {
    font-size: 13px;
    padding: 10px 2px 6px;
    text-align: center;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-style: italic;

  }

.article_container_inner .quote {
    font-size: 12px;
    line-height: 20px;
    color: #000;
    border-left-width: 5px;
    border-left-style: solid;
    display: block;
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 20PX;
    margin-bottom: 35px;
    padding-left: 18px;
    margin-top: 30px;
}

p.parrafo_resaltado_style {
    width: 100%;
    padding: 15px 6%;
    margin-left: -6%;
    color: #fff;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
}

.footer_inner p {
    margin: 0;
    padding: 10px 25px 30px 25px;
    font-size: 12px;
  /*  font-style: italic;*/
  word-break: break-all;
}

.pie_de_foto {
    text-align: right;
    margin: 0 25px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 17px;
    margin-left: 10%;
}

.autor {
    text-align: right;
    margin: 0 25px;
    font-size: 12px;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 20%;
}

ul.number_list span {
    line-height: 0px;
    font-size: 18px;
    font-weight: bold;
  }


ul.bullet_list span {
   font-size: 40px;
    font-weight: bold;
}

ul.bullet_list li,
ul.number_list li {
   line-height: 28px;
   font-size: 15px;
}

.map_icon {
    position: absolute;
    left: -23px;
    top: 2px;
    width: 25px;
    height: auto;
}

}


/* Mobile */

@media (min-width: 320px) {

.header_pic {
    height: 180px;
    display: table;
    
}

.header_pic_inner {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.header_pic_inner h1 {
   margin-left: 45px;
    padding: 5px 15px;
    text-align: right;
    background: rgba(255, 255, 255, .75);
    font-size: 25px;
}

.header_pic_inner span {
    display: block;
    font-weight: bold;
}

.article_container_inner {
    padding: 15px 25px 0 25px;
}

.article_container_inner p {
    text-align: justify;
    font-size: 15px;
    margin: 0 0 20px 0;
}

.img_container{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
}

.article_container_inner .quote {
    font-size: 15px;
    line-height: 24px;
    color: #878787;
    border-left-width: 5px;
    border-left-style: solid;
    display: block;
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 20PX;
    margin-bottom: 35px;
    padding-left: 18px;
    margin-top: 30px;
}

p.parrafo_resaltado_style{
    width: 100%;
    padding: 15px 6%;
    margin-left: -6%;
    color: #fff;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
}

.footer_inner p {
    margin: 0;
    padding: 10px 25px 30px 25px;
    font-size: 12px;
  /*  font-style: italic;*/
  word-break: break-all;
}

.pie_de_foto {
    text-align: right;
    margin: 0 25px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 17px;
    margin-left: 10%;
}

.autor {
    text-align: right;
    margin: 0 25px;
    font-size: 12px;
    line-height: 25px;
    margin-top: 10px;
    margin-left: 20%;
}
.carousel {
    background: #EEE;
  }
  .carousel-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  .carousel_margins {
    height: 200px;
    margin: 20px 0 50px 0;
  }
  .carousel img {
    display: block;
    height: 200px;
  }
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

 /* Larger than Mobile */

@media (min-width: 767px) {
    .capitalLetter {
        float: left;
        font-size: 60px;
        line-height: 42px;
        padding: 2px;
        font-weight: bold;
        margin-right: 5px;
    }

    .header_pic_inner h1 {
    margin-left: 50px;
    padding: 5px 15px;
    text-align: right;
    background: rgba(255, 255, 255, .75);
    font-size: 36px;
    }

    .article_container_inner p {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;

    margin: 0 0 20px 0;
   }

   ul.bullet_list li, ul.number_list li{
    font-size: 16px;
    line-height: 28px;
   }

  blockquote {
    font-size: 14px;
    padding: 20px;
    text-align: center;
    border-top-width: 4px;
    border-top-style: solid;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    font-style: italic;
    max-width: 80%;
    margin: auto;
    margin-bottom: 20px!important;
  }

  .article_container_inner .quote {
    font-size: 20px;
    line-height: 32px;
    color: #000;
    border-left-width: 5px;
    border-left-style: solid;
    display: block;
    margin: 0 auto;
    margin-right: 20px;
    margin-left: 20PX;
    margin-bottom: 35px;
    padding-left: 18px;
    margin-top: 30px;
    }

    .carousel_margins {
    height: 430px;
    margin: 35px 0 55px 0;
  }

  .carousel img {
    display: block;
    height: 430px;
  }
  .article_end_box_inner h4 {
    font-size: 1.7em;
    font-weight: bold;
  }
  .article_end_box_inner h5 {
    font-size: 1.5em;
  }
  .flickity-page-dots .dot {
    width: 20px !important;
    height: 20px !important;
    padding: 0;
  }
  .flickity-page-dots {
    bottom: -50px !important;
  }

  .article_content p.article_footer {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center; } 


    .map_icon {
    position: absolute;
    left: -50px;
    top: 0px;
    width: 56px;
    height: auto;
}

.direccion_frame {
    padding: 10px 20px;
    text-align: center;
    font-size: 22px;
    margin: 0 25px;
    border: solid 2px #000;
}

.direccion_frame_inner {
    position: relative;
}


}





