@charset "UTF-8";
/* CSS Document */

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.colorFuente {color: #0072CA;}
.colorBco {color: #FFFFFF}
.colorAmarillo {color: #FFD100 !important;}
.colorRojo {color: #EE1D24 !important;}
.colorNaranja {color: #F6882F !important;}
.colorAzul {color: #00B7D2 !important;}
.colorAzulO {color: #0382C5 !important;}
.colorVerde {color: #39B54B !important;}
.colorMorado {color: #292262 !important;}
.colorFusia {color: #E10589 !important;}
.colorGris {color: #CCCCCC !important;}


.colorFuente {background-color: #0072CA;}
.colorBgBack {background-color: #0072CA;}
.colorBgBco {background-color: #FFFFFF}
.colorBgAmarillo {background-color: #FFD100 !important;}
.colorBgRojo {background-color: #EE1D24 !important;}
.colorBgNaranja {background-color: #f6882f !important;}
.colorBgAzul {background-color: #00B7D2 !important;}
.colorBgAzulO {background-color: #0072CA !important;}
.colorBgVerde {background-color: #39B54B !important;}
.colorBgMorado {background-color: #292262 !important;}
.colorBgFusia {background-color: #E10589 !important;}



/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
	border-radius: 100px;
}
.marginCenter {margin:0 auto;}
/* Titulos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.titulosGrandes {
	font-size: 3em;
}
.titulosMedianos {
	font-size:1.6em;
}
/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
	padding: 8rem 0 7rem;
	text-align: center;
}
.section-heading, .section-description {
	margin-bottom: 1.2rem;
}
/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
	background-image: url('../images/header.png');
	background-size: cover;
	color: #fff;
	padding-bottom: 5rem;
}
.value-multiplier {
	margin-bottom: .5rem;
	color: #11DFC7;
}
.value-heading {
	margin-bottom: .3rem;
}
.value-description {
	opacity: .8;
	font-weight: 300;
}
/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
	border-bottom: 1px solid #ddd;
}
/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
	background-image: url('../images/header.png');
	background-size: cover;
	color: #fff;
}
.categories .section-description {
	margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
}

/* Bigger than 750 */
@media (min-width: 750px) {
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
}

