@charset "UTF-8";
/* CSS Document */

html {
	height: 100%;
	}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: raleway, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
/*	background: linear-gradient(141deg, #E2FFFE 0%, #B4DEFC 51%, #CFFFFE 75%);
	background-repeat: no-repeat;
	background-attachment:fixed;*/
}
.header {
	position:relative;
	height: 100px;
	color: #5c1b88;
	background: #FFF;
	font-weight: 100;
	font-size: 1em;
	text-align: center;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	padding: 2px;
	z-index:4;
}
a:link {
	color: #E6E6E6;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #E6E6E6;
}
a:hover {
	text-decoration: none;
	color: #E6E6E6;
}
a:active {
	text-decoration: none;
	color: #E6E6E6;
	}
.logo {
	width: 25%;
	float: left;
	margin: auto;
}
.clearfix {
  overflow: auto;
}
/*Nav*/
.topnav {
	overflow: hidden;
	z-index: 3;
}
.topnav a {
	float: left;
	display: block;
	text-align: center;
	padding: 15px 10px;
	text-decoration: none;
	font-size: 17px;

}

.topnav a:hover {
	/*background-color: #ddd;*/
	color: black;
}
.topnav .icon {
	display: none;
}

/* menuColor */


.menuColor1 .menuColor1_item {
	padding-top: 50px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 2px;
	color: #5c1b88;
	font-size: 14px;
}
.menuColor1.menuColor1_wp_outer {
	padding-top: 30px;
	color: #000;
	font-family: inherit;
	font-size: 8px;
	text-align: center;
}
.menuColor1 .menuColor1 {
	font-size: 10px;
	color: #ffffff;
	font-family: Raleway;
}
.menuColor1 .menuColor1_item {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	margin-bottom: 2px;
	color: #5c1b88;
	font-size: 14px;
}
.menuColor1 .menuColor1_item:hover {
	color: #cf30a6;
	border-width: 0px 0px 4px 0px;
	border-style: solid;
	border-color: #d2289b;
	font-weight: bold;
}
.menuColor1 .menuColor1_submenu {
	color: #ffffff;
}
.menuColor1 .menuColor1_subitem {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
	color: #5b93a6;
	margin-bottom: 4px;
}
.menuColor1 .menuColor1_subitem:hover {
	color: #ce3519;
}
.menuColor1 .menuColor1_selected {
	color: #1892fb;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-color: #21b2ed;
	padding-top: 8px;
	font-weight: bold;
}



@media screen and (min-width: 900px) {
.left {
	width: 33%;
	float: left;
	display: block;
	vertical-align: top;
	margin: auto;
	text-align: center;
	line-height: 45px;
}
}

@media screen and (max-width: 900px) {
.topnav a:not(:first-child) {
	display: none;
}
.topnav a.icon {
	float: right;
	display: block;
}
}

@media screen and (max-width: 900px) {
.topnav.responsive {
	position: relative;
}
.topnav.responsive a.icon {
	position: absolute;
	right: 0;
	top: 0;
}
.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
	background-color: #0693c4;
	color: #fff;
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
}
/* /Nav*/
.container {
	width: 75%;
	margin: auto;
	background-color:#FFFFFF;
}
.containerData {
	position:relative;
	width: 95%;
	margin: auto;
	background-color:white;
	z-index:1;
	height:100% !important;
}
footer {
	width: 100%;
	display: block;
	line-height: 15px;
	
	color: #FFF;
	background: #3a3a3c;
	font-size: 1em;
	font-weight: 100;

	margin: auto;
	z-index:5;
	
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
	
	
}
.main {
	width: 90%;
	text-align: center;
	height: auto;
	padding-top: 25px;
	margin: auto;
	background-color:#FFF;
}
.mainData {
	width: 80%;
	text-align: center;
	padding-top: 25px;
	margin: auto;
	background-color:#FFF;
	min-height:600px;
}
input.button-mas {
    background-image:url(../images/mas.png); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;
		border:none;
    cursor: pointer;       
    height: 16px;         
    padding-left: 16px;  
    vertical-align: middle; 
}
input.button-trash {
    background-image: url(../images/trash.png); 
    background-color: transparent; 
    background-repeat: no-repeat; 
    background-position: 0px 0px; 
    border: none;          
    cursor: pointer;        
    height: 16px;           
    padding-left: 16px;    
    vertical-align: middle; 
}
input[type=text] {
	width: 65%;
	border: 2px solid #A9A9A9;
	height: 2.5em;
	color: #58585A;
	padding: 2px 15px;
	margin: 8px 0;
	font-family: raleway, sans-serif;
	font-size: 19px;
	font-weight: 100;
	border-radius: 10px;
}
input[type=tel] {
	width: 70%;
	border: 2px solid #A9A9A9;
	height: 2.5em;
	color: #58585A;
	padding: 2px 15px;
	margin: 2px 0;
	font-family: raleway, sans-serif;
	font-size: 19px;
	font-weight: 100;
	border-radius: 10px;
}
input[type=email] {
	width: 70%;
	border: 2px solid #A9A9A9;
	height: 2.5em;
	color: #58585A;
	padding: 2px 15px;
	margin: 8px 0;
	font-family: raleway, sans-serif;
	font-size: 19px;
	font-weight: 100;
	border-radius: 10px;
}
input[type=submit] {
	background-color: #0056C0;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-family: raleway, sans-serif;
	font-size: 21px;
	font-weight: 100;
	-webkit-appearance:none;
	-moz-appearance:none;

}

/* form*/

input, textarea {
  border: 1px solid #333;
  padding: 3px 5px;
}
input[aria-invalid="true"], textarea[aria-invalid="true"] {
  border: 1px solid #f00;
  box-shadow: 0 0 4px 0 #f00;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
input[type=checkbox] {
	transform: scale(1.5);
}
.alert {
	color: red;
	font-weight: 400;
	padding: 6px 16px 0 16px;
	text-align: center;
}
.smallText {
	font-size: small;
	color: #666;
	font-weight: 400;
	padding: 16px 16px 0 16px;
	text-align: center;
}
.smallTextLeft {
	font-size: small;
	color: #666;
	font-weight: 400;
	padding: 1px 16px 0 16px;
	text-align: left;
}
.smallTextRight {
	font-size: small;
	color: #666;
	font-weight: 400;
	padding: 1px 16px 0 16px;
	text-align: right;
}
.textRight{
	text-align:right;
	}
.textLeft{
	text-align:left;
}
.textCenter{
	text-align:center;
}
#grad1 {
	width: 100%;
	background: linear-gradient(141deg, #F1FFFE 0%, #E0FCFF 51%, #F2FEFF 75%);
}

/*columns*/

.leftColumn{ 
	position:relative;
	width:50%;
	float:left;
	background-color:#fff;
	text-align:left;
	}
input.lineInput {

	width: 80%;
	height: 1.5em;
	border:hidden;
	border-bottom: 1px solid grey;
	color: #58585A;
	padding: 2px 15px;
	margin: 8px 0;
	font-family: raleway, sans-serif;
	font-size: 19px;
	font-weight: 100;
	background-color: white;
	border-radius: 0;

}

.rightColumn{
	position:relative;
	width:48%;
	float:left;
	background-color:#fff;
	text-align:left;
	padding-left:1em;
}
.uploadPlace{
	background-color:#f7fafd;
	border: 5px solid #CDE1F7;
	border-radius: 10px;
	height:auto;
	padding:1.5em;
	margin-bottom:1em;
	text-align:center;
}
.centerColumn{
	width:100%;
	float:left;
	padding:2em;
	margin:auto;
	}
.columnCentrada{
	width:60%;
	margin:auto;
}
.columnCentradaAmplia{
	width:100%;
	margin:auto;
}
input.nextButton {
	width: 8em;
	background-color: #059DC5;
	border: 2px solid #059DC5;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-family: raleway, sans-serif;
	font-size: 21px;
	border-radius:10px;
	font-weight:bold;
	-webkit-appearance:none;
	-moz-appearance:none;
	 -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;

}
input.nextButton:hover {
	background-color: blue;
	color: white;
	border: 2px solid #059DC5;
}

input.terminarButton{
	width: auto;
	background-color: #059DC5;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-family: raleway, sans-serif;
	font-size: 21px;
	border-radius:10px;
	font-weight:bold;
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}
input.terminarButton:hover {
	background-color: #059DC5;
	color: white;
}

input.button{
	border-radius:10px;
	}
.backButton {
	width: 7.5em;
	background-color: #FFF;
	border: 2px solid #059DC5;
	color: #059DC5;
	padding: 16px 32px;
	font-weight:bold;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-family: raleway, sans-serif;
	font-size: 21px;
	border-radius:10px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}
.backButton:hover {
	background-color:blue;
	color: white;
}
/*switch*/
.switch-field {
    overflow: hidden;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float:left;
}
@media screen and (min-width: 1000px) {
	.med{
		width:70%;
		float:right;
		padding:0 0 2em 1em;
		margin-left:10em;
		}
	}
	@media screen and (max-width: 999px) {
	.med{
		width:90%;
		float:right;
		padding:0 0 2em 1em;
		margin-left:10em;
		}
	}
	
.switch-field label {
  display: inline-block;
  width:9em;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #059DC5;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

/*file drag and drop*/

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

img
{
	max-width: 100%;
}

pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#messages
{
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

/*select*/
select {
	color:#000000;
  margin: 5px;
  font-size: 16px;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	border: 1px solid #555;
   /*background: url(/favicon.ico) 96% / 15% no-repeat #eee;*/
}

.borders{
	border: 2px solid #059DC5; 
	border-radius:10px;
	
	}


/* checkboxes*/
 input[type=checkbox] {
	visibility: hidden;
}

/* style the checkBox */
.checkContainer {
   /* display: block;*/
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.2em;
		width:5em;
}
.checkContainer input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.checkContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkContainer input:checked ~ .checkmark {
    background-color: #059DC5;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkContainer input:checked ~ .checkmark:after {
    display: block;
}
.checkContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column
{
    display: table-cell;
		text-align:center;
    /* background-color: red;Optional*/
}
.ColumnSmall
{
    display: table-cell;
		text-align:center;
		width:5%;
    /*background-color: red; Optional*/
}

	/*progress bars*/
.meter {
	height: 10px;
	position:relative;
	background: rgba(206,206,206,1.00);
	-moz-border-radius: 25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	padding: 10px;
	}
	
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.orange > span {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}
.green {
   background-color:green;
}

/* estilos ian */

/* modal */
.modal {
	width: 100%;
	height: 120vh;
	background:rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left:0;
	display:flex;

	animation: modal 1s 1s forwards;
	
	visibility: hidden;
	opacity: 0;
	z-index: 100;
} 

.modal_cuadro {
	margin:auto;
	width: 700px;
	height: 400px;
	background-color: #fff;
	
	border-radius: 5px;
	border: 1px  solid #88898c;
	-webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:1px 1px 9px 0px rgba(50, 50, 50, 0.75);
     box-shadow:1px 1px 9px 0px rgba(50, 50, 50, 0.75);
    
    
}


.modal_cabezal {
	text-align: center;
	font-size: 2em;
	
	margin-top: 20px;


}
.modal_cuadro a {
	color: #4286f4;	
}

.modal_cuadro p {
	margin-top:10%;
	font-size: .9em;
	line-height: 2em;
	padding: 20px;
	box-sizing: border-box;
}

.dos_botones {  
	
	position: relative;
    margin-top: 140px;
}

.bontones_inferiores {
	width: 49%;
    background-color: #FFF;
    border: 2px solid #059DC5;
    color: #059DC5;
    padding: 16px 32px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway, sans-serif;
    font-size: 21px;
    -webkit-appearance: none;
    margin: 2px;

}
	

.bontones_inverso {
	
 background-color: #059DC5;
 color:#fff;
 }	


.lista_botones{
	width: 600px;
	height: 55px;
    background-color: #FFF;
    border: 3px solid #059DC5;
    border-radius: 9px;
    
    
    
    text-decoration: none;
    cursor: pointer;
    
    -webkit-appearance: none;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lista_botones_texto {
	color: #7c7c80;
    padding: 16px 10px;
    text-align: left;
    font-family: raleway, sans-serif;
    font-size: 15px;
    float: left;

}


.lista_botones:hover{
	background-color: #d7e6ea;
	color: #059DC5;
}

.icono_izquierdo{
	
	width: 50px;
	height: 50px;
	margin: 3px;
	float: left;
}

.icono_derecho {
	
	width: 50px;
	height: 50px;
	margin: 3px;
	float: right;
}

.icono_izquierdo, .icono_derecho img{
	width: 40px;

}

#opccion_1, #opccion_2, #opccion_3, #opccion_4 {
	display: none;

}



/* animacion modal */
@keyframes modal {

	100%{

		visibility: visible;
		opacity: 1;
	}
}


.texto_small {
	font-size: .9em;
	text-align: left;

}

.backButton_chico {
	
	background-color: #FFF;
	border: 1px solid #059DC5;
	color: #059DC5;
	padding: 10px 25px;
	font-weight:bold;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-family: raleway, sans-serif;
	font-size: 1em;
	border-radius:10px;
	-webkit-appearance:none;
	-moz-appearance:none;

}
/*marzo2018*/

.graciasBack {
	
	padding-top: 0;
	text-align: center;
	background: url(../images/artworkback.png);
	/*-webkit-filter: brightness(80%); 
   		 filter: brightness(80%); */
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.grcs_cuadro {
	margin:auto;
	width: 70%;
	height: 700px;
}
.grcs_cabezal {
	text-align: center;
	font-size: 4vw;
	margin-top: 20px;
	font-weight:bold;
}
.telCall a { color:#77009E;}

.b_inferiores {
	width: 49%;
    background-color: #FFF;
    border: 2px solid #059DC5;
    color: #059DC5;
    padding: 16px 32px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway, sans-serif;
    font-size: 15px;
    -webkit-appearance: none;
    margin: 2px;
		border-radius:50px;
}
.b_inferiores:hover {
	width: 49%;
    background-color: #77009E;
    border: 2px solid #059DC5;
    color: white;
    padding: 16px 32px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway, sans-serif;
    font-size: 15px;
    -webkit-appearance: none;
    margin: 2px;
		border-radius:50px;
}
	

