<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>¡Tu servicio ya se reactivó!</title>
</head>

<body style="max-width: 600px; min-width:320px; margin:auto; padding:0px;">
<table style="width: 600; max-width: 800px; min-width: 320px; table-layout: fixed; margin: auto; padding: 0px; border-collapse: collapse;" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table style=  "images/margin:5px; width:100%"  border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><table width="100%" border="0">
              <tr>
                <td width="50%"><div style="margin: 20px auto; text-align: center; "><img src="images/logos.png" style="width:90%; max-width: 600px; " alt=" SECCIÓN AMARILLA" /></div></td>
              </tr>
            </table>
            <table width="100%" border="0">
              <tr>
                <td width="100%"><div style="text-align: center; "> <img src="images/3.png" style="width:100%; max-width: 600px; min-width: 320px;" alt=" SECCIÓN AMARILLA" /></div></td>
              </tr>
            </table>
            <table width="100%" border="0">
              <tr>
                <td></td>
              </tr>
            </table>
            <table width="100%" border="0">
              <tr>
                <td><div style=" color: #720934; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-align: left; padding-left: 9%; padding-right: 9%; padding-top: 15px; width: 82%; border: 0px; float: left; text-decoration: blink;" align="right"> Estimado Cliente: [CAMPO DINÁMICO]</div></td>
              </tr>
            </table>
            <table width="100%" border="0">
              <tr>
                <td><div style= "color: #5D5D5D; font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 22px; text-align: justify; padding-left: 9%; padding-right: 9%; padding-top: 15px;  width: 82%; border: 0px;" align="left">
                  <strong>¡Enhorabuena!</strong> Te informamos que hemos registrado ya tu último pago. Tus campañas y/o propiedades digitales<strong> ha sido reactivada exitosamente.</strong> <br />
																		<ol>
<li> <a href="" style="color: blue; font-weight: bolder"> (CAMPO DINÁMICO PRODUCTO REACTIVADO)
</a></li>
<li> <a href="" style="color: blue; font-weight: bolder"> (CAMPO DINÁMICO PRODUCTO REACTIVADO)
</a></li>
<li> <a href="" style="color: blue; font-weight: bolder"> (CAMPO DINÁMICO PRODUCTO REACTIVADO)
</a></li>
</ol>   
                    
                  </div></td>
              </tr>
            </table>
            <table width="100%" border="0">
              <tr>
                <td><div style= "color: #5D5D5D; font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 22px; text-align: center; padding-left: 9%; padding-right: 9%;  width: 82%; border: 0px;" align="left">
                    <p> Si tienes alguna duda o comentario, puedes llamarnos a nuestro
                      Centro de Atención al Cliente <br>
                      <br>
                      <span  style= "font-size: 17px;"><strong>01 800 202 72 72</strong> </span></p>
                  </div></td>
              </tr>
            </table>
            <table width="100%" border="0">
              <tr>
                <td width="100%"><div style="text-align: center; "> <img src="images/3.png" style="width:100%; max-width: 600px; min-width: 320px;" alt=" SECCIÓN AMARILLA" /></div></td>
              </tr>
            </table>
            <table width="100%" border="0">
              <tr>
                <td ><p style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 18px;text-decoration: none; font-weight: 800; text-align: center; font-stretch:condensed; width: 98%; margin: 0 auto; margin-top: 30px; "><strong>SECCI&Oacute;N AMARILLA</strong></p>
                  <p style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; text-decoration: none; font-weight: 800; text-align: center; font-stretch:condensed; width: 98%; margin: 0 auto;"><strong>La agencia de Marketing Integral más grande de México </strong></p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
<img src="http://www.google-analytics.com/collect?v=1&tid=UA-77299938-7&cid={{advertiserID}}&t=event&ec=email&ea=open&el={{Año-Mes-Día}}&cs=newsletter&cn=REACTIVACION_ANUNCIANTE&cc=finanzas-cobranza" />
</body>
</html>
