@charset "UTF-8";
/* CSS Document */

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pleca {
	background-image: url(../images/blk-bg.jpg);
	margin-top: 1em;
}
.textCentrado{text-align:center;}
.divCentrado{margin:auto;}
.contenedor {
	max-width:75%;
	margin: 0 auto}
	
.topspace {
	margin-top: 3em;
}
.textoGde {
	font-size: 22px;
}
.textoSmll{
	font-size:14px;
	}
	textarea {
	width: 100%;
	height: 8.5em;
}
fieldset {
	overflow: hidden
}
.coberturaRadios {
	float: left;
	clear: none;
}
fieldset label {
	float: left;
	clear: none;
	display: block;
	padding: 0px 4em 0px 0;
	margin: -0.2em .5em;
}
fieldset input[type=radio], input.radio {
	float: left;
	clear: none;
	margin: 2px 0 0 2px;
}
fieldset input {
	margin-top: 1em;
}
.uploadPlace {
	background-color: #EEF9FB;
	border-radius: 10px;
	border: solid 2px #B6E4EF;
	height: auto;
	padding: 1.5em;
	margin-bottom: 1em;
	text-align: center;
}
/*file drag and drop*/

#filedrag {
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
	width: 100%;
}
#filedrag.hover {
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}
input.button-mas {
	background-image: url(../images/mas.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: none;
	cursor: pointer;
	height: 16px;
	padding-left: 16px;
	vertical-align: middle;
}
input.button-trash {
	background-image: url(../images/trash.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: none;
	cursor: pointer;
	height: 16px;
	padding-left: 16px;
	vertical-align: middle;
}
.ColumnSmall {
	display: table-cell;
	text-align: center;
	width: 5%;/*background-color: red; Optional*/
}
/* checkboxes*/
input[type=checkbox] {
	visibility: hidden;
}
/* style the checkBox */
.checkContainer {
	/* display: block;*/
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	width: 8em;
}
.checkContainer input {
	position: absolute;
	opacity: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}
.checkContainer:hover input ~ .checkmark {
	background-color: #ccc;
}
.checkContainer input:checked ~ .checkmark {
	background-color: #059DC5;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkContainer input:checked ~ .checkmark:after {
	display: block;
}
.checkContainer .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.flex-container {
	display: flex;
}
.flex-container > div {
	margin: 10px;
	width: 100%;
}
.flex-container input {
	width: 100%;
}
.checkContainer.aceptoCheck {
	width: 18em !important;
}
.acepto {
	margin: 0 15vw;
}
/* Progress Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#progressbar {
	background-color: #D6D6D6;
	border-radius: 13px;
	padding: 3px;
}
#progressbar>div {
	background-color: #EA3728;
/*	width: 40%; each step width*/
	height: 20px;
	border-radius: 10px;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.azul{ color:#134A8D;}
.bgAzul{background-color:#B7212E;}
.gris{color:#B3B3B3;}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
border-bottom: 1px solid #ddd;
}
/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Bigger than 550 */
@media (min-width: 550px) {

}
/* Bigger than 750 */
@media (min-width: 750px) {

}

/* Bigger than 1000 */
@media (min-width: 1000px) {

}