@charset "UTF-8";
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 100%;
	width: 100%;
	height: 100%;
}
.primary_header {
	font-family: "oswald";
	color: white;
	font-weight: 100;
	font-size: 16px;
	padding-top: 0;
	text-align: center;
	background: url(../images/919.jpg);
	/*-webkit-filter: brightness(80%); 
   		 filter: brightness(80%); */
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 850px;
}
.grey_header{
	font-family: "oswald";
	color: white;
	background-color:#3A4040;
	font-weight: 100;
	font-size: 16px;
	padding-top: 0;
	text-align: center;
	width: 100%;
	height: 100px;}
.ph_cover {
	font-family: "oswald";
	color: white;
	font-weight: 100;
	font-size: 16px;
	padding-top: 0;
	text-align: center;
	background: url(../images/015.jpg);
	/*-webkit-filter: brightness(80%); 
   		 filter: brightness(80%); */
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 850px;
}
.textoCentrado {
	text-align: center;
}
.textoIzq {
	text-align: left;
}
.textoDer {
	text-align: right;
}
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.wrapper {
	overflow: hidden;
}
.wrapper div {
	min-height: 60px;
	padding: 10px;
}
#logoC {
	width: 200px;
	margin: auto;
	padding-top: 3em;
}
#logoC img {
	max-width: 200px;
}

#logoB {
	height: 90px;
	margin: auto;
	padding-top: .1em;
}
#logoB img {
	max-height: 90px;
}
#two {
	overflow: hidden;
	padding-top: 2em;
	margin: 10px;
	margin-right: 5em;
	float: right;
	font-size:18px;
}
#tel-two {
	overflow: hidden;
	padding-top: 2em;
	margin: 10px;
	margin-right: 5em;
	float: right;
	font-size:18px;
}
#two a {
	text-decoration:none;
	color:white;
	 }
	#tel-two a {
	text-decoration:none;
	color:white;
	 }
.textBig {
	margin: auto;
	width: 7em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	font-family: Oswald;
	font-size: 96px;
	text-align: center;
	line-height: 120%;
	text-transform: uppercase;
	font-weight: normal;
}
.clearfix {
	overflow: auto;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.acerca{
	background: url(../images/922.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
	background-position: center;
	position:relative;
	top: 0px;
  bottom: 0px;
  right: 0px; 
	font-weight:300;
	 font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.cover_ph{
	background: url(../images/015.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
	background-position: center;
	position:relative;
	top: 0px;
  bottom: 0px;
  right: 0px; 
	font-weight:300;

}
.cover_tone{
	background: url(../images/832.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
	background-position: center;
	position:relative;
	top: 0px;
  bottom: 0px;
  right: 0px; 
	font-weight:300;

}
.acerca_ph{
	position:relative;
	width:100%;
	height:auto;
	padding:3em 0 8em 0;
	color:white;
	text-align:center;
	font-family:Gotham, "Oswald";
	font-weight:300;
	background-color:#3A4040;
}
.acerca_ph h1{
	padding-left: 1%;
	margin-bottom:.1em;
	color: #ccc;
	font-family: "Oswald";
	font-size: 40px;
	font-weight: 500;
	}
h1{
	margin-bottom:.1em;
	font-family: "Oswald";
	font-size: 40px;
	font-weight: 500;
	}
	
.proServs{
	background-color:#202127;
	position:relative;
	width:100%;
	height:350px;
	padding:3em 0 8em 0;
	color:white;
	text-align:center;
	font-family:Gotham, "Oswald";
	font-weight:300;
	
	}
.proServs h1{
	padding-left: 1%;
	margin-bottom:.1em;
	color: white;
	font-family: "Oswald";
	font-size: 40px;
	font-weight: 500;
	}
	
.imgPrincipal {
  position: relative;
	right: -25vw;
	top: -200px;
  width: 383px;
  height: 383px;
  overflow: hidden;
	z-index: 1120;
	margin-bottom:-100px;
}
.imgPrincipal img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.centeredColumn {
	width: 100%;
	padding-bottom: 8px;
	clear: left;
	height: auto;
}
.left_article {
	  width: 38%;
    float: left;
    font-family: "Oswald";
    padding-bottom: 15px;
    padding-left: 5em;
}
.container .left_article h1 {
	padding-left: 5%;
	margin-top: 5%;
	margin-bottom:-.2em;
	color: #6e6e72;
	font-size: 40px;
	font-weight: 500;
}
.container .left_article p {
	padding-left: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 15px;
	color: #414141;
}
.right_article {
	width: 49%;
	float: left;
	font-family: "Oswald";
	font-weight: 500;
	margin-top:-26px;
}
.container .right_article h1 {
	padding-left: 5%;
	color: #6e6e72;
	font-family: "Oswald";
	font-size: 40px;
	font-weight: 500;
}
table {
	width:60%;
	}
@media screen and (max-width: 600px) {
#logoC {
	float: none;
	margin-right: 0;
	width: auto;
	border: 0;
}
#logoB {
	float: left;
	margin-right: 0;
	width: auto;
	border: 0;
}

#two {
	overflow: hidden;
	float: none;
	margin-right: 0;
}
#tel-two {
	overflow: hidden;
	float: right;
	margin-right: 10px;
}
.textBig {
	margin: auto;
	width: 7em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	font-family: Oswald;
	font-size:14vw;
	text-align: center;
	line-height: 120%;
	text-transform: uppercase;
	font-weight: normal;
}
.contactInput {
	width: 100%;
	border: none;
	background-color: #D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}
.imgPrincipal {
  position: relative;
	right: -25vw;
	top: -20px;
  width: 250px;
  height: 250px;
  overflow: hidden;
	z-index: 1120;
}

}

@media (max-width: 320px) {
.centeredColumn {
	padding-bottom: 7px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.columnTable {
	float: left;
	display: table-cell;
	text-align: justify;
}
.columnTableR {
	float: left;
	display: table-cell;
	text-align: justify;
}
.right_article {
	width: 100%;
	height: auto;
}
.contactInput {
	width: 100%;
	border: none;
	background-color: #D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}
}

@media (min-width: 321px) and (max-width: 768px) {
.centeredColumn {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 8px;
}
.columnTable {
	float: left;
	display: table-cell;
	text-align: justify;
}
.columnTableR {
	float: left;
	display: table-cell;
	text-align: justify;
}

.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.contactInput {
	width: 100%;
	border: none;
	background-color: #D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}
table {
	width:100%;
	}
}

@media (min-width: 769px) and (max-width: 1000px) {
.centeredColumn {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 6px;
}
.columnTable {
	float: left;
	display: table-cell;
	text-align: justify;
}
.columnTableR {
	float: left;
	display: table-cell;
	text-align: justify;
}

.right_article {
	height: auto;
	padding-bottom: 27px;
}
.social_icon {
	width: 15%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
}
#map {
	height: 400px;
	width: 100%;
}
.contactInput {
	width: 80%;
	border: none;
	background-color: #D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}
input[type=submit] {
	background-color: transparent !important;
	color: #9DA1A1;
	padding: 1em;
	width: 15em;
	border: 1px solid #9DA1A1;
	border-radius: 5px;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
}
.footer {
	padding: 1em;
	color: #b2b2b2;
	font-family: "helvetica";
	text-align: justify;
}
.rowTable {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-spacing: 10px;
}
.columnTable {
	display: table-cell;
	text-align: justify;
}
.columnTableR {
	display: table-cell;
	text-align: justify;
	padding-left: 20%;
}
/*botones laterales*/
.botones {
	position: fixed;
	padding: 0px;
	margin: 0px;
	right: -90px;
	top: 80px;
	width: 200px;/**/
	z-index: 1100;
}
.bton li {
	text-align: center;
	list-style-type: none;
	background-color: rgb(72, 72, 72);
	border: 1px solid #ccc;
	border-radius: 50%;
	color: #efefef;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 20px 0px 1px 0px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}
.bton li:hover {
	margin-left: -5px;
}
.bton li img {
	float: left;
	margin: 15px 0 0 15px;
	margin-right: 5px;
}
