@charset "UTF-8";
body {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		font-size:100%;
		width:100%;
		height:100%;
	}
		.primary_header {
			font-family:"helvetica";
			font-weight:100;
			font-size:16px;
			width: 100%;
			padding-top: 0;
			border-bottom: 1px solid #7F7F7F;
			text-align:center;
	}
	.textoCentrado{
		text-align:center;
		font-family:"helvetica";
		font-weight:100;
		}
	.container {
		width: 98%;
		margin-left: auto;
		margin-right: auto;
		border-bottom-width: 0px;
		padding-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}
	.row {
		width: 100%;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		display: inline-block
	}
	
	

.wrapper { 
  overflow: hidden;
}

.wrapper div {
   min-height: 60px;
   padding: 10px;
}
#logoC {
  width:20%;
	 float:left; 
  margin-right:20px;
}
#logoC img{
	max-width:200px;}
#two { 
  overflow:hidden;
	padding-top:3em;
  margin:10px;
  margin-right:20px;
	float:right;
}
.clearfix{
	overflow: auto;
}
.clearfix::after {
    overflow: auto;
		content: "";
    clear: both;
    display: table;
}
p.clear {
    clear: both;
}


.row.blockDisplay {
	display: block;
}
.centeredColumn {
	width: 100%;
	padding-bottom: 8px;
	clear: left;
	height:auto;
}
.left_article {
	width: 51%;
	float: left;
	font-family: "helvetica";
	padding-bottom: 15px;
}

.container .left_article h1 {
	padding-left: 5%;
	margin-top: 5%;
	color: green;
	font-size:22px;
	font-weight: 500;
}
.container .left_article h3 {
	padding-left: 5%;
	color: red;
	font-size:14px;
	font-weight: bold;
}
.container .left_article p {
	padding-left: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 15px;
	color: #414141;
}
.container .right_article h1 {
	padding-left: 5%;
	margin-top: 5%;
	color: green;
	font-size:22px;
	font-weight: 500;
}
.container .right_article h3 {
	padding-left: 5%;
	color: red;
	font-size:14px;
	font-weight: bold;
}
.container .right_article p {
	padding-left: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 15px;
	color: #414141;
}
.right_article {
	width: 49%;
	float: left;
	font-family: "helvetica";
	font-weight: 500;
	
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	padding-top: 30px;
	/* [disabled]padding-left: 19px;
*/
	padding-bottom: 30px;
	height: 100%;
}
.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.contacto {
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "helvetica";
	color: #414141;
	font-size:22px;
}
.contacto h1 {
	padding-top:-5em;
	color: #414141;
	font-size:28px;
	font-weight: 500;

}
@media screen and (max-width: 600px) {
   #logoC { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:1px solid #414141;    
  }
	
	#two { 
  overflow:hidden;
	float:none;
}
	.contactInput {
	width: 100%;
	border:none;
	background-color:#D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}
	
}

@media (max-width: 320px) {
.centeredColumn {
	padding-bottom: 7px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.columnTable
{		float:left;
    display: table-cell;
		text-align: justify;
}
.columnTableR
{		float:left;
    display: table-cell;
		text-align: justify;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}

.social .social_icon img {
	width: 80%;
}
.contactInput {
	width: 100%;
	border:none;
	background-color:#D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}

}

@media (min-width: 321px) and (max-width: 768px) {
.centeredColumn {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 8px;
}
.columnTable
{		float:left;
    display: table-cell;
		text-align: justify;
}
.columnTableR
{		float:left;
    display: table-cell;
		text-align: justify;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.contactInput {
	width: 100%;
	border:none;
	background-color:#D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}

}

@media (min-width: 769px) and (max-width: 1000px) {
.centeredColumn {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 6px;
}
.columnTable
{		float:left;
    display: table-cell;
		text-align: justify;
}
.columnTableR
{		float:left;
    display: table-cell;
		text-align: justify;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 15%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
}
#map {
height: 400px;
width: 100%;
	}
.servicio-container {
    margin: 0 0 0 1em;  
   /* border: 1px solid #333;*/
    overflow: auto;
		width:90%;
}
.servicio-content {
    margin-left: 0px
}
.contactInput {
	width: 80%;
	border:none;
	background-color:#D1D1D1;
	height: 2em;
	color: #58585A;
	padding: 15px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 100;
	border-radius: 3px;
}
 input[type=submit] {
	 background-color:#FF7300;
	 color:white;
	 padding:1em;
	 width:15em;
	 border-radius: 50px;
}
.social {
	margin:auto;
	text-align: center;
	width: 30%;
	clear: both;
	overflow: auto;
	font-family:"helvetica";
	color:#414141;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.3;
}
.footer{
	padding:1em;
	background-color:midnightblue;
	color:#b2b2b2;
	font-family:"helvetica";
	text-align: justify;
	}
.rowTable{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px; 
}
.columnTable
{
    display: table-cell;
		text-align: justify;
}
.columnTableR
{
    display: table-cell;
		text-align:justify;
		padding-left:20%;
}
 /*botones laterales*/
.botones {

		position:fixed;
   padding:0px;
    margin:0px;
    right:-90px;
    top:80px;
   	 width:200px;/**/
    z-index: 1100;
}
.bton li{
	text-align:center;
    list-style-type:none;
    background-color:black;
		border: 1px solid #ccc;
		border-radius: 50%;
    color:#efefef;
		width:50px;
    height:50px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.bton li:hover{
    margin-left:-5px;
}
.bton li img{
    float:left;
    margin:10px 0 0 10px;
    margin-right:5px;
}
.bton li p{
    padding-left:155px;
    margin:0px;
    line-height:11px;
    font-size:11px;

}
.bton li p a{
    text-decoration:none;
    color:red;
}
.bton li p a:hover{
    text-decoration:underline;
		background-color:#000000;
		display:block;
} /* */
