@charset "UTF-8";
/* CSS Document */

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.titulosGrandes {
	font-size: 4.0rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
	text-align: center;
}
.titulosMed {
	font-size: 2.5rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
	text-align: center;
}

.textoSmall {
	font-size: 12px;
}
.textoIzq {text-align:left !important;}
.textoDer {text-align:right !important;}
.textoCentrado {text-align: center !important;}
#registro label { margin-top:15px;}
.topSpace { margin-top:20px;}

/* Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container{ background-color:#fff;
padding:0 10px;
}
body {
	background-color:#F3F3F3;}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
	border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Bigger than 550 */
@media (min-width: 550px) {
}

/* Bigger than 750 */
@media (min-width: 750px) {
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
}
