@charset "UTF-8";
/* CSS Document */

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.colorBlue {
    color: #1B3061;
}
.colorVerde {
    color: #388B36;
}
.colorBgris {
    background-color: #F2F2F2;
}
.colorBgsa {
    background-color: #ffd100 !important;
}
.colorBlk {
    color: #333;
}
.colorBco {
    color: white;
}
.colorBgAzul {
    background-color: #1B3061;
}
.colorAmarillo{
    color: #ffd100;
}
.round {
    border-radius: 50px !important;
}
/* Home
----------------------------------------------------*/

.analisis img {
    width: 100%;
    display: none;
}
.center-cropped {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 550px) {
.six.columns {
    width: 50%;
}
}

@media (min-width: 550px) {
.column, .columns {
    margin-left: 0%;
}
}

.flexContainer {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: center;
}
.Home_column_Top {
    width: 250px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
}
.card {
    margin-right: 25px;
}
.iconGde {
    font-size: xx-large;
}
.iconGde img {
    width: 60px;
}
.home {
    min-height: 40em;
    position: relative;
}
.ribbon {
    position: absolute;
    right: 0;
}
/* FAQs
----------------------------------------------------*/

.faqsLink a {
    color: #3FA9F5;
    text-decoration: none;
}
.faqsLink a:hover {
    color: orange;
}
    .faqsBanner{
            height: 8em;
    }
    .logoS img {
        width: 100%;
    }
/* Evalua
----------------------------------------------------*/


.evaluaBanner {
    width: 100%
}
.card {
    background-color: white;
    width: 280px;
    box-shadow: 1px 1px 2px 2px #a5a5a559;
    border-bottom: 5px solid #ffd100;
        margin-left: 13px;
}
.datosNegocio {
    list-style: none;
}
/*graph*/
    

.sect-content {
    padding: 2em;
}
.graph-donut {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 10em;
    margin-bottom: 3em;
    text-align: center;
}
.graph-donut canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    font-size: 40px;
    color: #1B3061;
    line-height: 152px;
    z-index: 2;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}
.percent.no-percent:after {
    content: '';
}


/* Contrata
----------------------------------------------------*/

.linkAmarillo a {
    color: #ffd100;
    text-decoration: none;
}
.linkAmarillo a:hover {
    color: orange;
}
    .bannerContrata{
        height: 10em;
    }
    .bannerGracias{
        height: auto;
        padding: 3em;
    }
    .tarjeta {
            width: 250px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    }
    .lineaLogos{
        padding: 10px;
    }
    .lineaLogos img {
        width: 50px;
    }
    .gradiente{

    background: linear-gradient(225deg,#182F5C 0,#088969 25%);

    }
    .bulletYellow ul {
        list-style: none;
        
    }
    
        .bulletYellow ul li::before {
            content: "\2022";
            color: #ffd100;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            font-weight: bold;
            
        
    }
    .ok{
            position: relative;
        height: 3em;
    }
    .ok img{
        width: 90%
    }
    .up {
        
    }
    
    .ribbonA{
            position: absolute;
    right: 0;
        top: -5em;
    }
    
    @media (max-width: 550px) {
        
          .ok img{
        display: none;
    }
    }
    /*Modal*/

.wrap {
    padding: 40px;
    text-align: center;
}
.btn {
    background: #428bca;
    border: #357ebd solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color 0.1s ease;
}
.btn:hover {
    background: #357ebd;
}
.btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}
.btn-close {
    color: #aaa;
    font-size: 46px;
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: 0;
}
.btn-close:hover {
    color: #919191;
}
.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.modal:target:before {
    display: block;
}
.modal:target .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 6%;
}
.modal-dialog {
     /*   background: #fefefe;
     border: #333 solid 1px; */
    /* border-radius: 5px; */
    /* margin-left: -200px; */
    position: fixed;
     left: 20%; 
    top: -100%;
    z-index: 11;
    width: 60%;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal-header, .modal-footer {
    padding: 10px 20px;
}

.modal-header h2 {
    font-size: 20px;
}
.modal-footer {
    text-align: center;
}
.modal-body{
            margin: 4em;
    }
    
@media (max-width: 550px) {
.modal-dialog {

    left: 5%;
    width: 92%;
    }
}

#formaDatos input{
    color: white;
     border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
}
    .bannerAuto img {
        width: 100%;
    }
