@charset "UTF-8";
/* CSS Document */

html {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: raleway, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header.smaller {
	height: 75px;
}
.header {
	width: 100%;
	height: 120px;
	color: #5c1b88;
	background: #FFF;
	font-weight: 100;
	font-size: 1em;
	position: fixed;
	text-align: center;
	z-index: 1;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	padding: 2px;
	transition: height 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.footer {
	width: 98%;
	display: block;
	line-height: 15px;
	/*bottom: 0%;
	position: fixed;*/
	padding: 6px 16px 0 16px;
	text-align: center;
	margin: auto;
}
.container {
	padding-top: 5em;
	width: 60%;
	max-width: 700px;
	margin: auto;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	word-wrap: break-word;
	padding: 16px;
}
.formContent {
	width: 100%;
}
.helpText {
	font-size: .8em;
	line-height: 100%;
	width: 100%;
}
.itemsCheckbox {
	line-height: 155%;
	min-width: 0%;
	padding: 0px 15px;
}
/*checkbox*/
	
input[type=checkbox] {
	visibility: hidden;
}
/* style the checkBox */
.checkContainer {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 1em;/*    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}
.checkContainer input {
	position: absolute;
	opacity: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}
.checkContainer:hover input ~ .checkmark {
	background-color: #ccc;
}
.checkContainer input:checked ~ .checkmark {
	background-color: green;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkContainer input:checked ~ .checkmark:after {
	display: block;
}
.checkContainer .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.checkmarkRadios {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 1em;
}
.checkContainer:hover input ~ .checkmarkRadios {
	background-color: #ccc;
}
.checkContainer input:checked ~ .checkmarkRadios {
	background-color: green;
}
.checkmarkRadios:after {
	content: "";
	position: absolute;
	display: none;
}
.checkContainer input:checked ~ .checkmarkRadios:after {
	display: block;
}
.checkContainer .checkmarkRadios:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*end checBox*/
a:link {
	color: #E6E6E6;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #E6E6E6;
}
a:hover {
	text-decoration: none;
	color: #E6E6E6;
}
a:active {
	text-decoration: none;
	color: #E6E6E6;
}
.textJustified {
	text-align: justify;
}
.textCenter {
	text-align: center;
}
.logo {
	width: 100%;
	float: left;
	margin: auto;
}

@media screen and (min-width: 900px) {
.left {
	width: 33%;
	float: left;
	display: block;
	vertical-align: top;
	margin: auto;
	text-align: center;
	line-height: 45px;
}
}

@media screen and (max-width: 900px) {
.container {
	width: 94%;
	margin: auto;
	margin-bottom: 48px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	word-wrap: break-word;
	padding: 16px;
	float: left;
	position: relative;
}
}

@media screen and (max-width: 600px) {
tr td:first-child, tr td:last-child {
	font-size: 10px;
	font-weight: 400;
}
.footer {
	width: 94vw;
}
/*checkbox*/
	
input[type=checkbox] {
	visibility: hidden;
}
/* style the checkBox */
.checkContainer {
	display: block;
	position: relative;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 1.4em;
}
.checkContainer input {
	position: absolute;
	opacity: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 10px;
	background-color: #eee;
}
.checkContainer:hover input ~ .checkmark {
	background-color: #ccc;
}
.checkContainer input:checked ~ .checkmark {
	background-color: green;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkContainer input:checked ~ .checkmark:after {
	display: block;
}
.checkContainer .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.checkmarkRadios {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 1em;
}
.checkContainer:hover input ~ .checkmarkRadios {
	background-color: #ccc;
}
.checkContainer input:checked ~ .checkmarkRadios {
	background-color: green;
}
.checkmarkRadios:after {
	content: "";
	position: absolute;
	display: none;
}
.checkContainer input:checked ~ .checkmarkRadios:after {
	display: block;
}
.checkContainer .checkmarkRadios:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*end checBox*/
	
	
	

}
.alert {
	color: red;
}
.smallText {
	font-size: small;
	color: #666;
	font-weight: 400;
	padding: 16px 16px 0 16px;
	text-align: center;
}
input[type=text] {
	width: 90%;
	height: 1.5em;
	border: hidden;
	border-bottom: 1px solid #ffd100;
	color: #58585A;
	padding: 2px 15px;
	margin: 8px 0;
	font-family: raleway, sans-serif;
	font-size: 19px;
	font-weight: 100;
	background-color: #EDEDED;
}
input[type=submit] {
	background-color: #FF0000;
	border: none;
	color: white;
	padding: 10px;
	text-decoration: none;
	margin: 2px 2px;
	cursor: pointer;
	font-size: 1em;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 10px;
}
input[type=button] {
	background-color: #229abc;
	border: none;
	color: white;
	padding: 10px;
	text-decoration: none;
	margin: 2px 2px;
	cursor: pointer;
	font-family: raleway, sans-serif;
	font-size: 1em;
	font-weight: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.button1 {
	background-color: #229abc;
	border: none;
	color: white;
	padding: 10px;
	text-decoration: none;
	margin: 2px 2px;
	cursor: pointer;
	font-family: raleway, sans-serif;
	font-size: 1em;
	font-weight: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
}
/*progress bars*/
.meter {
	height: 10px;
	position: relative;
	background: rgba(206,206,206,1.00);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
}
.meter > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
	box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}
.orange > span {
	background-color: #f1a165;
	background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}
.red > span {
	background-color: #f0a3a3;
	background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}
.green {
	background-color: green;
}
#errors {
	background-color: red;
}
.partes {
	color: white;
	background-color: #4B0082;
	padding: 1em;
	font-weight: 400;
	font-size: 1.5em;
}
.u-cf {
	content: "";
	display: table;
	clear: both;
}
.underline {
	text-decoration: none;
	border-bottom: 2px solid #444;
}
