<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Seguimiento Campaña Facebook Ads</title>

<!--[if gte mso 7]><xml>
  <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
</xml><![endif]-->
</head>

<body style="margin:auto; padding:0px; font-family: Arial, Helvetica, sans-serif; font-size: 14px;color: #5D5D5D;line-height:25px; ">
<!--[if mso]>
 <center>
 <table width="580"><tr><td width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<![endif]-->

<table style="width: 100%; max-width: 580px; margin: 0 auto; padding: 0;" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
                <td width="100%"><div style="margin: 0; text-align: center; "><img src="images/logo.jpg" style="width:100%; " alt=" SECCIÓN AMARILLA" /></div></td>
        </tr>
        <tr>
                <td><div style= "line-height: 22px; text-align: left; padding-left: 9%; padding-right: 9%;" align="center"><br>
                                 <p>¡Hola [CAMPO DINÁMICO, NOMBRE DEL CLIENTE]!</p>
                                <p style="text-align: center;">¡Genial! Es importante mantener activa tu campaña para que no pierdas la optimización lograda hasta ahora. </p>
<p style="text-align: center;"><strong>Tu agente de ventas se pondrá en contacto contigo.</strong></p><br>
                        </div></td>
        </tr>


    <tr>
                <td><br><p style="text-align:center;"><a href="https://www.youtube.com/watch?v=ECF11FgziyU&t=15s" target="_blank"> <img src="images/youtube.jpg" height="50" alt=""></a></p><br></td>
        </tr>
        <tr>
                <td style="margin:auto; text-align:center;"><table width="80%" border="0" cellspacing="5" cellpadding="5" style="text-align:center;  margin: 0 auto;" >
                                <tbody>
                                        <tr>
                                                <td align="left"><img src="images/fb-badge.jpg" alt="" width="150" style=" vertical-align: bottom"><img src="images/ico-06.png" height="40" alt=""></td>
                                                <td width="5%" align="right"><a href="https://www.facebook.com/seccionmexico/" target="_blank"><img src="images/ico-07.png" height="38" alt="facebook"></a></td>
                                                <td width="5%" align="right"><a href="https://twitter.com/seccionamarilla" target="_blank"><img src="images/ico-08.png" height="38" alt="twitter"></a></td>
                                                <td width="5%" align="right"><a href="https://www.linkedin.com/company/441930/admin/updates/" target="_blank"><img src="images/ico-09.png" height="38" alt="linkedin"></a></td>
                                                <td width="5%" align="right"><a href="https://www.youtube.com/user/seccionamarilla" target="_blank"><img src="images/ico-10.png" height="38" alt="youtube"></a></td>
                                        </tr>
                                </tbody>
                        </table></td>
        </tr>
    
    <tr>    
		<td style="text-align: center; width: 80%;padding-left: 9%; padding-right: 9%;">
								<p>Cualquier duda te ayudamos con gusto en nuestro<br> Centro de Atención a Clientes</p>
								<div style="color: #5D5D5D; text-align: center; padding-left: 17%; padding-right: 17%; " >
										<p ><span style="font-weight:bold; font-size: 20px; color: #009cde;"> 01 800 202 72 72 </span></p>
								</div>
					</td></tr>
    
    <tr>		<td style="text-align: center; width: 100%;padding-left: 5%; padding-right:5%; margin 50px;">
        
        <table width="100%" align="center" style=" background-color:#e6e7e8 ; margin-top: 25px; padding: 5px">
                                <tr>
                                        <td valign="top" align="center"><br>
                                    <p><img src="images/ico-11.png" alt="Seccion Amarilla"></p>
								<div style="text-align: center; padding-left: 12%; padding-right: 12%;  width: 80%;">
										<p>La Agencia de Marketing Digital más grande de México</p>
                                    </div>
                                   <br> </td>
                                </tr>
                        </table>
        
        

						</td></tr>
    
</table>
<!--[if mso]>
 </td></tr></table>
 </center>
<![endif]--> 

<!--códigos dinámicos, [AdvertiserID] y [aaaa-mm-dd]. ajustar--> 
<img src="http://www.google-analytics.com/collect?v=1&tid=UA-77299938-7&cid={{advertiserID}}&t=event&ec=email&ea=open&el={{Año-Mes-Día}}&cs=campana&cn=07-fb-cliente-seguimiento&cc=seguimiento-fb" />

</body>
</html>
