@charset "UTF-8";
/* CSS Document */

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.colorFuente {color: #0072CA;}
.colorBco {color: #FFFFFF}
.colorAmarillo {color: #FFD100 !important;}
.colorRojo {color: #EE1D24 !important;}
.colorNaranja {color: #F6882F !important;}
.colorAzul {color: #00B7D2 !important;}
.colorAzulO {color: #0382C5 !important;}
.colorVerde {color: #39B54B !important;}
.colorMorado {color: #292262 !important;}
.colorFusia {color: #E10589 !important;}
.colorGris {color: #CCCCCC !important;}


.colorFuente {background-color: #0072CA;}
.colorBgBack {background-color: #0072CA;}
.colorBgBco {background-color: #FFFFFF}
.colorBgAmarillo {background-color: #FFD100 !important;}
.colorBgRojo {background-color: #EE1D24 !important;}
.colorBgNaranja {background-color: #f6882f !important;}
.colorBgAzul {background-color: #00B7D2 !important;}
.colorBgAzulO {background-color: #0072CA !important;}
.colorBgVerde {background-color: #39B54B !important;}
.colorBgMorado {background-color: #292262 !important;}
.colorBgFusia {background-color: #E10589 !important;}
.headerBg {background-color: rgba(255, 255, 255, 0.6) !important;}


/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
	border-radius: 100px;
}
.marginCenter {margin:0 auto;}
.marginTop { margin-top:4em;}
/* Titulos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.titulosGrandes {
	font-size: 3em;
}
.titulosMedianos {
	font-size:1.6em;
}