@charset "UTF-8";
/* CSS Document */


/* Banners
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.center-cropped {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bannerPrincipal {
	margin-top: 6em;
	position: relative;
}
/* Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header nav a {
	color: #7E7E7E;
}
header nav a:hover {
	color: #fd5559;
}
header input[type="button"] {
	background-color: #D41F47;
	color: #fff;
	border-radius: 4px;
	border: none;
	padding: 0 12px;
}
.borderButton {
	border: 1PX solid #D41F47 !important;
	background-color: transparent !important;
	color: #D41F47 !important;
	padding: 0 12px;
}
/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
	border-bottom: 1px solid #ddd;
}
/* menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hamburguesa {
	display: inline-block;
	cursor: pointer;
}
.bar1, .bar2, .bar3 {
	width: 25px;
	height: 3px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}
.cierra .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
	background-color: #fff;
}
.cierra .bar2 {
	opacity: 0;
}
.cierra .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
	background-color: #fff;
}
header {
	padding-top: 10px;
	display: flex;
	align-items: center;
	overflow: hidden;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
li input[type="submit"] {
	padding: 0 6px;
	font-size: 10px;
}

/* Bigger than 550 */
@media (min-width: 550px) {
}

/* Bigger than 750 */
@media (min-width: 750px) {
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
}
.alertas1 {
	position: relative;
}
.alertas1[data-badge]:after {
	/*content: attr(data-badge);*/
	content: url(../images/carrito-01.svg);
	position: absolute;
	top: -4px;
	right: -10px;
	font-size: .7em;
	background: white;
	color: white;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 18px;
	border-radius: 50%;
	box-shadow: 8px 6px 20px 4px #33333369;
	z-index: 1;
	padding: 6px 7px !important;
}
.alertas1[data-badge=""]:after {
	content: none;
}
#logo {
	display: inline-block;
	margin: 1em 0 0 3em;
	padding: 0 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.textoSombra {
	text-shadow: 1px 1px 2px black;
	color: white;
}
.bannerRecompensas {
	height: 600px;
	padding: 2em;
	text-align: center;
}
.banner {
	min-height: 240px;
	padding: 2em;
	text-align: center;
}
.bannerIconos {
	height: 110px;
	padding: 1em;
	text-align: center;
}
.boxed {
	border: 2px solid #19315C;
	padding: 5em 5em 0 5em;
	text-align: center;
}
.titulosGrandes {
	font-size: 4.0rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
	text-align: center;
}
.titulosMed {
	font-size: 2.0rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
	text-align: center;
}
@media (max-width: 1178px) {
.bannerPrincipal {
	margin-top: 11em;
}
}

.cajaRecompensas {
	background-color: #F2F2F2;
	padding: 1em 1em 0 1em;
	display: table;
	margin: 1em;
	height:300px;
}
.cajaRecompensas img {
	vertical-align: middle;
	width:100%;
	max-width:150px;
}
.textoCentrado {
	text-align: center;
}

@media (max-width: 720px) {
.cajaRecompensas {
	min-width: 100% !important;
	margin: 1em auto;
	padding: 1px !important;
}
.bannerPrincipal {
	margin-top: 6em !important;
}
}


@media (min-width: 769px) and (max-width: 1184px) {
.cajaRecompensas {
	min-width: 45% !important;
}
}
@media only screen and (max-width:768px) and (min-width:721px) {
.cajaRecompensas {
	width: 45% !important;
}
}


@media (max-width: 549px) {
.bannerPrincipal {
	height: auto;
	margin-top: 8em;
}
}
#mainHeader {
	top: 0px;
	border-bottom: 1px solid #f1efef;
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 3;
	/*
	 transform:translateX(-50%);
	left:50%;
    max-width: 640px;
   */
	text-align: center;
	display: block;
}
.cajas {
	border-radius: 10px;
	border: 1px solid #eee;
	text-align: center;
	max-width: 10em;
	min-width: 8em;
	margin: 1em auto 10px auto;
	position: relative;
	height: 9em;
}
.cajas img {
	width: 100%;
	max-width: 7em;
	/*	margin: 0 .5em;*/
	padding-top: 2%;
}
.tobotom {
	position: relative;
	top: -2em;
}
.leadH {
	background-color: #D42047;
	/*padding: 10px;*/
	text-align: center;
	color: white;
}
.btn-entrar {
	background-color: #D42047 !important;
	color: aliceblue !important;
}
.marcoPadding {
	padding: 3em 0 0 0;
}
.footer {
	min-height: 8em;
	position: static;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #A5A3A3;
	text-align: center;
	z-index: 1000;
}
.acento {
	color: #D42047;
}
.leadB {
	background-color: rgba(255,255,255,0.65);
	padding: 1em;
	color: #333;
}
#slide {
	width: 100%;
}
.mySlides {
	display: none
}
.slideshow-container {
	width: 100%;
	position: relative;
	height: 47em;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
 from {
opacity: .4
}
 to {
opacity: 1
}
}
 @keyframes fade {
 from {
opacity: .4
}
 to {
opacity: 1
}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
}
.mySlides {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.mySlides img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/*menu*/
/*collapsible*/ 
.collapsible {
	/*  background-color: #777;
 	width: 100%;
	*/
	color: white;
	cursor: pointer;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
.bars {
	display: none;
}

@media (max-width: 768px) {
.contentMenu {
	max-height: 0;
}
.bars {
	display: block;
}
}
/*Menu*/

.main-menu {
	position: absolute;
	/* left: -200px; */
	top: 80px;
	/* height: 176em; */
	overflow-y: scroll;
	overflow-x: visible;
	transition: left 0.3s ease, box-shadow 0.3s ease;
	z-index: 999;
	border-bottom: none;
	width: 100%;
}
.main-menu ul {
	list-style: none;
	-moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
	box-shadow: -8px 0 8px rgba(0,0,0,.5);
	background: #1a1a1a;
}
.main-menu a {
	display: block;
	padding: .75em 10px;
	line-height: 1em;
	font-size: 1em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #383838;
}
.main-menu li:first-child a {
	border-top: 1px solid #383838;
	margin-top: 1em;
}

/*

 Larger screen 
*/
@media (min-width: 769px) {
.main-menu {
	position: relative;
	left: auto;
	top: auto;
	height: auto;
	width: 90%;
}
.main-menu ul {
	text-align: center;
	margin: 0;
	padding: 2.5em 0 0;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: auto;
	width: auto;
	background: none;
}
li {
	float: none;
	display: inline-block;
	text-align: center;
	margin-right: 1%;
	list-style: none;
	font-weight: 400;
}
li a {
	color: red;
}
.main-menu a {
	color: #8C8C8C;
	border: 0 !important;
	font-size: 17px;
}
.main-menu a:hover, .main-menu a:focus {
	background: none;
	color: #c00;
	text-decoration: none;
}
}
/*panels*/
.panel-one {
	position: static;
	float: right;
}
.panel-two {
	float: left;
}

@media (max-width: 768px) {
.panel-one {
	position: static;
	float: left;
	width: 100%;
}
.panel-two {
	float: right;
}
.slideshow-container {
	width: 100%;
	position: relative;
	height: 52em;
}
.footer li {
	list-style-type: none;
}
}

@media (max-width: 549px) {
.slideshow-container {
	height: 84em !important;
}
.footerFixed {
	position: relative !important;
}
}
.mainBanner {
	position: absolute;
	z-index: 2;
	margin: 9em 7vw;
	height: 48vh;
}
.textoSmall {
	font-size: 12px;
}
.mySlides img {
	-webkit-filter: brightness(75%);
	filter: brightness(75%);
}
.membresia {
	width: 100%;
	max-width: 490px;
}
.textoIzq {
	text-align: left !important;
}
.checkboxes label {
	display: block;
	float: left;
	padding-right: 10px;
	white-space: nowrap;
}
.checkboxes input {
	vertical-align: middle;
	padding: 0;
	margin: 10px;
	position: relative;
	top: -1px;
 *overflow: hidden;
}
.checkboxes label span {
	vertical-align: middle;
}
.tabla tr:nth-child(even) {
	background-color: #9e9e9e14;
}
.tabla img {
	padding-right: 5px;
}
.footerFixed {
	position: absolute;
}
.textDer {
	text-align: right !important;
}
@media (max-width: 720px) {

.topSpace {
	margin-top: 1px !important;
}
}

.topSpace {
	margin-top: 25px;
}
.wonpil {
	padding: 25px 15px;
}
.imagenAncho {width:100% !important;}

.hide{display:none;}
.show {display:block;}

/*Tabla Responsiva*/

@media screen and (max-width: 600px) {

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: left;
  }
  

}


/* dropdown menu */
.dropdown {
	position: relative;
	display: inline-block;
	z-index: 12;
}
.dropdown-content {
	display: none;
	position: fixed;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1000;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	z-index: 11;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #D2D2D2;
}

#claroTable tbody tr td, th { text-align:center} 


#ordenLogos td:nth-child(1) {
  background: lightsteelblue;
}

#ordenLogos td {
	text-align:center;
}
#ordenLogos input { margin:0 10px;}
.lugarLogo{ max-width:60px;}