@charset "UTF-8";
/* CSS Document */


/* Banners
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.center-cropped {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bannerPrincipal {
	height: auto;
	margin-top:6em;
	
}

/* Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header nav a {
	color: #7E7E7E;
}
header nav a:hover {
	color: #fd5559;
}
 header input[type="button"]  {
  background-color: #D41F47;
	color:#fff;
  border-radius: 4px;
  border: none;
	    padding: 0 12px;
	
 }
 .borderButton{ border: 1PX solid #D41F47 !important; background-color:transparent !important; color:#D41F47 !important; padding: 0 12px;}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
border-bottom: 1px solid #ddd;
}
/* menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hamburguesa {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.cierra .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
		background-color: #fff;
	
}

.cierra .bar2 {opacity: 0;}

.cierra .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
		background-color: #fff;
	
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}



.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

.main-menu {
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: -10px;
}


.main-menu:target,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;  
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
 Larger screen 
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  

  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
		width:900px;
  }
  
  .main-menu ul {
    display: flex;
    

    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
		align-items: center;
    background: none;
  }
  
  .main-menu a {
    color: #06c;
    border: 0 !important; 
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; 
    color: #c00;
  }
}



header {
  padding: 20px;
  display: flex;
  align-items: center;
}



	
	
/* Bigger than 550 */
@media (min-width: 550px) {

	
}
/* Bigger than 750 */
@media (min-width: 750px) {

	
}

/* Bigger than 1000 */
@media (min-width: 1000px) {

}