*,:after,:before{
	-webkit-print-color-adjust:exact;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	}
.date,.footer-print .footer-text,.slogan-print p{
	font-family:Helvetica,Arial,sans-serif;
}
.footer,.header,.heading,.modal,.modal-state,.not-print,.page-bar,.page-footer,.page-header,.page-sidebar-wrapper,.submit,td.fecha-pago{
	display:none!important;
	height:0!important;
}
.pago table th:first-child{
	text-align:left;
}
body{
	width:19cm;
	margin:.2cm auto 0;
}
.content{
	margin-top:0!important;
}
.header-print{
	display:block;
	width:100%;
	height:60px;
	margin-bottom:20px;
	border-bottom:1px dashed #ccc;
}
.logo-print{
	width:30%;
	float:left;
}
.slogan-print{
	width:70%;
	float:right;
}
.slogan-print p{
	padding-bottom:50px;
	font-size:12px;
	text-align:right;
	color:#333;
}
.date,.heading h1{
	text-align:center;
}
.footer-print{
	width:100%;
	display:block;
	margin-top:100px;
}
.footer-print .footer-text{
	font-size:18px;
	line-height:16px;
	color:#2e2e2e;
	padding-left:24px;
	padding-right:24px;
	text-align:center;
}
.footer-print .footer-text .call{
	font-size:24px;
	line-height:32px;
	color:#878787;
}
.date{
	float:right;
	font-size:13px;
	line-height:20px;
	color:#000;
	width:auto;
	border:1px solid #ccc;
}
.date .dateText{
	font-weight:700;
	padding:10px;
	border-top:1px solid #ccc;
}
.top-yellow{
	border-top:2px solid #fd0;
}
tr.total td{
	background:#4d4d4e!important;
	color:#fff!important;
}
.row.pago{
	padding:0!important;
}
.pago table{
	font-size:10pt;
}
.pago table td,.pago table th{
	font-size:12px;
}
@page{
	margin:.5cm;
}
body{
	background:#fff;
	font-family:Roboto,Helvetica,sans-serif;
}
tr.total,tr.total td{
	background:#fff0b8;
}
.heading h1{
	font-size:14pt;
	width:100%;
	margin-top:1cm;
}
.num,td.alignright,td.monto input{
	text-align:right;
}
.client-info h2,.client-info p{
	font-size:9pt;
    padding-top: 2pt;
    
}
.content,.row.pago,.row.pago table{
	width:100%;
}
.content-inn{
	padding:0;
	margin:0;
}
.extra-info table,.p-foot-num{
	margin-top:.5cm;
}
.pago table th{
	padding:.3cm;
	border-bottom:2px solid #000;
}
.pago table td{
	padding:.3cm;
	border-bottom:1px solid #ccc;
}
.pago table tr:last-child td,tr.total td{
	border-bottom:none;
}
td.monto input{
	height:.5cm;
	width:100%;
}
tr.total td.print-bold{
	font-weight:700;
	font-size:16px;
}
td.fecha-pago{
	text-align:center;
}
.extra-info,.legal{
	display:block;
	margin-top:.5cm;
	text-align:left;
	font-weight:300;
}
.extra-info{
	font-size:7.5pt;
	background-color:#f3f3f3;
	padding:.2cm;
	width:19cm;
}
.legal,table.p-foot{
	width:100%;
}
.extra-info table tr td{
	padding:0 .1cm;
}
.extra-info table tr td img{
	height:.5cm;
}
.legal{
	font-size:6.5pt;
	padding:5px 0;
	border-top:1px solid #666;
	border-bottom:1px solid #666;
}

.p-foot-num {
    display: block;
    background: #e6e6e6;
    font-size: 10pt;
    text-align: center;
    padding: .4cm;
    width: 10cm;
    margin: .5cm auto;
}
.p-foot-num span{
	font-size:15pt;
	text-align:right;
}
.phead{
	font-size:8pt;
	text-align:left;
	display:block;
	width:6cm;
	margin-bottom:.3cm;
}
.phead-black,.phead-yellow{
	text-align:center;
	width:5cm;
	font-size:11pt;
}
.phead img{
	margin-left:-.25cm;
}
.phead-yellow{
	background:#fd0;
	padding:.2cm;
	font-weight:600;
}
.phead-black{
	background:#000;
	color:#fff;
	border-bottom-left-radius:30px;
}
.w2cm{
	width:2cm;
}
.w6cm{
	width:6cm;
}
.phead-b-1{
	display:block;
	background:#fdebab;
	padding:.15cm 0;
	color:#f47737;
}
.phead-black p{
	margin:0;
	padding:.2cm;
	font-weight:400;
}
.mes-fact{
	font-size:9pt;
	display:block;
	font-weight:400;
}
.phead-num1{
	display:block;
	color:#fd0;
	font-size:14pt;
	font-weight:600;
}
.phead-num1 sup{
	font-size:9pt;
}
p.phead-num2{
	font-size:8pt;
	text-transform:uppercase;
	font-weight:300;
}
.vtop{
	vertical-align:top;
}
.replace-forprint{
	display:block;
}
.replace-forprint table{
	border-collapse:collapse;
	border-spacing:0;
}
.replace-forprint table td{
	padding:0;
}
.ph-table{
	margin-bottom:.2cm;
}
.ph-table:last-child{
	margin-bottom:0;
}
.ph-table-h{
	background:#fff;
	padding:.2cm 0;
	font-size:9pt;
	color:#4d4d58;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.ph-table-b{
	background:#fdebab;
	padding:.2cm 0;
	font-size:14pt;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ph-table-b sup{
	font-size:9pt;
}
.ph-table-b span{
	font-size:8pt;
	text-transform:uppercase;
	display:block;
	width:4cm;
	margin:.1cm auto 0;
	font-weight:400;
}
.client-info{
	margin-top:-5cm;
	width:7cm;
}
.foot-yellow{
	background:#fd0;
	border-bottom-left-radius:30px;
	border-top-right-radius:30px;
	padding:.2cm .5cm;
	text-align:center;
	display:block;
	margin-top:.5cm;
	font-weight:600;
    min-height: 3.5cm;
}
.foot-y1{
	font-size:10pt;
}
.foot-info,.p-saldos table{
	font-size:9pt;
	font-weight:400;
}
.foot-ref{
	background:#fff;
	margin:.1cm 0;
	padding:.2cm 0;
}
.p-saldos table{
	background:#fdebab;
	width:6.5cm;
	margin-bottom:.3cm;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
}
.p-saldos table td{
	padding:.1cm .3cm;
}
.p-saldos table td:first-child{
	text-align:left;
}
.p-saldos table td:last-child{
	text-align:right;
}
.p-saldos table tr:first-child td{
	padding:.2cm .3cm .1cm;
}
.p-saldos table tr:last-child td{
	padding:.1cm .3cm .2cm;
}
.n-men{
	width:2cm;
}
.aligncenter{
	text-align:center;
}
.border-sum{
	border-top:1px solid #555;
}
.page-header-fixed .page-container{
	margin-top:0!important;
}