@charset "UTF-8";
/* CSS Document */

.header {
	width: 100%;
	height: auto;
	background: #FFF;
	position: fixed;
	text-align: center;
	z-index: 1;
	
}
.logo {
	
	float: left;
	margin: auto;
}
.login {
	/*width: 25% !important;
	float: right;
	margin: auto;*/
	padding-top: 2vw;
}
.row {
	padding: 1.3em 0;
}
.header { padding:0 !important;}
.intro {
	background-color: #0072CA;
	color: white;
	height: 100%;
	position: relative;
}
.intro p {
	font-size: 20px;
	font-weight: 100;
}
.intro img {

	max-width: 500px;
	width: 100%;
/*	transform: translate(10vw, .9vw);*/
}

.center-cropped {
	/* background-size: 100% 100%;*/ 
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.sitiosBox .button {
}
.sitiosBox:hover img {
	transition: all 0.5s ease;
	-ms-filter: brightness(0.4);
	filter: brightness(0.4);
}
.sitiosBox:hover .button {
	display: inline-block;
}
.sitiosBox .nombreSitio {
	display: none;
}
.sitiosBox:hover .nombreSitio {
	display: inline-block;
}
.sitiosBox .descSitio {
	display: none;
}
.sitiosBox:hover .descSitio {
	display: inline-block;
}
.subirNombre {
	top: 55px;
	left: 1px;
	position: absolute;
	width: 100%;
	color: white;
	font-size: 18px;
}
.subirDesc {
	top: 100px;
	left: 1px;
	position: absolute;
	width: 100%;
	color: white;
}
.subir {
	position: relative;
}
.llamame {
	text-decoration: blink;
	color: white;
	font-size: 30px;
}
.buttonBco, button, input[type="submit"], input[type="reset"], input[type="button"] {
	color: #0072ca;
	background-color: #fff;
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 50px;
	border: 2px solid #0072ca;/* */
	cursor: pointer;
	box-sizing: border-box;
}
.buttonBcoborder, button, input[type="submit"], input[type="reset"], input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: #0072ca;
	border-radius: 50px;
	border: 1px solid #fff;
	cursor: pointer;
	box-sizing: border-box;
}
.titulosppal {
	padding-top: 6%;
}
.bannercafeycompu {
	text-align: right;
}

@media (max-width: 550px) {
.bannercafeycompu {
	padding-top: 1em;
}
.titulosppal {
	padding-top: 3%;
}
}
.estiempo {
	height: 100%;
	color: #0072CA;
	align-content: center;
}
.estiempo img {
	width: 100%;
}
footer {
	background-color: #E4E4E4;
}
.dejanos {
	max-width: 700px;
	margin: auto;
	font-weight: 100;
	font-size: 20px;
	line-height: 48px;
}
.subirNombre {
	top: 55px;
	left: 1px;
	position: absolute;
	width: 100%;
	color: white;
	font-size: 18px;
}
.subirDesc {
	top: 100px;
	left: 1px;
	position: absolute;
	width: 100%;
	color: white;
}
.subir {
	position: relative;
}
.nosotros img {
	border-radius: 50%;
}
.nosotros .p1 {
	transition: all 0.5s ease;
	-ms-filter: opacity(25%);
	filter: opacity(25%);
}
.nosotros:hover .p1 {
	display: inline-block;
	-ms-filter: opacity(100%);
	filter: opacity(100%);
}
.llamame {
	text-decoration: blink;
	color: white;
	font-size: 30px;
}
q {
	quotes: "“" "”" "‘" "’";
}
q:before {
	content: open-quote;
}
q:after {
	content: close-quote;
}
.buttonBco, button, input[type="submit"], input[type="reset"], input[type="button"] {
	color: #0072ca;
	background-color: #fff;
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 50px;
	/* border: 1px solid #bbb; */
	cursor: pointer;
	box-sizing: border-box;
}
.buttonBcoborder, button, input[type="submit"], input[type="reset"], input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: #0072ca;
	border-radius: 50px;
	border: 1px solid #fff;
	cursor: pointer;
	box-sizing: border-box;
}
.buttonGreen, button, input[type="submit"], input[type="reset"], input[type="button"] {
	color: #FFFFFF;
	background-color: #52ae51;
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 5px;
	/* border: 1px solid #bbb; */
	cursor: pointer;
	box-sizing: border-box;
}
.hide {
	display: none;
}
.active {
	-ms-filter: brightness(1.4);
	filter: brightness(1.4);
	transition: all 0.5s ease;
}
/*.conteneCajas {
	display: inline-block;
}*/
.boxPlan1 {
	padding: 1em;
	text-align: center;
	/*float: left;
	width: 27%;
	min-width: 264px;
	margin: auto;
	min-height: 1879px;*/
}
.boxPlan1 ul li {
	line-height: 18px;
}

/* Larger than mobile */
@media (min-width: 400px) {
.boxPlan {
	width: 89%;
}
.conteneCajas {
	padding: 0px;
}
.formaContacto {
	width: 50%;
	margin: auto;
	background-color: green;
}
}

/* Larger than phablet  */
@media (min-width: 550px) {
.boxPlan {
	width: 40%;
}
.conteneCajas {
	padding: 0px 0vw;
}
.formaContacto {
	width: 50%;
	margin: auto;
	background-color: blue;
}
}

/* Larger than tablet */
@media (min-width: 750px) {
.boxPlan {
	width: 27%;
}
.conteneCajas {
	padding: 0px 0vw 0px 1em;
}
.formaContacto {
	width: 50%;
	margin: auto;
	background-color: red;
}
}
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 10;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}
.modalDialog /*> div*/.formaContacto {
	/*width: 90%;*/
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background-color: #343434;
	/*border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);*/
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}
.close {
	background: red;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 42px;
	text-align: center;
	top: -10px;
	width: 42px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover {
	background: #00d9ff;
}
.formaContacto input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	height: 38px;
	padding: 6px 10px;
	background-color: #525252;
	color: white;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
.bgform {
}
.formaContactofondito {
	background-color: #343434;
	width: 100%;
}
.eligeBox {
	color: white !important;
	background-color: #0072CA;
	padding: 1em;
	height: 50%;
	min-height: 19em;
	line-height: 22px;
}
.flechaVerde{color:green; font-size:25px; font-weight:bold; padding: 5px;}
.rojo{color:red;}

tr td:nth-child(2){
  background: #fbfbfb;
    padding-right: 10px;
    text-align: center !important;
}