@charset "UTF-8";
/* CSS Document */

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
border-radius: 100px;
}
/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
padding: 8rem 0 7rem;
text-align: center;
}
.section-heading,
.section-description {
margin-bottom: 1.2rem;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.colorBco {color: #FFFFFF}
.colorAmarillo {color: #FFD100 !important;}
.colorRojo {color: #EE1D24 !important;}
.colorNaranja {color: #F6882F !important;}
.colorAzul {color: #00B7D2 !important;}
.colorTelmex {color: #029ED9 !important;}
.colorVerde {color: #39B54B !important;}
.colorMorado {color: #292262 !important;}
.colorFusia {color: #E10589 !important;}
.colorGris {color: #CCCCCC !important;}

.colorBgBack {background-color: #0072CA;}
.colorBgBco {background-color: #FFFFFF}
.colorBgAmarillo {background-color: #FFD100 !important;}
.colorBgRojo {background-color: #EE1D24 !important;}
.colorBgNaranja {background-color: #f6882f !important;}
.colorBgAzul {background-color: #00B7D2 !important;}
.colorBgTelmex {background-color: #029ED9 !important;}
.colorBgVerde {background-color: #39B54B !important;}
.colorBgMorado {background-color: #292262 !important;}
.colorBgFusia {background-color: #E10589 !important;}
/* Títulos
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.titulosGrandes { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
.titulosMedianos { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
.titulosChicos { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }

.textCenter {
    text-align: center;
}
.textRight{
    text-align: right;
}
.textLeft {
    text-align: left;
}
/* Paddings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.p1 {
    padding: 1em;
}
.p2 {
    padding: .5em;
}
.p3 {
    padding: .25em;
}