@font-face {
    font-family: sacomfont;
    src: url(../fonts/sacomfont.eot);
    src: url(../fonts/sacomfont.eot?#iefix) format("embedded-opentype"), url(../fonts/sacomfont.woff) format("woff"), url(../fonts/sacomfont.ttf) format("truetype"), url(../fonts/sacomfont.svg#sacomfont) format("svg");
    font-weight: 400;
    font-style: normal;
}

[data-icon]:before {
    content: attr(data-icon);
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.4.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'), url(../fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal;
}
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.test{
    background-color: red;
    height: 3em;
}

.btn {
    box-shadow: none !important;
}

.bold {
    font-weight: 700 !important;
}

.thin {
    font-weight: 300 !important;
}

.uppercase {
    text-transform: uppercase !important;
}

[class*=" fa-"]:not(.fa-stack),
[class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}

li [class*=" fa-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

[class*=" icon-"]:before,
[class^=icon-]:before,
[data-icon]:before {
    font-family: sacomfont !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
select {
    text-transform: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pull-right {
    float: right !important;
}

.fa-home:before {
    content: "\f015";
}

.fa-line-chart:before {
    content: "\f201";
}

.fa-cubes:before {
    content: "\f1b3";
}

.fa-credit-card:before {
    content: "\f09d";
}

.fa-book:before {
    content: "\f02d";
}

.fa-sign-out:before {
    content: "\f08b";
}

.fa-map-marker:before {
    content: "\f041";
}

.fa-edit:before {
    content: "\f044";
}

.fa-calendar:before {
    content: "\f073";
}

.fa-bar-chart-o:before {
    content: "\f080";
}

.fa-globe:before {
    content: "\f0ac";
}

.fa-briefcase:before {
    content: "\f0b1";
}

.fa-building-o:before {
    content: "\f0f7";
}

.fa-angle-down:before {
    content: "\f107";
}

.fa-circle:before {
    content: "\f111";
}

.fa-question:before {
    content: "\f128";
}

.fa-chevron-circle-up:before {
    content: "\f139";
}

.fa-area-chart:before {
    content: "\f1fe";
}

.fa-cogs:before {
    content: "\f085";
}

.fa-money:before {
    content: "\f0d6";
}

.fa-file-text-o:before {
    content: "\f0f6";
}

/*fffoont*/
.fa-angle-right:before {
    content: "\f105";
}

.fa-angle-double-right:before {
    content: "\f101";
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-double-left:before {
    content: "\f100";
}

.daterangepicker_input {
    display: none !important;
}

.icon-adn:before {
    content: "\61";
}

.icon-agenda:before {
    content: "\62";
}

.icon-anuncio:before {
    content: "\63";
}

.icon-arrow-right:before {
    content: "\64";
}

.icon-back:before {
    content: "\65";
}

.icon-banners:before {
    content: "\66";
}

.icon-belleza:before {
    content: "\67";
}

.icon-buildings:before {
    content: "\68";
}

.icon-buscadores:before {
    content: "\69";
}

.icon-cat-autopartes:before {
    content: "\6a";
}

.icon-cat-construccion:before {
    content: "\6b";
}

.icon-cat-electronica:before {
    content: "\6c";
}

.icon-cat-herramientas:before {
    content: "\6d";
}

.icon-cat-hogar:before {
    content: "\6e";
}

.icon-cat-industrial:before {
    content: "\6f";
}

.icon-cat-jardineria:before {
    content: "\70";
}

.icon-cat-juguetes:before {
    content: "\71";
}

.icon-cat-limpieza:before {
    content: "\72";
}

.icon-cat-moda:before {
    content: "\73";
}

.icon-cat-muebles:before {
    content: "\74";
}

.icon-cat-oficina:before {
    content: "\75";
}

.icon-cat-renta-autos:before {
    content: "\76";
}

.icon-cat-salud:before {
    content: "\77";
}

.icon-cat-viajes:before {
    content: "\78";
}

.icon-cat-vinos:before {
    content: "\79";
}

.icon-cerrajerias:before {
    content: "\7a";
}

.icon-check:before {
    content: "\41";
}

.icon-clics:before {
    content: "\42";
}

.icon-clock:before {
    content: "\43";
}

.icon-close:before {
    content: "\44";
}

.icon-contacts:before {
    content: "\45";
}

.icon-costo-clic:before {
    content: "\46";
}

.icon-costo-impresion:before {
    content: "\47";
}

.icon-ctr:before {
    content: "\48";
}

.icon-descargar:before {
    content: "\49";
}

.icon-dominio:before {
    content: "\4a";
}

.icon-download:before {
    content: "\4b";
}

.icon-e-commerce:before {
    content: "\4c";
}

.icon-email:before {
    content: "\4d";
}

.icon-equipos-escritorio:before {
    content: "\4e";
}

.icon-estancia-promedio:before {
    content: "\4f";
}

.icon-facebook-text:before {
    content: "\50";
}

.icon-facturacion:before {
    content: "\51";
}

.icon-formularios:before {
    content: "\52";
}

.icon-franquicias:before {
    content: "\53";
}

.icon-gear:before {
    content: "\54";
}

.icon-google-plus:before {
    content: "\55";
}

.icon-gruas:before {
    content: "\56";
}

.icon-impresiones:before {
    content: "\57";
}

.icon-impresiones-listado:before {
    content: "\58";
}

.icon-info:before {
    content: "\59";
}

.icon-info-precisa:before {
    content: "\5a";
}

.icon-inversion-periodo:before {
    content: "\30";
}

.icon-llama-gratis:before {
    content: "\31";
}

.icon-llegar:before {
    content: "\32";
}

.icon-logistica:before {
    content: "\33";
}

.icon-logout:before {
    content: "\34";
}

.icon-mail:before {
    content: "\35";
}

.icon-map-bike:before {
    content: "\36";
}

.icon-map-bus:before {
    content: "\37";
}

.icon-map-car:before {
    content: "\38";
}

.icon-map-menu:before {
    content: "\39";
}

.icon-map-o:before {
    content: "\21";
}

.icon-map-pin:before {
    content: "\22";
}

.icon-map-plane:before {
    content: "\23";
}

.icon-map-plus:before {
    content: "\24";
}

.icon-map-road:before {
    content: "\25";
}

.icon-map-switch:before {
    content: "\26";
}

.icon-map-to-phone:before {
    content: "\27";
}

.icon-map-user:before {
    content: "\28";
}

.icon-map-walk:before {
    content: "\29";
}

.icon-mapa:before {
    content: "\2a";
}

.icon-maxiclic:before {
    content: "\2b";
}

.icon-medicos:before {
    content: "\2c";
}

.icon-menu:before {
    content: "\2d";
}

.icon-mic:before {
    content: "\2e";
}

.icon-mic-exit:before {
    content: "\2f";
}

.icon-minegocio:before {
    content: "\3a";
}

.icon-mobile:before {
    content: "\3b";
}

.icon-money:before {
    content: "\3c";
}

.icon-money-sign:before {
    content: "\3d";
}

.icon-more-info:before {
    content: "\3e";
}

.icon-multicanal:before {
    content: "\3f";
}

.icon-oferta:before {
    content: "\40";
}

.icon-ofertasmart:before {
    content: "\5b";
}

.icon-page-left:before {
    content: "\5d";
}

.icon-page-right:before {
    content: "\5e";
}

.icon-pagos:before {
    content: "\5f";
}

.icon-papel-web:before {
    content: "\60";
}

.icon-pedido:before {
    content: "\7b";
}

.icon-pin-off:before {
    content: "\7c";
}

.icon-pin-on:before {
    content: "\7d";
}

.icon-plomeros:before {
    content: "\7e";
}

.icon-posicion-anuncio:before {
    content: "\5c";
}

.icon-presencia-web:before {
    content: "\e000";
}

.icon-print:before {
    content: "\e001";
}

.icon-promedio-sesion:before {
    content: "\e002";
}

.icon-publi-seccion:before {
    content: "\e003";
}

.icon-publicidad-digital:before {
    content: "\e004";
}

.icon-quecomer:before {
    content: "\e005";
}

.icon-resena:before {
    content: "\e006";
}

.icon-reserva:before {
    content: "\e007";
}

.icon-reviews:before {
    content: "\e008";
}

.icon-right:before {
    content: "\e009";
}

.icon-busqueda:before {
    content: "\e00a";
}

.icon-escuela:before {
    content: "\e00b";
}

.icon-hospital:before {
    content: "\e00c";
}

.icon-hotel:before {
    content: "\e00d";
}

.icon-llamar:before {
    content: "\e00e";
}

.icon-quehacer:before {
    content: "\e00f";
}

.icon-restaurante:before {
    content: "\e010";
}

.icon-salud:before {
    content: "\e011";
}

.icon-viajes:before {
    content: "\e012";
}

.icon-paypal:before {
    content: "\e013";
}

.icon-youtube-alt:before {
    content: "\e014";
}

.icon-rss:before {
    content: "\e015";
}

.icon-vimeo:before {
    content: "\e016";
}

.icon-twitter:before {
    content: "\e017";
}

.icon-right-dir:before {
    content: "\e018";
}

.icon-plus-circled:before {
    content: "\e019";
}

.icon-play:before {
    content: "\e01a";
}

.icon-location:before {
    content: "\e01b";
}

.icon-facebook-places:before {
    content: "\e01c";
}

.icon-floppy:before {
    content: "\e01d";
}

.icon-map:before {
    content: "\e01e";
}

.icon-reply-mail:before {
    content: "\e01f";
}

.icon-zoom-in:before {
    content: "\e020";
}

.icon-zoom-out:before {
    content: "\e021";
}

.icon-globe-world:before {
    content: "\e022";
}

.icon-polaroid:before {
    content: "\e023";
}

.icon-angle-double-right:before {
    content: "\e024";
}

.icon-facebook:before {
    content: "\e025";
}

.icon-whatsapp:before {
    content: "\e026";
}

.icon-envelope:before {
    content: "\e027";
}

.icon-plus:before {
    content: "\e028";
}

.icon-shopping-cart:before {
    content: "\e029";
}

.icon-thumbs-up:before {
    content: "\e02a";
}

.icon-thumbs-down:before {
    content: "\e02b";
}

.icon-chevron-up:before {
    content: "\e02c";
}

.icon-chevron-down:before {
    content: "\e02d";
}

.icon-attention:before {
    content: "\e02e";
}

.icon-ojosacom:before {
    content: "\e02f";
}

.icon-carritosacom:before {
    content: "\e030";
}

.icon-heart:before {
    content: "\e031";
}

.icon-heart-empty:before {
    content: "\e032";
}

.icon-ver-mosaico:before {
    content: "\e033";
}

.icon-font:before {
    content: "\e034";
}

.icon-menumania:before {
    content: "\e035";
}

.icon-otros:before {
    content: "\e036";
}

.icon-youtube:before {
    content: "\e037";
}

.icon-seccionamarilla:before {
    content: "\e038";
}

.icon-filtros:before {
    content: "\e039";
}

.icon-star-full:before {
    content: "\e03a";
}

.icon-star-half:before {
    content: "\e03b";
}

.icon-star-outline:before {
    content: "\e03c";
}

.icon-bubbles-talk:before {
    content: "\e03d";
}

.icon-search:before {
    content: "\e03e";
}

.icon-distancia:before {
    content: "\e03f";
}

.icon-three-bars:before {
    content: "\e040";
}

.icon-24h:before {
    content: "\e041";
}

.icon-send:before {
    content: "\e043";
}

.icon-share:before {
    content: "\e044";
}

.icon-smartphone:before {
    content: "\e045";
}

.icon-smartphone-2:before {
    content: "\e046";
}

.icon-sms:before {
    content: "\e047";
}

.icon-social-media:before {
    content: "\e048";
}

.icon-socialclic:before {
    content: "\e049";
}

.icon-speaker:before {
    content: "\e04b";
}

.icon-stock:before {
    content: "\e04c";
}

.icon-superpagina:before {
    content: "\e04d";
}

.icon-tablets:before {
    content: "\e04e";
}

.icon-tag:before {
    content: "\e04f";
}

.icon-taxis:before {
    content: "\e050";
}

.icon-tel:before {
    content: "\e051";
}

.icon-ticket-promedio:before {
    content: "\e052";
}

.icon-tiempo-total-visitas:before {
    content: "\e053";
}

.icon-tiempo-visitas-promedio:before {
    content: "\e054";
}

.icon-tienda:before {
    content: "\e055";
}

.icon-total-visitas:before {
    content: "\e056";
}

.icon-user:before {
    content: "\e057";
}

.icon-ventana-informacion:before {
    content: "\e058";
}

.icon-veterinarias:before {
    content: "\e059";
}

.icon-visitas:before {
    content: "\e05a";
}

.icon-visitas-web:before {
    content: "\e05b";
}

.icon-web:before {
    content: "\e05c";
}

.icon-florerias:before {
    content: "\e05d";
}

.icon-farmacias:before {
    content: "\e05e";
}

.icon-left:before {
    content: "\e05f";
}

.icon-ver-listado:before {
    content: "\e060";
}

.icon-unlocked:before {
    content: "\e042";
}

.icon-store:before {
    content: "\e04a";
}

.icon-pack:before {
    content: "\e061";
}

.icon-invoice-fail:before {
    content: "\e062";
}

.icon-invoice-ok:before {
    content: "\e063";
}

.icon-key:before {
    content: "\e064";
}

.icon-locked:before {
    content: "\e065";
}

.fa-info-circle:before {
    content: "\f05a";
}

.fa-mouse-pointer:before {
    content: "\f245";
}

.fa-comment-o:before {
    content: "\f0e5";
}

.fa-group:before {
    content: "\f0c0";
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-angle-double-right:before {
    content: "\f101";
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-double-left:before {
    content: "\f100";
}

.fa-eye:before {
    content: "\f06e";
}

.fa-list-ul:before {
    content: "\f0ca";
}

.fa-cube:before {
    content: "\f1b2";
}

.fa-magic:before {
    content: "\f0d0";
}

.fa-trash:before {
    content: "\f1f8";
}

.fa-list:before {
    content: "\f03a";
}

.fa-window-maximize:before {
    content: "\f2d0";
}

.fa-phone:before {
    content: "\f095";
}

.fa-comment:before {
    content: "\f075";
}

.fa-th:before {
    content: "\f00a";
}

.fa-user-secret:before {
    content: "\f21b";
}